Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

move the cad annotation to a styled visual component
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
Due: apps, e2e

remove useless fragment
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
Due: apps, e2e

move onclick logic to a method
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
Due: apps, e2e

style(industrial-canvas): make timeseries tooltip more compact (#3492)
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/DateRangePrompt.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  package.json
  yarn.lock
Due: libs

add default style - gray color - for cads
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
Due: apps, e2e

fix(data-explorer): Zoom icon view (#3485)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
Due: libs

Added --validate option to cdf-cli for data models (#3498)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/index.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/validate.ts
Due: apps, e2e

Add missing data models for Celanese demo (#3500)
  apps/flexible-data-explorer/src/config/Celanese.ts
Due: apps, e2e

a fix for the styles of the selected and contextualized nodes when selecting and contextualizing
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
Due: apps, e2e

Danpriori/BND3D-2282 thicker border for annotated boxes (#3467)
  apps/3d-management/src/App.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/annotationUtils.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/createBoxGeometry.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/createCylinderGeometry.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/createLineSegmentsGeometry.tsx
Due: apps, e2e

fix: bulk edit not displaying in process page (#3496)
  apps/vision/src/modules/Process/Containers/FileToolbar.tsx
  apps/vision/src/utils/zIndex.ts
Due: apps, e2e

feat(entity-matching): fix preview/staging links (#3474)
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

fix(industrial-canvas): fix comment auto focus (#3503)
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
Due: libs

feat(react-components): asset mapping click handling and "mapped"-styling (#3771)
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(industrial-canvas): only show approved annotations (#3502)
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
Due: libs

chore: lint fix
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
Due: none

chore(extraction-pipelines): refactor add topic filter (#3494)
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/components/create-source-modal/CreateSourceModal.tsx
  apps/extraction-pipelines/src/components/form-fields/FormFieldRadioGroup.tsx
  apps/extraction-pipelines/src/components/form-fields/FormFieldWrapper.tsx
  apps/extraction-pipelines/src/components/form-fields/index.ts
  apps/extraction-pipelines/src/components/index.ts
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/TopicFilterCodeEditor.test.tsx
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/TopicFilterCodeEditor.tsx
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/index.ts
  apps/extraction-pipelines/src/containers/index.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepOne.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepThree.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepTwo.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/utils.ts
  apps/extraction-pipelines/src/utils/constants.tsx
Due: apps, e2e

feat(industrial-canvas): Adding 'Charts' tab to ResourceSelector (#3302)
  apps/data-exploration/jest.config.ts
  apps/data-exploration/jest.preset.js
  apps/data-exploration/project.json
  apps/data-exploration/src/app/containers/All/AllTab.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/industry-canvas-ui/README.md
  apps/interactive-diagrams/jest.config.ts
  apps/interactive-diagrams/src/cognite-cdf-sdk-singleton.d.ts
  libs/charts-lib/src/lib/api.ts
  libs/charts-lib/src/lib/hooks/apiHooks.ts
  libs/charts-lib/src/lib/hooks/index.ts
  libs/charts-lib/src/lib/hooks/queryKeys.ts
  libs/charts-lib/src/lib/hooks/useUserInfo.ts
  libs/charts-lib/src/lib/index.ts
  libs/data-exploration-components/src/components/Search/ResourceTypeTabs.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTable.tsx
  libs/data-exploration-components/src/types/Types.tsx
  libs/data-exploration/containers/src/DetailsTable/TimesereisSmallPreviewTable.tsx
  libs/data-exploration/containers/src/ResourceSelector/Charts/ChartsFilters.tsx
  libs/data-exploration/containers/src/ResourceSelector/Charts/ChartsSearchResults.tsx
  libs/data-exploration/containers/src/ResourceSelector/Charts/ChartsTab.tsx
  libs/data-exploration/containers/src/ResourceSelector/Charts/ChartsTable.tsx
  libs/data-exploration/containers/src/ResourceSelector/Charts/hooks.ts
  libs/data-exploration/containers/src/ResourceSelector/Charts/index.ts
  libs/data-exploration/containers/src/ResourceSelector/Charts/utils.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorTable.tsx
  libs/data-exploration/containers/src/ResourceSelector/index.ts
  libs/data-exploration/containers/src/ResourceSelector/useFilterState.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/SidebarFilters.tsx
  libs/data-exploration/core/src/constants/constants.ts
  libs/data-exploration/core/src/types/filters.ts
  libs/data-exploration/core/src/types/resource.ts
  libs/data-exploration/domain-layer/src/annotations/internal/transformers/transformToAnnotationsResourceIds.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCounts.ts
  libs/data-exploration/domain-layer/src/counts/internal/utils/convertToSdkResourceType.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/transformToRelatedResourceExternalIds.ts
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
Due: apps, libs, e2e

feat(entity-matching): E2E setup for Entity Matching (#3506)
  apps/entity-matching/.eslintrc.json
  apps/entity-matching/cypress.config.ts
  apps/entity-matching/cypress/config.ts
  apps/entity-matching/cypress/e2e/app.cy.ts
  apps/entity-matching/cypress/support/commands/commands.ts
  apps/entity-matching/cypress/support/commands/common.commands.ts
  apps/entity-matching/cypress/support/e2e.ts
  apps/entity-matching/cypress/tsconfig.json
  apps/entity-matching/cypress/utils/getUrl.ts
  apps/entity-matching/package.json
  apps/entity-matching/project.json
  apps/entity-matching/src/mock/cogniteSdkSingleton.ts
  apps/entity-matching/tsconfig.json
  apps/entity-matching/webpack-config.js
Due: apps, e2e

fix: ensure information about FDM-unmapped ancestors is also cached
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

feat(charts): add unsubscribe monitoring page [AH-1483] (#3461)
  apps/charts/src/app/components/Icons/Error.tsx
  apps/charts/src/app/components/Icons/Success.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep3.tsx
  apps/charts/src/app/pages/Routes.tsx
  apps/charts/src/app/pages/TenantSelector/TenantSelector.tsx
  apps/charts/src/app/pages/UnsubscribePage/UnsubscribeCard.stories.tsx
  apps/charts/src/app/pages/UnsubscribePage/UnsubscribeCard.tsx
  apps/charts/src/app/pages/UnsubscribePage/UnsubscribePage.tsx
  apps/charts/src/app/pages/UserProfile/UserProfile.tsx
Due: apps, e2e

fix(3d-management): Correct transform control on add annotation (#3504)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createTransformControls.ts
Due: apps, e2e

feat(platypus): implement user history (#3423)
  apps/platypus/src/app/SubAppContainer.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.spec.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  apps/platypus/src/app/tests/AppProviders.tsx
  apps/platypus/src/environments/cogniteSdk.ts
  apps/platypus/src/environments/mock/SubAppContainer.tsx
  apps/platypus/src/environments/mock/cogniteSdk.ts
  apps/platypus/src/environments/preview/SubAppContainer.tsx
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
Due: apps, libs, e2e

chore: Small refactor
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: simpl/clar-ification
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: platypus-core lib tree shaking and build optimization (#3488)
  apps/platypus/tsconfig.workers.json
  libs/data-modeling/platypus-common-utils/tsconfig.spec.json
  libs/data-modeling/platypus-core/package.json
  libs/data-modeling/platypus-core/src/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/suggestions/services/token-set-similarity-search/similarity-search.spec.ts
  libs/data-modeling/platypus-core/tsconfig.lib.json
  libs/data-modeling/platypus-core/tsconfig.spec.json
Due: apps, libs, e2e

feat(3d-management): add selection logic for point cloud annotations (#3484)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useIntersectAnnotationBoundsOnClick.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/intersectAnnotation.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
Due: apps, e2e

get the model from the model id and the revision and use the model from the intersection when clicking on a node.
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCogniteCadModel.ts
Due: apps, e2e

test(fusion-shell): simplify quick navigation test (#3508)
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
Due: apps, e2e

fix: simplify error toasting
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getThreeDModelType.ts
Due: apps, e2e

chore: update schema-matching to use new GPT endpoint (#3449)
  package.json
  yarn.lock
Due: none

feat(extraction-pipelines): differentiate custom formats in custom format dropdown (#3495)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepTwo.tsx
Due: apps, e2e

change the name
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizationViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
Due: apps, e2e

feat(business-shell): fix the config for celanese + remove IC from business-shell (#3514)
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/Routes.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useOpenIn.ts
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/types.ts
  apps/flexible-data-explorer/src/app/utils/canvas.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  libs/charts-lib/src/lib/config.ts
Due: apps, libs, e2e

fix(FDX): update the Celanese config (#3515)
  apps/flexible-data-explorer/src/config/Celanese.ts
Due: apps, e2e

fix(data-explorer): table content visiblility on bulk actions visibility [UX-676] (#3462)
  libs/data-exploration/components/src/Table/Table.tsx
  libs/data-exploration/components/src/Table/elements.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorTable.tsx
Due: libs

feat(data-explorer): add delay to show submenu in metadata filter [UX-1548] (#3374)
  libs/data-exploration/components/src/CheckboxSelect/CheckboxSelect.tsx
  libs/data-exploration/components/src/CheckboxSelect/components/OptionsMenu.tsx
  libs/data-exploration/containers/src/Filters/MetadataFilter/MetadataFilter.tsx
Due: libs

fix: force nx to load affected apps from build, roolback charts-lib change (#3525)
  .github/workflows/nx_ci.yml
  libs/charts-lib/src/lib/config.ts
Due: libs

fix(simint): fix routine JSON when changing step or input type (#3489)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.stories.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/InputType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/StepType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.spec.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/utils.spec.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/utils.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/validation.ts
Due: apps, e2e
