Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

add testing library
  apps/data-exploration-e2e/src/support/commands/commands.ts
  package.json
  yarn.lock
Due: apps, e2e

feat(fdx): applied filter chips for level 2 (#2228)
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/AppliedFilters/AppliedFilters.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/AppliedFilters/AppliedFiltersByDataType.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/AppliedFilters/AppliedFiltersByField.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/AppliedFilters/utils/getChipLabel.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/index.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/isFieldValue.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/isValueByField.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/removeFilter.ts
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/Filters.tsx
Due: apps, e2e

chore: bump reveal to 4.3.4
  viewer/package.json
Due: none

fix: correct import
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
Due: none

test: update visual test image
  viewer/packages/rendering/visual-tests/__image_snapshots__/Ssao.VisualTest.png
Due: none

chore: bump reveal to 4.3.4 (#3416)
  viewer/package.json
Due: none

fix: update reveal version
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/yarn.lock
Due: none

chore(functions-ui): Add release-strategy (#2229)
  Jenkinsfile
Due: none

fix: Camera target calculated from new position
  viewer/packages/camera-manager/src/CameraManagerHelper.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Due: none

fix: Updated camera manager helper test
  viewer/packages/camera-manager/tests/CameraManagerHelper.test.ts
  viewer/reveal.api.md
Due: none

fix(functions-ui) : Update README + remove Monaco (#2238)
  apps/functions-ui/README.md
  apps/functions-ui/src/GlobalStyles.tsx
  apps/functions-ui/src/app/App.tsx
  apps/functions-ui/src/app/utils/setupMonaco.ts
  apps/functions-ui/webpack-config.js
Due: apps, e2e

fix: 'Examples' camera manager implementation
  examples/src/utils/CustomCameraManager.ts
  viewer/packages/camera-manager/src/CameraManagerHelper.ts
Due: none

chore: setup eslint linting and prettier formatting
  react-components/.eslintignore
  react-components/.eslintrc.json
  react-components/.prettierrc
  react-components/cognite-reveal-react-components-0.1.2.tgz
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/index.ts
  react-components/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

chore: run formatter
  react-components/.babelrc.json
  react-components/.eslintrc.json
  react-components/.storybook/main.ts
  react-components/.storybook/preview.ts
  react-components/package.json
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/tsconfig.json
Due: none

fix: dedupe codemirror dependencies
  yarn.lock
Due: none

chore: add prettier plugin to eslintconfig
  react-components/.eslintrc.json
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
Due: none

chore: replace deprecated prettier config param
  react-components/.prettierrc
Due: none

fix: add proper import
  react-components/stories/Image360HistoricalDetails.stories.ts
Due: none

fix: remove unused scripts and update tsconfig
  react-components/package.json
  react-components/tsconfig.json
Due: none

fix(data-explorer): set nulls field for sorting timeseries/sequences (#2237)
  libs/data-exploration/domain-layer/src/sequence/internal/transformers/mapTableSortByToSequenceSortFields.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/transformers/mapTableSortByToTimeseriesSortFields.ts
Due: libs

fix: set proper base URL for build
  react-components/.storybook/main.ts
  react-components/tsconfig.json
Due: none

fix(data-explorer): disable sorting for Summary column of document table (#2240)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentsTable/DocumentsTable.tsx
Due: libs

Change inrobot logo
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
Due: apps, e2e

fix: export path for BulkActionbar
  libs/data-exploration/components/src/index.ts
Due: libs

chore: seed SSAO kernel generation to avoid flaky SSAO visual test (#3415)
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Ssao.VisualTest.png
Due: none

fix: remove twice rendered AuthProvider (#2248)
  apps/business-shell/src/AppWrapper.tsx
Due: apps, e2e

fix: test util import
  apps/charts/src/app/domain/chart/service/__tests/useCapabilities.spec.ts
Due: apps, e2e

fix: Camera rotation target from new camera position (#3409)
  examples/src/utils/CustomCameraManager.ts
  viewer/packages/camera-manager/src/CameraManagerHelper.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/camera-manager/tests/CameraManagerHelper.test.ts
  viewer/reveal.api.md
Due: none

fix: QA
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
Due: none

feat(react-components): add Reveal container and container for CogniteCadModel (#3419)
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/View/index.ts
  react-components/src/components/index.ts
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
  react-components/src/stories/Image360HistoricalDetails.stories.ts
  react-components/tsconfig.json
  react-components/yarn.lock
Due: none

fix: change import to BulkActionBar
  libs/data-exploration/components/src/index.ts
Due: libs

fix: config and linting
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
Due: none

chore: use ReactElement
  react-components/.eslintrc.cjs
  react-components/.eslintrc.json
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/yarn.lock
Due: none

chore: add copywrite header rule
  react-components/.eslintrc.cjs
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/index.ts
  react-components/src/index.ts
  react-components/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
  react-components/yarn.lock
Due: none

chore: remove unused patter
  react-components/.eslintrc.cjs
Due: none

fix: refactor out some functions
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
