Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat(3d-management): Add a settings toolbar with toggle for high fidelity and classification, suppress click on toolbar (#3109)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/PointCloudColorPicker.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix(engineering-diagrams) Handle 429 error in detect job (#3085)
  apps/interactive-diagrams/src/modules/workflows/actions/parsingJobs.ts
  apps/interactive-diagrams/src/modules/workflows/types.ts
Due: apps, e2e

fix(data-explorer): column selection command (#3152)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/e2e/events.cy.ts
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  libs/data-exploration/components/src/Table/components/ColumnToggle.tsx
Due: apps, libs, e2e

feat(FDX): setup configuration for Frankfurt site for Celanese (#3153)
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/build.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
Due: apps, e2e

fix: change CSP img-src to prod auth url (#3157)
  apps/fusion-shell/scripts/http-headers-utils.spec.ts
  apps/fusion-shell/scripts/http-headers-utils.ts
Due: apps, e2e

feat(FDX): instances search panel in 3D view (#3130)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/loader/Spinner.tsx
  apps/flexible-data-explorer/src/app/components/search/SearchResults.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsFooter.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDSearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDSearchTopBar.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/SearchPanelCloseButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/ToolBar/StyledRevealToolBar.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/MappedEquipmentContextHandler.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/ThreeDSearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchDataTypeSortedByKeys.ts
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchThreeDMappedSortedByKeys.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchThreeDMappedTotalCount.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchTotalCount.ts
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/SearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/ThreeDResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/pages/ThreeDPage.tsx
  apps/flexible-data-explorer/src/app/providers/Mapped3DEquipmentProvider.tsx
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/sort.ts
  apps/flexible-data-explorer/src/app/utils/zIndex.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix(industrial-canvas): send user to correct DE URL when using the file container tooltip (#3158)
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasFileLinkTooltips.tsx
Due: libs

Break redirect loop with no projects with CogIdP (#3154)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs

refactor(ufv): remove layout containers (#3129)
  apps/charts/src/app/components/FileViewer/FileViewer.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FilePreview.tsx
  apps/platypus/src/app/components/FilePreview/FilePreview.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration/containers/src/Document/DocumentPreview/DocumentPreview.tsx
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/constants.ts
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
  libs/industry-canvas/src/lib/hooks/useContainers.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useOnAddContainerReferences.tsx
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/hooks/useSelectedAnnotationOrContainer.ts
  libs/industry-canvas/src/lib/state/removeRecursive.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
  libs/industry-canvas/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(charts): check capability in whole experimentAcl group (#3159)
  apps/charts/src/app/domain/chart/service/queries/useExperimentalCapabilitiesCheck.ts
Due: apps, e2e

Update docTypes.ts (#3160)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/docTypes.ts
Due: libs

chore: use the same CI workflow for master & release branches (#3162)
  .github/workflows/ci-release-branch.yml
  .github/workflows/nx_ci.yml
Due: none

chore(fdx): setup storybook (#3140)
  apps/flexible-data-explorer/.storybook/main.ts
  apps/flexible-data-explorer/.storybook/preview.ts
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/tsconfig.app.json
  apps/flexible-data-explorer/tsconfig.json
  apps/flexible-data-explorer/tsconfig.storybook.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: apps, e2e

fix: render other idps than CogIdP when active (#3165)
  libs/login-page/src/components/sign-in-button/SignInButton.tsx
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
Due: libs

fix(charts): fix bug with migrated annotations not showing (#3167)
  apps/charts/src/app/components/FileViewer/utils/getExtendedAnnotationsFromAnnotationsApi.ts
Due: apps, e2e

fix(charts): partial fix for chart search counts (#2978)
  apps/charts/src/app/components/SearchResultTable/hooks.ts
Due: apps, e2e

fix(data-explorer): treat listed 360 site_ids as lower-case and filter 360 collections in search (#3143)
  libs/data-exploration/domain-layer/src/threeD/internal/queries/use3DResults.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useInfinite360Images.ts
Due: libs

feat: allow custom transform on viewer anchor
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

chore(fdx): add static-storybook target (#3170)
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.stories.tsx
Due: apps, e2e

fix: fix caching methodology with AI results and visual bugs (#3111)
  CODEOWNERS
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAICacheEdited.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/platypus/src/app/utils/gpt-query/fdmGptAutoQuery.ts
  libs/copilot-core/package.json
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/TextMessage.tsx
  package.json
  yarn.lock
Due: apps, libs, e2e

chore: cleanup unused code
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

chore: rename property back to its original name
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

fix: rename variable all places
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

refactor: port (untested) getClosestParentFdmData to use the new cache maps
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
Due: none

chore: update cargo lock
  viewer/Cargo.lock
Due: none

chore: convert webpack config to Typescript
  react-components/package.json
  react-components/webpack.config.ts
  react-components/yarn.lock
Due: none

chore: update eslint-plugin to 6.7.0
  react-components/package.json
  react-components/yarn.lock
Due: none

fix: Cache error in TreeIndexToSectorMap (#3695)
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
Due: none

fix: webpack build
  react-components/webpack.config.ts
Due: none

chore: revert wepback config to Javascript
  react-components/webpack.config.js
Due: none

chore: ignore webpack config in eslint
  react-components/.eslintrc.cjs
Due: none

chore: properly ignore webpack.config.js in eslint
  react-components/.eslintignore
  react-components/.eslintrc.cjs
Due: none

chore: reset webpack.config.js
  react-components/webpack.config.js
Due: none

chore: Update reveal.api.md again
  viewer/reveal.api.md
Due: none

chore: Revert copyright update
  viewer/packages/camera-manager/app/index.ts
Due: none

fix: Make keyboard navigation independent of FPS (#3621)
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/reveal.api.md
Due: none

don't cache Cypress in CI (#3179)
  .github/workflows/nx_ci.yml
Due: none

feat(engineering-diagrams) Disable run button until all assets are downloaded (#3089)
  apps/interactive-diagrams/src/hooks/useJobStarted.tsx
  apps/interactive-diagrams/src/hooks/useJobStatusLabels.tsx
  apps/interactive-diagrams/src/modules/workflows/actions/parsingWorkflow.ts
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/RunModelButton.tsx
Due: apps, e2e

fix(industrial-canvas): fix console errors [ah-1690] (#3087)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/components/CanvasTitle.tsx
  libs/industry-canvas/src/lib/components/ToolbarComponent/ToolbarComponent.tsx
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
Due: libs
