Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: use unique org cookie names per fusion env to avoid collision (#3259)
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
Due: libs

fix: Discarding sector is recursive (#3743)
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Due: none

moved resource context into Reveal3DResources folder and renamed few variables to match resources
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResourcesCountContext.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealResourcesCountContext.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

renamed resource context to fix lint error
  react-components/src/components/Reveal3DResources/Reveal3DResourcesCountContext.tsx
Due: none

fix: memoize UserManager to reduce refresh token issues for CogIdP (#3281)
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
Due: libs

feat(react-components): add HOC to store Slicer state in Url (#3724)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResourcesCountContext.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
Due: none

remove code_cov_master workflow file (#3307)
  .github/workflows/code_cov_master.yml
Due: none

fix(simint): crash on older version of bff [POFSP-51] (#3303)
  apps/simint/src/components/simulator/SimulatorInformation.tsx
Due: apps, e2e

add github workflow to close stale PRs (#3268)
  .github/workflows/close_stale_pr.yml
Due: none

feat(extractor-downloads): DOG-2158 reduce multiple download extractor buttons to single dropdown (#3279)
  apps/extractor-downloads/src/Home/Extractors/Extractors.tsx
  apps/extractor-downloads/src/common/constants.ts
  apps/extractor-downloads/src/components/Dropdown/Dropdown.tsx
  apps/extractor-downloads/src/components/Dropdown/index.ts
  apps/extractor-downloads/src/components/ExtractorDetails/ExtractorDetails.tsx
  apps/extractor-downloads/src/components/create-connection/CreateConnectionButton.tsx
  apps/extractor-downloads/src/components/hosted-extractor-details/HostedExtractorDetails.tsx
  apps/extractor-downloads/src/utils/dateUtils.ts
  apps/extractor-downloads/src/utils/index.ts
Due: apps, e2e

fix: do not cache import map (#3297)
  .baker/manifests/fusion-app/dev-manual-deployment/cognitedata-development.yaml
  .baker/manifests/fusion-app/dev/cognitedata-production.yaml
  .baker/manifests/fusion-app/dev/openfield.yaml
  .baker/manifests/fusion-app/next-release/cognitedata-production.yaml
  .baker/manifests/fusion-app/pr-preview/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod-verification/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod/cognitedata-production.yaml
  .baker/manifests/fusion-app/sapc-prod/sapc-01.yaml
  apps/fusion-shell/manifests/overlays.jsonnet
Due: apps, e2e

fix switching styles on clicking contextualized nodes
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
Due: apps, e2e

Added support for storing 3D resources layers state in Url
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

lint error
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
Due: none

fix(data-explorer): disable invalid resource preview links [UX-1509] (#3228)
  libs/data-exploration-components/src/containers/Files/FilePreview/ReviewTagBar.tsx
Due: libs

chore(simint): replace vite with webpack in simint storybook (#3314)
  apps/simint/.storybook/main.ts
Due: apps, e2e

fix: optimize styled node collection diff check on re-render
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: bump reveal and reveal react components (#3288)
  apps/business-shell/vite.config.ts
  apps/charts/.storybook/main.ts
  apps/extraction-pipelines/jest.config.ts
  apps/extraction-pipelines/src/pages/create/CreateExtpipe.test.jsx
  apps/flexible-data-explorer/vite.config.ts
  apps/vision/src/api/utils/__tests__/filterAssetIdsLinkedToGivenFile.spec.ts
  jest.preset.js
  libs/data-exploration-components/.storybook/main.ts
  libs/data-exploration/components/.storybook/main.ts
  libs/data-exploration/containers/.storybook/main.ts
  libs/industry-canvas/.storybook/main.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

chore: lint fix
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: move first clickedNodeData setting earlier
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix(extractor-pipelines): use correct port when creating sources with TLS (#3310)
  apps/extraction-pipelines/src/components/create-source-modal/CreateSourceModal.tsx
  apps/extractor-downloads/src/components/create-connection/CreateConnection.tsx
Due: apps, e2e

feat(fdx): setup msw for storybook (#3304)
  apps/flexible-data-explorer/.storybook/main.ts
  apps/flexible-data-explorer/.storybook/preview.ts
  apps/flexible-data-explorer/.storybook/setupMSW.ts
  apps/flexible-data-explorer/package.json
  apps/flexible-data-explorer/public/mockServiceWorker.js
  package.json
  yarn.lock
Due: apps, e2e

feat(industry-canvas): Add timeseries container connection to asset annotation (#3298)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
Due: libs

create the contextualization deletion for cads and some other refactoring - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/MappedElementsToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/deleteCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfCadContextualization.ts
Due: apps, e2e

feat(industrial-canvas): enable copy pasting between tabs (#3321)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/containerConfigToContainerReference.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useTooltipsOptions.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveTimeseriesContainerConfig.ts
  package.json
  yarn.lock
Due: libs

chore: remove all infield related code (#3220)
  apps/business-shell/src/app/common/i18n/de/business-shell.json
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/es/business-shell.json
  apps/business-shell/src/app/common/i18n/fr/business-shell.json
  apps/business-shell/src/app/common/i18n/it/business-shell.json
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/common/i18n/ko/business-shell.json
  apps/business-shell/src/app/common/i18n/nl/business-shell.json
  apps/business-shell/src/app/common/i18n/pt/business-shell.json
  apps/business-shell/src/app/common/i18n/sv/business-shell.json
  apps/business-shell/src/app/common/i18n/zh/business-shell.json
  apps/business-shell/src/app/components/topbar/TopBar.tsx
Due: apps, e2e

feat(interactive diagrams) E2E tests for interactive diagrams (#3317)
  apps/interactive-diagrams/.eslintrc.json
  apps/interactive-diagrams/README.md
  apps/interactive-diagrams/cypress.config.ts
  apps/interactive-diagrams/cypress/config.ts
  apps/interactive-diagrams/cypress/e2e/pendingInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/cypress/support/commands.ts
  apps/interactive-diagrams/cypress/support/e2e.ts
  apps/interactive-diagrams/cypress/tsconfig.json
  apps/interactive-diagrams/cypress/utils/getUrl.ts
  apps/interactive-diagrams/project.json
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/FilesListEmpty.tsx
  apps/interactive-diagrams/tsconfig.json
  apps/interactive-diagrams/webpack-config.js
Due: apps, e2e

feat(3d-management): add model name to header (#3295)
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useThreeDModelName.ts
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader.tsx
Due: apps, e2e

FDX ai search: add chart.js bar graph supporting grouped query results (#3203)
  apps/flexible-data-explorer/src/app/containers/search/components/AIResultAggregateChart/AIResultAggregateChart.spec.ts
  apps/flexible-data-explorer/src/app/containers/search/components/AIResultAggregateChart/AIResultAggregateChart.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  package.json
  yarn.lock
Due: apps, e2e

feat(3d-management): Edit default size of resourceSelector (#3322)
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix(react-components): optimize styled node collection diff check on re-render (#3753)
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
Due: none

feat(entity-matching): add entity matching to fusion-shell (#3278)
  apps/fusion-shell/src/app/sections/sections.ts
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

chore: dedupe dependencies (#3742)
  documentation/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Due: none

simplified setting layers url
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

fix(charts): png download returns empty file [ah-1862] (#3287)
  apps/charts/src/App.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/ActionBar/InfoModal.tsx
  apps/charts/src/app/components/PlotlyChart/PlotlyChart.tsx
  apps/charts/src/app/components/TopBar/ChartActions.tsx
  apps/charts/src/app/components/TopBar/TopBar.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartActionButton.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPageSecondaryAppBar.tsx
  apps/charts/src/app/utils/charts.ts
Due: apps, e2e

feat(3d-management): make UseThreeDModelName return string | undefined (#3325)
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useThreeDModelName.ts
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader.tsx
Due: apps, e2e

Feature/dog 2146 datasource validation progress (#3294)
  apps/platypus/src/app/components/PageToolbar/PageToolbar.tsx
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidation/helpers.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidation/hooks.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidation/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidation/types.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useStartValidation.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/DownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/hooks/useReportAvailability.tsx
  apps/platypus/src/app/modules/solution/data-quality/utils/async.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

fix(simint) : move ui capability check to BFF (#3196)
  apps/simint/src/components/accesscontrolwrapper/AccessControlWrapper.tsx
  apps/simint/src/components/app/constants.ts
  apps/simint/src/hooks/__tests/useCheckAcl.mock.test.tsx
  apps/simint/src/hooks/useCheckAcl.ts
  apps/simint/src/pages/emptystates/permissions-required.tsx
Due: apps, e2e
