Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: direct relations loading in fdm (#2859)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
Due: apps, e2e

fix: remove firebase.json usage (#2858)
  .github/workflows/CD.yml
  Jenkinsfile
  apps/3d-management/firebase.json
  apps/access-management/firebase.json
  apps/business-shell/public/firebase.json
  apps/cdf-document-search/firebase.json
  apps/charts/firebase.json
  apps/coding-conventions/firebase.json
  apps/contextualization-ui/firebase.json
  apps/copilot/firebase.json
  apps/data-catalog/firebase.json
  apps/data-exploration/firebase.json
  apps/entity-matching/firebase.json
  apps/extraction-pipelines/firebase.json
  apps/extractor-downloads/firebase.json
  apps/flexible-data-explorer/public/firebase.json
  apps/functions-ui/firebase.json
  apps/fusion-shell/firebase.json
  apps/fusion-shell/webpack-config.js
  apps/industry-canvas-ui/firebase.json
  apps/interactive-diagrams/firebase.json
  apps/iot-hub/firebase.json
  apps/notebook/firebase.json
  apps/platypus/firebase.json
  apps/platypus/webpack-module-federation-config.js
  apps/raw-explorer/firebase.json
  apps/simint/firebase.json
  apps/transformations/firebase.json
  apps/vision/firebase.json
  scripts/github-actions/get-firebase-json-content/README.md
  scripts/github-actions/get-firebase-json-content/action.yml
  scripts/github-actions/get-firebase-json-content/index.js
  scripts/github-actions/get-firebase-target/action.yml
  tools/webpack/single-spa-webpack-config.js
Due: apps, e2e

fix: prod deploymen site extension (#2871)
  .github/workflows/CD.yml
  apps/business-shell/project.json
  scripts/github-actions/get-firebase-target/action.yml
  scripts/github-actions/get-firebase-target/index.js
Due: apps, e2e

chore(data-modeling): Lint cleanup (#2862)
  libs/data-modeling/cog-data-grid/.eslintrc.json
Due: libs

fix prod extension (#2872)
  scripts/github-actions/get-firebase-target/index.js
Due: none

fix(data-explroer): draggable elements z-index [UX-1332] (#2866)
  libs/data-exploration/components/src/DragDropContainer/components/DraggableElements.tsx
Due: libs

fix: firebaseSite for multiple apps (#2873)
  apps/cdf-document-search/project.json
  apps/functions-ui/project.json
  apps/fusion-shell/project.json
  apps/interactive-diagrams/project.json
Due: apps, e2e

feat: split out a diff copilot toggle (#2852)
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/components/AI.tsx
  apps/copilot/src/AppWrapper.tsx
  apps/copilot/src/app/App.tsx
  apps/copilot/src/app/pages/CopilotPage.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAICachedResults.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/hooks/useFlag.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/platypus/src/app/components/FeaturePreview/FeaturePreview.tsx
  apps/platypus/src/app/flags/useGPTSearch.ts
  libs/copilot-core/README.md
  libs/copilot-core/package.json
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/CopilotButton.tsx
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/utils/logging.ts
Due: apps, libs, e2e

fix: try swc for de and fdx (#2854)
  libs/data-exploration-components/project.json
  libs/data-exploration/components/project.json
  libs/data-exploration/containers/project.json
  libs/data-exploration/containers/src/Temp/FileUploader/FileUploader.tsx
Due: libs

fix: deploy target for shell apps (#2875)
  .github/workflows/CD.yml
Due: none

refactor: put type translation functions in own file
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/idAndKeyTranslation.ts
  react-components/src/components/NodeCacheProvider/types.ts
Due: none

fix: (industrial-canvas) add aria label to fix console warnings (#2870)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/tooltips/LineEndTypeTooltip.tsx
Due: libs

improvement: quit early if no unique IDs were supplied to noncache function
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
Due: none

chore: bump cdf-ui-i18n-utils version to 0.7.4 (#2867)
  libs/shared/cdf-ui-i18n-utils/package.json
Due: libs

[AH-1625] - Charts Localization - adding missing keys + updating half baked translations (#2798)
  apps/charts/src/app/components/AlertingSidebar/AlertingSidebar.tsx
  apps/charts/src/app/components/CredentialsForm/CredentialsForm.tsx
  apps/charts/src/app/components/DataProfilingSidebar/DataProfilingSidebar.tsx
  apps/charts/src/app/components/DateTime/TimePeriodMenu.tsx
  apps/charts/src/app/components/EventSidebar/EventFilterForm.tsx
  apps/charts/src/app/components/EventSidebar/EventInfoBox.stories.tsx
  apps/charts/src/app/components/EventSidebar/EventInfoBox.tsx
  apps/charts/src/app/components/EventSidebar/EventResultsSidebar.tsx
  apps/charts/src/app/components/EventSidebar/EventSidebar.tsx
  apps/charts/src/app/components/Form/FormError.tsx
  apps/charts/src/app/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep3.tsx
  apps/charts/src/app/components/MonitoringSidebar/JobAndAlertsFilter.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  apps/charts/src/app/components/Search/SearchTooltip.tsx
  apps/charts/src/app/components/Thresholds/ThresholdItem.tsx
  apps/charts/src/app/components/Thresholds/ThresholdSidebar.tsx
  apps/charts/src/app/components/Thresholds/Thresholds.tsx
  apps/charts/src/app/components/TopBar/ChartActions.tsx
  apps/charts/src/app/config/config.ts
  apps/charts/src/app/config/i18n.ts
  apps/charts/src/app/pages/ChartViewPage/ChartActionButton.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewOptions.tsx
  apps/charts/src/react-app-env.d.ts
Due: apps, e2e

feat: cache FDM-to-CDF-mapping for individual styling purposes (#3602)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/idAndKeyTranslation.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
  react-components/stories/CadStylingCache.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat(data-explorer): add column selector for contextualized data in the resource selector (#2348)
  libs/data-exploration-components/src/containers/Assets/AssetDetailsTreeTable/AssetDetailsTreeTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/components/src/Table/components/ColumnToggle.tsx
  libs/data-exploration/components/src/Table/constants.ts
  libs/data-exploration/containers/src/DetailsTable/AssetDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/EventDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/FileDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/SequenceDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/TimeseriesDetailsTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTable/AssetTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTreeTable/AssetTreeTable.tsx
Due: libs

fix: memoize filtered cad options
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix: changing default style does not update styling (#3613)
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/stories/CadStylingCache.stories.tsx
Due: none

fix(charts): mixpanel token (#2878)
  apps/charts/src/app/config/config.ts
Due: apps, e2e

chore: Use event.code instead of deprecated event.keyCode
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

chore: Move getKeyboardMovementValue to Keyboard class
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

chore: Extract constant for readability
  viewer/packages/camera-manager/src/ComboControls.ts
Due: none

fix: Use new isPressed arguments
  viewer/packages/camera-manager/app/index.ts
Due: none

fix: Make keyboard navigation dependent of FPS
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Due: none

chore: Refactor
  viewer/packages/camera-manager/src/ComboControls.ts
Due: none

chore: Remove incorrect todo comment
  viewer/packages/camera-manager/src/ComboControls.ts
Due: none

feat: Add rotation indicator
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Due: none

fix: platypus deployment (#2882)
  scripts/github-actions/get-deploy-environment/index.js
Due: none

fix: ignore cypress lint error
  .eslintrc.json
Due: none

fix: small styling change for testing deployment (#2892)
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
Due: apps, e2e

Added document search in fusion copilot (#2846)
  apps/copilot/src/app/pages/CopilotPage.tsx
  libs/copilot-core/src/lib/toolchains/documentQA/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
Due: apps, libs, e2e

fix: node appearance provider still issuing events after cad node disposal
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
  viewer/packages/cad-styling/visual-tests/Highlighted.VisualTest.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
Due: none

feat(fdx): search input for relationship widget (#2893)
  apps/flexible-data-explorer/src/app/components/input/SearchInput.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/FileRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/GenericRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/TimeseriesRelationshipEdgesCollapsed.tsx
Due: apps, e2e

fix: node appearance provider still issuing events after cad node disposal (#3626)
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
  viewer/packages/cad-styling/visual-tests/Highlighted.VisualTest.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
Due: none

chore: bump three types in examples
  examples/package.json
  examples/yarn.lock
Due: none

chore: bump reveal to version 4.4.1
  viewer/package.json
Due: none

chore: bump reveal to version 4.4.1 (#3629)
  viewer/package.json
Due: none

feat(fdx): site configuration (#2801)
  apps/business-shell/src/app/components/topbar/SiteSelection.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/SearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useConfig.ts
  apps/flexible-data-explorer/src/app/hooks/useLocalStorage.ts
  apps/flexible-data-explorer/src/app/hooks/useProjectConfig.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchQuery.ts
  apps/flexible-data-explorer/src/app/services/useSelectedDataModels.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/customBuilders/filesFilterBuilder.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/customBuilders/timeseriesFilterBuilder.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/types.ts
Due: apps, e2e

chore: bump reveal react components to 0.13.0
  react-components/package.json
  react-components/yarn.lock
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
