Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix(industrial-canvas): wrap app in style scope (#2169)
  apps/industry-canvas-ui/src/app/App.tsx
Due: apps, e2e

fix: properly remove 360 image on remove
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Due: none

chore: lint fix
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Due: none

fix: 360 image set removal (#3404)
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Due: none

chore: bump 4.3.3
  viewer/package.json
Due: none

fix: disable e2e and artifact uploading temporarily (#2167)
  .github/workflows/nx_ci.yml
Due: none

fix: use view version for source schema
  apps/transformations/src/components/source-mapping/FDMFieldSelector.tsx
  apps/transformations/src/components/source-mapping/utils.ts
  apps/transformations/src/hooks/fdm.ts
  apps/transformations/src/hooks/transformation.tsx
Due: apps, e2e

fix: build errors
  apps/cdf-document-search/src/components/Select.tsx
  apps/data-catalog/src/app/components/DataSetInfoForm/DataSetInfoForm.tsx
  apps/platypus/src/app/modules/solution/data-management/components/FilterBuilder/elements.tsx
  libs/data-exploration-components/src/__test-utils/renderer.tsx
  libs/data-exploration-components/src/components/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
  libs/data-exploration/components/src/Select/components/Option/Option.tsx
Due: apps, libs, e2e

chore(extraction-pipelines): transform react-markdown for jest
  apps/extraction-pipelines/jest.config.ts
Due: apps, e2e

chore: bump 4.3.3 (#3405)
  viewer/package.json
Due: none

feat:translation
  apps/business-shell/src/AppWrapper.tsx
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/Routes.tsx
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  apps/business-shell/src/app/common/auth/types.ts
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/index.tsx
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/common/i18n/translationKeys.ts
  apps/business-shell/src/app/common/index.ts
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/top-bar.tsx
  apps/business-shell/src/app/hooks/index.ts
  apps/business-shell/src/app/hooks/useTranslation.tsx
  apps/business-shell/src/common/i18n/en/flexible-data-explorer.json
  apps/business-shell/src/common/i18n/index.tsx
Due: apps, e2e

chore: add Jenkins branch strategy for 2 apps 3d-management and extraction-pipelines
  Jenkinsfile
Due: none

fix: replace cdf_nodes with cdf_data_models
  apps/transformations/src/components/source-mapping/utils.ts
Due: apps, e2e

Update yarn.lock
  yarn.lock
Due: none

release(user-profile-components): 0.1.0 (#2179)
  libs/shared/user-profile-components/package.json
Due: libs

fix(industrial-canvs): Add correct FDM variables for comments (#2180)
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/ToolbarComponent/ToolbarComponent.tsx
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
Due: libs

Fix DOCUMENTATION_LINK (#2184)
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/constants.ts
Due: apps, e2e

feat:integrate i18n
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/translationKeys.ts
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/top-bar.tsx
  apps/business-shell/src/app/hooks/index.ts
  apps/business-shell/src/app/hooks/useTranslation.tsx
Due: apps, e2e

fix(data-explorer): remove `externalId` from annotations payload (#2186)
  libs/data-exploration-components/src/containers/Files/FilePreview/migration/utils.ts
Due: libs

remove files introduced by vision migration
  .babelrc
  .bulldozer.yaml
  .env
  .eslintrc.js
  .eslintrc.production.js
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/auto-approve-dependabot.yml
  .storybook/config.js
  .storybook/webpack.config.js
  config-overrides.js
  public/index.html
  tsconfig.json
  tsconfig.paths.json
Due: none

update config files
  .eslintrc.json
  CODEOWNERS
  Jenkinsfile
  package.json
  tsconfig.base.json
  yarn.lock
Due: none

chore: restructure folder layout
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/View/index.ts
  react-components/src/components/index.ts
  react-components/src/stories/Image360HistoricalDetails.stories.ts
Due: none

fix: revert testing-library/react upgrade this should fix the failing tests
  package.json
  yarn.lock
Due: none

ci: remove new line characters from affected libraries list (#2183)
  Jenkinsfile
  libs/shared/user-profile-components/project.json
Due: libs

fix:update translation keys
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/index.tsx
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/common/i18n/translationKeys.ts
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/top-bar.tsx
  apps/business-shell/src/app/hooks/index.ts
  apps/business-shell/src/app/hooks/useTranslation.tsx
Due: apps, e2e

try yarn lock update
  yarn.lock
Due: none

try fix
  apps/charts/yarn.lock
Due: apps, e2e

changing hourly to 24 instead of 72 and removing box shadow on charts
  apps/extraction-pipelines/src/components/message-history-chart/DataHistoryChart.tsx
  apps/extraction-pipelines/src/components/message-history-chart/MessageHistoryChart.tsx
  apps/extraction-pipelines/src/components/message-history-chart/MessageHistoryChartSection.tsx
Due: apps, e2e

Update src/components/source-status/SourceStatusItemTooltip.tsx
  apps/extraction-pipelines/src/components/source-status/SourceStatusItemTooltip.tsx
Due: apps, e2e

updating so we use doesLogHavePauseType whenever checking for pauses
  apps/extraction-pipelines/src/components/source-status/SourceStatusItem.tsx
  apps/extraction-pipelines/src/components/source-status/SourceStatusItemTooltip.tsx
Due: apps, e2e

updating statusbucket to reflect log not logs
  apps/extraction-pipelines/src/components/source-status/SourceStatusItemTooltip.tsx
  apps/extraction-pipelines/src/utils/hostedExtractors.ts
Due: apps, e2e

fix(fdx): filter builder (#2173)
  apps/flexible-data-explorer/src/app/utils/filterBuilder/build.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/builders.ts
  apps/flexible-data-explorer/webpack-config.js
Due: apps, e2e

fix(data-explorer): minimizing overlay is not keeping tab state (#2182)
  apps/data-exploration/src/app/hooks/detailsNavigation/useViewModeToggle.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
