Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

addressed review comments
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

removed unnessary property for Menu
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
Due: none

Small comments
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/utilities/utils.ts
Due: none

file rename
  react-components/stories/utilities/is3DModelOptions.ts
Due: none

chore(data-explorer): Change N/A filter field (#2365)
  libs/data-exploration/components/src/CheckboxSelect/components/ChildOptionsMenu.tsx
  libs/data-exploration/components/src/CheckboxSelect/components/OptionsMenu.tsx
  libs/data-exploration/components/src/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Select/components/Option/Option.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/AssetSelectFilter.tsx
  libs/data-exploration/containers/src/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration/containers/src/Filters/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration/containers/src/Filters/SourceFilter/SourceFilter.spec.tsx
  libs/data-exploration/containers/src/Filters/utils.ts
  libs/data-exploration/containers/src/Search/SearchResultFilters/CommonFilters/CommonFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/EventFilters/EventFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/FileFilters/FileFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/TimeseriesFilters/TimeseriesFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/__tests__/utils.test.ts
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/utils.ts
  libs/data-exploration/core/src/constants/filters.ts
Due: libs

fixed viewer exit when 360 image is toggled for active dataset
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

corrected point cloud visible state
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

feat: add withSuppressRevealEvents HOC
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

chore: cleanup export in index.ts
  react-components/src/index.ts
Due: none

feat: proper copilot release (#2604)
  libs/copilot-core/package.json
Due: libs

updated projects configurations and jenkins use the correct build (#2603)
  .github/workflows/CD.yml
  Jenkinsfile
  apps/3d-management/project.json
  apps/access-management/project.json
  apps/business-shell/project.json
  apps/cdf-document-search/project.json
  apps/charts/project.json
  apps/coding-conventions/project.json
  apps/copilot/project.json
  apps/data-catalog/project.json
  apps/data-exploration/project.json
  apps/entity-matching/project.json
  apps/extraction-pipelines/project.json
  apps/extractor-downloads/project.json
  apps/flexible-data-explorer/project.json
  apps/functions-ui/project.json
  apps/industry-canvas-ui/project.json
  apps/interactive-diagrams/project.json
  apps/iot-hub/project.json
  apps/notebook/project.json
  apps/raw-explorer/project.json
  apps/transformations/project.json
  apps/vision/project.json
Due: apps, e2e

Refactored styling hook
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
Due: none

Updated component to switch & restructured code
  react-components/src/components/RevealToolbar/HighQualityButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
Due: none

removed unnecessary key property
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

used event target for checkbox update
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

used type guard for cad and point cloud type check
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

fix(industry-canvas): update canvas visibility toggle order (#2563)
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/hooks/use-query/useListCanvases.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/utils/filters.ts
Due: libs

fix: remove unused prop
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

feat: add withSuppressRevealEvents HOC (#3545)
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

fix: layer button component bugs (#3540)
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

chore: Better errors and loading state
  src/common/i18n/translations/en/flows.json
  src/components/canvas-topbar/CanvasTopBar.tsx
  src/components/edge-hover-buttons/AddNodeButton.tsx
  src/components/edge-hover-buttons/DeleteEdgeButton.tsx
  src/components/floating-components-panel/FloatingComponentsPanel.tsx
  src/components/floating-history-panel/index.tsx
  src/components/process-node/ProcessNodeRenderer.tsx
  src/components/run-history-section/RunHistorySection.tsx
  src/components/run-history-section/RunHistorySectionItem.tsx
  src/components/select-with-create/index.tsx
  src/components/workflow-table/WorkflowTable.tsx
  src/pages/flow-list/FlowItemMenu.tsx
  src/pages/flow-list/index.tsx
  src/pages/flow/Flow.tsx
Due: none

Update CODEOWNERS for data-onboarding-group apps (#2610)
  CODEOWNERS
Due: none

Remove config files
  .eslintrc.js
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/auto-approve-dependabot.yml
  .github/workflows/codeql-analysis.yml
  .prettierrc.js
  scripts/BUILD.bazel
  scripts/deploy.sh
  scripts/log.js
  tsconfig.json
Due: none

Add simint app to jenkins pipeline
  Jenkinsfile
Due: none

fix: suppress events targeting ViewerAnchor
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

fix: make sure ViewerAnchor appears when first mounted
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

Change div Suspense to Loader
  src/App.tsx
Due: none

fix(charts): switch, title [AH-1558] [AH-1555] (#2606)
  apps/charts/src/app/components/EventSidebar/EventDetailSidebar.tsx
  apps/charts/src/app/components/EventSidebar/EventFilterForm.tsx
  apps/charts/src/app/components/EventSidebar/EventInfoBox.tsx
  apps/charts/src/app/components/EventSidebar/EventResultsSidebar.tsx
  apps/charts/src/app/components/EventSidebar/elements.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/FunctionNode/FunctionParameterForm/FunctionParameterCheckbox.tsx
  apps/charts/src/app/components/NodeEditor/V2/ReactFlowNodeEditor.tsx
  apps/charts/src/app/components/Thresholds/ThresholdItem.tsx
  libs/data-exploration/components/src/Details/DetailsItem.tsx
Due: apps, libs, e2e

pluralization for i18n
  src/common/i18n/translations/en/flows.json
  src/components/run-history-section/RunHistorySection.tsx
  src/components/run-history-section/RunHistorySectionItem.tsx
  src/components/view-only-canvas/ViewOnlyCanvas.tsx
  src/pages/flow-list/index.tsx
  src/pages/flow/Flow.tsx
Due: none

[ux-1166] Fix issue with login redirect loop (#2599)
  apps/3d-management/src/App.tsx
  apps/3d-management/src/AuthContainer.tsx
  apps/access-management/src/App.tsx
  apps/access-management/src/AuthContainer.tsx
  apps/cdf-document-search/src/App.tsx
  apps/cdf-document-search/src/AuthContainer.tsx
  apps/coding-conventions/src/app/App.tsx
  apps/coding-conventions/src/app/AuthContainer.tsx
  apps/data-catalog/src/app/App.tsx
  apps/data-catalog/src/app/AuthContainer.tsx
  apps/data-exploration/src/app/App.tsx
  apps/data-exploration/src/app/AuthContainer.tsx
  apps/entity-matching/src/AppWrapper.tsx
  apps/entity-matching/src/AuthContainer.tsx
  apps/extraction-pipelines/src/App.tsx
  apps/extraction-pipelines/src/AuthContainer.tsx
  apps/extractor-downloads/src/App.tsx
  apps/extractor-downloads/src/AuthContainer.tsx
  apps/functions-ui/src/AppWrapper.tsx
  apps/functions-ui/src/AuthContainer.tsx
  apps/fusion-shell/src/AppWrapper.tsx
  apps/fusion-shell/src/AuthContainer.tsx
  apps/industry-canvas-ui/src/AppWrapper.tsx
  apps/industry-canvas-ui/src/AuthContainer.tsx
  apps/interactive-diagrams/src/App.tsx
  apps/interactive-diagrams/src/AuthContainer.tsx
  apps/platypus/project.json
  apps/platypus/src/environments/AuthContainer.tsx
  apps/raw-explorer/src/App.tsx
  apps/raw-explorer/src/AuthContainer.tsx
  apps/transformations/src/App.tsx
  apps/transformations/src/AuthContainer.tsx
  apps/vision/src/App.tsx
  apps/vision/src/AuthContainer.tsx
  libs/shared/cdf-utilities/package.json
  libs/shared/cdf-utilities/src/components/AuthContainer/AuthContainer.tsx
  libs/shared/cdf-utilities/src/components/AuthContainer/index.ts
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
  libs/shared/cdf-utilities/src/components/index.ts
Due: apps, libs, e2e

fix(charts): remove feature flag from calc dupid fix - [AH-1334] (#2612)
  apps/charts/src/app/pages/ChartViewPage/hooks.ts
Due: apps, e2e

feat(data-quality): Historical charts for score and instances (#2420)
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidity.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadRules.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationGraph.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/ValidationDifference/DifferenceChip.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/ValidationDifference/ValidationDifference.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/utils/numbers.ts
  apps/platypus/src/app/modules/solution/data-quality/utils/validationTimeseries.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

chore: revert to exporting vanilla ViewerAnchor
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

Refactored styling and assetMappings hooks
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/stories/utilities/fdmConfig.ts
Due: none

fix: don't suppress, lint fix
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

fix: show working example with translation and no suppress-error
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: remove unnecessary prop
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

separated high fidelity & original cad coloring as two containers
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/OriginalCadColorContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
Due: none

Remove dependencies from simint app
  apps/simint/package.json
Due: apps, e2e

feat(user-profile-components): add ability to pass custom tabs by apps for app-specific settings (#2609)
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/common/types/VerticalTab.ts
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/tab-content/TabContent.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/demo/flow-demo/FlowDemo.tsx
  libs/shared/user-profile-components/src/hooks/useActiveTabKey.ts
  libs/shared/user-profile-components/src/index.ts
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
Due: libs
