Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

reverted resources story
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

removed unused event trigger support
  react-components/src/utilities/EventTrigger.tsx
Due: none

increase e2e test timeout (#3251)
  .github/workflows/nx_ci.yml
Due: none

fix: make sure to use views cached in ancestor tree index
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

fix: add localization dependencies
  react-components/package.json
Due: none

fix: revert measurement blocking (#3727)
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

fixed lint error
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealResourcesContext.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

chore: lint fix
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

feat: make CogIdP flow more independent from existing (#3237)
  apps/fusion-shell/src/app/components/Navigation/ProjectDropdown/index.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
  libs/login-page/src/modules/select-project/CogIdpLogoutButton.tsx
  libs/login-page/src/modules/select-project/SelectProject.tsx
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
  libs/shared/cdf-login-utils/src/hooks/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/hooks/loginInfo.ts
  libs/shared/cdf-login-utils/src/types/cogniteIdp.ts
  libs/shared/cdf-login-utils/src/types/loginInfo.ts
  libs/shared/cdf-login-utils/src/utils/aad.ts
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
  libs/shared/cdf-sdk-singleton/src/cogIdp.ts
  libs/shared/cdf-sdk-singleton/src/fusionTokenProvider.ts
  libs/shared/cdf-sdk-singleton/src/utils.ts
Due: apps, libs, e2e

chore: add yalc push watch command
  react-components/package.json
  react-components/vite.config.ts
Due: none

feat: use two promises in computing result from useClickedNode (#3715)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix: return false in custom plugin on prod build
  react-components/vite.config.ts
Due: none

fix: update CD to use new build command
  .github/workflows/publish-react-component-to-npm-on-demand.yml
Due: none

create an asset mapping after selecting a node from the 3d viewer and one asset from the resource selector - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

chore: remove typing, sourcemaps and minification from storybook build
  react-components/.storybook/main.ts
Due: none

chore: remove console log
  react-components/.storybook/main.ts
Due: none

fix: revert string notation
  .github/workflows/publish-react-component-to-npm-on-demand.yml
Due: none

improvement: use browser fingerprinting to distinguish between users in metrics
  viewer/package.json
  viewer/packages/metrics/src/Fingerprint.ts
  viewer/packages/metrics/src/MetricsLogger.ts
  viewer/yarn.lock
Due: none

Wrong return
  viewer/packages/metrics/src/MetricsLogger.ts
Due: none

Lint
  viewer/packages/metrics/src/Fingerprint.ts
Due: none

feat: multiple and toggle selection nodes and update node style for selected nodes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfThreeDAssetMappings.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
Due: apps, e2e

fix(extractor-pipelines): [DOG-2129] - move empty page under tabs so tabs are visible at all times (#3069)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/create-source-modal/CreateSourceModal.tsx
  apps/extraction-pipelines/src/components/error/ErrorComponent.tsx
  apps/extraction-pipelines/src/components/error/ErrorFeedback.tsx
  apps/extraction-pipelines/src/components/error/NoExtpipes.tsx
  apps/extraction-pipelines/src/components/error/index.ts
  apps/extraction-pipelines/src/components/table/ExtpipesTable.tsx
  apps/extraction-pipelines/src/components/table/HostedExtractionPipelineTable.tsx
  apps/extraction-pipelines/src/hooks/dataSet.ts
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
Due: apps, e2e

chore: bump 4.4.3
  viewer/package.json
Due: none

feat(fdx): setup storybook decorators (#3256)
  apps/flexible-data-explorer/.storybook/constants.ts
  apps/flexible-data-explorer/.storybook/decorators.tsx
  apps/flexible-data-explorer/.storybook/mocks.ts
  apps/flexible-data-explorer/.storybook/preview.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.stories.tsx
Due: apps, e2e

chore: bump 4.4.3 (#3734)
  viewer/package.json
Due: none

fix(fdx): filter aggregates and minor issues (#3227)
  apps/flexible-data-explorer/src/app/containers/Filter/components/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/index.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/DateRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/search/utils.ts
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/date.spec.ts
  apps/flexible-data-explorer/src/app/utils/date.ts
Due: apps, e2e

chore: add sourcemaps
  react-components/.storybook/main.ts
  react-components/vite.config.ts
Due: none

fix(data-quality): Buttons moved + folder refactoring (#3232)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDisclosure.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/DataQualityOverview.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/DownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/hooks/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/hooks/useDownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DownloadReport/hooks/useReportAvailability.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/components/UpsertRuleFooter.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/useLoadRuleset.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/useShowUpsertSuccess.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/useUpsertRule.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/index.ts
Due: apps, e2e

Feature/dog 2178 load ruleruns UI (#3250)
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityResponses.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadLatestRuleRuns.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
Due: apps, e2e

chore(entity-matching): set release strategy to multi-branch (#3242)
  Jenkinsfile
  apps/entity-matching/project.json
Due: apps, e2e

set clipping only if there is change in top or bottom ratio is changed
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

Data Quality: showing datatypes in a select (#3231)
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
Due: apps, e2e

chore: migrate react components from babel / webpack to vite (#3728)
  .github/workflows/publish-react-component-to-npm-on-demand.yml
  react-components/.storybook/main.ts
  react-components/package.json
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
Due: none

feat(industrial-canvas): add support for changing the order of containers and annotations (#3215)
  apps/charts/src/app/components/FileViewer/FileViewer.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FilePreview.tsx
  apps/platypus/src/app/components/FilePreview/FilePreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration/containers/src/Document/DocumentPreview/DocumentPreview.tsx
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/fixtures.ts
  libs/industry-canvas/src/lib/hooks/useAnnotationsMultiple.ts
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
  libs/industry-canvas/src/lib/hooks/useContainers.ts
  libs/industry-canvas/src/lib/hooks/useNodes.ts
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/hooks/usePersistence.ts
  libs/industry-canvas/src/lib/hooks/useRenderContextMenux.tsx
  libs/industry-canvas/src/lib/hooks/useSelectedAnnotationOrContainer.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/dtoCanvasAnnotationToCanvasAnnotation.ts
  libs/industry-canvas/src/lib/services/types.ts
  libs/industry-canvas/src/lib/services/utils/createZIndexByIdRecord.spec.ts
  libs/industry-canvas/src/lib/services/utils/createZIndexByIdRecord.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/compareItemsByZIndex.spec.ts
  libs/industry-canvas/src/lib/utils/compareItemsByZIndex.ts
  libs/industry-canvas/src/lib/utils/createSerializedCanvasDocument.ts
  libs/industry-canvas/src/lib/utils/isNotUndefinedTuple.ts
  libs/industry-canvas/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

chore: bump react components and reveal peer dependency
  react-components/package.json
  react-components/yarn.lock
Due: none

chore: dedupe dependencies
  react-components/yarn.lock
Due: none

chore: bump react components and reveal peer dependency (#3741)
  react-components/package.json
  react-components/yarn.lock
Due: none

chore: dedupe dependencies
  documentation/yarn.lock
  viewer/yarn.lock
Due: none

Cerberus: adding datascope dropdown in creating rules (#3270)
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/helpers.tsx
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
