Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: update type of exit button
  react-components/src/components/Image360Details/Image360Details.tsx
Due: none

chore: some more refactoring
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
Due: none

chore: more refactoring
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
Due: none

chore: respond to review
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

feat: shared 3D-to-FDM node cache (#3588)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

Changed Node heap size to 4Gb instead of 8Gb for GitHub action. Wild guess.
  .github/workflows/platypus-e2e-tests.yml
Due: none

Change from multi-branch to single-branch for contextualization-ui
  Jenkinsfile
Due: none

chore: fix linting issues
  apps/flows/.eslintrc.json
  apps/flows/config-overrides.js
  apps/flows/src/__mocks__/@cognite/cdf-route-tracker.js
  apps/flows/src/components/floating-history-panel/index.tsx
Due: apps, e2e

chore: fix test issues
  apps/flows/src/setupTests.js
Due: apps, e2e

fix:Trigger contextualization-ui deployment (#2742)
  apps/contextualization-ui/src/app/pages/HomePage.tsx
Due: apps, e2e

fix: move/merge application package.json with root package.json
  apps/flows/package.json
  apps/flows/yarn.lock
  package.json
  yarn.lock
Due: apps, e2e

fix(business-shell): revert latest auth wrapper changes (#2741)
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
Due: apps, e2e

fix: setup jenkins file
  Jenkinsfile
Due: none

updating files needed to track app
  .github/labeler.yml
  CODEOWNERS
  codecov.yml
  scripts/build.sh
Due: none

updating yarn.lock
  yarn.lock
Due: none

update local service env var and README (#2744)
  apps/simint/README.md
  apps/simint/src/components/app/App.tsx
Due: apps, e2e

feat(fdx): 3d widget (#2689)
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/hooks/useUserInfo.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  apps/business-shell/src/utils/globalStyles.ts
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Overview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdgeView/GenericRelationshipEdgeView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/FileViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/TimeSeriesViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/GenericRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/GenericRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useOpenIn.ts
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/flexible-data-explorer/src/app/services/files/queries/use
  apps/flexible-data-explorer/src/app/services/instances/generic/hooks/useInstanceThreeD.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/services/types.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
Due: apps, e2e

chore: bump version
  react-components/package.json
Due: none

chore: bump version (#3591)
  react-components/package.json
Due: none

add hostings (#2745)
  apps/fusion-shell/src/apps-manifest.json
Due: apps, e2e

fix: downscale refinery in lervik-industries, and bump quality settings (#2746)
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
Due: apps, e2e

fix: background for exit button being transparent
  react-components/src/components/Image360Details/Image360Details.tsx
Due: none

Current state of things
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

added styling hook
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

fix: missing exports
  react-components/src/index.ts
Due: none

feat(fdx): 3D Node preview card (#2749)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/PreviewCard.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/types.ts
  package.json
  yarn.lock
Due: apps, e2e

chore: attempt at caching styling state
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Due: none

feat(AI): redesign of ai flow for august release" (#2728)
  apps/business-shell/src/app/App.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/links/AIDisclaimer.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/search/AISearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AILabels.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AIListItemIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISearchCategoryDropdown.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISwitch.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AiSearchIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.spec.ts
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/elements.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAiResultsCounts.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/hooks/listeners/useKeyboardListener.ts
  apps/flexible-data-explorer/src/app/hooks/useLocalStorage.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/string.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus/src/app/GlobalStyles.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/CopilotActions.tsx
  libs/copilot-core/src/app/components/index.ts
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/types.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

CDFNEW-427 (streamlit editor) add edit filename functionality (#2739)
  apps/notebook/src/pages/StreamLit/Editor/Editor.tsx
  apps/notebook/src/pages/StreamLit/StreamLitApp.tsx
  apps/notebook/src/pages/StreamLit/components/EditFilenameModal.tsx
Due: apps, e2e

fix(FDX): ui tweaks (#2754)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBarSwitch.tsx
  apps/flexible-data-explorer/src/app/hooks/useLocation.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix: fixing firebase mapping
  Jenkinsfile
Due: none

feat(business-shell): updated language list in user profile (#2703)
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
Due: apps, e2e

feat(industry-canvas): adding user invite to visibility modal (#2545)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/UserProfileProvider.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasVisibilityModal.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.stories.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.stories.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/index.ts
  libs/industry-canvas/src/lib/containers/UserSearch/UserSearch.stories.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/UserSearch.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/fixtures.ts
  libs/industry-canvas/src/lib/containers/UserSearch/index.ts
  libs/industry-canvas/src/lib/containers/UserSearchInput/UserSearchInput.stories.tsx
  libs/industry-canvas/src/lib/containers/UserSearchInput/UserSearchInput.tsx
  libs/industry-canvas/src/lib/containers/UserSearchInput/index.ts
  libs/industry-canvas/src/lib/containers/index.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2InvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2RevokeInvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2Users.ts
  libs/industry-canvas/src/lib/hooks/use-query/useUserProfilesSearch.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/isCogniteIdPUsedToSignIn.ts
  libs/shared/cdf-ui-i18n-utils/src/hooks/i18n.ts
Due: libs

Remove keyboard events.
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Due: none

chore: Fix might typo
  README.md
Due: none

chore: Fix evenet -> event typo
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Due: none

chore: Extract getCogniteClient method
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
Due: none

feat(extraction-pipelines): change add topic filter popup to full page view (#2681)
  apps/extraction-pipelines/src/App.tsx
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/ToolBars/BottomBar.tsx
  apps/extraction-pipelines/src/components/ToolBars/TopBar.tsx
  apps/extraction-pipelines/src/components/ToolBars/index.ts
  apps/extraction-pipelines/src/components/form-field-radio-group/FormFieldRadioGroup.tsx
  apps/extraction-pipelines/src/components/form-field-wrapper/FormFieldWrapper.tsx
  apps/extraction-pipelines/src/components/topic-filters/TopicFilters.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/Section.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/TopicFilterGuide.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/index.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/types.ts
  apps/extraction-pipelines/src/utils/zindex.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
