Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: nx command
  .github/workflows/CD.yml
Due: none

fix: affected condition
  .github/workflows/CD.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

Small fixes
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
Due: apps, e2e

feat(AI): [AI-137] better text action and support for markdown (#2502)
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/TextMessage.tsx
Due: libs

fix: deploy environment
  scripts/github-actions/get-deploy-environment/README.md
  scripts/github-actions/nx-get-project-config/index.js
Due: none

fix: deploy environment
  .github/workflows/CD.yml
Due: none

fix: rename CI/CD prop to pipeline
  .github/workflows/CD.yml
  apps/data-exploration/project.json
  scripts/github-actions/get-deploy-environment/index.js
Due: apps, e2e

fix: enable only on prod branches
  .github/workflows/CD.yml
Due: none

feat: expose useReveal
  react-components/src/index.ts
Due: none

feat: make FDM config argument mandatory
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

chore: change naming convention to adhere to FDM standard
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

feat: business-shell with GH-CD
  apps/business-shell/firebase.json
  apps/business-shell/project.json
Due: apps, e2e

fix: CD pipeline condition (#2513)
  .github/workflows/CD.yml
  apps/business-shell/firebase.json
  scripts/github-actions/get-deploy-environment/index.js
  scripts/github-actions/nx-get-project-config/index.js
Due: apps, e2e

chore: lint fix
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: lint fix
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/pointcloud-styling/src/StyledPointCloudObjectCollection.ts
  viewer/packages/pointclouds/src/potree-three-loader/utils/WorkerPool.ts
  viewer/packages/pointclouds/src/potree-three-loader/workers/parseEpt.ts
Due: none

Remove basename from charts
  apps/charts/src/App.tsx
  apps/charts/src/app/pages/Routes.tsx
  apps/charts/src/app/utils/link.ts
Due: apps, e2e

Remove unused improt
  apps/charts/src/App.tsx
Due: apps, e2e

fix: deployment project and targets (#2520)
  .github/workflows/CD.yml
  apps/business-shell/firebase.json
  apps/business-shell/project.json
  apps/business-shell/public/firebase.json
  apps/data-exploration/firebase.json
  scripts/github-actions/get-firebase-project/README.md
  scripts/github-actions/get-firebase-project/action.yml
  scripts/github-actions/get-firebase-project/index.js
  scripts/github-actions/get-firebase-target/README.md
  scripts/github-actions/get-firebase-target/action.yml
  scripts/github-actions/get-firebase-target/index.js
Due: apps, e2e

feat(fdx): init ai results table (#2511)
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/types.ts
Due: apps, e2e

chore: cleanup CD pipeline (#2524)
  .github/workflows/CD.yml
  apps/business-shell/project.json
  apps/data-exploration/firebase.json
  apps/data-exploration/project.json
  scripts/github-actions/get-firebase-project/README.md
  scripts/github-actions/get-firebase-project/action.yml
  scripts/github-actions/get-firebase-project/index.js
  scripts/github-actions/get-firebase-target/README.md
  scripts/github-actions/get-firebase-target/action.yml
  scripts/github-actions/get-firebase-target/index.js
Due: apps, e2e

feat: expose useReveal (#3515)
  react-components/src/index.ts
Due: none

fix(data-explorer): file grouping table [UX-1088] (#2515)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/core/src/types/files.ts
Due: libs

feat(extraction-pipelines): New connection page for MQTT (#2507)
  apps/extractor-downloads/src/App.tsx
  apps/extractor-downloads/src/common/i18n/translations/en/extractor-downloads.json
  apps/extractor-downloads/src/components/CreateConnection/CreateConnection.tsx
  apps/extractor-downloads/src/components/CreateConnection/index.ts
  apps/extractor-downloads/src/components/ToolBars/BottomBar.tsx
  apps/extractor-downloads/src/components/ToolBars/TopBar.tsx
  apps/extractor-downloads/src/components/ToolBars/index.ts
  apps/extractor-downloads/src/components/create-connection-modal/CreateConnectionModal.tsx
  apps/extractor-downloads/src/components/hosted-extractor-details/HostedExtractorDetails.tsx
  apps/extractor-downloads/src/hooks/hostedExtractors.ts
Due: apps, e2e

feat(data-explorer): Add Updated column and Created Time column values for 360 images (#2456)
  libs/data-exploration/containers/src/ThreeD/Image360Display.tsx
  libs/data-exploration/containers/src/ThreeD/ThreeDModelLastUpdated.tsx
  libs/data-exploration/containers/src/ThreeD/ThreeDTable.tsx
  libs/data-exploration/domain-layer/src/events/service/types.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/use3DResults.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useApiBuffer.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useImage360Query.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useImage360SiteNameQuery.ts
  libs/data-exploration/domain-layer/src/threeD/internal/types.ts
  libs/data-exploration/domain-layer/src/threeD/service/network/fetchImage360BySiteId.ts
  libs/data-exploration/domain-layer/src/threeD/service/network/getImage360EventsBySiteId.ts
  libs/data-exploration/domain-layer/src/threeD/service/network/index.ts
Due: libs

feat: add support for node data fetching in React Components
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

chore: remove data-exploration and business-shell from Jenkins (#2530)
  Jenkinsfile
Due: none

feat: throw error if config undefined instead
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

fix: argument reorder unnecessary changes
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: lint fix
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

feat(Onboarding): Walkthrough component integration for the Onboarding (#2403)
  apps/business-shell/index.html
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/components/Onboarding.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/business-shell/src/images/carousel-image_1.png
  apps/business-shell/src/images/carousel-image_2.png
  apps/business-shell/src/images/carousel-image_3.png
  apps/business-shell/vite.config.ts
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.tsx
Due: apps, libs, e2e

feat: build-storybook matrix (#2525)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
Due: none

chore: use correct URL type
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
Due: none

chore(industrial-canvas): Refactor useManagedTool(s) hooks (#2500)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineEndTypeTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/ShapeAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/StickyAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/TextAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useCanvasAnnotationTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useManagedTool.ts
  libs/industry-canvas/src/lib/hooks/useManagedTools.ts
  libs/industry-canvas/src/lib/hooks/useOnUpdateSelectedAnnotation.ts
  libs/industry-canvas/src/lib/services/dtoCanvasAnnotationToCanvasAnnotation.ts
  libs/industry-canvas/src/lib/utils/ExactlyOnePartial.ts
  libs/industry-canvas/src/lib/utils/getSummarizationSticky.ts
  libs/industry-canvas/src/lib/utils/useManagedTool.ts
  package.json
  yarn.lock
Due: libs

feat: initial info card overlay
  react-components/src/components/InfoCard/InfoCard.tsx
Due: none

chore: update cargo lock
  viewer/Cargo.lock
Due: none

chore: disable lint on duplicate enum values
  viewer/packages/rendering/src/pointcloud-rendering/enums.ts
Due: none

feat(FDX): instance preview card (#2464)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/details/Details.tsx
  apps/flexible-data-explorer/src/app/components/details/DetailsItem.tsx
  apps/flexible-data-explorer/src/app/components/loader/Spinner.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/InstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/components/Popover.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Overview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/PropertiesView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdge.tsx
  apps/flexible-data-explorer/src/app/containers/preview/elements.ts
  apps/flexible-data-explorer/src/app/containers/preview/types.ts
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FDXFilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceByIdQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceDirectRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/utils/zIndex.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/flexible-data-explorer/vite.config.ts
  package.json
  yarn.lock
Due: apps, e2e
