Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: workflow file
  .github/workflows/ci-release-branch.yml
Due: none

fix(data-explorer): add tree view for related files [UX-1088] (#2442)
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/elements.ts
  libs/data-exploration/containers/src/Temp/FileGroupingTable/FileGroupingTable.tsx
Due: libs

feat: refactor llm model to a simple base class (#2427)
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/i18n/en/platypus.json
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/fusionQA/fusionQA.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/summaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/types.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

add: mixpanel setup in business-shell (#2430)
  apps/business-shell/src/app/common/metrics/index.ts
  apps/business-shell/src/app/common/metrics/useTracker.ts
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore(transformations): migrate Filter for target Original PR cognitedata/cdf-ui-transformations#617 by @VebjornG
  apps/transformations/src/common/i18n/translations/en/transformations.json
  apps/transformations/src/containers/actions-bar/AppliedFilters.tsx
  apps/transformations/src/containers/actions-bar/index.tsx
  apps/transformations/src/pages/transformation-list/TransformationList.tsx
  apps/transformations/src/types/transformation.ts
  apps/transformations/src/utils/transformation.ts
Due: apps, e2e

[UX-1030] feat: integrate unified sign in changes in contextualize imagery data vision (#2425)
  .github/workflows/nx_ci.yml
  apps/transformations/src/components/run-history-section/index.tsx
  apps/vision/project.json
  apps/vision/src/App.tsx
  apps/vision/src/AuthContainer.tsx
  apps/vision/src/__test-utils/renderer.tsx
  apps/vision/src/api/annotation/legacy/legacyAnnotationApi.ts
  apps/vision/src/api/vision/autoML/AutoMLAPI.ts
  apps/vision/src/api/vision/detectionModels/detectionUtils.ts
  apps/vision/src/assets/index.ts
  apps/vision/src/cognite-cdf-sdk-singleton.d.ts
  apps/vision/src/common/test/render.tsx
  apps/vision/src/modules/AutoML/Components/AutoMLPage/AutoMLModelPage.tsx
  apps/vision/src/modules/AutoML/Components/AutoMLPredictionDocModal.tsx
  apps/vision/src/modules/Common/Components/BulkEdit/BulkEditModal.tsx
  apps/vision/src/modules/Common/Components/ExploreModal/ExploreModal.tsx
  apps/vision/src/modules/Common/Components/FileDownloaderModal/FileDownloaderModal.tsx
  apps/vision/src/modules/Common/Components/FileDownloaderModal/FileDownloaderModalContent.tsx
  apps/vision/src/modules/Common/Components/FileUploaderModal/FileUploaderModal.tsx
  apps/vision/src/modules/Common/Components/FileUploaderModal/ModalFilePicker/ModalFileUploadOption.tsx
  apps/vision/src/modules/Common/Components/ModelTrainingModal/ModelTrainingModal.tsx
  apps/vision/src/modules/Explorer/Containers/Explorer.tsx
  apps/vision/src/modules/FilterSidePanel/Containers/FilterSidePanel.tsx
  apps/vision/src/modules/Process/Containers/ModelConfiguration.tsx
  apps/vision/src/modules/Process/Containers/ProcessStep.tsx
  apps/vision/src/modules/Process/Containers/ProcessToolBar/ProgressStatus.tsx
  apps/vision/src/modules/Process/Containers/ProcesseFileDetailsContainer/ProcesseFileDetailsContainer.tsx
  apps/vision/src/modules/Process/Containers/SummaryModal/SummaryContent.tsx
  apps/vision/src/modules/Process/Containers/SummaryModal/SummaryModal.tsx
  apps/vision/src/modules/Review/Components/AnnotationSettingsModal/AnnotationSettingsModal.tsx
  apps/vision/src/modules/Review/Components/AnnotationSettingsModal/Body/Keypoints.tsx
  apps/vision/src/modules/Review/Components/KeyboardShortcutModal/KeyboardShortcutModal.tsx
  apps/vision/src/modules/Review/Containers/ReviewBody.tsx
  apps/vision/webpack-config.js
Due: apps, e2e

chore(transformations): migrateadding run capability to Action Bar on Transformation List page Original PR cognitedata/cdf-ui-transformations#628 by @marsipang
  apps/transformations/src/common/i18n/translations/en/transformations.json
  apps/transformations/src/components/run-confirmation-modal/index.tsx
  apps/transformations/src/components/transformation-details-topbar/TransformationDetailsTopbarActionButtons.tsx
  apps/transformations/src/pages/transformation-list/TransformationActionBar.tsx
Due: apps, e2e

chore(transformations): migrate Remove (beta) label on data models Original PR cognitedata/cdf-ui-transformations#630 by @andeplane
  apps/transformations/src/common/i18n/translations/en/transformations.json
Due: apps, e2e

chore(transformations): migrate use supported flag instead of checking the request status fix Original PR cognitedata/cdf-ui-transformations#631 by @cemreyavuz
  apps/transformations/src/components/transformation-details-topbar/TransformationDetailsTopbarActionButtons.tsx
Due: apps, e2e

[UX-1025] feat: integrate unified sign in changes in upload 3d-models (#2399)
  apps/3d-management/project.json
  apps/3d-management/src/App.tsx
  apps/3d-management/src/AuthContainer.tsx
  apps/3d-management/src/cognite-cdf-sdk-singleton.d.ts
  apps/3d-management/src/cogniteSdk.ts
  apps/3d-management/src/components/Thumbnail/useThumbnailFile.ts
  apps/3d-management/src/hooks/files/useFiles.ts
  apps/3d-management/src/hooks/models/useCreateModelMutation.ts
  apps/3d-management/src/hooks/models/useDeleteModelMutation.ts
  apps/3d-management/src/hooks/models/useModels.ts
  apps/3d-management/src/hooks/models/useUpdateModelMutation.ts
  apps/3d-management/src/hooks/revisions/useCreateRevisionMutation.ts
  apps/3d-management/src/hooks/revisions/useDeleteRevisionMutation.ts
  apps/3d-management/src/hooks/revisions/useRevisionLogs.ts
  apps/3d-management/src/hooks/revisions/useRevisions.ts
  apps/3d-management/src/hooks/revisions/useUpdateRevisionMutation.ts
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/components/FileUploader/FileUploader.tsx
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/ModelRevisions.tsx
  apps/3d-management/src/pages/AllModels/index.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewer/ThreeDViewer.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ThumbnailUploader.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/hooks/useFilteredNodesHighlights.ts
  apps/3d-management/src/pages/RevisionDetails/index.ts
  apps/3d-management/src/utils/cdf-utilities.ts
Due: apps, e2e

chore(transformations): migrate fixing autocomplete in sql editor when it starts with an underscore Original PR cognitedata/cdf-ui-transformations#629 by @marsipang
  apps/transformations/src/utils/sparkSQL.ts
Due: apps, e2e

chore(transformations): migrate Showing "Instance space" instead of just "Space" Original PR cognitedata/cdf-ui-transformations#633 by @andeplane
  apps/transformations/src/common/i18n/translations/en/transformations.json
  apps/transformations/src/components/transformation-destination-form/FDMDestinationForm.tsx
Due: apps, e2e

chore(transformations): migrate Showing name on modal title while creating transformation Original PR cognitedata/cdf-ui-transformations#632 by @andeplane
  apps/transformations/src/components/create-transformation-modal/index.tsx
Due: apps, e2e

fixed 360 image visibility issue
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/stories/LayersContainer.stories.tsx
Due: none

feat(industrial-canvas): show FDM instances in canvas (#2423)
  libs/industry-canvas/src/lib/containerConfigToContainerReference.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/utils/resolveContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveFdmInstanceContainerConfig.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/dtoAssetCentricContainerReferenceToContainerReference.ts
  libs/industry-canvas/src/lib/services/dtoFdmInstanceContainerReferenceToFdmInstanceContainerReference.ts
  libs/industry-canvas/src/lib/services/types.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/addDimensionsToContainerReference.ts
  libs/industry-canvas/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: libs

Improved UI when one of the 3D resources is not available
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

removed opacity from 3D resources layers option
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/OpacitySlider.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
Due: none

removed additional elements which was not needed
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
Due: none

Fixing DatePicker
  apps/simconfig/src/global-styles.ts
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
Due: apps, e2e

fix(fdx): filter input and applied filter chip label [UX-1089 | UX-1090 | UX-1081] (#2450)
  apps/flexible-data-explorer/src/app/containers/Filter/components/DateTimeInput/utils/getDateTimeInputValue.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/DateTimeRangeInput/DateTimeRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/NumberInput/NumberInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/NumericRangeInput/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFilterChip.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFiltersByField.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/getChipLabel.ts
  apps/flexible-data-explorer/src/app/containers/Filter/types.ts
  apps/flexible-data-explorer/src/app/utils/date.ts
Due: apps, e2e

Fixing Menu.Item in the CalculationList
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
Due: apps, e2e

Fixing Menu.Item in the CalculationRunList
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
Due: apps, e2e

Fixed excluded u1 (#3871)
  apps/scarlet/package.json
  apps/scarlet/src/api/getEquipmentAnnotations.ts
  apps/scarlet/src/api/getEquipmentDocuments.ts
  apps/scarlet/src/pages/Equipment/components/DataSource/DataSource.tsx
  apps/scarlet/src/types/equipmentDocument.ts
Due: apps, e2e

chore: lint fix (import undefined type)
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

feat(industrial-canvas): Better tool typing (#2398)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useManagedTools.ts
  libs/industry-canvas/src/lib/hooks/useSelectedAnnotationOrContainer.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/useManagedTool.ts
  package.json
  yarn.lock
Due: libs

added indeterminate option for checkbox and exposed LayerButton
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/index.ts
Due: none

fix node_modules path
  .github/workflows/nx_ci.yml
Due: none

Update react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
Due: none

Update react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
Due: none

Update apps/charts/project.json
  apps/charts/project.json
Due: apps, e2e

feat: support charts with unified signin
  apps/charts/project.json
  apps/charts/src/App.tsx
  apps/charts/src/AppWrapper.tsx
  apps/charts/src/app/components/AuthContainer/AuthContainer.tsx
  apps/charts/src/app/components/AuthContainer/index.ts
  apps/charts/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

Temp: Fixing ConfigureCustomCalculation
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
Due: apps, e2e

feat: AI support an array of data models (#2462)
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/providers/FDMProvider.tsx
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/platypus/src/app/modules/solution/query-explorer/components/QueryExplorer.tsx
  apps/platypus/src/app/modules/solution/query-explorer/components/elements.ts
  apps/platypus/src/app/utils/gpt-query/fdmGptAutoQuery.ts
  libs/copilot-core/package.json
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/types.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(business-shell/fdx): include firebase.json in build output (#2466)
  apps/business-shell/firebase.json
  apps/business-shell/public/firebase.json
  apps/flexible-data-explorer/firebase.json
  apps/flexible-data-explorer/public/firebase.json
Due: apps, e2e

feat: check domains for unified signin
  libs/shared/cdf-utilities/src/utils/utils.ts
Due: libs

feat: update industry canvas to work with unified signin (#2439)
  apps/industry-canvas-ui/project.json
  apps/industry-canvas-ui/src/AppWrapper.tsx
  apps/industry-canvas-ui/src/AuthContainer.tsx
  apps/industry-canvas-ui/src/app/App.tsx
  apps/industry-canvas-ui/src/app/RootApp.tsx
  apps/industry-canvas-ui/src/app/utils/URLUtils.ts
  apps/industry-canvas-ui/src/app/utils/colors.ts
  apps/industry-canvas-ui/src/app/utils/environment.ts
  apps/industry-canvas-ui/src/app/utils/zIndex.ts
  apps/industry-canvas-ui/src/cognite-cdf-sdk-singleton.d.ts
  apps/industry-canvas-ui/src/index.tsx
  apps/industry-canvas-ui/webpack-config.js
  libs/industry-canvas/src/lib/utils/tracking/createTrackUsage.ts
Due: apps, libs, e2e
