Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix(fdx): don't zoom out if an instance is selected (#2828)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
Due: apps, e2e

chore: lint fix
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix: only emit clickedNodeData on nodeData update
  react-components/src/hooks/useClickedNode.tsx
Due: none

Fix notebook caching issues and enable override (#2826)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

feat(plotting-components): add i18n support (#2827)
  libs/shared/plotting-components/src/TimeseriesChart/components/DateRangePicker/DatePicker/PivotRangePicker.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/DateRangePicker/DatePicker/RangePicker.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/OpenInChartsButton/OpenInChartsButton.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimePeriodSelect/TimePeriodSelect.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimePeriods/TimePeriodButton.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartLarge/TimeseriesChartLarge.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartLarge/helpers/formatTooltipContent.ts
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartSmall/TimeseriesChartSmall.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartSmall/helpers/formatTooltipContent.ts
  libs/shared/plotting-components/src/TimeseriesChart/i18n/index.tsx
  libs/shared/plotting-components/src/i18n/de/plotting-components.json
  libs/shared/plotting-components/src/i18n/en/plotting-components.json
  libs/shared/plotting-components/src/i18n/es/plotting-components.json
  libs/shared/plotting-components/src/i18n/fr/plotting-components.json
  libs/shared/plotting-components/src/i18n/index.ts
  libs/shared/plotting-components/src/i18n/it/plotting-components.json
  libs/shared/plotting-components/src/i18n/ja/plotting-components.json
  libs/shared/plotting-components/src/i18n/ko/plotting-components.json
  libs/shared/plotting-components/src/i18n/nl/plotting-components.json
  libs/shared/plotting-components/src/i18n/pt/plotting-components.json
  libs/shared/plotting-components/src/i18n/sv/plotting-components.json
  libs/shared/plotting-components/src/i18n/zh/plotting-components.json
  libs/shared/plotting-components/src/useTranslation.ts
  scripts/i18n.sh
Due: libs

fix(data-explorer): file preview tooltip [UX-1335] (#2836)
  libs/data-exploration-components/src/containers/Files/FilePreview/DiagramStatus.tsx
Due: libs

feat: migrate apps to GitHub Actions CD (#2554)
  .github/workflows/CD.yml
  Jenkinsfile
  README.md
  apps/3d-management/project.json
  apps/access-management/project.json
  apps/cdf-document-search/project.json
  apps/charts/project.json
  apps/coding-conventions/project.json
  apps/contextualization-ui/project.json
  apps/copilot/project.json
  apps/data-catalog/project.json
  apps/data-exploration/project.json
  apps/entity-matching/project.json
  apps/extraction-pipelines/project.json
  apps/extractor-downloads/project.json
  apps/flexible-data-explorer/project.json
  apps/functions-ui/project.json
  apps/fusion-shell/project.json
  apps/industry-canvas-ui/project.json
  apps/interactive-diagrams/project.json
  apps/iot-hub/project.json
  apps/notebook/project.json
  apps/platypus/project.json
  apps/raw-explorer/project.json
  apps/simint/project.json
  apps/transformations/project.json
  apps/vision/project.json
Due: apps, e2e

fix: re-enable jenkins deployment temporarily (#2841)
  Jenkinsfile
Due: none

feat(charts): add multi user subscription support in monitoring [AH-1479] (#2804)
  apps/charts/src/App.tsx
  apps/charts/src/app/components/AccessDeniedModal/AccessDeniedModal.tsx
  apps/charts/src/app/components/AccessDeniedModal/elements.tsx
  apps/charts/src/app/components/Form/FormInputWithController.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  apps/charts/src/app/components/MonitoringSidebar/SubscribeJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/elements.ts
  apps/charts/src/app/components/MonitoringSidebar/hooks.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/domain/chart/internal/transformers/getVisibility.ts
  apps/charts/tsconfig.json
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.tsx
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2InvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2RevokeInvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2Users.ts
Due: apps, libs, e2e

fix: cluster incorrectly shown in PowerBI modal (#2845)
  apps/platypus/src/app/App.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
Due: apps, e2e

fix: block events to viewer when measurement tool is active
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

chore: lint fix
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

Tidy up handling of view versions (#2831)
  apps/contextualization-ui/src/app/containers/Labeling.tsx
  apps/contextualization-ui/src/app/hooks/useGetMatchInputInstances.ts
  apps/contextualization-ui/src/app/hooks/useGetMatchInputOptions.ts
  apps/contextualization-ui/src/app/hooks/useImprovementSuggestions.ts
  apps/contextualization-ui/src/app/pages/AdvancedJoinsPage.tsx
  apps/contextualization-ui/src/app/utils/convertToInternalModelInstance.ts
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScore.tsx
  libs/contextualization/src/lib/hooks/measure-mapped-percentages/useCreateMeasureMappedPercentages.ts
  libs/contextualization/src/lib/hooks/models/index.ts
  libs/contextualization/src/lib/hooks/models/useCurrentView.ts
  libs/contextualization/src/lib/hooks/models/useModelInstancesList.ts
  libs/contextualization/src/lib/hooks/models/useRetrieveViews.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinProcess.ts
  libs/contextualization/src/lib/types.ts
  libs/contextualization/src/lib/utils/extractPropertiesFromURL.ts
Due: apps, libs, e2e

chore: update cargo lock
  viewer/Cargo.lock
Due: none

fix(viewer): block events to viewer when measurement tool is active (#3616)
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

Change advancedjoins urls from localhost to cognite API (#2847)
  libs/contextualization/src/lib/hooks/estimate-quality/useCreateEstimateQuality.ts
  libs/contextualization/src/lib/hooks/estimate-quality/useGetEstimateQuality.tsx
  libs/contextualization/src/lib/hooks/matches/useListMatches.ts
  libs/contextualization/src/lib/hooks/measure-mapped-percentages/useCreateMeasureMappedPercentages.ts
  libs/contextualization/src/lib/hooks/measure-mapped-percentages/useGetMeasureMappedPercentages.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useCreateRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useGetRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/suggest-improvements/useCreateSuggestImprovementsJob.ts
  libs/contextualization/src/lib/hooks/suggest-improvements/useGetSuggestImprovementsJob.ts
  libs/contextualization/src/lib/hooks/update-advanced-joins/useUpdateAdvancedJoins.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinMatches.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinProcess.ts
  libs/contextualization/src/lib/hooks/useMeasureMappedPercentages.tsx
Due: libs

chore(industry-canvas): try swc compiler (#2851)
  libs/data-exploration/containers/src/Temp/FileUploader/FileUploader.tsx
  libs/industry-canvas/project.json
Due: libs

revert unnecessary changes in codeowners
  CODEOWNERS
Due: none

feat(industrial-canvas): persist live sensor values and update comments data model (#2850)
  apps/industry-canvas-ui/src/app/RootApp.tsx
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/SpaceProvider.tsx
  libs/industry-canvas/src/lib/components/NoAccessPage.tsx
  libs/industry-canvas/src/lib/components/SetupIndustrialCanvasPage.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/fixtures.ts
  libs/industry-canvas/src/lib/hooks/useCanvasStateHistory.ts
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/usePermissions.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/comments/CommentService.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useListCommentsQuery.ts
  libs/industry-canvas/src/lib/services/comments/types.ts
  libs/industry-canvas/src/lib/services/comments/utils.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/types.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/createSerializedCanvasDocument.ts
  libs/industry-canvas/src/lib/utils/utils.ts
Due: apps, libs, e2e

refreshing the lock file
  yarn.lock
Due: none

refrshing lock file
  yarn.lock
Due: none

feat: add copilot keys (#2849)
  Jenkinsfile
  libs/copilot-core/project.json
  libs/copilot-core/src/i18n/en/copilot.json
Due: libs

fix: don't send intermediate `undefined` result on new click
  react-components/src/hooks/useClickedNode.tsx
Due: none

Fix a couple of urls (#2857)
  libs/contextualization/src/lib/hooks/suggest-improvements/useCreateSuggestImprovementsJob.ts
  libs/contextualization/src/lib/hooks/update-advanced-joins/useUpdateAdvancedJoins.ts
Due: libs

testing update of jest.config.ts in flows
  apps/flows/jest.config.ts
Due: apps, e2e

testing linting error
  tsconfig.base.json
Due: none

fix: i18n problems with business-shell (#2844)
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/copilot/src/app/hooks/useTranslation.tsx
  libs/copilot-core/src/app/Copilot.tsx
  libs/shared/cdf-ui-i18n-utils/src/components/I18nWrapper/I18nWrapper.tsx
Due: apps, libs, e2e

testing
  apps/flows/src/index.tsx
Due: apps, e2e

testing
  apps/flows/package.json
Due: apps, e2e

testing
  tsconfig.base.json
Due: none

testing
  apps/flows/package.json
  apps/flows/project.json
  apps/flows/src/index.tsx
Due: apps, e2e

fix: don't recompute clicked node data every render and reset state on clicking nothing (#3610)
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
