Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

Fdx/fix tab title (#3628)
  apps/data-exploration/src/app/App.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/flexible-data-explorer/src/app/ShellApp.tsx
Due: apps, e2e

fix: setup vitest for react components
  react-components/package.json
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
Due: none

fix: setup vitest for react components
  react-components/tests/sum.test.tsx
Due: none

fix(3d-management): resetCadContextualizeStore (#3625)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
Due: apps, e2e

feat(fdx): update the site selection to be in the search configuration (#3605)
  apps/flexible-data-explorer/src/app/ShellApp.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/site/SiteSelection.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useConfig.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchQuery.ts
  apps/flexible-data-explorer/src/app/services/useSelectedDataModels.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

Addressed PR comments
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

Fixed search bug
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
Due: none

fix(industrial-canvas): fix comparisons not working (#3630)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/applyRules.spec.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/applyRules.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/isNumberString.ts
Due: libs

fix(data-explorer): detail view total related resources count (#3622)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAnnotationsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useDirectlyLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCount.ts
Due: apps, libs, e2e

fix(industrial-canvas): Add appendTo for nested menus in CanvasDropdown (#3636)
  libs/industry-canvas/src/lib/components/CanvasSubmenu.tsx
Due: libs

fix(data-explorer): Search config width (#3624)
  libs/data-exploration/containers/src/Search/SearchConfig/SearchConfig.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/elements.ts
Due: libs

feat(industrial-canvas): add content to open canvas in other tab (#3606)
  apps/data-exploration/src/app/components/TitleRowActions/CanvasButton.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/applyRules.spec.ts
  libs/industry-canvas/src/lib/hooks/useLocalStorageCommunication/index.ts
  libs/industry-canvas/src/lib/hooks/useLocalStorageCommunication/parseJsonToArray.ts
  libs/industry-canvas/src/lib/hooks/useLocalStorageCommunication/types.ts
  libs/industry-canvas/src/lib/hooks/useLocalStorageCommunication/useLocalStorageCommunication.ts
Due: apps, libs, e2e

fix(data-explorer): Add debounce in search and filters (#3585)
  apps/data-exploration/src/app/containers/Exploration/ExplorationSearchBar.tsx
  libs/data-exploration/containers/src/Filters/ExternalIdFilter/ExternalIdFilter.tsx
  libs/data-exploration/containers/src/Filters/InternalIdFilter/InternalIdFilter.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/core/src/hooks/index.ts
  libs/data-exploration/core/src/hooks/useDebouncedQuery.ts
Due: apps, libs, e2e

chore(industrial-canvas): bump UFV (#3598)
  package.json
  yarn.lock
Due: none

fix(i18n-utils): use addNamespace with locize backend (#3589)
  libs/shared/cdf-ui-i18n-utils/src/components/I18nWrapper/I18nWrapper.tsx
Due: libs

chore: bump Reveal React Components to 0.17.0 (#3617)
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useNavigateOnClick.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useResetNodeDataOnNavigate.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/utils.ts
  package.json
  yarn.lock
Due: apps, e2e

removed unused types
  react-components/src/hooks/types.ts
Due: none

removed unnecessary type export
  react-components/src/index.ts
Due: none

fixed visibility of point cloud model issue when styling is applied via RevealContainer props which was overriding the visibility
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix(react-components): race condition in CadModelContainer initialization
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Due: none

changed search hook to cache with the query
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
  react-components/stories/AnnotationAsset.stories.tsx
Due: none

fix(react-components): race condition in CadModelContainer initialization (#3807)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Due: none

ci: update pr template for UX board (#3629)
  .github/pull_request_template.md
Due: none

fix(fusion-shell): adjust findAppItem to work with recent (#3612)
  apps/fusion-shell/src/app/components/LandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/sections/sections.ts
Due: apps, e2e

fix: check if all required fields are reported for recent activity (#3594)
  apps/fusion-shell/src/app/components/LandingPage/UserHistory.tsx
  libs/shared/user-history/src/lib/CdfUserHistoryService.ts
Due: apps, libs, e2e

fix(industrial-canvas): Preserve CommentEditor content on mounts/unmounts (#3338)
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/state/useCommentEditorState.ts
Due: libs

Added support for higher limit in asset mapping search and small fixes
  react-components/src/hooks/useSearchMappedEquipmentAssetMappings.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

feat(fdx): setup cypress for e2e [UX-1154] (#3591)
  apps/data-exploration-e2e/src/support/commands/app.commands.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration/scripts/cypress-dev.sh
  apps/flexible-data-explorer/.eslintrc.json
  apps/flexible-data-explorer/cypress.config.ts
  apps/flexible-data-explorer/cypress/e2e/app.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/button.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/common.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/data-model-selector.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/index.ts
  apps/flexible-data-explorer/cypress/support/constants/app.ts
  apps/flexible-data-explorer/cypress/support/constants/dataModels.ts
  apps/flexible-data-explorer/cypress/support/e2e.ts
  apps/flexible-data-explorer/cypress/support/injectToken.ts
  apps/flexible-data-explorer/cypress/support/loginWithClientCredentials.ts
  apps/flexible-data-explorer/cypress/tsconfig.json
  apps/flexible-data-explorer/package.json
  apps/flexible-data-explorer/private-keys/.gitignore
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/scripts/cypress-dev.sh
  apps/flexible-data-explorer/src/app/containers/selectors/DataModelSelector.tsx
  apps/flexible-data-explorer/tsconfig.json
Due: apps, e2e

fix(data-explorer): remove directly linked asset filter [UX-1642] (#3638)
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetSearchResults.tsx
Due: libs

fix(industrial-canvas): fix error when there are multiple lsvs for same timeseries (#3654)
  libs/industry-canvas/src/lib/hooks/useLiveSensorValues.tsx
Due: libs

platypus: Introduce unit directive (#3600)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/tests/mocks.ts
  apps/platypus/jest.config.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
Due: apps, libs, e2e

fix(data-explorer): metadata values sorting [UX-1649] (#3649)
  libs/data-exploration/components/src/Details/Metadata.tsx
  libs/data-exploration/core/src/utils/index.ts
  libs/data-exploration/core/src/utils/sort.ts
  libs/data-exploration/core/src/utils/tests/sort.test.ts
Due: libs

fix(data-explorer): label external id and name [UX-1637] (#3646)
  libs/data-exploration/domain-layer/src/labels/internal/queries/useGetLabelName.ts
Due: libs

fix(industrial-canvas): don't append to history on AUTO_RESIZE (#3648)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  package.json
  yarn.lock
Due: libs

fix(data-explorer): jest presst and config (#3637)
  apps/data-exploration/jest.config.ts
  apps/data-exploration/jest.preset.js
  apps/data-exploration/project.json
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/BaseFilterCollapse.tsx
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/__tests__/BaseFilterCollapse.test.tsx
  apps/data-exploration/src/app/hooks/__tests__/useDateRange.spec.ts
  apps/data-exploration/src/app/hooks/__tests__/usePreviewDateRange.spec.ts
  apps/data-exploration/src/app/hooks/storage/useDateRange.ts
  apps/data-exploration/src/app/hooks/storage/usePreviewDateRange.ts
  apps/data-exploration/src/setupTests.js
  libs/data-exploration-components/package.json
  libs/data-exploration-components/src/containers/Assets/AssetSmallPreview/AssetSmallPreview.tsx
  libs/data-exploration-components/src/containers/Assets/index.ts
  libs/data-exploration/containers/src/ResourceSelector/index.ts
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
  libs/redirect-page/src/Components/Dropdown/index.tsx
  libs/redirect-page/src/Components/LanguageSwitch/index.tsx
  libs/shared/cdf-login-utils/src/utils/aad.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(industrial-canvas): fix pasting screenshots (#3656)
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/utils/dataUrlUtils.ts
Due: libs

fix(react-components): race conditions in point cloud and 360 loading
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
Due: none

feat(react-components): Add search hook for fdm and asset mapping instances (#3795)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useSearchMappedEquipmentAssetMappings.tsx
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

fix(react-components): race conditions in point cloud and 360 loading (#3808)
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
Due: none
