Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

Updated Jenkins file
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

[DEGR-2341] fix(charts): created a helper method to iterate over calc nodes and apply unique Id to those nodes when duplicating calculation (#1543)
  src/models/chart/updates.ts
  src/utils/calculations.spec.ts
  src/utils/calculations.ts
Due: none

fix: DMS data fetching
  examples/src/pages/Viewer.tsx
  examples/yarn.lock
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360EventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360FdmProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/DmsSdk.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Due: none

fix(data-explorer): revert flag changes (#2148)
  apps/data-exploration/src/app/hooks/flags/useFlagAdvancedFilters.tsx
Due: apps, e2e

Add firebase site for functions
  Jenkinsfile
Due: none

Removing mock conditional from webpack
  apps/functions-ui/webpack-config.js
Due: apps, e2e

chore: update charts version 0.34 for release (#1544)
  package.json
Due: none

feat(fdx): add recently viewed items (#2135)
  apps/flexible-data-explorer/src/app/common/i18n/translationKeys.ts
  apps/flexible-data-explorer/src/app/components/buttons/ButtonOpenIn.tsx
  apps/flexible-data-explorer/src/app/components/cards/RecentlyViewedItem.tsx
  apps/flexible-data-explorer/src/app/containers/lists/recentlyViewed/RecentlyViewedList.tsx
  apps/flexible-data-explorer/src/app/containers/search/DataExplorerLink.tsx
  apps/flexible-data-explorer/src/app/fixtures/index.ts
  apps/flexible-data-explorer/src/app/fixtures/recentlyViewed.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

chore: node transform UI in examples
  examples/src/pages/Viewer.tsx
  examples/src/utils/NodeTransformUI.ts
Due: none

chore: node transform UI in examples (#3400)
  examples/src/pages/Viewer.tsx
  examples/src/utils/NodeTransformUI.ts
Due: none

feat: add user-profile-components package
  libs/shared/user-profile-components/.babelrc
  libs/shared/user-profile-components/.eslintrc.json
  libs/shared/user-profile-components/README.md
  libs/shared/user-profile-components/jest.config.ts
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/project.json
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/index.ts
  libs/shared/user-profile-components/tsconfig.json
  libs/shared/user-profile-components/tsconfig.lib.json
  libs/shared/user-profile-components/tsconfig.spec.json
Due: libs

ci: build and publish user-profile-components
  .github/labeler.yml
  CODEOWNERS
  Jenkinsfile
  tsconfig.base.json
Due: none

Add inputNumberStyle from antd
  apps/functions-ui/src/GlobalStyles.tsx
Due: apps, e2e

Update tsconfig and labeler
  .github/labeler.yml
  tsconfig.base.json
Due: none

Fix play button
  apps/functions-ui/src/components/buttons/CallFunctionButton.tsx
Due: apps, e2e

test: fix jest config
  libs/shared/user-profile-components/jest.config.ts
Due: libs

fix: generalize the i18n pipeline (#2155)
  Jenkinsfile
  apps/platypus/src/app/common/index.ts
  apps/platypus/src/environments/fusion/AppContainer.tsx
  apps/platypus/src/i18n/en/platypus.json
  apps/platypus/src/i18n/index.tsx
  scripts/i18n.sh
Due: apps, e2e

fix(data-explorer): set asset and file as the tabs for data explorer resource selector (#2162)
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
Due: libs

fix(data-explorer): key issue for `Time series` tab (#2160)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesFilters.tsx
  apps/data-exploration/src/app/store/filter/atoms.ts
  apps/data-exploration/src/app/store/filter/selectors/allSelectors.ts
  apps/data-exploration/src/app/store/filter/selectors/timeseriesSelectors.ts
  apps/data-exploration/src/app/store/filter/types.ts
Due: apps, e2e

style: fix eslint issues
  libs/shared/user-profile-components/.eslintrc.json
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
Due: libs

UX-469 feat:integrate CdfUserHistoryService in data explorer app (#2136)
  apps/data-exploration/src/app/App.tsx
  apps/data-exploration/src/app/AuthContainer.tsx
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/utils/URLUtils.ts
  apps/platypus-e2e/src/integration/data-model/schema-visualizer.cy.ts
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.spec.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/constants.ts
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  apps/transformations/src/App.tsx
  apps/transformations/src/components/auth-container/AuthContainer.tsx
  apps/transformations/src/components/target/TargetModal.tsx
  apps/transformations/src/components/transformation-details-topbar/TransformationDetailsTopbarActionButtons.tsx
  apps/transformations/src/components/transformation-list/table-options/TableOptions.tsx
  apps/transformations/src/hooks/transformation.tsx
  apps/transformations/src/pages/transformation-details/TransformationDetailsContent.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentUploader/DocumentUploaderModal.tsx
  libs/data-exploration/core/src/constants/constants.ts
  libs/data-exploration/core/src/utils/url.ts
  libs/shared/cdf-utilities/src/utils/history.ts
Due: apps, libs, e2e

update jenkins
  Jenkinsfile
Due: none

update yarn lock
  yarn.lock
Due: none

update yarn.lock
  yarn.lock
Due: none

chore(deps): bump auth-react to 0.0.22-beta (#2073)
  package.json
  yarn.lock
Due: none

refactor(industry-canvas): move threeD button back to the contextual tooltip body (#2150)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ThreeDButton.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
Due: libs

feat: add cloud to cache and speed up ci
  nx.json
  package.json
  yarn.lock
Due: none

fail-fast: false
  .github/workflows/nx_ci.yml
Due: none

ubuntu?
  .github/workflows/nx_ci.yml
Due: none

run interactive-diagrams on its own
  .github/workflows/nx_ci.yml
  scripts/github-actions/nx-get-affected/README.md
  scripts/github-actions/nx-get-affected/action.yml
  scripts/github-actions/nx-get-affected/nx-get-affected.js
Due: none

rename to index
  scripts/github-actions/nx-get-affected/index.js
Due: none

add actions/core
  package.json
  yarn.lock
Due: none

test: remove check, always run
  .github/workflows/nx_ci.yml
Due: none

bring in node modules
  .github/workflows/nx_ci.yml
Due: none

npx
  .github/workflows/nx_ci.yml
Due: none

exclude into run-many
  scripts/run-many.js
Due: none

ci: update user-profile-components package name
  Jenkinsfile
Due: none

Add new job states and log types (#966)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/utils/hostedExtractors.ts
Due: apps, e2e

chore: add UI button for removing single 360 image set
  examples/src/utils/Image360UI.ts
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
