Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

chore: update some transitive deps to mitigate CVE
  react-components/yarn.lock
Due: none

chore: update documentation transitive dependencies
  documentation/yarn.lock
Due: none

fix: bump transitive dependencies
  react-components/yarn.lock
Due: none

chore(charts): use monitoring, notification & scheduled calculation acls [AH-1820] (#3183)
  apps/charts/project.json
  apps/charts/src/app/common/providers/useUserProfileQuery.ts
  apps/charts/src/app/components/AccessDeniedModal/AccessDeniedModal.tsx
  apps/charts/src/app/components/AlertingSidebar/AlertingSidebar.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  apps/charts/src/app/components/MonitoringSidebar/MonitoringSidebar.tsx
  apps/charts/src/app/components/MonitoringSidebar/hooks.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/components/MonitoringSidebar/utils.ts
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationButton.tsx
  apps/charts/src/app/components/SourceTable/ScheduledCalculationRow.tsx
  apps/charts/src/app/components/SourceTable/WorkflowRow.tsx
  apps/charts/src/app/components/TempPromoChip/TempPromoChip.tsx
  apps/charts/src/app/domain/chart/service/queries/useAclPermissions.ts
  apps/charts/src/app/domain/monitoring/constants.ts
  apps/charts/src/app/domain/scheduled-calculation/internal/queries/useTimeseriesFromScheduledCalculations.ts
  apps/charts/src/app/domain/scheduled-calculation/service/queries/useScheduledCalculationTasks.ts
  apps/charts/src/app/effects/scheduled-calculations.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  libs/charts-lib/src/lib/constants.ts
  libs/charts-lib/src/lib/index.ts
Due: apps, libs, e2e

fix(fdx): custom data type filter options (#2997)
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuItem/MenuItem.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuItem/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/getCustomDataTypeOption.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/index.ts
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/Filters.tsx
Due: apps, e2e

feat(3d-management): Improve Contextualize Editor UX (#3246)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
Due: apps, libs, e2e

chore: bump reveal and reveal react components (#3273)
  apps/business-shell/vite.config.ts
  package.json
  yarn.lock
Due: apps, e2e

fix: Discarding sector is recursive
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Due: none

fix(data-exploration): react-query keys (#3272)
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsByIdsQuery.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsByIdsQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesByIdsQuery.ts
Due: libs

fix: revert reveal bump (#3275)
  apps/business-shell/vite.config.ts
  package.json
  yarn.lock
Due: apps, e2e

fix(data-explorer): remove wait and improve commands (#3241)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/e2e/common-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/events.cy.ts
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/search-tables.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/common.commands.ts
  apps/data-exploration-e2e/src/support/commands/filter.commands.ts
  apps/data-exploration-e2e/src/support/commands/interception.commands.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  libs/data-exploration/components/src/Inputs/BooleanInput/BooleanInput.tsx
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
  libs/data-exploration/components/src/Table/Table.tsx
  libs/data-exploration/containers/src/Filters/MultiSelectFilter/MultiSelectFilter.tsx
Due: apps, libs, e2e

Add inverted index to schema service api (#3253)
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
Due: libs

feat(entity-matching): Fix an error message (#3224)
  apps/entity-matching/src/app/common/i18n/en/entity-matching.json
  apps/entity-matching/src/app/components/error-pages/Error.tsx
  apps/entity-matching/src/app/pages/pipeline/results/index.tsx
Due: apps, e2e

feat(entity-matching): restore the old pattern coloring (#3261)
  apps/entity-matching/src/app/components/em-result/QuickMatchResultsTable.tsx
  apps/entity-matching/src/app/components/em-result/applied-rules-table/index.tsx
  apps/entity-matching/src/app/components/em-result/index.tsx
  apps/entity-matching/src/app/components/highlighted-regex/index.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/ExpandedRule.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/Extractor.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/ExtractorMatchesCell.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/GroupedResultsTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/ResourceCell.tsx
  apps/entity-matching/src/app/hooks/entity-matching-pipelines.ts
  apps/entity-matching/src/app/hooks/entity-matching-rules.ts
  apps/entity-matching/src/app/types/rules.ts
  apps/entity-matching/src/app/utils/colored-rules.tsx
Due: apps, e2e

Show annotations as wireframes (#3230)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/annotationUtils.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/createBoxGeometry.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/createCylinderGeometry.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/hideBoundingVolumes.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

Mark legacy annotations as deprecated (#3234)
  apps/vision/src/api/annotation/legacy/legacyAnnotationApi.ts
Due: apps, e2e

replaced reveal resources context with to provide only resources count
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealResourcesContext.tsx
  react-components/src/components/RevealContainer/RevealResourcesCountContext.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

changed url param name for slicer state
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

feat(industrial-canvas): add duplicate canvas buttons (#3099)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/hooks/useCallbackOnce.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/utils/getDTOAssetCentricContainerReferences.spec.ts
  libs/industry-canvas/src/lib/services/utils/getDTOAssetCentricContainerReferences.ts
  libs/industry-canvas/src/lib/services/utils/getDTOCanvasAnnotations.spec.ts
  libs/industry-canvas/src/lib/services/utils/getDTOCanvasAnnotations.ts
  libs/industry-canvas/src/lib/services/utils/getDTOFdmInstanceContainerReferences.spec.ts
  libs/industry-canvas/src/lib/services/utils/getDTOFdmInstanceContainerReferences.ts
  libs/industry-canvas/src/lib/services/utils/index.ts
  libs/industry-canvas/src/lib/utils/createDuplicateCanvas.ts
Due: libs

Fix NaN rate in hosted extractors list (#3243)
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
Due: apps, e2e

some refactoring to solve merge conflicts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

cleanup
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

fix(fdx): applied filter value formatting [UX-1539] (#3285)
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/getChipLabel.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterBuilderByField/FilterBuilderByField.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/types.ts
Due: apps, e2e

feat(data-explorer): e2e tests for sequence tab (#3282)
  apps/data-exploration-e2e/src/e2e/sequence.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  libs/data-exploration/components/src/Details/Details.tsx
Due: apps, libs, e2e

feat(3d-management): Add resource selector width to local storage (#3280)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  apps/3d-management/src/utils/useLocalStorage.ts
Due: apps, e2e

fix(industrial-canvas): Add pending local comment to avoid creating comment before sending (#3181)
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useCommentTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs

add missing state method
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
Due: apps, e2e

some refactoring to support new changes from the latest and introducing the top tool panel for mapped elements - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/MappedElementsToolPanel.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

chore: [UX-1453] refactor platypus and add filters to redux (#3144)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TypeList/TypeDescription.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useFetchFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useFilter.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useGetFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useListDataSource.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useNestedListDataSource.tsx
  apps/platypus/src/app/redux/reducers/global/dataManagementReducer.ts
  apps/platypus/src/app/utils/queryKeys.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/common-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
Due: apps, libs, e2e

fix(platypus): DM delete will not delete views or containers (#3291)
  apps/platypus/src/app/modules/data-models/DeleteDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/ImportTypesModal/ImportTypesModal.tsx
Due: apps, e2e

refactoring
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
Due: apps, e2e

add workflowOrchestrationAcl to UI (#3239)
  apps/access-management/src/common/i18n/translations/en/access-management.json
  apps/access-management/src/pages/Groups/utils.tsx
  package.json
  yarn.lock
Due: apps, e2e

set viewer state - removed by mistake
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

fix(industrial-canvas): on undo/redo, assign new IDs to recreated/new nodes (#3269)
  libs/data-exploration-components/src/containers/Files/FilePreview/Annotations/getExtendedAnnotationsFromAnnotationsApi.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/Annotations/utils.ts
  libs/industry-canvas/src/lib/hooks/useAnnotationsMultiple.ts
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/state/utils/assignNewIdsToNewItems.spec.ts
  libs/industry-canvas/src/lib/state/utils/assignNewIdsToNewItems.ts
  libs/industry-canvas/src/lib/state/utils/getNewIdsMapping.spec.ts
  libs/industry-canvas/src/lib/state/utils/getNewIdsMapping.ts
  libs/industry-canvas/src/lib/types.ts
Due: libs

feat: Add proper header (#3284)
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader.tsx
Due: apps, e2e

some refactoring for changing the node style for contextualized and selected nodes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

feat(industrial-canvas): disable connections while holding cmd/ctrl (#3293)
  libs/industry-canvas/src/lib/hooks/isMacOs.ts
  libs/industry-canvas/src/lib/hooks/useManagedTool.ts
  libs/industry-canvas/src/lib/utils/isEditableElement.ts
  libs/industry-canvas/src/lib/utils/shouldFireToolKeyboardShortcut.ts
Due: libs

refactoring on selection and switching colors on clicking nodes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
Due: apps, e2e

skip cache for fusion-shell-e2e (#3290)
  .github/workflows/nx_ci.yml
  apps/fusion-shell-e2e/src/e2e/extraction-pipelines.cy.ts
Due: apps, e2e

chore: track adoption of CogIdP (#3265)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs
