Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: udpate cargo lock
  viewer/Cargo.lock
Due: none

chore: remove unused methods
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

fix(charts): disable contextmenu in node editor for scheduled calculations (#2920)
  apps/charts/src/app/components/NodeEditor/V2/ReactFlowNodeEditor.tsx
Due: apps, e2e

fix: account for multiple CDF nodes per FDM asset in styling
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix: udpate cargo lock (#3655)
  viewer/Cargo.lock
Due: none

fix: turn forEach's to reduce's
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore(industrial-canvas): bump UFV (#2941)
  package.json
  yarn.lock
Due: none

chore: lint fix
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(charts): fix deletion of timeseries rows from fileviewpage (#2922)
  apps/charts/src/app/components/SourceTable/SourceTable.tsx
  apps/charts/src/app/components/SourceTable/TimeSeriesRows.tsx
  apps/charts/src/app/pages/FileViewPage/FileViewPage.tsx
Due: apps, e2e

feat(advanced-join) Fixing the Back Button Behavior and URL Issues (#2936)
  apps/contextualization-ui/src/app/components/TopBarLeft.tsx
  apps/contextualization-ui/src/app/containers/AdvancedJoinsTopBar.tsx
  apps/contextualization-ui/src/app/utils/goBack.ts
  apps/contextualization-ui/src/app/utils/manualMatchUtils.ts
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
  libs/contextualization/src/index.ts
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ImproveYourScore.tsx
  libs/contextualization/src/lib/constants.ts
  libs/contextualization/src/lib/containers/ContextualizationScore/ContextualizationScoreHeader.tsx
  libs/contextualization/src/lib/hooks/models/useCurrentView.ts
  libs/contextualization/src/lib/utils/extractPropertiesFromURL.ts
  libs/contextualization/src/lib/utils/getUrlParameters.ts
  libs/contextualization/src/lib/utils/index.ts
  libs/contextualization/src/lib/utils/useGetAdvancedJoinsURL.ts
  libs/contextualization/src/lib/utils/useGetDataManagementURL.ts
Due: apps, libs, e2e

chore(react-components): bump to 0.13.2
  react-components/package.json
Due: none

fix: fdm asset to multiple cdf nodes mapping in styling (#3656)
  react-components/package.json
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(advanced-join) Fix search hits in manual match search (#2929)
  apps/contextualization-ui/src/app/components/ManualMatchInput.tsx
  apps/contextualization-ui/src/app/containers/Labeling.tsx
  apps/contextualization-ui/src/app/containers/MatchTable.tsx
  apps/contextualization-ui/src/app/hooks/useGetMatchInputInstances.ts
  apps/contextualization-ui/src/app/hooks/useGetMatchInputOptions.ts
  apps/contextualization-ui/src/app/hooks/useImprovementSuggestions.ts
  apps/contextualization-ui/src/app/hooks/useSearchMatchInputOptions.ts
  apps/contextualization-ui/src/app/types.ts
  apps/contextualization-ui/src/app/utils/createMatchesRequestBody.ts
  apps/contextualization-ui/src/app/utils/getMatchInputInstantProperties.ts
  apps/contextualization-ui/src/app/utils/manualMatchUtils.ts
  libs/contextualization/src/lib/hooks/models/index.ts
  libs/contextualization/src/lib/hooks/models/useModelInstancesSearch.ts
  libs/contextualization/src/lib/hooks/models/useRetrieveInstances.ts
Due: apps, libs, e2e

feat(fdx): Apply category in search bar (#2710)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/search/AISearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/SearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/constants.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/utils/router.ts
  apps/flexible-data-explorer/src/app/utils/string.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

Reuse existing Advanced Join objects (#2940)
  apps/contextualization-ui/src/app/containers/Labeling.tsx
  apps/contextualization-ui/src/app/hooks/useCreateAdvancedJoinMatchesWrapper.ts
  apps/contextualization-ui/src/app/pages/AdvancedJoinsPage.tsx
  apps/contextualization-ui/src/app/utils/createMatchesRequestBody.ts
  apps/contextualization-ui/src/app/utils/filterOnAdvancedJoinsExternalId.ts
  libs/contextualization/src/lib/hooks/index.ts
  libs/contextualization/src/lib/hooks/matches/useListMatches.ts
  libs/contextualization/src/lib/hooks/useAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinProcess.ts
Due: apps, libs, e2e

fix(data-explorer): details view issue [UX-1382] (#2946)
  apps/data-exploration/src/app/containers/Exploration/DetailsOverlay.tsx
  libs/data-exploration/components/src/ResizableOverlay/ResizableOverlay.tsx
Due: apps, libs, e2e

chore: resolve merge conflict
  yarn.lock
Due: none

fix(interactive-diagrams): Add more page size options for Engineering Diagrams page (#2869)
  apps/interactive-diagrams/src/hooks/useAnnotatedFiles.ts
Due: apps, e2e

added border for toolbar & layers menu
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

feat(simconfig): Show model parsing error logs [POFSP-68]
  apps/simint/src/components/models/ModelList/ModelList.tsx
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix: only redirect when there's an active idp (#2932)
  libs/login-page/src/components/select-sign-in-method/SignInWithADFS2016.tsx
Due: libs

Fix(user-onboarding): Mixpanel key metadata changes and some additional stories (#2943)
  apps/business-shell/src/app/components/Onboarding.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.stories.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.stories.tsx
  libs/shared/user-onboarding-components/src/components/orientation/OrientationTooltip.tsx
Due: apps, libs, e2e

test: old yarn.lock
  yarn.lock
Due: none

chore(FDX): bump reveal components (#2949)
  package.json
  yarn.lock
Due: none

fix: import order
  apps/extraction-pipelines/src/components/modals/RawEditModal.test.jsx
Due: apps, e2e

feat(react-components): expose toolbar buttons
  react-components/src/index.ts
Due: none

fix: platypus HMR build (#2948)
  apps/platypus/src/app/components/FilePreview/FilePreview.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/FileNode.tsx
  apps/platypus/src/app/modules/solution/query-explorer/components/QueryExplorer.tsx
  apps/platypus/src/app/modules/solution/query-explorer/utils/graphqlQueryFetcher.ts
  package.json
  scripts/start.sh
  yarn.lock
Due: apps, e2e

run e2e tests against prod sub-apps, and fail on CORS (#2938)
  apps/fusion-shell-e2e/.env.ci
  apps/fusion-shell-e2e/cypress.config.ts
  apps/fusion-shell-e2e/src/e2e/charts.cy.ts
Due: apps, e2e

use the prod version for context in all envs (#2962)
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

chore: bump cogs (#2918)
  apps/fusion-shell/src/app/components/Link/Link.tsx
  apps/fusion-shell/src/app/styles/GlobalStyle.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix(industrial-canvas): fix various styling issues in IC (#2950)
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasDropdown.tsx
  libs/industry-canvas/src/lib/components/CanvasSubmenu.tsx
  libs/industry-canvas/src/lib/components/CanvasTitle.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/SizeEditor.tsx
  libs/industry-canvas/src/lib/constants.ts
Due: libs

following same fix that was made in build on AIFilterBuilder in flexible-data-explorer to fix build fail there
  apps/platypus/src/app/modules/solution/data-management/components/FilterBuilder/FilterBuilder.tsx
Due: apps, e2e

fix(data-explorer): Hide select button (#2863)
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
Due: libs

fix(data-explorer): Timeseries calendar translation (#2788)
  libs/data-exploration/core/src/index.ts
  libs/data-exploration/core/src/mocks/index.ts
  libs/data-exploration/core/src/mocks/mockTranslation.ts
  libs/shared/plotting-components/src/TimeseriesChart/components/DateRangePicker/DatePicker/Common.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/DateRangePicker/DatePicker/DatePicker.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/DateRangePicker/DatePicker/PivotRangePicker.tsx
  libs/shared/plotting-components/src/i18n/en/plotting-components.json
  libs/shared/plotting-components/src/index.ts
  libs/shared/plotting-components/src/utils/index.ts
  libs/shared/plotting-components/src/utils/mockTranslation.ts
Due: libs

fix(data-explorer): Timeseries date selector view (#2947)
  libs/data-exploration-components/src/context/ResourceSelectorContext.tsx
Due: libs

feat(advanced-join) fix spinner in manual match input (#2970)
  apps/contextualization-ui/src/app/components/ManualMatchInput.tsx
  apps/contextualization-ui/src/app/constants.ts
  apps/contextualization-ui/src/app/hooks/useSearchMatchInputOptions.ts
Due: apps, e2e

Address review comment
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
Due: apps, e2e

fix(charts): sort strings incasesensitively (#2924)
  apps/charts/src/app/components/ChartList/MyChartsList/MyChartsList.tsx
  apps/charts/src/app/components/ChartList/PublicChartsList/PublicChartsList.tsx
  apps/charts/src/app/hooks/charts/hooks/useMyChartsList.ts
  apps/charts/src/app/hooks/charts/hooks/usePublicChartsList.ts
  apps/charts/src/app/pages/ChartListPage/ChartListPage.tsx
Due: apps, e2e

fix(advanced-join) Fix a problem with the useAdvancedJoin hook (#2969)
  libs/contextualization/src/lib/hooks/useAdvancedJoin.ts
Due: libs
