Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat(industrial-canvas): Add resource to canvas modal (#2429)
  apps/data-exploration/src/app/components/TitleRowActions/CanvasButton.tsx
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasContext/useIndustryCanvasSearchParameters.ts
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/AddResourceToCanvasModal.tsx
  libs/industry-canvas/src/lib/components/CanvasDropdown.tsx
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveAssetContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveEventContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveFdmInstanceContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveRevealContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveTimeseriesContainerConfig.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/utils/addDimensionsIfNotExists.ts
  libs/industry-canvas/src/lib/utils/addDimensionsToContainerReference.ts
  libs/industry-canvas/src/lib/utils/addIdToContainerReference.ts
  libs/industry-canvas/src/lib/utils/createSerializedCanvasDocument.ts
  libs/industry-canvas/src/lib/utils/dimensions/addDimensionsToContainerReferencesIfNotExists.ts
  libs/industry-canvas/src/lib/utils/dimensions/getCanvasAnnotationBoundingBox.ts
  libs/industry-canvas/src/lib/utils/dimensions/getCanvasStateBoundingBox.ts
  libs/industry-canvas/src/lib/utils/dimensions/getInitialContainerReferenceSize.ts
  libs/industry-canvas/src/lib/utils/dimensions/index.ts
Due: apps, libs, e2e

fix: re-enable shell buils
  .github/workflows/CD.yml
  scripts/github-actions/get-deploy-environment/README.md
  scripts/github-actions/get-deploy-environment/action.yml
  scripts/github-actions/get-deploy-environment/index.js
  scripts/github-actions/get-deploy-target/README.md
  scripts/github-actions/get-deploy-target/action.yml
  scripts/github-actions/get-deploy-target/index.js
Due: none

fix: pipeline
  .github/workflows/CD.yml
Due: none

fix(charts): secondary nav bar in charts list (#2499)
  apps/charts/src/app/components/SourceTable/WorkflowRow.tsx
  apps/charts/src/app/pages/Routes.tsx
Due: apps, e2e

fix: pipeline
  scripts/github-actions/nx-get-affected/action.yml
Due: none

fix: nx command
  scripts/github-actions/get-deploy-environment/index.js
Due: none

Upgrade Cogs for permissions page
  apps/simconfig/src/pages/emptystates/permissions-required.tsx
Due: apps, e2e

bump reveal-react-components version to 0.5.0 (#2506)
  package.json
  yarn.lock
Due: none

Adding Icon removed from cogs
  apps/simconfig/src/assets/RuleMonitoring.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
Due: apps, e2e

feat(fdx): ai search option in search preview actions (#2496)
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AiSearchIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/ExperimentalIndicator.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/SearchList.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/SearchListItemIcon.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

Moving configured and not configured buttons
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
Due: apps, e2e

fix: nx command
  .github/workflows/CD.yml
  apps/data-exploration/project.json
  scripts/github-actions/get-deploy-environment/index.js
  scripts/github-actions/nx-get-project-config/README.md
  scripts/github-actions/nx-get-project-config/action.yml
  scripts/github-actions/nx-get-project-config/index.js
Due: apps, e2e

fix: nx command
  .github/workflows/CD.yml
  scripts/github-actions/nx-get-project-config/index.js
Due: none

Fix linting issues
  apps/simconfig/src/assets/RuleMonitoring.svg
  apps/simconfig/src/assets/RuleMonitoring.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
Due: apps, e2e

fix: nx command
  .github/workflows/CD.yml
Due: none

feat(copilot-core): Added support for properties and relevant docs (metadata) + bugfixes (#2444)
  libs/copilot-core/package.json
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/cogpilotGreeting.ts
  libs/copilot-core/src/lib/getActions.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentSummaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/prompts.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/summaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/workorderChain.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/src/lib/unsupportedMsg.ts
  libs/copilot-core/src/lib/utils/types.ts
  libs/copilot-core/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: libs

Update redirection and url generation functions (#2498)
  apps/fusion-shell/src/app/app.tsx
  libs/shared/cdf-login-utils/src/utils/shared.ts
  libs/shared/cdf-sdk-singleton/src/index.ts
  libs/shared/cdf-sdk-singleton/src/utils.ts
  libs/shared/cdf-utilities/src/utils/utils.spec.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
  nx.json
  package.json
  yarn.lock
Due: apps, libs, e2e

feat: add fusion shell deployment in cicd (#2508)
  .github/workflows/deploy_cdf_ui_host_staging.yml
  .github/workflows/deploy_fusion.yml
  Jenkinsfile
  apps/fusion-shell/firebase.json
Due: apps, e2e

chore(FDX): update the 'cog-dss' project with 3D config + CD pipeline fixes for NPM (#2509)
  Jenkinsfile
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/pages/ThreeDPage.tsx
  apps/flexible-data-explorer/src/config/Cognite.ts
Due: apps, e2e

fix: nx command
  apps/data-exploration/project.json
Due: apps, e2e

fix: nx command
  .github/workflows/CD.yml
  apps/data-exploration/project.json
Due: apps, e2e
