Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

Show contextualized annotations in magenta (#3579)
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/AnnotationsView.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/updateCdfThreeDAnnotation.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

add search filtering to the hook and simplied by combining network request into function than seperate hooks
  react-components/src/hooks/get360Annotations.tsx
  react-components/src/hooks/getAssets.tsx
  react-components/src/hooks/use360Annotations.tsx
  react-components/src/hooks/use360ImagesFileIds.tsx
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
  react-components/src/index.ts
  react-components/stories/AnnotationAsset.stories.tsx
Due: none

fix(data-explorer): detail view content overflow issue [UX-1619] (#3586)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResourcesV2/RelatedResources.tsx
Due: apps, e2e

fix(fdx): add tooltip to FocusButton in FDX 3D view (#3509)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ToolBarContainer.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix(3d-management): Clip AnnotationCard overflowing text (#3602)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
Due: apps, e2e

Use staging notebook on dev and staging (#3588)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

fix(3d-management); Move annotation card to the left (#3603)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
Due: apps, e2e

Rename assetRefId -> assetId (#3599)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/AnnotationsView.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
Due: apps, e2e

fix: file link in RevisionDetails (#3564)
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLink.tsx
Due: apps, e2e

bug(3d-management): Inverting scale of annotation causes transform tool gizmo to hide front faces (#3601)
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

resolve conflicts
  apps/charts/cypress/e2e/calculation.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/src/app/components/NodeEditor/V2/AddButton.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/OutputNode.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/SourceNode.tsx
  apps/charts/src/app/components/NodeEditor/V2/ReactFlowNodeEditorContainer.tsx
Due: apps, e2e

change data-testid
  apps/charts/src/app/components/NodeEditor/V2/ReactFlowNodeEditorContainer.tsx
Due: apps, e2e

change selector
  apps/charts/cypress/e2e/calculation.cy.ts
Due: apps, e2e

feat(3d-management): Add contextualization status to 360 table (#3436)
  apps/3d-management/src/pages/AllModels/AllModelsThreeSixty.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualization.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualizationProcess.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualizationStatus.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/getFileCountAggregateByLabel.ts
  apps/3d-management/src/pages/AllModels/components/ModelsTable/stylingThreeSixtyContextualization.tsx
Due: apps, e2e

fix(data-explorer): resource selector bulk actions (#3610)
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorTable.tsx
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/getResourceSelection.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/getResourceSelection.ts
Due: libs

minor update
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
Due: none

bumped to version 0.17.0
  react-components/package.json
Due: none

bumped to version 0.17.0 (#3802)
  react-components/package.json
Due: none

fix(charts): Remove session acl LIST and DELETE (#3607)
  apps/charts/src/app/components/SourceTable/WorkflowRow.tsx
  apps/charts/src/app/domain/chart/service/__fixtures/capabilities.ts
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

fix(data-explorer): remove assets parentIds filter (#3611)
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetSearchResults.tsx
Due: libs

chore(entity-matching): Update the readme for the 'entity-matching' application running in Fusion (#3590)
  apps/entity-matching/README.md
Due: apps, e2e

fix(3d-management): no-wrap whitespace in annotation card (#3613)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
Due: apps, e2e

chore(entity-matching)(interactive-diagrams): Update Readme (#3609)
  apps/entity-matching/README.md
  apps/interactive-diagrams/README.md
Due: apps, e2e

rebuild yarn.lock
  react-components/yarn.lock
Due: none

fix(3d-management): Resetting store on unmount, attach keydown to viewer.dom (#3574)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createTransformControls.ts
Due: apps, e2e

fix: remove norwegian option from the language selector (#3620)
  apps/fusion-shell/src/app/components/UserProfilePage/UserProfilePage.tsx
  libs/redirect-page/src/common/constants.ts
Due: apps, libs, e2e

fix(data-explorer): root asset accessor for documents table (#3614)
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentsTable/DocumentsTable.tsx
Due: libs

fixing bundling error
  examples/yarn.lock
Due: none

fixing bundle error
  react-components/yarn.lock
Due: none

fix(FDX): remove the classic explorer link from homepage (#3616)
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

fixing critical vulnerable alert
  react-components/yarn.lock
Due: none

fixing critical vulnerable alert (#3805)
  react-components/yarn.lock
Due: none

feat: new flows for code gen and more or jupyter (#3566)
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/SearchPage.tsx
  libs/copilot-core/package.json
  libs/copilot-core/src/app/context/CopilotContext.tsx
  libs/copilot-core/src/index.ts
  libs/copilot-core/src/lib/flows/index.ts
  libs/copilot-core/src/lib/flows/python/CodeExplainFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeGenerateFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeRepairFlow.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(fdx): location matching in fusion (#3593)
  apps/flexible-data-explorer/src/app/hooks/useLinks.ts
  apps/flexible-data-explorer/src/app/hooks/useLocation.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix(data-explorer): Add same date-range from resource selector to industry canvas (#3223)
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/extractResourcesFromSelection.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/getResourceSelection.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/mapAllSelectedRows.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/mapExtendedProperties.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/getResourceSelection.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/mapAllSelectedRows.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/mapExtendedProperties.ts
  libs/data-exploration/core/src/constants/constants.ts
  libs/data-exploration/core/src/fixtures/index.ts
  libs/data-exploration/core/src/fixtures/resource.ts
  libs/data-exploration/core/src/types/resource.ts
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/utils/resourceItemToContainerReference.ts
Due: libs

fix: set proper background color for contextualize viewers (#3621)
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix(data-explorer): all resources page results [UX-1638] (#3631)
  apps/data-exploration/src/app/containers/All/AllTab.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
Due: apps, e2e

feat(fdx): multiselect input for filter [UX-1201] (#3098)
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/BaseFilterInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/components/InputMulti.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/components/InputSingle.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/components/Loader.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/components/index.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/types.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/utils/__tests__/isValidInputValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/utils/__tests__/transformValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/utils/index.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/utils/isValidInputValue.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/utils/transformValue.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/DateInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/DateRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumberInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/StringInput.tsx
  apps/flexible-data-explorer/src/app/utils/__tests__/number.spec.ts
  apps/flexible-data-explorer/src/app/utils/date.ts
  apps/flexible-data-explorer/src/app/utils/number.ts
Due: apps, e2e

fix: add subapp path to path while logging usage (#3596)
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
Due: apps, e2e

fix(industrial-canvas): add multiple container references at once (#3634)
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs
