Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore(charts): release 051023 (#3435) (#3441)
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationModal.tsx
Due: apps, e2e

feat(3d-management): Ability to change size of the cube annotation (#3363)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createTransformControls.ts
Due: apps, e2e

feat: Properly show contextualized nodes
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStoreCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/deleteCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

chore: Remove delete annotation tool
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
Due: apps, e2e

fix(data-explorer): button commands (#3442)
  apps/data-exploration-e2e/src/e2e/files.cy.ts
  apps/data-exploration-e2e/src/support/commands/button.commands.ts
Due: apps, e2e

chore: Refactor CAD_STYLE constant
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

feat: Sync contextualized styling onLoad and on creation
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
Due: apps, e2e

chore: Refactor getThreeDRevisionOutputs
  libs/data-exploration/domain-layer/src/threeD/service/network/getThreeDRevisionOutputs.ts
Due: libs

chore: Remove unused files
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewerCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/deleteCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
Due: apps, e2e

chore: Move everything CAD to separate folder
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useContextualizeThreeDViewerStoreCad.ts
Due: apps, e2e

chore: Extract getThreeDModelType
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getThreeDModelType.ts
Due: apps, e2e

chore: Rename to useCadContextualizeStore for brevity
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
Due: apps, e2e

chore: Remove TODO comment
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

chore: Revert file change
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
Due: apps, e2e

fix: remove reserved enum value in WellKnownAsprsPointClassCodes
  viewer/packages/pointclouds/src/types.ts
Due: none

Bump e2e-auth to include equinor-dev (#3422)
  package.json
  yarn.lock
Due: none

chore: Revert changes
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
Due: apps, e2e

chore: Move hook to CAD folder
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
Due: apps, e2e

chore: Strip down types.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/types.ts
Due: apps, e2e

feat: Add onZoomToAnnotation
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useZoomToAnnotation.ts
Due: apps, e2e

Create translation provider to support localisation
  react-components/package.json
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/I18nWrapper.tsx
  react-components/src/components/i18n/constants.ts
  react-components/src/components/i18n/types.ts
  react-components/src/components/i18n/useTypedTranslation.tsx
  react-components/src/components/i18n/utils.ts
  react-components/yarn.lock
Due: none

removed unused import
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

fix(data-explorer): Disable relationship label sorting (#3245)
  libs/data-exploration/components/src/Table/columns.tsx
Due: libs

chore(data-explorer): Unit tests for domain/asset/service/network (#3300)
  libs/data-exploration/domain-layer/src/assets/internal/queries/__tests__/useAssetsMetadataValuesOptionsQuery.test.ts
  libs/data-exploration/domain-layer/src/assets/service/__fixtures/getAssetsFixture.ts
  libs/data-exploration/domain-layer/src/assets/service/__fixtures/getAssetsMetadataValuesFixture.ts
  libs/data-exploration/domain-layer/src/assets/service/__mocks/getMockAssetsAggregatePost.ts
  libs/data-exploration/domain-layer/src/assets/service/__mocks/getMockAssetsByIdsPost.ts
  libs/data-exploration/domain-layer/src/assets/service/__mocks/getMockAssetsList.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getAssetByIds.test.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getAssetsList.test.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getAssetsMetadataKeysAggregate.test.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getAssetsMetadataValuesAggregate.test.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getAssetsUniqueValuesByProperty.test.ts
  libs/data-exploration/domain-layer/src/assets/service/network/__tests__/getRootAsset.test.ts
Due: libs

remove console logging
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/types.ts
Due: none

fix(interactive diagrams) Add Cypress Tests for Create Interactive Diagrams Flow (#3429)
  apps/interactive-diagrams/cypress/e2e/createInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/cypress/e2e/createInteractiveDiagramsSteps.cy.ts
  apps/interactive-diagrams/cypress/support/commands.ts
  apps/interactive-diagrams/cypress/support/commands/commands.ts
  apps/interactive-diagrams/cypress/support/commands/common.commands.ts
  apps/interactive-diagrams/cypress/support/commands/createFlow.commands.ts
  apps/interactive-diagrams/cypress/support/e2e.ts
  apps/interactive-diagrams/src/components/Common/molecules/Select/index.tsx
  apps/interactive-diagrams/src/components/Common/molecules/Select/types.ts
  apps/interactive-diagrams/src/components/Filters/FilterBar/FilterMenu.tsx
  apps/interactive-diagrams/src/components/Filters/FilterSelects/DataSetSelect.tsx
  apps/interactive-diagrams/src/components/Filters/FilterSelects/LabelSelect.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/ModelInfo.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/SelectionInfo.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/index.tsx
  apps/interactive-diagrams/src/pages/PageSelection/DiagramsSelection.tsx
  apps/interactive-diagrams/src/pages/PageSelection/ResourcesSelection.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionBar.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionTable.tsx
Due: apps, e2e

Added I18n provider to the 360 image historical panel component
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
Due: none

support CogIdP in PR previews (#3432)
  libs/login-page/src/modules/select-project/CogIdpLogoutButton.tsx
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
  libs/shared/cdf-sdk-singleton/src/cogIdp.ts
Due: libs

fix: use provided names for point cloud custom classes (#3438)
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ClassPicker.tsx
Due: apps, e2e

update 360 details button width to fit the content
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
Due: none

fix(interactive diagrams) Refactor Cypress Tests: Replace data-cy with data-testid (#3431)
  apps/interactive-diagrams/cypress/support/commands/common.commands.ts
  apps/interactive-diagrams/src/components/Breadcrumbs/index.tsx
  apps/interactive-diagrams/src/components/Common/atoms/PageTitle.tsx
  apps/interactive-diagrams/src/components/Common/molecules/Select/index.tsx
  apps/interactive-diagrams/src/components/Common/molecules/Select/types.ts
  apps/interactive-diagrams/src/components/Common/molecules/StepsList/Step.tsx
  apps/interactive-diagrams/src/components/Common/molecules/StepsList/StepCombo.tsx
  apps/interactive-diagrams/src/components/Filters/FilterBar/FilterMenu.tsx
  apps/interactive-diagrams/src/components/Filters/FilterSelects/DataSetSelect.tsx
  apps/interactive-diagrams/src/components/Filters/FilterSelects/LabelSelect.tsx
  apps/interactive-diagrams/src/components/NavigationStickyBottomRow/index.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/FilesListEmpty.tsx
  apps/interactive-diagrams/src/pages/LandingPage/index.tsx
  apps/interactive-diagrams/src/pages/PageOptions/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionProgress/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionResults/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/ModelInfo.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/SelectionInfo.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/index.tsx
  apps/interactive-diagrams/src/pages/PageSelection/DiagramsSelection.tsx
  apps/interactive-diagrams/src/pages/PageSelection/ResourcesSelection.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionBar.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionTable.tsx
Due: apps, e2e

feat(3d-management): add select button to pointcloud toolbar (#3443)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

[DM-811] - Allow rawFilter on view directive (#3318)
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
Due: libs

Added option to pass application language set into the Reveal container
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/types.ts
Due: none

fix(transformations): recent run boxes are directing to a wrong url (#3418)
  apps/transformations/src/components/run-history-section/RecentRunItem.tsx
Due: apps, e2e

chore: Simplify CDF contextualization functions
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
Due: apps, e2e

feat(3d-management): Improve annotations card (#3420)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/getAnnotationAsBox3.ts
Due: apps, e2e

removing timeout from logout e2e test and using the suggested alternative way
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
Due: apps, libs, e2e

test(access-management): move tests to a different project and update test flows (#3446)
  .github/workflows/nx_ci.yml
  apps/access-management/cypress.config.ts
  apps/access-management/cypress/config.ts
  apps/access-management/cypress/e2e/create-groups.cy.ts
  apps/access-management/project.json
Due: apps, e2e

Working all asset fetching hook
  examples/yarn.lock
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useSearchMappedEquipment.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
