Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore: bump reveal react components to 0.13.0 (#3630)
  react-components/package.json
  react-components/yarn.lock
Due: none

fix: update outdated documentation links in graphql editor (#2891)
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
Due: apps, e2e

fix: platypus deployment (#2898)
  .github/workflows/CD.yml
  scripts/github-actions/get-deploy-environment/index.js
Due: none

Added view fetching for useMappedEdgesForRevisions hook
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useCameraNavigation.tsx
Due: none

fix: try and deploy copilot core i18n strings (#2888)
  .github/workflows/deploy_cdf-copilot-core.yml
  libs/copilot-core/package.json
  libs/copilot-core/src/app/hooks/useTranslation.tsx
  libs/copilot-core/src/i18n/en/copilot-core.json
  libs/copilot-core/src/i18n/index.tsx
Due: libs

refactor(industrial-canvas): refactor state (#2656)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/NoAccessToCurrentCanvas.tsx
  libs/industry-canvas/src/lib/hooks/useCanvasAnnotationTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useCanvasStateHistory.ts
  libs/industry-canvas/src/lib/hooks/useClickedContainerAnnotation.ts
  libs/industry-canvas/src/lib/hooks/useConditionalFormattingTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useContainer.ts
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
  libs/industry-canvas/src/lib/hooks/useEditOnSelect.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/useIndustryCanvasContainerTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useKeyboardShortcuts.ts
  libs/industry-canvas/src/lib/hooks/useLiveSensorValues.tsx
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useManagedTool.ts
  libs/industry-canvas/src/lib/hooks/useOnAddContainerReferences.tsx
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  libs/industry-canvas/src/lib/hooks/useOnUpdateSelectedAnnotation.ts
  libs/industry-canvas/src/lib/hooks/usePersistence.ts
  libs/industry-canvas/src/lib/hooks/useRefocusCanvasWhenPanesClose.ts
  libs/industry-canvas/src/lib/hooks/useResourceSelectorActions.ts
  libs/industry-canvas/src/lib/hooks/useSelectedAnnotationOrContainer.ts
  libs/industry-canvas/src/lib/hooks/useSyncCurrentZoomScale.ts
  libs/industry-canvas/src/lib/state/removeRecursive.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/getSummarizationSticky.ts
  package.json
  yarn.lock
Due: libs

fix(data-explorer): uneditable annotations [UX-667] (#2889)
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
Due: libs

Add the useCurrentLinkedView hook
  apps/contextualization-ui/src/app/containers/MatchTable.tsx
  apps/contextualization-ui/src/app/hooks/useGetMatchInputInstances.ts
  apps/contextualization-ui/src/app/hooks/useGetMatchInputOptions.ts
  libs/contextualization/src/lib/hooks/models/index.ts
  libs/contextualization/src/lib/hooks/models/useCurrentLinkedView.ts
  libs/contextualization/src/lib/hooks/models/useRetrieveViews.ts
Due: apps, libs, e2e

fix(data-explorer): resource selector initial width [UX-1347] (#2904)
  apps/data-exploration/src/app/containers/Exploration/DetailsOverlay.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
  libs/data-exploration/components/src/Drawer/Drawer.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDrawer.tsx
Due: apps, libs, e2e

fix: filter builder
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
Due: apps, e2e

feat(react-components): add load error handling capabilities
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix: add `onResourcesAdded` prop to auto-zooming component too
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Due: none

fix(viewer): only do measurement on canvas
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

Update apps/contextualization-ui/src/app/containers/MatchTable.tsx
  apps/contextualization-ui/src/app/containers/MatchTable.tsx
Due: apps, e2e

chore: remove console log
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(data-explorer): Vertical words (#2868)
  libs/data-exploration/components/src/Buttons/SearchConfigButton/SearchConfigButton.tsx
  libs/data-exploration/components/src/UploadButton/UploadButton.tsx
Due: libs

chore: remove console log (#3637)
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

bump e2e-auth to 1.0.2 (#2894)
  package.json
  yarn.lock
Due: none

chore: udpate cargo lock
  viewer/Cargo.lock
Due: none

fix: filter builder
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix: update elevations for database item tooltips
  apps/raw-explorer/src/components/SidePanelDatabaseList/SidePanelDatabaseListItemTooltip.tsx
Due: apps, e2e

fix(industrial-canvas): revert hook changes (#2887)
  apps/charts/src/cognite-cdf-sdk-singleton.d.ts
  apps/fusion-shell/cypress/e2e/charts.cy.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2InvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2RevokeInvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2Users.ts
Due: apps, libs, e2e

feat(fdx): restructure relationship widget (#2899)
  apps/flexible-data-explorer/src/app/components/table/elements.ts
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetHeader.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/TimeSeriesViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/GenericRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/FileRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/GenericRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/TimeseriesRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useUrl.ts
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFileByIdsQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesByIdsQuery.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix(cdf-ui-i18n-utils): update folder structure and build process (#2897)
  libs/shared/cdf-ui-i18n-utils/README.md
  libs/shared/cdf-ui-i18n-utils/bin/README.md
  libs/shared/cdf-ui-i18n-utils/bin/cdf-i18n-utils-cli.cjs
  libs/shared/cdf-ui-i18n-utils/bin/pull.cjs
  libs/shared/cdf-ui-i18n-utils/bin/remove-deleted.cjs
  libs/shared/cdf-ui-i18n-utils/bin/remove-unused-keys.cjs
  libs/shared/cdf-ui-i18n-utils/bin/save-missing.cjs
  libs/shared/cdf-ui-i18n-utils/bin/sort-local-keys.cjs
  libs/shared/cdf-ui-i18n-utils/package.json
  libs/shared/cdf-ui-i18n-utils/project.json
  libs/shared/cdf-ui-i18n-utils/rollup-config.js
Due: libs

Fix: A typo in functions UI (#2910)
  apps/functions-ui/src/components/FunctionModals/UploadFunctionModal.tsx
Due: apps, e2e

feat(react-components): add load error handling capabilities (#3635)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Due: none

fix(fdx): handle clicks on unmapped nodes (#2905)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/PreviewCard.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore: bump @cognite/reveal-4.4.2
  viewer/package.json
Due: none

fix(viewer): only do measurement on canvas (#3636)
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

ci: update path for i18n cli (#2913)
  scripts/i18n.sh
Due: none

feat(data-explorer): asset navigation e2e tests (#2912)
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Events/EventSummary/EventSummary.tsx
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/components/src/Table/Table.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
Due: apps, libs, e2e

chore: bump peer dependency reveal version in react-components
  react-components/package.json
Due: none

chore: fix yarn lock
  react-components/yarn.lock
Due: none

chore: bump @cognite/reveal-4.4.2 (#3640)
  react-components/package.json
  react-components/yarn.lock
  viewer/package.json
Due: none

[DM-673] - Platypus allow semver in datamodel version strings (#2883)
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator.ts
Due: libs

Fix overlapping texts in tables (#2909)
  apps/contextualization-ui/src/app/containers/MatchTable.tsx
Due: apps, e2e

fix: add a filter on edge types (#2895)
  apps/platypus/src/app/modules/solution/data-management/pages/Preview.tsx
  apps/platypus/src/app/modules/solution/data-management/utils/utils.spec.ts
  apps/platypus/src/app/modules/solution/data-management/utils/utils.ts
Due: apps, e2e

fix: overwrite nodes/treeIndices if styling is equal
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

added tooltip for working toolbar buttons
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

chore: refactor collection updates
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
