Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

feat(3d-management): Zoom to annotation from annotation card (#3406)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/annotationUtils.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Due: apps, e2e

One more change array find
  react-components/src/components/RevealToolbar/LayersButton.tsx
Due: none

fix(charts): fix error assuming incorrect structure of object (#3412)
  apps/charts/src/app/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

test: Fixing where user has been able to access the page even though doesn't have the org and able to acess the ui with invalid project (#3308)
  apps/fusion-shell/README.md
  apps/fusion-shell/cypress/e2e/login-redirect.cy.ts
  libs/redirect-page/src/containers/App.tsx
Due: apps, libs, e2e

corrected missed condition
  react-components/src/components/RevealToolbar/LayersButton.tsx
Due: none

feat(react-components): Added support for storing 3D resources layers state in Url (#3752)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
Due: none

fix(simint): when user scroll the routine page open drop downs are not getting closed (#3413)
  apps/simint/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simint/src/styles/GlobalStyles.tsx
Due: apps, e2e

Charts - [AH-1478] fix: apply threshold colors to all sources of monitoring job (#2980)
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
Due: apps, e2e

feat(data-explorer): e2e tests for time series tab (#3416)
  apps/data-exploration-e2e/src/e2e/timeseries.cy.ts
  apps/data-exploration-e2e/src/support/constant.ts
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  libs/data-exploration/components/src/Details/Metadata.tsx
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/TimeseriesChart/TimeseriesChart.tsx
Due: apps, libs, e2e

fix(transformations): user history implementation (#3390)
  apps/transformations/src/App.tsx
  apps/transformations/src/AppWrapper.tsx
  apps/transformations/src/__fixtures__/cluster.tsx
  apps/transformations/src/__fixtures__/env.tsx
  apps/transformations/src/__fixtures__/index.tsx
  apps/transformations/src/__fixtures__/project.tsx
  apps/transformations/src/__fixtures__/transformations.tsx
  apps/transformations/src/__fixtures__/user.tsx
  apps/transformations/src/__mocks__/@cognite/cdf-i18n-utils.js
  apps/transformations/src/__mocks__/@cognite/cdf-sdk-singleton.js
  apps/transformations/src/components/run-confirmation-modal/RunConfirmationModal.test.tsx
  apps/transformations/src/components/run-confirmation-modal/RunConfirmationModal.tsx
  apps/transformations/src/components/run-confirmation-modal/index.tsx
  apps/transformations/src/components/transformation-details-topbar/RunNowItem.test.tsx
  apps/transformations/src/components/transformation-details-topbar/RunNowItem.tsx
  apps/transformations/src/components/transformation-details-topbar/TransformationDetailsTopbarActionButtons.test.tsx
  apps/transformations/src/components/transformation-details-topbar/TransformationDetailsTopbarActionButtons.tsx
  apps/transformations/src/components/transformation-list/table-options/TableOptions.test.tsx
  apps/transformations/src/components/transformation-list/table-options/TableOptions.tsx
  apps/transformations/src/hooks/transformation.test.tsx
  apps/transformations/src/hooks/transformation.tsx
  apps/transformations/src/index.tsx
  apps/transformations/src/pages/transformation-details/TransformationDetailsContent.tsx
  apps/transformations/src/utils/test/render.tsx
Due: apps, e2e

feat(industrial-canvas): add support for multiselect cards (#3405)
  libs/industry-canvas/src/lib/components/PropertySelector/PropertySelectorToolbarWrapper.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/hooks/useResolveContainerConfigProperties.ts
  libs/industry-canvas/src/lib/components/PropertySelector/hooks/useResolveContainerConfigsPropertiesById.ts
  libs/industry-canvas/src/lib/components/PropertySelector/types.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/MultiContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/styles.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/useIndustryCanvasContainerTooltips.tsx
  libs/industry-canvas/src/lib/utils/const.ts
Due: libs

feat(industry-canvas): fix webpack config and migrate industry-canvas lib to vite (#3254)
  apps/industry-canvas-ui/cypress/e2e/homePage.cy.ts
  apps/industry-canvas-ui/cypress/support/e2e.ts
  apps/industry-canvas-ui/project.json
  apps/industry-canvas-ui/webpack-config.js
  libs/data-modeling/platypus-core/src/lib/boundaries/types/platypus-error.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-model-version-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/data-mappers/data-model-version-data-mapper.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/data-modeling-api/base-api.service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
  libs/industry-canvas/project.json
  libs/industry-canvas/tsconfig.json
  libs/industry-canvas/tsconfig.lib.json
  libs/industry-canvas/vite.config.ts
Due: apps, libs, e2e

pr feedback resolves and adding logout e2e test case
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/src/app/components/LandingPage/LearningResources.tsx
Due: apps, e2e

updating readme about FUSION_ENV env variable
  apps/fusion-shell/README.md
Due: apps, e2e

fix(charts): add permission check on sidebar visibility - ah#1949
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

checkpoint: WIP - asset mapping click handling
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(charts): remove console - ah#1949
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

support deep link with project & cluster (#3398)
  apps/access-management/src/pages/Groups/utils.tsx
  apps/fusion-shell/src/AuthContainer.tsx
  apps/fusion-shell/src/app/utils/login-utils.ts
  libs/login-page/src/App.tsx
  libs/login-page/src/components/select-project/GoToProject.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithAAD.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithAADB2C.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithADFS2016.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithAuth0.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithKeycloak.tsx
  libs/login-page/src/components/select-sign-in-method/SignInWithLegacy.tsx
  libs/login-page/src/utils/common.ts
  libs/shared/cdf-login-utils/src/utils/shared.spec.ts
  libs/shared/cdf-login-utils/src/utils/shared.ts
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: apps, libs, e2e

refactoring: split out general store into PC and CAD stores, add enum for model type and some changes to support the new store type and other minor changes
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewerCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/types.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStoreCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStorePointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
Due: apps, e2e

feat(3d-management): october-release (#3216)
  apps/3d-management/src/components/PageHeader/BreadcumbsThreeDManagement.tsx
  apps/3d-management/src/components/PageHeader/HeaderItemsThreeDManagement.tsx
  apps/3d-management/src/components/PageHeader/index.ts
  apps/3d-management/src/components/PermissioningHintWrapper/PermissioningHintWrapper.tsx
  apps/3d-management/src/pages/AllModels/AllModelsFeatureFlag.tsx
  apps/3d-management/src/pages/AllModels/AllModelsThreeSixty.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualization.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualizationProcess.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyContextualizationStatus.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyImageDisplay.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtySearchResults.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyTable.tsx
  apps/3d-management/src/pages/AllModels/index.ts
  apps/3d-management/src/pages/AllModels/types.ts
  apps/3d-management/src/pages/AllModels/useThreeDPermissions.ts
Due: apps, e2e

fix(fdx): files search results table [UX-1575] (#3424)
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/__tests__/formatSingleValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/__tests__/formatValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/__tests__/getChipLabel.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/formatSingleValue.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/formatValue.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/utils/getChipLabel.ts
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/fixtures/i18n.ts
Due: apps, e2e

chore: Revert unnnesecary changes to point cloud store
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStorePointCloud.ts
Due: apps, e2e

chore: Clean up code
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewerCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/types.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStoreCad.ts
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
Due: apps, e2e

chore: Extract useCadOnClickHandler hook
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
Due: apps, e2e

chore: Add JIRA TODO comment
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
Due: apps, e2e

changing let to const
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
Due: apps, e2e

fix:(UX-1054)provide an option to add description to a data-model from CDF CLI (#2953)
  apps/platypus-cdf-cli/e2e-tests/cli.spec.ts
  apps/platypus-cdf-cli/e2e-tests/platypus-cli/index.ts
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/create.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-description-validator.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-description-validator.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/index.ts
Due: apps, libs, e2e

create I18nwrapper for i18n library to be used within components
  react-components/package.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/i18n/I18nWrapper.tsx
  react-components/src/components/i18n/constants.ts
  react-components/src/components/i18n/types.ts
  react-components/src/components/i18n/useTypedTranslation.tsx
  react-components/src/components/i18n/utils.ts
  react-components/yarn.lock
Due: none

feat: add support for asset mappings in clicked node data
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: remove comment
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix(data-explorer): clean up intercepts in filtering e2e tests (#3433)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/assets-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/search-tables.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

chore: cleanup/corrections, renaming
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: revert model/revision IDs in HighlightNode example
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: lint fix
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore(simint): write tests for no code builder (#3347)
  apps/simint/src/components/forms/elements.tsx
  apps/simint/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
  apps/simint/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Collapse/CollapseOptions.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Collapse/Group.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/TimeSeriesField.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Set.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.spec.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/mockDefinitions.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/utils.spec.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/utils.ts
Due: apps, e2e

feat(data-explorer): files detail view e2e (#3437)
  apps/data-exploration-e2e/src/e2e/files.cy.ts
  apps/data-exploration-e2e/src/support/commands/interception.commands.ts
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
Due: apps, e2e

chore: Another cleanup
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStoreCad.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

chore: Another cleanup
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStoreCad.ts
Due: apps, e2e

adding a wait to test signout url
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
Due: apps, e2e

fix(charts): local dev server (#3417)
  apps/charts/project.json
  apps/charts/src/App.tsx
  apps/charts/webpack-config.js
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
