Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore(Cogs.js): Upgrade Cogs.js with related with moving absolute import to relative imports (#3061)
  apps/3d-management/src/pages/RevisionDetails/components/OverlayToolbar/OverlayToolbar.tsx
  apps/charts/src/app/pages/UserProfile/UserProfile.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/extraction-pipelines/src/components/inputs/DebouncedSearch.test.jsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/BaseFilterInput.tsx
  apps/interactive-diagrams/src/pages/PageFileOverview/Preview/index.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
  apps/simint/src/components/models/ModelDetails/ModelDetails.tsx
  libs/data-exploration-components/src/components/Search/ResourceTypeTabs.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/SearchBar.tsx
  libs/data-exploration/components/src/Buttons/ResetButton/ResetButton.test.tsx
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsHeader/ResourceDetailsHeader.test.tsx
  libs/data-modeling/cog-data-grid/src/lib/components/bool-cell-renderer.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/LabelToolbar.tsx
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(simint): Unit system reset when changing simulator in form (#3277)
  apps/simint/src/components/forms/ModelForm/ModelForm.tsx
Due: apps, e2e

feat(simint): routine builder unit field need to be optional when creating a manual set step (#3266)
  apps/simint/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.stories.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/InputType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/StepType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/UnitType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Value.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Get.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Set.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/utils.spec.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/utils.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/validation.ts
  apps/simint/src/utils/routineUtils.ts
  apps/simint/src/utils/stringUtils.spec.ts
  apps/simint/src/utils/stringUtils.ts
  package.json
  yarn.lock
Due: apps, e2e

fix(simint): Fix data sampling string conversion (#3276)
  apps/simint/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
Due: apps, e2e

feat(data-quality): Upsert data scope (#3312)
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/components/RequiredWrapper/RequiredWrapper.tsx
  apps/platypus/src/app/modules/solution/data-quality/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/DataQualityOverview.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DataScopesTable/DataScopesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertDataScopeModal/UpsertDataScopeModal.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertDataScopeModal/helpers.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertDataScopeModal/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertDataScopeModal/hooks/useUpsertDataScope.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/hooks/useUpsertRule.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/hooks/useShowUpsertSuccess.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/index.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

refac: TreeIndexToSectorMap optimize (#3697)
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Due: none

fix(simint): Update copy for open timeseries in charts (#3336)
  apps/simint/src/pages/CalculationRuns/CalculationRunList.tsx
Due: apps, e2e

fix(simint): routine input variable to allow typing spaces (#3333)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
Due: apps, e2e

fix(data-explorer): test filter request payload in e2e (#3320)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/interception.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

feat(charts): add tests cases for create & delete charts (#3180)
  apps/charts/cypress.config.ts
  apps/charts/cypress/e2e/addTimeseries.cy.ts
  apps/charts/cypress/e2e/createCharts.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/cypress/support/constant.ts
  apps/charts/cypress/support/e2e.ts
  apps/charts/src/app/pages/ChartViewPage/ChartActionButton.tsx
Due: apps, e2e

feat: [UX-1496] add smoketest for access management subapp (#3301)
  apps/access-management/.eslintrc.json
  apps/access-management/cypress.config.ts
  apps/access-management/cypress/commands/index.ts
  apps/access-management/cypress/config.ts
  apps/access-management/cypress/e2e/capabilities.cy.ts
  apps/access-management/cypress/e2e/create-groups.cy.ts
  apps/access-management/cypress/e2e/edit-groups.cy.ts
  apps/access-management/cypress/e2e/openid.cy.ts
  apps/access-management/cypress/e2e/security-categories.cy.ts
  apps/access-management/cypress/e2e/user-profiles.cy.ts
  apps/access-management/cypress/support/e2e.ts
  apps/access-management/cypress/tsconfig.json
  apps/access-management/cypress/utils/getUrl.ts
  apps/access-management/project.json
  apps/access-management/src/pages/Groups/ActionsSelector.tsx
  apps/access-management/src/pages/Groups/CapabilitiesList.tsx
  apps/access-management/src/pages/Groups/CapabilitiesSelector.tsx
  apps/access-management/src/pages/Groups/CapabilityTypeSelector.tsx
  apps/access-management/src/pages/Groups/GroupDrawer.tsx
  apps/access-management/src/pages/Groups/ScopesSelector.tsx
  apps/access-management/src/pages/Groups/SingleCapabilityEditor.tsx
  apps/access-management/src/pages/Groups/index.tsx
  apps/access-management/src/pages/Home/Home.tsx
  apps/access-management/src/pages/OIDC/index.tsx
  apps/access-management/src/pages/SecurityCategories/Actions.tsx
  apps/access-management/src/pages/SecurityCategories/index.tsx
  apps/access-management/src/pages/UserProfiles/index.tsx
  apps/access-management/tsconfig.json
Due: apps, e2e

feat(entity-matching): restore progress bars (#3319)
  apps/entity-matching/src/app/components/QueryStatusProgress.tsx
  apps/entity-matching/src/app/pages/quick-match/create/create-model/index.tsx
Due: apps, e2e

chore: enable e2e tests for 3d-management subapp (#3339)
  apps/3d-management/.eslintrc.json
  apps/3d-management/README.md
  apps/3d-management/cypress.config.ts
  apps/3d-management/cypress/config.ts
  apps/3d-management/cypress/e2e/app.cy.ts
  apps/3d-management/cypress/support/commands.ts
  apps/3d-management/cypress/support/e2e.ts
  apps/3d-management/cypress/tsconfig.json
  apps/3d-management/cypress/utils/getUrl.ts
  apps/3d-management/project.json
  apps/3d-management/tsconfig.json
  apps/3d-management/webpack-config.js
Due: apps, e2e

chore(charts): remove schedule selection from monitoring job for 5 mins default [AH-1908] (#3341)
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
Due: apps, e2e

feat(fdx): implement quick wins (#3274)
  apps/flexible-data-explorer/src/app/components/Link.tsx
  apps/flexible-data-explorer/src/app/components/buttons/ButtonFullscreen.tsx
  apps/flexible-data-explorer/src/app/components/links/AIDisclaimer.tsx
  apps/flexible-data-explorer/src/app/components/links/DataExplorerLink.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsHeader.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuHeader/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FieldSelector/FieldSelector.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterBuilderByField/FilterBuilderByField.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/SearchBarFilter.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDSearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageDashboard.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchFilters.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/Filters.tsx
  apps/flexible-data-explorer/src/app/hooks/useLinks.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/hooks/useUrl.ts
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/services/types.ts
Due: apps, e2e

fix(3d-management): Move colorType and pointSize to the store in Contextualize Editor (#3327)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

Revert "chore: [UX-1453] refactor platypus and add filters to redux (… (#3345)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TypeList/TypeDescription.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useFetchFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useFilter.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useGetFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useListDataSource.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useNestedListDataSource.tsx
  apps/platypus/src/app/redux/reducers/global/dataManagementReducer.ts
  apps/platypus/src/app/utils/queryKeys.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/common-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
Due: apps, libs, e2e

feat: styling for 360 icons
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
Due: none

fix: update revision id for all version for test model
  documentation/docs/utils/env.ts
  documentation/versioned_docs/version-2.x/utils/env.ts
  documentation/versioned_docs/version-3.x/utils/env.ts
  documentation/versioned_docs/version-4.x/utils/env.ts
Due: none

added fallback if translation is not supported and moved I18nWrapper to RevealContainer
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

fix: add missing changes
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
Due: none

chore(user-profile-components): [CGS-374] Integrate action list component to user profile (#3299)
  apps/fusion-shell/src/main.tsx
  libs/shared/user-profile-components/.storybook/preview.js
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/project.json
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.stories.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  package.json
  yarn.lock
Due: apps, libs, e2e

feat: add getter for 360 annotations with entity revision information
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Due: none

fix(3d-management): showing wireframes of annotations by default (#3348)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

fix: original file styling should be .nwd
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-2.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-3.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-4.x/examples/cad-styling-nodes.mdx
Due: none

fixed autocomplete and code actions for platypus (#3330)
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus/cypress.config.ts
  apps/platypus/cypress/e2e/data-model/local-drafts.cy.ts
  apps/platypus/cypress/support/code-editor.ts
  apps/platypus/cypress/support/data-model-visualizer.ts
  apps/platypus/project.json
  apps/platypus/src/app/components/Graph/GraphEngine.tsx
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/constants.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/DiagnosticsAdapter.ts
  apps/platypus/src/app/utils/custom-events.ts
  package.json
  yarn.lock
Due: apps, e2e

fix: reduce single property filter value range
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-2.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-3.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-4.x/examples/cad-styling-nodes.mdx
Due: none

fix(charts): flaky e2e test "No user present" (#3344)
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/src/app/hooks/charts/mutations/useCreateChart.ts
  apps/charts/src/app/pages/ChartListPage/ChartListPage.tsx
Due: apps, e2e

fix: update revision id for all version for test model (#3756)
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/utils/env.ts
  documentation/versioned_docs/version-2.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-2.x/utils/env.ts
  documentation/versioned_docs/version-3.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-3.x/utils/env.ts
  documentation/versioned_docs/version-4.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-4.x/utils/env.ts
Due: none

fix(simint): fix worker import error (#3349)
  apps/simint/src/components/shared/Editor.tsx
Due: apps, e2e

fix(data-exploration): stop using auto-contextualised assets (#3350)
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapFiltersToDocumentSearchFilters.ts
Due: libs

feat(FDX): highlighting of selected search results in 3D view (#2722)
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDSearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/SearchPanelToggleVisibilityButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/PreviewCard.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ThreeDSplitView.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ZoomTo3DButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useHandleSelectedInstance.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useInitialCameraNavigation.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useNavigateOnClick.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/utils.ts
  apps/flexible-data-explorer/src/app/containers/search/ThreeDSearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchDataTypeSortedByKeys.ts
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/ThreeDResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/utils.ts
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/pages/ThreeDPage.tsx
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/hooks/useInstanceThreeD.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fdx > AIListItemIcon: fix svg prop names (#3352)
  apps/flexible-data-explorer/src/app/containers/search/components/AIListItemIcon.tsx
Due: apps, e2e

refactor: decoupling CAD and PC visual components and utils - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizedToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDPointCloudContextualization.ts
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
  libs/data-exploration/domain-layer/src/threeD/service/network/getThreeDRevisionOutputs.ts
Due: apps, libs, e2e

typo
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
Due: apps, e2e

refactoring: moving file
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadContextualizedFloatingToolBar.tsx
Due: apps, e2e

change color and add outline for selected + contextualized
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadContextualizedFloatingToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
Due: apps, e2e

fix(data-exploration): fix file count (#3355)
  libs/data-exploration/domain-layer/src/counts/internal/queries/useLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getLinkedDocumentsCount.ts
Due: libs

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
