Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

Added styling to the help navigation card
  react-components/src/components/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
Due: none

removed unused styled element
  react-components/src/components/RevealToolbar/Help/elements.ts
Due: none

fix(simconfig): Fix Firebase site for SimInt app (#2651)
  Jenkinsfile
Due: none

chore: remove fdm config
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
  react-components/src/utilities/constants.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/fdmConfig.ts
Due: none

exported help button from toolbar
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

refactor: refactor hook to not deal with intersection logic
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useNodeMappedData.tsx
Due: none

feat(user-profile-components): Open user profile in the same tab (#2638)
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.tsx
  libs/shared/user-profile-components/src/hooks/useActiveTabKey.ts
Due: apps, libs, e2e

fix: avilable to available (#2655)
  apps/data-exploration/src/i18n/en/data-exploration.json
Due: apps, e2e

Fix scroll in simulators list
  apps/simint/src/components/simulator/SimulatorList.tsx
Due: apps, e2e

Update codeowners for simint
  CODEOWNERS
Due: none

lint
  apps/simint/src/components/simulator/SimulatorList.tsx
Due: apps, e2e

Initial
  apps/simint/src/components/app/App.tsx
  apps/simint/src/components/simulator/SimulatorInformation.tsx
  package.json
Due: apps, e2e

Revert App.tsx
  apps/simint/src/components/app/App.tsx
Due: apps, e2e

Add fragment
  apps/simint/src/components/simulator/SimulatorInformation.tsx
Due: apps, e2e

Add icon
  apps/simint/src/components/simulator/SimulatorStatusLabel.tsx
Due: apps, e2e

Updating the image and setting up mixpanel metrics (#2648)
  apps/business-shell/src/app/components/Onboarding.tsx
  apps/business-shell/src/images/carousel-image_1.png
  apps/business-shell/src/images/carousel-image_2.png
  apps/business-shell/src/images/carousel-image_3.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_1.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_2.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_3.png
Due: apps, libs, e2e

chore: lint fix
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useNodeMappedData.tsx
Due: none

fix: build fix
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat: fixed cdf-hub login issues (#2618)
  apps/fusion-shell/src/AppWrapper.tsx
  apps/fusion-shell/src/AuthContainer.tsx
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/app/styles/GlobalStyle.tsx
  apps/fusion-shell/src/app/types.ts
  apps/fusion-shell/src/app/utils/login-utils.ts
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/cognite-cdf-sdk-singleton.d.ts
  apps/fusion-shell/src/single-spa/index.ts
  apps/fusion-shell/src/single-spa/root-config/sub-apps-config.ts
  apps/fusion-shell/tools/static-file-server.js
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: apps, libs, e2e

fix(fdx): filter suggestions menu [UX-1131] (#2661)
  apps/flexible-data-explorer/src/app/containers/Filter/components/Input/Input.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Input/SuggestionsMenu.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/NumericRangeInput/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilterInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/types.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchAggregatesQuery.ts
Due: apps, e2e

fix(fdx): error state for instance dashboard (#2650)
  apps/flexible-data-explorer/src/app/components/ErrorState.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetBody.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/FileRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/GenericRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/TimeseriesRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/FileRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/GenericRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/TimeseriesRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

chore: remove unnecessary check
  react-components/src/hooks/useClickedNode.tsx
Due: none

chore: remove unused comments
  react-components/stories/ClickedNode.stories.tsx
Due: none

Replace loader
  apps/simint/src/components/simulator/SimulatorInformation.tsx
  apps/simint/src/components/simulator/SimulatorList.tsx
  apps/simint/src/components/simulator/SimulatorStatusLabel.tsx
  yarn.lock
Due: apps, e2e

feat(data-explorer): Add all resource tab in asset detail view (#2436)
  apps/data-exploration/src/app/containers/All/AllTab.tsx
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
Due: apps, e2e

feat(AI): [AI-163] [AI-138] open in canvas and fdx from copilot, debug mode, (#2653)
  apps/data-exploration/.babelrc
  apps/data-exploration/webpack-config.js
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/industry-canvas-ui/.babelrc
  apps/industry-canvas-ui/webpack-config.js
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/MessageRenderer/CodeMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataQueryMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/HumanApprovalMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/TextMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/Markdown.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.stories.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/components/index.ts
  libs/copilot-core/src/index.ts
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/chatModels/cogniteChatGPT.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentSummaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/workorderChain.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/toolchains/router/router.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/src/lib/utils/logging.ts
  libs/industry-canvas/project.json
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib.ts
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveGqlToFdmInstanceContainerReferences.ts
Due: apps, libs, e2e

Fix cogs
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
Due: apps, e2e

feat: add copilot to `business-shell` (#2664)
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/utils/zIndex.ts
  libs/copilot-core/package.json
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/industry-canvas/project.json
Due: apps, libs, e2e

positioned help screen centered to button, resturctured graphics with help container and addressed review comments
  react-components/src/components/RevealToolbar/Help/Graphics/Keyboard.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Mouse.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/Section.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
  react-components/src/components/RevealToolbar/Help/types.ts
  react-components/src/components/RevealToolbar/HelpButton.tsx
Due: none

css alignment adjusted
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
Due: none

fix: move reveal keep alive to routes to work in business-shell (#2665)
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/Routes.tsx
  package.json
  yarn.lock
Due: apps, e2e

feat(extraction-pipelines): Create new header for Monitor MQTT connection page (#2601)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/ExtractionPiplelineDetailsTopBar/ExtractionPipelineDetailsTopBar.tsx
  apps/extraction-pipelines/src/components/ExtractionPiplelineDetailsTopBar/index.ts
  apps/extraction-pipelines/src/components/box/Box.tsx
  apps/extraction-pipelines/src/components/message-history-chart/DataHistoryChart.tsx
  apps/extraction-pipelines/src/components/message-history-chart/MessageHistoryChart.tsx
  apps/extraction-pipelines/src/components/section/SectionItem.tsx
  apps/extraction-pipelines/src/components/section/index.tsx
  apps/extraction-pipelines/src/components/source-authentication/SourceAuthentication.tsx
  apps/extraction-pipelines/src/components/source-details/SourceDetails.tsx
  apps/extraction-pipelines/src/components/source-status/SourceStatus.tsx
  apps/extraction-pipelines/src/components/styled/StyledPage.tsx
  apps/extraction-pipelines/src/components/summary-box/SummaryBox.tsx
  apps/extraction-pipelines/src/components/topic-filters/TopicFilters.tsx
  apps/extraction-pipelines/src/pages/hosted-extraction-pipeline/HostedExtractionPipelineDetails.tsx
  apps/extraction-pipelines/src/pages/hosted-extraction-pipeline/HostedExtractionPipelineInsight.tsx
  apps/extraction-pipelines/src/pages/hosted-extraction-pipeline/HostedExtractionPipelineOverviewNew.tsx
Due: apps, e2e

Added measurement button component to toolbar
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

fix(Onboarding):Orientation and link updates in topbar (#2660)
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  package.json
  yarn.lock
Due: apps, e2e

Made changes to accomodate reduced Help screen width
  react-components/src/components/RevealToolbar/Help/Graphics/Keyboard.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Mouse.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
Due: none

lint error fix
  react-components/src/components/RevealToolbar/Help/Graphics/Keyboard.tsx
Due: none

feat(react-components): help button in toolbar (#3564)
  react-components/src/components/RevealToolbar/Help/Graphics/Keyboard.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Mouse.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/Section.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
  react-components/src/components/RevealToolbar/Help/types.ts
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

Removed GPT Chatbot example app (#2677)
  apps/notebook/src/pages/StreamLit/defaultApps.ts
Due: apps, e2e

fix(industrial-canvas): various minor bugs related to comments (#2667)
  libs/industry-canvas/src/lib/components/comment/CommentDisplay.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
  libs/industry-canvas/src/lib/hooks/useCommentsPaneSearch.ts
Due: libs

fix(industry-canvas): asset tooltip dropdown colors (#2669)
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
Due: libs

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
