Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

added react-component build into workflow for testing
  .github/workflows/locize-sync.yml
Due: none

corrected path
  .github/workflows/locize-sync.yml
  react-components/package.json
Due: none

Fixed incorrect check for equality
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

pointed working directory to react-components
  .github/workflows/locize-sync.yml
Due: none

Fixed incorrect check for equality (#3605)
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

test
  .github/workflows/locize-sync.yml
Due: none

reverted back np authentication
  .github/workflows/locize-sync.yml
Due: none

fix(data-explorer): Timeseries preview (#2759)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
Due: libs

add e2e auth back
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  package.json
Due: apps, e2e

yarn lock
  yarn.lock
Due: none

feat(AI): error handling and i18n (#2780)
  apps/copilot/tsconfig.json
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/notebook/tsconfig.json
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/common/i18n/en/copilot.json
  libs/copilot-core/src/app/common/index.ts
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/CopilotActions.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/Markdown.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/components/index.ts
  libs/copilot-core/src/app/hooks/useMetrics.tsx
  libs/copilot-core/src/app/hooks/useTranslation.tsx
  libs/copilot-core/src/i18n/en/copilot.json
  libs/copilot-core/src/i18n/index.tsx
  libs/copilot-core/src/index.ts
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/tsconfig.json
Due: apps, libs, e2e

fixing codeowners and removing unnecessary workflow files
  .github/workflows/deploy.yml
  .github/workflows/locize-sync.yml
  .github/workflows/pr-check.yml
  CODEOWNERS
Due: none

fix(data-explorer): metadata table sorting [UX-1311] (#2792)
  libs/data-exploration/components/src/Details/Metadata.tsx
Due: libs

[UX-1325] Remove calls to _api/login_info for whitelisted domains (#2762)
  libs/shared/cdf-login-utils/package.json
  libs/shared/cdf-login-utils/src/hooks/loginInfo.ts
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
  libs/shared/cdf-sdk-singleton/src/utils.ts
Due: libs

fix(data-explorer): Timeseries toolbar view (#2784)
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/shared/plotting-components/src/LineChart/components/ZoomActions/elements.ts
Due: libs

rename Flows to Workflows
  apps/flows/src/App.tsx
  apps/flows/src/common/i18n/translations/en/flows.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
Due: apps, e2e

chore: lint + build fix
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

chore: fix storybook build
  react-components/stories/CadStylingCache.stories.tsx
Due: none

added NPM_TOKEN into save transalation
  .github/workflows/locize-sync.yml
Due: none

chore: fix lint in webpack.config.js and don't include as TS (still broken)
  react-components/tsconfig.json
  react-components/webpack.config.js
Due: none

fix(data-explorer): preview sidebar min-width [UX-1296] (#2807)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  libs/data-exploration/components/src/Details/elements.ts
  libs/data-exploration/components/src/ResizableOverlay/ResizableOverlay.tsx
  libs/data-exploration/core/src/constants/windowEvents.tsx
Due: apps, libs, e2e

fix(data-explorer): Wrong translation key (#2813)
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
Due: apps, e2e

feat(advanced-join) Manual Run AJ page (#2811)
  apps/contextualization-ui/src/app/components/DatabaseColumn.tsx
  apps/contextualization-ui/src/app/components/EstimatedScoreBody.tsx
  apps/contextualization-ui/src/app/components/RawModalTransformers.tsx
  apps/contextualization-ui/src/app/components/RunAdvancedJoinButton.tsx
  apps/contextualization-ui/src/app/components/SelectedTable.tsx
  apps/contextualization-ui/src/app/components/TableColumn.tsx
  apps/contextualization-ui/src/app/components/TransformationComponents.ts
  apps/contextualization-ui/src/app/components/UpdatedEstimatedScore.tsx
  apps/contextualization-ui/src/app/containers/RunAdvancedJoin.tsx
  apps/contextualization-ui/src/app/hooks/sdk-queries.ts
  apps/contextualization-ui/src/app/hooks/useUpdateAdvancedJoinObject.ts
  apps/contextualization-ui/src/app/pages/AdvancedJoinsPage.tsx
  apps/contextualization-ui/src/app/types.ts
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreChip.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/index.ts
  libs/contextualization/src/lib/hooks/index.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/index.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useCreateRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useGetRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/update-advanced-joins/index.ts
  libs/contextualization/src/lib/hooks/update-advanced-joins/useUpdateAdvancedJoins.ts
Due: apps, libs, e2e

feat(advanced-join) Update Contextualization UI Readme (#2812)
  apps/contextualization-ui/README.md
  apps/contextualization-ui/project.json
Due: apps, e2e

fix:update explore menu order
  apps/fusion-shell/src/app/sections/sections.ts
Due: apps, e2e

Update metrics labels in the right-hand sidebar
  apps/contextualization-ui/src/app/components/EstimatedScoreBody.tsx
  apps/contextualization-ui/src/app/components/TableColumn.tsx
  apps/contextualization-ui/src/app/components/UpdatedEstimatedScore.tsx
  apps/contextualization-ui/src/app/types.ts
  libs/contextualization/src/lib/hooks/estimate-quality/useCreateEstimateQuality.ts
  libs/contextualization/src/lib/hooks/estimate-quality/useEstimateQuality.ts
  libs/contextualization/src/lib/hooks/estimate-quality/useGetEstimateQuality.tsx
  libs/contextualization/src/lib/hooks/matches/useListMatches.ts
  libs/contextualization/src/lib/hooks/measure-mapped-percentages/useCreateMeasureMappedPercentages.ts
  libs/contextualization/src/lib/hooks/measure-mapped-percentages/useGetMeasureMappedPercentages.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useCreateRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/run-advanced-join/useGetRunAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/suggest-improvements/useCreateSuggestImprovementsJob.ts
  libs/contextualization/src/lib/hooks/suggest-improvements/useGetSuggestImprovementsJob.ts
  libs/contextualization/src/lib/hooks/update-advanced-joins/useUpdateAdvancedJoins.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinMatches.ts
  libs/contextualization/src/lib/hooks/useCreateAdvancedJoinProcess.ts
  libs/contextualization/src/lib/hooks/useMeasureMappedPercentages.tsx
Due: apps, libs, e2e

fix:test
  apps/fusion-shell/src/app/sections/sections.ts
Due: apps, e2e

lint
  apps/contextualization-ui/src/app/components/EstimatedScoreBody.tsx
  apps/contextualization-ui/src/app/components/UpdatedEstimatedScore.tsx
Due: apps, e2e

added locize-cli package to fix script run for locize
  react-components/package.json
  react-components/yarn.lock
Due: none

Added check for count
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

fix: overflow title in coding conventions (#2818)
  apps/coding-conventions/src/app/components/Modal/Modal.tsx
Due: apps, e2e

fix:update the menu order
  apps/fusion-shell/src/app/sections/sections.ts
Due: apps, e2e

fix: reset Measurement tool on unmount
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
Due: none

fix: don't recompute clicked node data every render
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix: don't misuse hook
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix: set click data to undefined when not clicking CAD model too
  react-components/src/hooks/useClickedNode.tsx
Due: none

const rename
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

chore: lint fix
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix(react-components): Fixed check for equality of styled collections (#3609)
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none
