Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

add fusion-maintainers as codeowners of fusion-shell (#3827)
  CODEOWNERS
Due: none

tests(simint): add more cypress e2e tests (#3382)
  apps/simint/cypress/e2e/appMenuBar.cy.ts
  apps/simint/cypress/e2e/modelLibrary.cy.ts
  apps/simint/src/components/Menubar.tsx
  apps/simint/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simint/src/components/models/ModelList/ModelList.tsx
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simint/src/components/simulator/SimulatorInformation.tsx
  apps/simint/src/components/simulator/SimulatorList.tsx
  apps/simint/src/components/simulator/SimulatorStatus.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simint/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

bug(3d-management): add delete listener (#3804)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
Due: apps, e2e

test: remove sign out test (#3826)
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
Due: apps, e2e

remove pendingAnnotation return statement (#3825)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
Due: apps, e2e

Working hooks for search
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

[INCIDENT] fix: incorrect usage of usePermissions (#3832)
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
  libs/industry-canvas/src/lib/SpaceProvider.tsx
  libs/industry-canvas/src/lib/hooks/usePermissions.ts
Due: apps, libs, e2e

test: check if permission check is passed (#3835)
  apps/extraction-pipelines/cypress/e2e/homePage.cy.ts
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
Due: apps, e2e

feat(FDX): enables translation in reveal react components (#3831)
  libs/flexible-data-explorer/modules/src/ThreeD/ThreeDContent.tsx
  libs/flexible-data-explorer/modules/src/ThreeD/modules/RevealContent.tsx
Due: libs

chore: update storybook json output
  react-components/storybook-static/stories.json
Due: none

fix: show 3D connectivity to point clouds using annotations reverse lookup (#3619)
  libs/data-exploration/components/src/Details/ThreeDModelCell.tsx
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/threeD/service/network/fetchPointCloudDetailMappings.ts
  libs/data-exploration/domain-layer/src/threeD/service/queries/index.ts
  libs/data-exploration/domain-layer/src/threeD/service/queries/usePointcloudsByAssetId.ts
  libs/data-exploration/domain-layer/src/threeD/service/types.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ThreeDButton.tsx
Due: libs

fix(fdx): site selection buggy with one site + update celanese-stg configs (#3839)
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  libs/flexible-data-explorer/modules/src/site/SiteSelection.tsx
  libs/flexible-data-explorer/shared/src/config/Celanese.ts
Due: apps, libs, e2e

updated api-extractor dependency to typescript v5.2.2
  viewer/yarn.lock
Due: none

fix(3d-management): migrate to multi-branch release strategy (#3834)
  Jenkinsfile
  apps/3d-management/project.json
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

testing api extractor fix
  viewer/tsconfig.json
Due: none

fix(data-explorer): help screen in 3D page UI and translation issue (#3833)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/sections.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
  libs/data-exploration-components/src/graphics/ArrowsNavigation.tsx
  libs/data-exploration-components/src/graphics/Mouse.tsx
  libs/data-exploration-components/src/graphics/PinchRight.tsx
  libs/data-exploration-components/src/graphics/Rotate.tsx
  libs/data-exploration-components/src/graphics/WASDNavigation.tsx
  libs/data-exploration-components/src/graphics/index.tsx
  libs/data-exploration-components/src/index.ts
Due: apps, libs, e2e

fix(fdx): register the translations (#3840)
  libs/flexible-data-explorer/shared/src/common/i18n/index.tsx
Due: libs

chore: downgrade API extractor to fix CI
  viewer/package.json
  viewer/yarn.lock
Due: none

chore: downgrade API extractor to fix CI (#3859)
  viewer/package.json
  viewer/yarn.lock
Due: none

Fixed PR comments
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
Due: none

fix(industrial-canvas): add check to ellipsis tool on creation (#3844)
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs

fix(3d-management): next should reflect master branch (#3848)
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

fix (notebook): fix `TRACKED_EVENTS` (base tokens); minor code cleanup (#3842)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

fix(industrial-canvas): fix remaining styling issue with tooltips (#3852)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
Due: libs

feat(react-components): support for search of "second-level" 3d mapped instances (#3856)
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

chore: run platypus e2e tests as part of regular e2e ci tests (#3841)
  .github/workflows/nx_ci.yml
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus/.env.ci
  apps/platypus/cypress/e2e/data-model/code-editor.cy.ts
  apps/platypus/cypress/e2e/data-model/local-drafts.cy.ts
  apps/platypus/cypress/e2e/data-model/publishing.cy.ts
  apps/platypus/cypress/e2e/data-model/schema-visualizer.cy.ts
  apps/platypus/cypress/e2e/data-model/ui-editor.cy.ts
  apps/platypus/cypress/e2e/data-models-list/access-control.cy.ts
  apps/platypus/cypress/e2e/data-models-list/create-data-model.cy.ts
  apps/platypus/cypress/e2e/data-models-list/list-data-models.cy.ts
  apps/platypus/cypress/e2e/data-preview/column-selection.cy.ts
  apps/platypus/cypress/e2e/data-preview/data-preview-page.cy.ts
  apps/platypus/cypress/e2e/data-preview/manual-data-ingestion.cy.ts
  apps/platypus/cypress/e2e/data-preview/suggestions.cy.ts
  apps/platypus/cypress/e2e/data-quality/data-quality-page.cy.ts
  apps/platypus/cypress/e2e/query-explorer/preview-query-explorer-page.cy.ts
  apps/platypus/cypress/support/general.ts
  apps/platypus/project.json
Due: apps, e2e

feat: (fdx) e2e tests for data type relationships (#3853)
  apps/flexible-data-explorer/cypress/e2e/relationships.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/common.commands.ts
Due: apps, e2e

feat(diagram-parsing): List the data sets in a project (#3792)
  apps/diagram-parsing/src/AppWrapper.tsx
  apps/diagram-parsing/src/app/App.tsx
  apps/diagram-parsing/src/app/Routes.tsx
  apps/diagram-parsing/src/app/common/i18n/en/diagram-parsing.json
  apps/diagram-parsing/src/app/components/PageHeader/PageHeader.tsx
  apps/diagram-parsing/src/app/components/SitesSideBar/SitesSideBar.tsx
  apps/diagram-parsing/src/app/components/SitesSideBar/SitesSideBarContainer.tsx
  apps/diagram-parsing/src/app/components/index.ts
  apps/diagram-parsing/src/app/hooks/index.ts
  apps/diagram-parsing/src/app/hooks/useDataSets.tsx
  apps/diagram-parsing/src/app/pages/EmptyView.tsx
  apps/diagram-parsing/src/app/pages/FilesView/FilesView.tsx
  apps/diagram-parsing/src/app/pages/HomePage.tsx
  apps/diagram-parsing/src/app/pages/index.ts
Due: apps, e2e

fix(industrial-canvas): remove unnecessary color overrides for menu buttons (#3854)
  libs/data-exploration-components/src/components/Splitter/Splitter.tsx
  libs/data-exploration/components/src/Splitter/Splitter.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
Due: libs

chore: stabilize fusion-shell test by increasing 9s timeout (#3860)
  apps/fusion-shell/cypress/support/commands.ts
Due: apps, e2e

feat(landing-page): initialize a new landing page behind a feature flag [UX-1738] (#3843)
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/LandingPage.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/LearningResources.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistory.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryEmptyState.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryExpandButton.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryLoadingSkeleton.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryResourceIcon.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/index.ts
Due: apps, e2e

fix(extraction-pipelines): show error messages in UI for errors during destination creation (#3724)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/hooks/sessions.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepThree.tsx
Due: apps, e2e

fix(interactive-diagrams): reduce excessive API calls (#3845)
  apps/interactive-diagrams/cypress/e2e/pendingInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/src/hooks/index.ts
  apps/interactive-diagrams/src/hooks/useAnnotatedFiles.ts
  apps/interactive-diagrams/src/hooks/usePendingDiagramFiles.ts
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/columns.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/index.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/utils.tsx
  apps/interactive-diagrams/src/pages/LandingPage/index.tsx
Due: apps, e2e

chore: skip flaky SimInt test (#3861)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.spec.tsx
Due: apps, e2e

chore(3d-management): Add metrics (#3837)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
  apps/3d-management/src/components/PageHeader/BreadcumbsThreeDManagement.tsx
  apps/3d-management/src/components/PageHeader/PageHeader.tsx
  apps/3d-management/src/hooks/useMetrics.ts
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/AllModelsThreeSixty.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
Due: apps, e2e

chore: skip flaky platypus test (#3862)
  apps/platypus/cypress/e2e/data-preview/data-preview-page.cy.ts
Due: apps, e2e

fix(data-explorer): Remove multi selection (#3765)
  libs/data-exploration/containers/src/DetailsTable/AssetDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/EventDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/FileDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/SequenceDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/TimeseriesDetailsTable.tsx
Due: libs

feat(industrial-canvas): add e2e for IC (#3675)
  apps/industry-canvas-ui/cypress.config.ts
  apps/industry-canvas-ui/cypress/e2e/addData.cy.ts
  apps/industry-canvas-ui/cypress/e2e/createCanvas.cy.ts
  apps/industry-canvas-ui/cypress/e2e/homePage.cy.ts
  apps/industry-canvas-ui/cypress/support/constant.ts
  apps/industry-canvas-ui/cypress/support/e2e.ts
  apps/industry-canvas-ui/cypress/support/industry-canvas-commands.ts
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
Due: apps, libs, e2e

[AUT-517] fix: hide react-query dev tool from login page (#3858)
  apps/fusion-shell/vite.config.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
