Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore: add eslint cache
  react-components/package.json
Due: none

fix: react-i18next type
  apps/charts/src/app/hooks/translations.ts
Due: apps, e2e

fix: test imports
  apps/charts/jest.config.ts
  apps/charts/src/app/hooks/__tests__/thresholds-calculations.spec.ts
  apps/charts/src/app/services/calculation-backend.spec.ts
Due: apps, e2e

fix: lint errors
  apps/charts/.eslintrc.json
  apps/charts/src/app/components/AccessDeniedModal/AccessDeniedModal.tsx
  apps/charts/src/app/components/AppBar/AppBarCommonActions.tsx
  apps/charts/src/app/components/AppearanceDropdown/AppearanceDropdown.tsx
  apps/charts/src/app/components/CSVModal/CSVModal.tsx
  apps/charts/src/app/components/CSVModal/utils.ts
  apps/charts/src/app/components/DataProfilingSidebar/Boxplot.tsx
  apps/charts/src/app/components/DetailsSidebar/MetadataItem.tsx
  apps/charts/src/app/components/FileList/hooks.ts
  apps/charts/src/app/components/FileViewer/FileViewer.skipStories.tsx
  apps/charts/src/app/components/FileViewer/hooks/useExtractedAnnotations.ts
  apps/charts/src/app/components/FileViewer/hooks/useFileUrl.ts
  apps/charts/src/app/components/Form/FormInputWithController.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/MonitoringSidebar.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/OutputNode.tsx
  apps/charts/src/app/components/NodeEditor/V2/ScheduledCalculationSummary.tsx
  apps/charts/src/app/components/NodeEditor/V2/transforms.ts
  apps/charts/src/app/components/PlotlyChart/utils.ts
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationDeleteModal.tsx
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationModal.tsx
  apps/charts/src/app/components/ScheduledCalculation/Steps/CalculationPreview.tsx
  apps/charts/src/app/components/SourceTable/ScheduledCalculationRow.tsx
  apps/charts/src/app/components/TopBar/TopBar.tsx
  apps/charts/src/app/components/UnitDropdown/UnitSelector.tsx
  apps/charts/src/app/config/locale.ts
  apps/charts/src/app/effects/calculations.tsx
  apps/charts/src/app/effects/scheduled-calculations.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  apps/charts/src/app/services/calculation-backend.spec.ts
  apps/charts/src/custom.d.ts
  apps/charts/src/environments/mock/AppWrapper.tsx
Due: apps, e2e

fix: add consistent type and eqeqeq lint rules
  react-components/.eslintrc.cjs
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
Due: none

fix(cdf-utilities): remove unnecessary ts-ignore
  libs/shared/cdf-utilities/src/components/CodeEditor/extensions.ts
Due: libs

fix(data-explorer): Resource selector mulit selection issue in tables (#2247)
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorTable.tsx
Due: libs

fix(cdf-utilities): spread editor command args Also change type from any to unknown
  libs/shared/cdf-utilities/src/components/CodeEditor/extensions.ts
Due: libs

chore(reveal-react-components): add formatting and linting (#3422)
  react-components/.babelrc.json
  react-components/.eslintignore
  react-components/.eslintrc.cjs
  react-components/.prettierrc
  react-components/.storybook/main.ts
  react-components/.storybook/preview.ts
  react-components/cognite-reveal-react-components-0.1.2.tgz
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/index.ts
  react-components/src/index.ts
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

fix(cdf-utilities): remove circular imports
  libs/shared/cdf-utilities/src/components/BulkActionBar/BulkActionBar.tsx
  libs/shared/cdf-utilities/src/components/CodeSnippet/index.tsx
  libs/shared/cdf-utilities/src/components/Modal/Modal.tsx
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
  libs/shared/cdf-utilities/src/components/Table/TableColumnTitle.tsx
Due: libs

chore: Add CI for react components
  .github/workflows/react-components-ci.yml
Due: none

fix: add working dir
  .github/workflows/react-components-ci.yml
Due: none

fix: stop showing error page (#2244)
  apps/3d-management/src/App.tsx
  apps/3d-management/src/ModelRoutes.tsx
  apps/3d-management/src/hooks/models/useModels.ts
  apps/3d-management/src/pages/AllModels/AllModels.tsx
Due: apps, e2e

fix: add env npm_token to lint step
  .github/workflows/react-components-ci.yml
Due: none

fix: timestamp not showing in timeseries preview (#2218)
  libs/shared/plotting-components/src/TimeseriesChart/utils/getFormattedDateWithTimezone.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getFormattedTime.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getFormattedTimezone.ts
Due: libs

fix: add env to rest of steps
  .github/workflows/react-components-ci.yml
  react-components/.eslintrc.cjs
Due: none

chore: add conditional steps on workflows
  .github/workflows/ci.yml
  .github/workflows/react-components-ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

Make node bounding box optional, and update tests
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.test.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/reveal.api.md
Due: none

fix(plotting-component): remove translation placeholder for plotting components (#2253)
  libs/shared/plotting-components/src/TimeseriesChart/i18n/useTranslation.ts
Due: libs

fix: add ci-skip dummy
  .github/workflows/ci-skip.yml
Due: none

fix(functions-ui): set mimeType field while uploading a (.zip) file (#2249)
  apps/functions-ui/src/utils/api.ts
Due: apps, e2e

fix: add dummies for CI jobs
  .github/workflows/ci-skip.yml
Due: none

chore(cdf-utilities): add codeowners
  CODEOWNERS
Due: none

chore: add cache for yarn install
  .github/workflows/react-components-ci.yml
Due: none

chore: add dummy for react components ci skip
  .github/workflows/ci-skip.yml
  .github/workflows/ci.yml
  .github/workflows/react-components-ci-skip.yml
  .github/workflows/react-components-ci.yml
Due: none

fix: apply clipping planes on newly loaded point clouds
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
Due: none

chore: test ignore on .github change
  .github/workflows/ci-skip.yml
  .github/workflows/ci.yml
  .github/workflows/react-components-ci-skip.yml
  .github/workflows/react-components-ci.yml
Due: none

fix: remove path for .github
  .github/workflows/ci-skip.yml
  .github/workflows/ci.yml
  .github/workflows/react-components-ci-skip.yml
  .github/workflows/react-components-ci.yml
Due: none

test
  .github/workflows/react-components-ci-skip.yml
Due: none

feat(industrial-canvas): if "apply to all" is enabled, apply to newly added timeseries (#2252)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useTooltipsOptions.ts
  libs/industry-canvas/src/lib/utils/enforceTimeseriesApplyToAllIfEnabled.tsx
Due: libs

test paths-filter
  .github/workflows/ci-skip.yml
  .github/workflows/react-components-ci-skip.yml
  .github/workflows/react-components-ci.yml
Due: none

test
  .github/workflows/react-components-ci.yml
Due: none

test
  .github/workflows/ci.yml
  .github/workflows/react-components-ci.yml
Due: none

fix: apply clipping planes on newly loaded point clouds (#3433)
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
Due: none

chore: split charts build in ci
  .github/workflows/nx_ci.yml
  scripts/run-many.js
Due: none

chore: Add CI for react components (#3432)
  .github/workflows/ci.yml
  .github/workflows/react-components-ci.yml
  react-components/.eslintrc.cjs
Due: none

chore(react-components): bump react components to v0.2.0
  react-components/package.json
Due: none

chore(react-components): bump react components to v0.2.0 (#3434)
  react-components/package.json
Due: none

feat: add installed apps to sidebar (#3854)
  apps/digital-cockpit/src/components/navigation/LeftSidebar.tsx
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
