Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: add more dependencies to useEffect
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

refactor: add method for getting all instance mappings in single call
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

fix: add safeguard for potentially missing data
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/utilities/FdmSDK.ts
Due: none

refactor: Reuse Source type
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

refactor: factor out common url root
  react-components/src/utilities/FdmSDK.ts
Due: none

fix: add default generic type for node results to Reveal3DResources
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

Redirect with query params for login hints (#2528)
  apps/coding-conventions/src/app/hooks/useFusionQuery.ts
  apps/functions-ui/src/app/App.tsx
  apps/functions-ui/src/app/hooks/useFusionQuery.ts
  apps/fusion-shell/src/app/app.tsx
  apps/platypus/src/app/hooks/useFusionQuery.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
Due: apps, libs, e2e

chore(charts): use new event filters from exploration (#2521)
  apps/charts/src/app/components/EventSidebar/EventFilterForm.tsx
  apps/charts/src/app/components/EventSidebar/EventSidebar.tsx
  apps/charts/src/app/components/EventSidebar/useDebouncedDateRange.ts
  apps/charts/src/app/components/EventSidebar/useDecoratedFilters.ts
Due: apps, e2e

refactor: split query function
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

fix: fix compilation error, temporarily
  react-components/src/hooks/types.ts
Due: none

fix(cdf-utils): make rollup bundle compatible with old version (#2526)
  libs/shared/cdf-login-utils/project.json
  libs/shared/cdf-utilities/package.json
  libs/shared/cdf-utilities/project.json
  libs/shared/cdf-utilities/rollup-config.js
  libs/shared/cdf-utilities/src/components/CodeEditor/index.tsx
  libs/shared/cdf-utilities/src/components/CodeEditor/theme.ts
  libs/shared/cdf-utilities/tsconfig.json
  package.json
Due: libs

fix(FDX): tweaks to instance preview card (#2538)
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdge.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceDirectRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceRelationshipQuery.ts
Due: apps, e2e

feat(industry-canvas): add canvas visibility modal (#2461)
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasVisibilityModal.tsx
  libs/industry-canvas/src/lib/hooks/use-query/useListCanvases.ts
  libs/industry-canvas/src/lib/hooks/useCanvasVisibility.ts
  libs/industry-canvas/src/lib/hooks/useTranslation.tsx
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/utils/filters.ts
  libs/industry-canvas/src/lib/services/utils/index.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/createSerializedCanvasDocument.ts
  libs/industry-canvas/src/lib/utils/getCanvasVisibility.ts
Due: libs

chore: update types and hooks to match API (#69)
  src/common/i18n/translations/en/flows.json
  src/components/canvas-topbar/CanvasTopBar.tsx
  src/components/run-history-item/RunHistoryItem.tsx
  src/components/run-history-section/RunHistorySection.tsx
  src/components/run-history-section/RunHistorySectionItem.tsx
  src/components/workflow-table/WorkflowTable.tsx
  src/contexts/WorkflowContext.tsx
  src/hooks/workflows.ts
  src/pages/flow/Flow.tsx
  src/types/index.ts
  src/types/workflows.ts
  src/utils/layout.ts
  src/utils/workflows.ts
Due: none

fix(data-explorer): annotations table count [UX-1132 | UX1127] (#2542)
  libs/data-exploration-components/src/containers/Relationships/AnnotationTable.tsx
  libs/data-exploration/domain-layer/src/annotations/index.ts
  libs/data-exploration/domain-layer/src/annotations/internal/index.ts
  libs/data-exploration/domain-layer/src/annotations/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/annotations/internal/queries/useFileAnnotationsResourceIds.ts
  libs/data-exploration/domain-layer/src/annotations/internal/transformers/index.ts
  libs/data-exploration/domain-layer/src/annotations/internal/transformers/transformToAnnotationModelInternal.ts
  libs/data-exploration/domain-layer/src/annotations/internal/transformers/transformToAnnotationsResourceIds.ts
  libs/data-exploration/domain-layer/src/annotations/internal/types.ts
  libs/data-exploration/domain-layer/src/annotations/internal/utils/getAnnotationResourceId.ts
  libs/data-exploration/domain-layer/src/annotations/internal/utils/getAnnotationResourceType.ts
  libs/data-exploration/domain-layer/src/annotations/internal/utils/index.ts
  libs/data-exploration/domain-layer/src/annotations/service/types.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAnnotationsCount.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/transformToRelatedResourceExternalIds.ts
Due: libs

feat: working, but shifty, info card
  react-components/src/components/InfoCard/InfoCard.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

Remove calls to _api/login_info for unified signin (#2537)
  libs/shared/cdf-login-utils/src/hooks/loginInfo.ts
  libs/shared/cdf-sdk-singleton/src/utils.ts
Due: libs

feat: preview links for build and storybook (#2534)
  .github/workflows/nx_ci.yml
  Jenkinsfile
  apps/3d-management/project.json
  apps/access-management/project.json
  apps/cdf-document-search/project.json
  apps/charts/project.json
  apps/coding-conventions/project.json
  apps/copilot/project.json
  apps/data-catalog/project.json
  apps/data-exploration/project.json
  apps/entity-matching/project.json
  apps/extraction-pipelines/project.json
  apps/extractor-downloads/project.json
  apps/functions-ui/project.json
  apps/fusion-shell/project.json
  apps/industry-canvas-ui/project.json
  apps/interactive-diagrams/project.json
  apps/iot-hub/project.json
  apps/notebook/project.json
  apps/platypus/project.json
  apps/raw-explorer/project.json
  apps/transformations/project.json
  apps/vision/project.json
  libs/data-exploration-components/project.json
  libs/shared/plotting-components/project.json
  libs/shared/user-onboarding-components/project.json
  scripts/github-actions/get-pr-comment/README.md
  scripts/github-actions/get-pr-comment/action.yml
  scripts/github-actions/get-pr-comment/index.js
Due: apps, libs, e2e

fix(data-explorer): detail view linked files table (#2550)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/domain-layer/src/documents/internal/queries/useRelatedDocumentsQuery.ts
Due: libs

Ux 1124 test if local imports to sub apps will work (#2547)
  apps/fusion-shell/project.json
  apps/fusion-shell/src/app/utils/sub-apps-utils.spec.ts
  apps/fusion-shell/src/app/utils/sub-apps-utils.ts
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/environments/unified-signin/preview/DynamicRoutes.tsx
  apps/fusion-shell/src/main.tsx
  apps/fusion-shell/src/single-spa/root-config/sub-apps-config.ts
  apps/fusion-shell/tools/static-file-server.js
  apps/fusion-shell/webpack-config.js
  apps/mock-server/src/app/config.ts
  apps/mock-server/src/main.ts
  apps/mock-server/src/mock-projects-data.ts
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: apps, libs, e2e

fix(data-explorer): Tabs visibility (#2480)
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
Due: apps, e2e

feat: Support multiple infocards
  react-components/src/components/InfoCard/InfoCard.tsx
  react-components/src/components/RevealContainer/AuxillaryDivProvider.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix: use correct secret key for google cloud authentication (#2555)
  .github/workflows/nx_ci.yml
Due: none

chore: lint fix
  react-components/src/components/InfoCard/InfoCard.tsx
  react-components/src/components/RevealContainer/AuxillaryDivProvider.tsx
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

breaking: don't export toolbar buttons directly
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/index.ts
Due: none

fixed layer button component issues mentioned in UX-1126
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

fix(data-explorer): related files table columns [CDFBUG-138] (#2557)
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
Due: libs

breaking: don't export toolbar buttons directly (#3527)
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/index.ts
Due: none

feat(fdx): add header and footer to ai results (#2531)
  apps/flexible-data-explorer/src/app/components/buttons/Button.tsx
  apps/flexible-data-explorer/src/app/components/buttons/ButtonShowMore.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/CogPilotIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/ExperimentalIndicator.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAiResultsCounts.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/hooks/useFlag.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/utils/string.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix: define global in vite config (#2552)
  apps/business-shell/index.html
  apps/business-shell/src/main.tsx
Due: apps, e2e

fix: rename data fields again
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

feat: throw error if FDM config not provided when using FDM (#3516)
  react-components/src/hooks/useFdmAssetMappings.tsx
Due: none

Fix issue with check whether it's unified signin (#2562)
  libs/shared/cdf-sdk-singleton/src/unified-signin.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
Due: libs

fix: use getProject instead of project (#2559)
  apps/fusion-shell/project.json
  apps/fusion-shell/src/app/components/Navigation/ProjectSwitcher/index.tsx
Due: apps, e2e

chore(platypus-cli): bump version (#2560)
  apps/platypus-cdf-cli/package.json
Due: apps, e2e

fix(data-explorer): assets id table data [UX-1113] (#2567)
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsOfResourceQuery.ts
Due: libs

feat(FDX): update the direct relationship widget layout (#2539)
  apps/flexible-data-explorer/src/app/components/Typography.tsx
  apps/flexible-data-explorer/src/app/components/widget/Widget.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetHeader.tsx
  apps/flexible-data-explorer/src/app/constants/common.ts
  apps/flexible-data-explorer/src/app/containers/page/components/PageWidgets.tsx
  apps/flexible-data-explorer/src/app/containers/preview/InstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Overview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/PropertiesView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdge.tsx
  apps/flexible-data-explorer/src/app/containers/preview/elements.ts
  apps/flexible-data-explorer/src/app/containers/preview/types.ts
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewRecentlyViewed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/RelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/hooks/useIsOverflow.ts
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
