Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix(data-explorer): e2e authentication and start (#3112)
  apps/data-exploration-e2e/cypress.config.ts
  apps/data-exploration-e2e/src/e2e/app.cy.ts
  apps/data-exploration-e2e/src/support/commands/login.commands.ts
  apps/data-exploration-e2e/src/support/config.ts
  apps/data-exploration/scripts/cypress-dev.sh
Due: apps, e2e

feat(react-components): make fetching view for all mapped nodes optional (#3686)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(fdx): general ui improvements (#2951)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetHeader.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/DataTypeSelector/DataTypeSelector.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FieldSelector/FieldSelector.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterBuilderByDataType/FilterBuilderByDataType.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterBuilderByField/FilterBuilderByField.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/customFilters/files.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/customFilters/timeseries.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/transformDefFieldsToFilterFields.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/transformDefTypesToFilterOptions.ts
  apps/flexible-data-explorer/src/app/containers/Filter/types.ts
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/category/components/CategoryCard.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageDashboard.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageHeader.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/SearchList.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/FileRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/GenericRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/containers/TimeseriesRelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/FileRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/GenericRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/TimeseriesRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/utils/getIcon.ts
  apps/flexible-data-explorer/src/app/utils/number.ts
Due: apps, e2e

Hide functions-ui in aws clusters (#3065)
  apps/fusion-shell/src/app/sections/sections.ts
  apps/fusion-shell/src/app/utils/hooks.ts
Due: apps, e2e

fix(simint): fix alignment in calculation runs page (#3103)
  apps/simint/src/pages/CalculationRuns/styles.ts
Due: apps, e2e

fix(simint): fix calculation scroll bug (#3116)
  apps/simint/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
Due: apps, e2e

chore(simint): add simint app to labeler (#3117)
  .github/labeler.yml
Due: none

chore: bump react components version to 0.15.0
  react-components/package.json
Due: none

chore: bump react components version to 0.15.0 (#3690)
  react-components/package.json
Due: none

fix(charts): fix storybook config (#3105)
  apps/charts/.storybook/main.ts
  apps/charts/.storybook/preview.ts
  apps/charts/project.json
  apps/charts/tsconfig.app.json
  apps/charts/tsconfig.json
  apps/charts/tsconfig.storybook.json
Due: apps, e2e

feat(3d-management): Make the camera target change on click (#3102)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
Due: apps, e2e

chore(FDX): bump reveal react components to 0.15.0 (#3119)
  package.json
  yarn.lock
Due: none

feat(3d-management): Add feature flag for Contextualize Editor (#3118)
  apps/3d-management/README.md
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
Due: apps, e2e

feat(file upload): Support file upload for files smaller than 5 GiB in AWS clusters (#3096)
  package.json
  yarn.lock
Due: none

temp: try to merge work on double-promise into optional-views-branch
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
Due: none

feat: include node cache in keep-alive context
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
Due: none

chore: lint fix
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
Due: none

fix: data explorer page e2e test and refactor data quality page (#3113)
  apps/platypus-e2e/src/integration/query-explorer/preview-query-explorer-page.cy.ts
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
Due: apps, e2e

chore: add back to previous page i18n key (#3127)
  apps/fusion-shell/src/app/components/UserProfilePage/UserProfilePage.tsx
  apps/fusion-shell/src/i18n/translations/en/navigation.json
Due: apps, e2e

fix: styling issues in platypus headers (#3114)
  apps/platypus/src/app/components/Navigations/elements.ts
  apps/platypus/src/app/modules/solution/data-management/components/BulkPopulationButton/BulkPopulationButton.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.tsx
Due: apps, e2e

fix: add useMemo dependencies and explaratory variable
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
Due: none

chore: rename variable
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
Due: none

feat: include node cache in keep-alive context (#3693)
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
Due: none

chore(react-components): bump 0.15.1
  react-components/package.json
Due: none

feat(data-explorer): e2e tests for assets sidebar filters (#3121)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
Due: apps, libs, e2e

chore(react-components): bump 0.15.1 (#3694)
  react-components/package.json
Due: none

chore(cog-idp): Refactoring to prepare for Cog-IdP login (#3108)
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
Due: libs

Add also 3d point cloud and 3d backend teams as CODEOWNERS for 3d-management (#3122)
  CODEOWNERS
Due: none

fix: redirect to idp selector page if cannot get a token for any of t… (#3131)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs

feat(data-quality): Show charts for each rule (#3124)
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationGraph.tsx
  apps/platypus/src/app/modules/solution/data-quality/utils/charts.ts
Due: apps, e2e

feat(fdx): preserve camera state in URL when in 3D view (#3123)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ToolBarContainer.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useNavigateOnClick.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useThreeDCameraNavigation.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
Due: apps, e2e

fix(react-components): Toolbar styling and missing buttons toggle (#3653)
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

fix(sdk-singleton): remove typo in variable name (#3135)
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: libs

chore(cog-idp): Highlighting the Cog-IdP login button (#3110)
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
  libs/shared/cdf-login-utils/src/hooks/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/types/cogniteIdp.ts
  libs/shared/cdf-login-utils/src/types/index.ts
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
Due: libs

Fix: Cache error in TreeIndexToSectorMap
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
Due: none

Update test to avoid bug in future
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
Due: none

fix(data-explorer): missing asset hierarchy [UX-1466] (#3141)
  libs/data-exploration-components/src/containers/Assets/AssetDetailsTreeTable/AssetDetailsTreeTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/utils/getAssetTreeViewCount.ts
  libs/data-exploration/containers/src/Search/SearchResults/utils/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useRootAssetsQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: libs

chore: remove feature flag for functions ui (#3145)
  apps/fusion-shell/src/app/utils/hooks.ts
Due: apps, e2e

chore: Update APIs
  viewer/reveal.api.md
Due: none

chore(charts): fallback to oid for cognite idp (#3146)
  apps/charts/src/app/hooks/useUserInfo.ts
  apps/charts/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
