Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

feat(react-components): implement styling capability for 3D resources component and models containers (#3485)
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/constants.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/yarn.lock
Due: none

fix(data-explorer): related resources fetching issue [UX-1079] (#2405)
  apps/data-exploration/src/app/hooks/flags/useFlagNewCounts.ts
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipAssetTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipEventTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipFileTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipSequenceTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTimeseriesTable.tsx
Due: apps, libs, e2e

feat: fixes
  apps/platypus/src/app/components/FeaturePreview/FeaturePreview.tsx
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/flags/useGPTSearch.ts
  apps/platypus/src/app/modules/solution/query-explorer/components/QueryExplorer.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/SearchPage.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/util.ts
  apps/platypus/src/app/utils/gpt-query/fdmGptAutoQuery.ts
  apps/platypus/src/app/utils/gpt-query/prompts.ts
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
Due: apps, libs, e2e

fix: cd npm auth (#2407)
  .github/workflows/CD.yml
  apps/mock-server/README.md
Due: apps, e2e

fix(data-explorer): add Time series CSV download (#2297)
  apps/data-exploration/src/app/components/TitleRowActions/DownloadButton.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration/domain-layer/src/constants.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesDatapoints.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesDataPointsQuery.ts
Due: apps, libs, e2e

fix(fdx): resolve global search issues + ui tweaks (#2413)
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuList/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/Select/Select.tsx
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/category/components/CategoryCard.tsx
  apps/flexible-data-explorer/src/app/containers/page/Page.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/selectors/DataModelSelector.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/dataModels/query/useTypesDataModelQuery.ts
Due: apps, e2e

working
  apps/platypus/src/app/modules/solution/query-explorer/pages/util.spec.ts
Due: apps, e2e

fix(simconfig): Improve modal for Simulation Routine creation [DEGR-2511] (#3863)
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
Due: apps, e2e

fix: color tokens for data model message in copilot (#2410)
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
Due: libs

refactor(industrial-canvas): rename FDM types to DTO (#2418)
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/services/dataModelUtils.ts
  libs/industry-canvas/src/lib/services/dtoCanvasAnnotationToCanvasAnnotation.ts
  libs/industry-canvas/src/lib/services/dtoContainerReferenceToContainerReference.ts
  libs/industry-canvas/src/lib/services/types.ts
Due: libs

Chore/charts update 2 (#2417)
  apps/charts/src/app/models/calculation-results/mocks.ts
  apps/charts/src/app/models/chart/specs/update-duplicate-ids.spec.ts
  apps/charts/src/app/models/chart/update-duplicate-ids.ts
  apps/charts/src/app/models/chart/updates.ts
  apps/charts/src/app/pages/ChartViewPage/hooks.ts
  apps/charts/src/app/utils/calculations.spec.ts
  apps/charts/src/app/utils/calculations.ts
Due: apps, e2e

fix(fdx): use 'externalId' instead of 'name' for data models (#2421)
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/flexible-data-explorer/src/app/services/types.ts
Due: apps, e2e

feat: integrate unified signin into coding conventions (#2392)
  apps/coding-conventions/project.json
  apps/coding-conventions/src/AppWrapper.tsx
  apps/coding-conventions/src/app/App.tsx
  apps/coding-conventions/src/app/AuthContainer.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/hooks/useUserInformation.ts
  apps/coding-conventions/src/app/queryClient.ts
  apps/coding-conventions/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

feat: slice button for RevealToolbar
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

Add Importance to AssignStyledNodeCollection
  examples/src/utils/NodeStylingUI.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
Due: none

chore: further CI improvements (#2381)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
  apps/platypus/.storybook/tsconfig.json
  apps/platypus/tsconfig.json
  apps/platypus/tsconfig.storybook.json
  libs/contextualization/tsconfig.json
  libs/contextualization/tsconfig.storybook.json
  libs/copilot-core/tsconfig.json
  libs/copilot-core/tsconfig.storybook.json
  libs/data-exploration-components/.storybook/tsconfig.json
  libs/data-exploration-components/tsconfig.storybook.json
  libs/data-exploration/components/.storybook/tsconfig.json
  libs/data-exploration/components/tsconfig.json
  libs/data-exploration/components/tsconfig.storybook.json
  libs/data-exploration/containers/.storybook/tsconfig.json
  libs/data-exploration/containers/tsconfig.json
  libs/data-exploration/containers/tsconfig.storybook.json
  libs/industry-canvas/tsconfig.json
  libs/industry-canvas/tsconfig.storybook.json
  libs/shared/plotting-components/.eslintrc.json
  libs/shared/plotting-components/.storybook/tsconfig.json
  libs/shared/plotting-components/tsconfig.json
  libs/shared/plotting-components/tsconfig.storybook.json
  libs/shared/user-onboarding-components/.storybook/tsconfig.json
  libs/shared/user-onboarding-components/tsconfig.storybook.json
  libs/shared/user-profile-components/.storybook/tsconfig.json
  libs/shared/user-profile-components/tsconfig.json
  libs/shared/user-profile-components/tsconfig.storybook.json
  migrations.json
  nx.json
  package.json
  scripts/github-actions/nx-get-affected/README.md
  scripts/github-actions/nx-get-affected/action.yml
  scripts/github-actions/nx-get-affected/index.js
  yarn.lock
Due: apps, libs, e2e

fix: make sure slicing planes keep their position when adding model
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

feat: expose SlicerButton and FitModelsButton
  react-components/src/index.ts
Due: none

chore: allow custom content to toolbar
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

add: mixpanel in user-profile-components and other minor changes (#2393)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/project.json
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/index.ts
  libs/shared/user-profile-components/src/metrics/index.ts
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
  yarn.lock
Due: apps, libs, e2e

fix(data-explorer): restore file view switcher in relationship table (#2433)
  libs/data-exploration-components/src/containers/Relationships/RelationshipTableV2.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/elements.ts
Due: libs

fix(data-explorer): Detail view alignment (#2196)
  libs/data-exploration/components/src/Details/DetailsItem.tsx
Due: libs

fix: run build apps if libs was skipped (#2435)
  .github/workflows/nx_ci.yml
Due: none

fix(simconfig): Routine builder improvements [DEGR-2438] (#3856)
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/StepType.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/UnitType.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Get.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Set.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/utils.ts
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/elements.tsx
  apps/simconfig/src/utils/routineUtils.ts
Due: apps, e2e

feat(Onboarding-Components): Adding the orientation component in the onboarding component (#2422)
  libs/shared/user-onboarding-components/project.json
  libs/shared/user-onboarding-components/src/components/index.ts
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.spec.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.stories.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.tsx
  libs/shared/user-onboarding-components/src/components/orientation/OrientationContext.tsx
  libs/shared/user-onboarding-components/src/components/orientation/OrientationTooltip.tsx
  libs/shared/user-onboarding-components/src/components/orientation/elements.ts
  libs/shared/user-onboarding-components/src/components/orientation/index.ts
  libs/shared/user-onboarding-components/src/components/orientation/types.ts
  libs/shared/user-onboarding-components/src/components/orientation/utils.tsx
  libs/shared/user-onboarding-components/tsconfig.json
  libs/shared/user-onboarding-components/tsconfig.lib.json
  libs/shared/user-onboarding-components/tsconfig.spec.json
  libs/shared/user-onboarding-components/tsconfig.storybook.json
  package.json
  yarn.lock
Due: libs

fix(nx-ci): add always() check for build-apps and build-shell
  .github/workflows/nx_ci.yml
Due: none

feat(simconfig) : Add empty states when permissions missing (#3855)
  apps/simconfig/BUILD.bazel
  apps/simconfig/src/components/accesscontrolwrapper/AccessControlWrapper.tsx
  apps/simconfig/src/components/accesscontrolwrapper/index.tsx
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/app/constants.ts
  apps/simconfig/src/hooks/__tests/useCheckAcl.mock.test.tsx
  apps/simconfig/src/hooks/useCapabilities.ts
  apps/simconfig/src/hooks/useCheckAcl.ts
  apps/simconfig/src/pages/emptystates/permissions-required.tsx
  apps/simconfig/src/routes.tsx
Due: apps, e2e

feat(copilot-core): input cleaning, moving to llm-hub, showing source docs (#2406)
  libs/copilot-core/project.json
  libs/copilot-core/src/lib/getActions.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/prompts.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/summaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
Due: libs

feat: create separate file for release- branches
  .github/workflows/ci-release-branch.yml
  .github/workflows/nx_ci.yml
Due: none

Added sliders and adjusted UI for submenu
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/OpacitySlider.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

Fixed lint error
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

fix: node caching (#2394)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
Due: none

Fixing Menu.Item related errors
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
Due: apps, e2e

fix: get project name from branch
  .github/workflows/ci-release-branch.yml
  nx.json
Due: none

fix: workflow file
  .github/workflows/ci-release-branch.yml
Due: none

fix: unify business-shell release process (#2414)
  .github/workflows/deploy_fdx.yml
  Jenkinsfile
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
