Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

feat(fdx): unit tests for filter utils (#3171)
  apps/flexible-data-explorer/src/app/containers/Filter/utils/__tests__/isFieldValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/utils/__tests__/isNoInputOperator.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/utils/__tests__/isValueByField.spec.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/__tests__/builders.spec.ts
Due: apps, e2e

fix(industry-canvas): Allow only to delete your own canvases (#3133)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
Due: libs

feat(data-explorer): e2e tests for time series side bar filters (#3175)
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  libs/data-exploration/components/src/Inputs/BooleanInput/BooleanInput.tsx
Due: apps, libs, e2e

chore(interactive diagrams) Updated the Versioning strategy of Interactive Diagrams (#3174)
  Jenkinsfile
Due: none

feat(engineering-diagrams) Introduce batching process for detection job (#3155)
  apps/interactive-diagrams/src/modules/workflows/actions/parsingWorkflow.ts
Due: apps, e2e

chore: checkpoint for messed-up code
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
Due: none

feat: Optimize TreeIndexToSectorsMap
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Due: none

Fix missing test code
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
Due: none

Rename
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
Due: none

fix(simint): Remove ts-ignore (#3182)
  apps/simint/src/components/models/CalculationList/CalculationList.tsx
  apps/simint/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/validation.ts
Due: apps, e2e

fix(data-quality): Rule table fixes (#3186)
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RuleOptionsMenu.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/utils/charts.ts
Due: apps, e2e

feat(data-quality): Fixed DQ report for big data (#3168)
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/useDownloadReport.tsx
Due: apps, e2e

fix: check the error type before directing (#3188)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs

feat: new import directive and default directive (#3189)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/tests/mocks.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
Due: apps, libs, e2e

fix: revert the changes to check for suberror (#3191)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs

fix: remove check for error instance (#3193)
  libs/login-page/src/modules/select-project/SelectProject.tsx
Due: libs

add the cad model support into the contextualization editor and some refactoring on the container
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
Due: apps, e2e

fix(cog-idp): Hide clusters where the user does not have access to any projects (#3176)
  libs/login-page/src/components/project-list/ProjectList.tsx
Due: libs

CI: cache Cypress in CI (#3187)
  .github/workflows/nx_ci.yml
Due: none

fix: Update Moving Resolution Factor Now takes the max resolution into account. The MCRF would often use the max resolution when it was running on a large screen. This adjusts it.
  viewer/packages/rendering/src/ResizeHandler.ts
Due: none

feat: return two promises from useClickedNode
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
Due: none

Simplify math
  viewer/packages/rendering/src/ResizeHandler.ts
Due: none

feat(simint): render dynamic fields from API in routine builder (#3046)
  CODEOWNERS
  apps/simint/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelector.tsx
  apps/simint/src/components/forms/elements.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Command.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.stories.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/InputType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/OpenServerAddress.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/StepType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/UnitType.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/index.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Get.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Set.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/StepCommand.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/utils.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/validation.spec.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/validation.ts
  package.json
  yarn.lock
Due: apps, e2e

fix(engineering-diagrams) scroll down by clicking in More filters (#3202)
  apps/interactive-diagrams/src/components/Common/molecules/Select/index.tsx
  apps/interactive-diagrams/src/components/Filters/FilterBar/FilterMenu.tsx
  apps/interactive-diagrams/src/store/env/storeDev.ts
Due: apps, e2e

chore: cleanup and lint fix
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useClickedNode.tsx
Due: none

chore: lint fix again
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix(react-components): allow custom transform on viewer anchor when using stickiness (#3700)
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix(simint): Fix redirection for predefined calculations (#3184)
  apps/simint/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
Due: apps, e2e

chore(react-components): bump to version 0.15.2
  react-components/package.json
Due: none

fix: data model deletion to optionally include data types (#3194)
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/delete.ts
  apps/platypus/src/app/modules/data-models/DeleteDataModel.tsx
  apps/platypus/src/i18n/en/platypus.json
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-models-handler.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-models-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Due: apps, libs, e2e

chore(react-components): bump to version 0.15.2 (#3720)
  react-components/package.json
Due: none

feat(data-explorer): scroll to selected asset [UX-1466] (#3205)
  apps/data-exploration/src/app/containers/Asset/AssetHierarchyTab.tsx
  libs/data-exploration/components/src/Table/Table.tsx
Due: apps, libs, e2e

feat: Stop old batch loading (#3679)
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
Due: none

fix: remove token
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360FdmProvider.test.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360FdmProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/DmsSdk.ts
  viewer/packages/data-providers/src/image-360-data-providers/listCollections.ts
  viewer/packages/data-providers/src/types.ts
Due: none

feat(fdx): unit tests for common utils (#3185)
  apps/flexible-data-explorer/src/app/fixtures/i18n.ts
  apps/flexible-data-explorer/src/app/fixtures/index.ts
  apps/flexible-data-explorer/src/app/hooks/useTranslation.tsx
  apps/flexible-data-explorer/src/app/utils/__tests__/date.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/getIcon.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/number.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/object.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/router.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/sort.spec.ts
  apps/flexible-data-explorer/src/app/utils/__tests__/string.spec.ts
  apps/flexible-data-explorer/src/app/utils/number.ts
  apps/flexible-data-explorer/src/app/utils/object.ts
  apps/flexible-data-explorer/src/app/utils/string.ts
Due: apps, e2e

chore: cleanup, renaming
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

fix: UX-1482 fix web workers for FDM (#3198)
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus-e2e/src/integration/data-model/local-drafts.cy.ts
  apps/platypus-e2e/src/support/code-editor.ts
  apps/platypus/project.json
  apps/platypus/src/app/CorsWorker.ts
  apps/platypus/src/app/modules/data-models/components/DataModelsListHeader/DataModelsListHeader.tsx
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/suggestionsWorkerLoader.ts
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/useFindSuggestions.ts
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/Model.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/graphqlSetup.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeActionProvider.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/DiagnosticsAdapter.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/DocumentFormattingAdapter.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/HoverAdapter.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/workerManager.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/types.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/worker-loaders/graphqlWorkerLoader.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/worker-loaders/monacoLanguageServiceWorkerLoader.ts
  apps/platypus/tsconfig.workers.json
  apps/platypus/web-workers-webpack-config.js
Due: apps, e2e

ci: run e2e tests in CI (#3166)
  .github/workflows/nx_ci.yml
  README.md
  apps/charts-e2e/project.json
  apps/charts-e2e/src/config.ts
  apps/charts-e2e/src/e2e/homePage.cy.ts
  apps/charts-e2e/src/support/e2e.ts
  apps/industry-canvas-ui-e2e/project.json
  apps/industry-canvas-ui-e2e/src/config.ts
  apps/industry-canvas-ui-e2e/src/e2e/homePage.cy.ts
  apps/industry-canvas-ui-e2e/src/support/e2e.ts
  apps/simint-e2e/project.json
  apps/simint-e2e/src/config.ts
  libs/shared/cypress/src/lib/commands/ensurePageFinishedLoading.ts
  libs/shared/cypress/src/lib/commands/ensureSpaAppIsLoaded.ts
  libs/shared/cypress/src/lib/commands/index.ts
  libs/shared/cypress/src/lib/commands/loginWithAADUserCredentials.ts
  scripts/github-actions/nx-get-affected/index.js
Due: apps, libs, e2e

[CHARTS] AH-1863 : Associate Chart with Monitoring jobs (#3197)
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/utils/constants.ts
Due: apps, e2e

chore: cleanup and lint fix
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
