Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix(data-explorer): remove unnecessary highlights from search results (#2273)
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/components/src/Table/components/HighlightCell.tsx
  libs/data-exploration/components/src/Table/index.ts
  libs/data-exploration/components/src/Table/utils.ts
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTable/AssetTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventTable/EventTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceTable/SequenceTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTable/TimeseriesTable.tsx
Due: libs

fix: charts build
  apps/charts/src/app/components/AlertIcon/AlertIcon.stories.tsx
  apps/charts/src/app/components/CopyButton/CopyButton.stories.tsx
  apps/charts/src/app/components/OpenAsChartLink/OpenAsChartLink.stories.tsx
  apps/charts/src/app/components/StyleButton/StyleButton.stories.tsx
Due: apps, e2e

fix: DE containers unit-tests
  libs/data-exploration/containers/src/Search/SearchConfig/__tests__/CommonColumn.test.ts
  libs/data-exploration/containers/src/Search/SearchConfig/__tests__/ResourceColumns.test.ts
Due: libs

feat: infer model type using Reveal's determineModelType
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix: copilot
  apps/copilot/src/app/utils/setupMonaco.ts
  libs/copilot-core/package.json
  libs/copilot-core/project.json
  libs/copilot-core/rollup.config.js
Due: apps, libs, e2e

Update libs/copilot-core/package.json
  libs/copilot-core/package.json
Due: libs

fix(cdf-utilities): remove user history cache
  libs/shared/cdf-utilities/src/utils/history.ts
Due: libs

fix(cdf-utilities): increase resource limit to 10
  libs/shared/cdf-utilities/src/utils/history.ts
Due: libs

chore(cdf-utilities): add release pipeline and bump version
  Jenkinsfile
  libs/shared/cdf-utilities/package.json
Due: libs

fix: package
  libs/copilot-core/package.json
Due: libs

fix: tests and lint
  apps/3d-management/jest.config.ts
  apps/cdf-document-search/src/hooks/__tests__/useLabelName.spec.tsx
  apps/charts/src/app/domain/chart/service/__tests/useCapabilities.spec.ts
  apps/charts/src/app/hooks/__tests__/thresholds-calculations.spec.ts
  apps/charts/src/app/hooks/__tests__/translations.spec.ts
  apps/charts/src/app/tests/testUtils.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  apps/extraction-pipelines/jest.config.ts
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/TimeSeriesNode.tsx
  apps/vision/src/modules/Explorer/store/__tests__/hook.spec.ts
  apps/vision/src/modules/Process/store/__tests__/hooks.spec.ts
  apps/vision/src/store/hooks/tests/useAssetLinkWarning.spec.tsx
  package.json
Due: apps, e2e

updated yarn.lock
  yarn.lock
Due: none

chore(data-explorer): Add missing columns in resource selector detail tables (#2279)
  libs/data-exploration/containers/src/DetailsTable/AssetDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/EventDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/SequenceDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/TimeseriesDetailsTable.tsx
Due: libs

feat(data-quality): Upsert rules (#2278)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/api/openapi-codegen.config.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadDataSource.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadRules.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/useDataSourceValidity.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleFooter.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useLoadRuleset.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useShowUpsertSuccess.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useUpsertRule.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/index.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

fix(functions-ui): Update FunctionLogsModal.tsx (#2313)
  apps/functions-ui/src/components/FunctionModals/FunctionLogsModal.tsx
Due: apps, e2e

fix: storybook build
  apps/platypus/.storybook/main.js
  libs/data-exploration-components/.storybook/main.js
  libs/data-exploration-components/.storybook/main.ts
  libs/data-exploration-components/.storybook/preview.ts
  libs/data-exploration-components/package.json
  libs/data-exploration-components/src/components/SearchNew/Filters/BooleanFilter/BooleanFilter.stories.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/Filters.stories.tsx
  libs/data-exploration-components/src/docs/SearchResults.stories.mdx
  libs/data-exploration/containers/.storybook/main.ts
  libs/industry-canvas/.storybook/main.ts
Due: apps, libs, e2e

fix(simconfig): Handle when simulator name does not match with config (#3860)
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
Due: apps, e2e

fix: remove usage of `@testing-library/react-hooks`
  apps/data-catalog/src/app/utils/filterUtils.spec.js
  package.json
Due: apps, e2e

fix(data-explorer): Add timeseries in annotation preview sidebar (#2235)
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
  libs/data-exploration/containers/src/DetailsTable/TimesereisSmallPreviewTable.tsx
  libs/data-exploration/containers/src/DetailsTable/index.ts
  libs/data-exploration/containers/src/ResourceDetails/AssetDetails/AssetDetails.tsx
Due: libs

add: support in user profile comps for maintain (#2308)
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
Due: libs

fix(data-explorer): Filter close with option click (#2236)
  libs/data-exploration/components/src/CheckboxSelect/components/Option.tsx
  libs/data-exploration/components/src/CheckboxSelect/elements.ts
  libs/data-exploration/components/src/PreviewFilter/PreviewFilterDropdown.tsx
Due: libs

fix: linting and expose styling capabilities
  react-components/src/components/Toolbar/FitModelsButton.tsx
  react-components/src/components/Toolbar/Toolbar.tsx
  react-components/src/components/Toolbar/ToolbarButton.tsx
  react-components/src/components/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

fix: from QA
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/Image360CollectionContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/tsconfig.json
Due: none

feat(react-components): add threed resource container (#3451)
  react-components/.eslintrc.cjs
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/ModelsLoadingContext.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/index.ts
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/Image360CollectionContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
Due: none

chore(react-components): bump to version 0.3.0
  react-components/package.json
Due: none

fix(data-explorer): asset tree filter results (#2307)
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
Due: libs

Fix open in Charts links (#3861)
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore(react-components): bump to version 0.3.0 (#3460)
  react-components/package.json
Due: none

feat(fdx): search aggregates count (#2290)
  .github/workflows/deploy_fdx.yml
  apps/flexible-data-explorer/src/app/common/topbar/top-bar.tsx
  apps/flexible-data-explorer/src/app/components/search/SearchResults.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsBody.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsFooter.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useSearchTotalCount.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/services/FDMClient.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/services/files/queries/use
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/network/getTimeseriesAggregate.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/services/types.ts
Due: apps, e2e

fix(data-explorer): Resource selector checkbox behavior (#2276)
  libs/data-exploration/components/src/Table/Table.tsx
Due: libs

fix(data-explorer): various 3D page fixes related to points of interest (#2191)
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/components/PointsOfInterestOverlay.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/hooks/useInfinitePointsOfInterestCollection.ts
  apps/data-exploration/src/app/containers/ThreeD/load-secondary-models/PointsOfInterestLoader.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/Dropdowns/PointsOfInterestDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/MenuItems/MainThreeDModelMenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTopbar.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
  libs/data-exploration/containers/src/ThreeD/ThreeDModelDisplay.tsx
Due: apps, libs, e2e

feat: add 3D resource component to add loading capabilities for all supported 3D resources
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/types.ts
  package.json
  yarn.lock
Due: apps, e2e

fix: add locize details in i18nWrapper
  apps/charts/src/AppWrapper.tsx
Due: apps, e2e

fix(fdx): increase node max space to 8gb for the depolyment workflow (#2315)
  .github/workflows/deploy_fdx.yml
Due: none

fix: mixpanel token
  apps/charts/src/app/config/config.ts
  apps/charts/src/app/services/metrics.ts
Due: apps, e2e

fix: updated yarn.lock file
  yarn.lock
Due: none

fix(industry-canvas): rename selector to Find related resources (#2289)
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CloseResourceSelectorButton.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
Due: libs

fix: parity imports
  apps/charts/src/app/components/NodeEditor/V2/elements.ts
  apps/charts/src/app/components/ScheduledCalculation/helpers.ts
  apps/charts/src/app/models/chart/updates.ts
  apps/charts/src/app/models/scheduled-calculation-results/types.ts
Due: apps, e2e

Trigger _image360ApiHelper.ResetRedraw
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
