Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: port three examples lines to Reveal
  examples/yarn.lock
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/packages/utilities/src/three/lines/Line2.ts
  viewer/packages/utilities/src/three/lines/LineGeometry.ts
  viewer/packages/utilities/src/three/lines/LineMaterial.ts
  viewer/packages/utilities/src/three/lines/LineSegments2.ts
  viewer/packages/utilities/src/three/lines/LineSegmentsGeometry.ts
Due: none

chore(fdx): fix env and config for cypress e2e (#3657)
  apps/flexible-data-explorer/README.md
  apps/flexible-data-explorer/cypress.config.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/scripts/cypress-dev.sh
Due: apps, e2e

fix: bundle sparse octree
  .gitignore
  viewer/package.json
  viewer/webpack.config.js
Due: none

fix: chart Remove SCHEDULED_CALCULATIONS_ACL altogether - AH-2024 (#3652)
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationDeleteModal.tsx
  apps/charts/src/app/components/SourceTable/ScheduledCalculationRow.tsx
  libs/charts-lib/src/lib/constants.ts
Due: apps, libs, e2e

chore: add basic test for RevealContainer
  react-components/tests/components/RevealContainer.test.tsx
  react-components/tests/sum.test.tsx
  viewer/package.json
Due: none

chore(CODEOWNERS): update access-management, data-catalog ownership (#3573)
  CODEOWNERS
Due: none

fix(data-explorer): total resources count (#3651)
  libs/data-exploration-components/src/containers/Relationships/DirectlyLinkedResourceTable.tsx
  libs/data-exploration/domain-layer/src/counts/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAnnotationsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useDirectlyLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesIds.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelationshipsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/useDirectlyLinkedResourcesCountQuery.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/useLinkedResourcesCountQuery.ts
  libs/data-exploration/domain-layer/src/relationships/internal/queries/useRelatedResourceExternalIds.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/transformToRelatedResourceExternalIds.ts
Due: libs

exposed point cloud model visibilty property
  viewer/packages/pointclouds/src/CognitePointCloudModel.test.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
Due: none

fix(data-exploration): linked resource tables empty state [UX-1651] (#3662)
  libs/data-exploration-components/src/containers/Relationships/DirectlyLinkedResourceTable.tsx
  libs/data-exploration-components/src/containers/Relationships/LinkedResourceTable.tsx
Due: libs

fix(industrial-canvas): call byresource endpoint only when cogidp is used (#3645)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/CanvasVisibilityModal.tsx
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
Due: libs

fix(react-components): use restricted-to-most-geometry bounding box in slicing
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

updated api and docs
  documentation/docs/examples/pointcloud.mdx
  viewer/reveal.api.md
Due: none

chore: don't use predefined bounding box
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

fix(react-components): "mapped"-styling not always set on right model
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(react-components): use restricted-to-most-geometry bounding box in slicing (#3811)
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

chore: lint fix
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

Lint error
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
Due: none

chore: lint fix again
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(data-explorer): related resources loading state [UX-1650] (#3665)
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Temp/FileGroupingTable/FileGroupingTable.tsx
Due: libs

style(3d-management): Improve 3D models "Contextualize" button style (#3663)
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeDContextualizeButton.tsx
Due: apps, e2e

merged annotation asset story with Search hook story
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
  react-components/stories/AnnotationAsset.stories.tsx
  react-components/stories/SearchHooks.stories.tsx
Due: none

notebook: on duplicate tabs, restrict access with warning modal (#3671)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

notebook > multiple tabs warning: fix modal text; add link to comment (#3672)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

fix: use new gpt service
  libs/data-exploration/domain-layer/src/gpt/service/network/getChatCompletions.ts
Due: libs

fix: use 16k model
  libs/data-exploration/domain-layer/src/gpt/service/network/getChatCompletions.ts
Due: libs

fix(data-explorer): Missing translations in file preview sidebar (#3643)
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationsList/AnnotationsList.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/ReviewTagBar.tsx
Due: apps, libs, e2e

feat(entity-matching): average score column (#3571)
  apps/entity-matching/src/app/common/i18n/en/entity-matching.json
  apps/entity-matching/src/app/components/em-result/applied-rules-table/index.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/GroupedResultsTable.tsx
  apps/entity-matching/src/app/types/rules.ts
  apps/entity-matching/src/app/utils/colored-rules.tsx
  apps/entity-matching/src/app/utils/rules.tsx
Due: apps, e2e

feat: added point cloud model visibility property (#3813)
  documentation/docs/examples/pointcloud.mdx
  viewer/packages/pointclouds/src/CognitePointCloudModel.test.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Due: none

fix: request new frame when coloring annotation in examples
  examples/src/utils/Image360UI.ts
Due: none

team kali in codeowners
  CODEOWNERS
Due: none

feat: add initial setup for visual regression testing
  .gitignore
  react-components/.gitignore
  react-components/.storybook/main.ts
  react-components/package.json
  react-components/playwright.config.ts
  react-components/tests/visual-tests/example.spec.ts
  react-components/tests/visual-tests/example.spec.ts-snapshots/has-title-1-chromium-win32.png
  react-components/tests/visual-tests/utils/loadStory.ts
  react-components/tsconfig.json
  react-components/yarn.lock
Due: none

team-kali fix
  CODEOWNERS
Due: none

add comma in jenkinsfile
  Jenkinsfile
Due: none

another missing comma
  Jenkinsfile
Due: none

fix: only run yalc plugin when env is set
  react-components/vite.config.ts
Due: none

fix(fdx): providers for flexible data explorer (AI, Onboarding and Error boundary) (#3633)
  apps/flexible-data-explorer/cypress/e2e/app.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/ShellApp.tsx
  apps/flexible-data-explorer/src/app/common/metrics/index.ts
  apps/flexible-data-explorer/src/app/common/metrics/useTracker.ts
  apps/flexible-data-explorer/src/app/components/ErrorFallback.tsx
  apps/flexible-data-explorer/src/app/containers/onboarding/Onboarding.tsx
  apps/flexible-data-explorer/src/app/containers/onboarding/images/carousel-image_1.png
  apps/flexible-data-explorer/src/app/containers/onboarding/images/carousel-image_2.png
  apps/flexible-data-explorer/src/app/containers/onboarding/images/carousel-image_3.png
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/fusion-shell/src/main.tsx
Due: apps, e2e

clean up
  apps/diagram-parsing/src/app/App.spec.tsx
  apps/diagram-parsing/src/main.tsx
Due: apps, e2e

docs: update docs to mention redraw on annotation style update
  documentation/docs/examples/image360-annotations.mdx
Due: none

fix: add MIT licence to files adapted from threejs
  viewer/.eslintrc.js
  viewer/packages/utilities/src/three/lines/LICENSE.txt
  viewer/packages/utilities/src/three/lines/Line2.ts
  viewer/packages/utilities/src/three/lines/LineGeometry.ts
  viewer/packages/utilities/src/three/lines/LineMaterial.ts
  viewer/packages/utilities/src/three/lines/LineSegments2.ts
  viewer/packages/utilities/src/three/lines/LineSegmentsGeometry.ts
Due: none
