Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore: fix lib-check errors in examples (#3370)
  examples/package.json
  examples/tsconfig.json
  examples/yarn.lock
  viewer/packages/utilities/src/three/VariableWidthLine.ts
Due: none

Fixed storybook, refactoring code to not use the deprecated workers-loader for web workers
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/suggestionsWorkerLoader.ts
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/useFindSuggestions.ts
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/worker-loaders/graphqlWorkerLoader.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/worker-loaders/monacoLanguageServiceWorkerLoader.ts
  apps/platypus/src/app/tests/mockDecorator.ts
  apps/platypus/src/custom.d.ts
  apps/platypus/tsconfig.app.json
  apps/platypus/webpack-config.js
  package.json
  yarn.lock
Due: apps, e2e

fix: core package build
  apps/charts/src/app/components/FileViewer/utils/dataExplorationDecorator.tsx
  apps/charts/tsconfig.app.json
  apps/interactive-diagrams/src/store/localStorage.ts
  libs/cdf-nx-plugin/src/generators/fusion-subapp/generator.ts
  libs/data-exploration-components/.storybook/providers.tsx
  libs/data-exploration-components/project.json
  libs/data-exploration-components/src/docs/AdvancedUseCases.stories.tsx
  libs/data-exploration-components/src/docs/ResourcePreview.stories.tsx
  libs/data-exploration-components/src/docs/ResourceSelector.stories.tsx
  libs/industry-canvas/project.json
  libs/shared/cdf-ui-i18n-utils/src/components/TypedTrans/TypedTrans.tsx
  libs/shared/cdf-ui-i18n-utils/src/components/TypedTrans/index.ts
  libs/shared/cdf-ui-i18n-utils/src/components/index.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: apps, libs, e2e

style(industrial-canvas): Change file connection color (#2212)
  libs/data-exploration-components/src/containers/Files/FilePreview/utils.ts
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
Due: libs

feat(user-profile-components): add support for new languages
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
Due: libs

feat(business-shell): add support for new languages
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
Due: apps, e2e

feat(business-shell): pull non-english keys from locize
  apps/business-shell/src/app/common/i18n/de/business-shell.json
  apps/business-shell/src/app/common/i18n/es/business-shell.json
  apps/business-shell/src/app/common/i18n/fr/business-shell.json
  apps/business-shell/src/app/common/i18n/it/business-shell.json
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/common/i18n/ko/business-shell.json
  apps/business-shell/src/app/common/i18n/nl/business-shell.json
  apps/business-shell/src/app/common/i18n/pt/business-shell.json
  apps/business-shell/src/app/common/i18n/sv/business-shell.json
  apps/business-shell/src/app/common/i18n/zh/business-shell.json
Due: apps, e2e

fix(business-shell): import new language files
  apps/business-shell/src/app/common/i18n/index.tsx
Due: apps, e2e

feat: add 360 image collection container
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/index.ts
  react-components/stories/Image360CollectionContainer.stories.tsx
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

fix: wrong conditional CI run for deploy doc
  .github/workflows/ci.yml
Due: none

fix: wrong conditional CI run for deploy doc (#3444)
  .github/workflows/ci.yml
Due: none

added 10 langs for data-exploration (#2288)
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/index.tsx
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
Due: apps, e2e

fix(fdx): project config crashing app (#2291)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/hooks/useProjectConfig.ts
Due: apps, e2e

fix: crashing when running from a push event
  .github/workflows/ci.yml
Due: none

fix(CI): ci crashing when running from a push event (#3445)
  .github/workflows/ci.yml
Due: none

feat(fdx): 3D button in FDX homepage to load 3D page (#2285)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/Button/ThreeDButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/AppliedThree3DData.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBarSwitch.tsx
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/types.ts
Due: apps, e2e

Recompute sector bounds when nodes are transformed (#3391)
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.test.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/reveal.api.md
  viewer/yarn.lock
Due: none

feat: initial work on React Toolbar
  react-components/src/components/Toolbar/FitModelsButton.tsx
  react-components/src/components/Toolbar/SliceButton.tsx
  react-components/src/components/Toolbar/Toolbar.tsx
  react-components/src/components/Toolbar/ToolbarButton.tsx
  react-components/src/components/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

added translate provider for data-exploration (#2293)
  libs/data-exploration/core/src/hooks/useTranslation.ts
Due: libs

fix(fdx): hide threeD button (#2294)
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

feat: add industrial-canvas translations (#2292)
  libs/industry-canvas/src/lib/common/i18n/de/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/es/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/fr/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/index.tsx
  libs/industry-canvas/src/lib/common/i18n/it/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/ja/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/ko/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/nl/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/pt/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/sv/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/zh/industrial-canvas.json
  scripts/i18n.sh
Due: libs

chore(user-profile-components): bump package to 0.1.1 (#2295)
  libs/shared/user-profile-components/package.json
Due: libs

chore: cleanup to prepare for review
  react-components/src/components/Toolbar/SliceButton.tsx
  react-components/src/components/Toolbar/Toolbar.tsx
  react-components/src/components/Toolbar/ToolbarButton.tsx
Due: none

feat(industrial-canvas): allow searching for user in the home page (#2266)
  libs/industry-canvas/src/lib/hooks/useCanvasSearch.tsx
  libs/industry-canvas/src/lib/utils/caseInsensitiveIncludes.ts
Due: libs

migration to latest
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: none

fix(simint): UI fix calculation details page for simulation routines (#3858)
  apps/simconfig/src/components/calculation/CalculationSummary.tsx
  apps/simconfig/src/pages/CalculationDetails/CalculationDetails.tsx
Due: apps, e2e

chore(access-management): add ci/cd and ownership
  .github/labeler.yml
  CODEOWNERS
  Jenkinsfile
  codecov.yml
Due: none

fix: remove first time user carousel (#2298)
  apps/raw-explorer/src/containers/RawExplorer/RawExplorer.tsx
Due: apps, e2e

feat: fix graphql toolchain to use types from fdm (#2300)
  apps/copilot/src/GlobalStyles.tsx
  apps/functions-ui/src/GlobalStyles.tsx
  libs/copilot-core/README.md
  libs/copilot-core/package.json
  libs/copilot-core/project.json
  libs/copilot-core/rollup.config.js
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ActionRenderer/WaitComponent.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/SmallChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/CodeMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/hooks/useDataModels.tsx
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/prompts.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/toolchains/router/router.ts
  libs/copilot-core/src/lib/types.ts
  libs/data-modeling/platypus-common-utils/package.json
  libs/data-modeling/platypus-common-utils/project.json
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/data-modeling/platypus-common-utils/tsconfig.lib.json
  libs/data-modeling/platypus-core/package.json
  libs/data-modeling/platypus-core/project.json
  libs/shared/mock-data/package.json
  libs/shared/mock-data/project.json
Due: apps, libs, e2e

chore(fdx): stop deployment to prod temporarily (#2301)
  .github/workflows/deploy_fdx.yml
Due: none

fix: add 3d resource container
  react-components/.eslintrc.cjs
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/ModelsLoadingContext.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/tsconfig.json
Due: none

fix: user dropdown min-width & missing email use case in user profile & feat: add avatar in user profile header (#2258)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/components/topbar/UserMenu.css
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/index.ts
Due: apps, libs, e2e

feat: add CameraController component
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/Image360CollectionContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

use feature flag to show predefined calculations (#3859)
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
Due: apps, e2e

feat: business-shell vite ⚡️
  apps/business-shell/index.html
  apps/business-shell/project.json
  apps/business-shell/src/GlobalStyles.tsx
  apps/business-shell/tsconfig.json
  apps/business-shell/vite.config.ts
  apps/business-shell/webpack-config.js
  package.json
  yarn.lock
Due: apps, e2e

chore(access-management): dummy change for deployment (#2303)
  apps/access-management/README.md
Due: apps, e2e

fix: add missing import
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/index.ts
  react-components/src/index.ts
  react-components/webpack.config.js
Due: none

updated yarn.lock file
  yarn.lock
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
