Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat: cdfux-1029 integrate interactive-diagrams with auth-react (#2449)
  apps/interactive-diagrams/src/App.tsx
  apps/interactive-diagrams/src/AuthContainer.tsx
  apps/interactive-diagrams/src/cognite-cdf-sdk-singleton.d.ts
  apps/interactive-diagrams/src/cognite-sdk-singleton.d.ts
  apps/interactive-diagrams/src/store/env/storeDev.ts
Due: apps, e2e

UX-1031 Integrate auth react in cdf-document-search sub-app to work with Unified Sign In (#2426)
  apps/cdf-document-search/src/App.tsx
  apps/cdf-document-search/src/AuthContainer.tsx
  apps/cdf-document-search/src/cognite-cdf-sdk-singleton.d.ts
  apps/cdf-document-search/src/hooks/useUserPermissions.tsx
  apps/cdf-document-search/src/pages/router.tsx
  apps/cdf-document-search/src/services/api/documents/classifiers.ts
  apps/cdf-document-search/src/services/api/documents/documents.ts
  apps/cdf-document-search/src/services/api/documents/pipelines.ts
Due: apps, e2e

fix: pepeline stuck after skipped dependency (#2454)
  .github/workflows/nx_ci.yml
Due: none

chore: update CODEOWNERS (#2465)
  CODEOWNERS
Due: none

fix: ci release pipeline "CI Passed" status check (#2470)
  .github/workflows/ci-release-branch.yml
Due: none

fix: user profile url (#2460)
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
Due: apps, e2e

Conditional for development environment (#3872)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

fix: pipeline condition (#2477)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
Due: none

fix: nx run-many projects flag (#2479)
  .github/workflows/nx_ci.yml
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/entity-matching/src/app/components/pipeline-actions-menu/PipelineActionsMenu.tsx
  apps/platypus-e2e/src/integration/data-preview/manual-data-ingestion.cy.ts
  apps/platypus-e2e/src/integration/data-preview/suggestions.cy.ts
  apps/platypus-e2e/src/support/code-editor.ts
  apps/platypus-e2e/src/support/data-model-page.ts
  apps/platypus-e2e/src/support/ui-editor.ts
Due: apps, e2e

fix(cdf-cli): datamodel name and description empty on first publish
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
Due: apps, e2e

fix: add corrections for Three.JS changes
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
Due: none

chore: bump three version in examples too
  examples/package.json
  examples/yarn.lock
Due: none

feat(onboarding-components): Add mixpanel metrics functionality to Orientation (#2437)
  libs/shared/user-onboarding-components/src/components/orientation/OrientationTooltip.tsx
  libs/shared/user-onboarding-components/src/components/orientation/types.ts
  libs/shared/user-onboarding-components/src/metrics/index.ts
Due: libs

chore: update cargo lock
  viewer/Cargo.lock
Due: none

Added model name & number of models in each 3D resources UI
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/hooks/use3DModelName.tsx
  react-components/src/index.ts
Due: none

fix: affected wilcard (#2481)
  .github/workflows/nx_ci.yml
Due: none

updated component key to lodash/uniqueId
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

fix: add loader to AuthProvider
  apps/charts/src/app/components/AuthContainer/AuthContainer.tsx
Due: apps, e2e

feat: modify unifiedSigninTokenProvider
  libs/shared/cdf-sdk-singleton/src/unifiedSigninTokenProvider.ts
Due: libs

fix: typo with variable name
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: libs

refactor: address comments and simplify slightly
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

fix(data-explorer): matching labels icon spacing (#2482)
  libs/data-exploration/components/src/Table/components/MatchingLabels.tsx
Due: libs

chore: lint / add missing return type
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

feat: define service outside of class
  libs/shared/cdf-sdk-singleton/src/unifiedSigninTokenProvider.ts
Due: libs

fix(data-exploration): interpolation bugs (#2485)
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
Due: apps, e2e

revert: singleton changes
  libs/shared/cdf-sdk-singleton/src/unifiedSigninTokenProvider.ts
Due: libs

feat: slice button for RevealToolbar (#3492)
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/index.ts
Due: none

Added code for HVAC for Celanese (#2484)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/docTypes.ts
Due: libs

fix(data-explorer): cleaning unused app codes (#2353)
  apps/data-exploration/src/app/components/ResourceTitleRow.tsx
  apps/data-exploration/src/app/components/ResourceTitleRowV2.tsx
  apps/data-exploration/src/app/components/TitleRowActions/FullscreenButton.tsx
  apps/data-exploration/src/app/components/TitleRowActions/FullscreenButtonV2.tsx
  apps/data-exploration/src/app/components/TitleRowActions/PreviewCloseButton.tsx
  apps/data-exploration/src/app/components/TitleRowActions/PreviewCloseButtonV2.tsx
  apps/data-exploration/src/app/components/TitleRowActions/TitleRowActions.tsx
  apps/data-exploration/src/app/components/TitleRowActions/TitleRowActionsV2.tsx
  apps/data-exploration/src/app/components/TitleRowActions/index.ts
  apps/data-exploration/src/app/containers/All/AllTab.tsx
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Asset/AssetHierarchyTab.tsx
  apps/data-exploration/src/app/containers/Asset/AssetPage.tsx
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/containers/Asset/AssetSearchResultView.tsx
  apps/data-exploration/src/app/containers/Document/DocumentPage.tsx
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
  apps/data-exploration/src/app/containers/Event/EventPage.tsx
  apps/data-exploration/src/app/containers/Event/EventSearchResultView.tsx
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/File/FilePage.tsx
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  apps/data-exploration/src/app/containers/File/FileSearchResultView.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabsV2.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/index.ts
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequencePage.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceSearchResultView.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetPreviewSidebar.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPage.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesSearchResultView.tsx
  apps/data-exploration/src/app/hooks/flags/index.ts
  apps/data-exploration/src/app/hooks/flags/useFlagOverlayNavigation.ts
Due: apps, e2e

feat(data-explorer): Disable files/content with fuzzy search (#2283)
  libs/data-exploration/containers/src/Search/SearchConfig/ResourceColumns.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/__tests__/ResourceColumns.test.ts
Due: libs

fix: disable setPublicPath call for route-tracker (#2489)
  libs/shared/cdf-route-tracker/src/set-public-path.ts
Due: libs

basic high quality setting button
  react-components/src/components/RevealToolbar/HighQualityButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

fix(data-explorer): related resources valid count [UX-593 | UX-1113] (#2487)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetsOfResourceSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/index.ts
  libs/data-exploration/domain-layer/src/annotations/service/queries/useFileAnnotationsQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsOfResourceQuery.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAnnotationsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAssetIdsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesIds.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelationshipsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCounts.ts
  libs/data-exploration/domain-layer/src/counts/internal/types.ts
  libs/data-exploration/domain-layer/src/counts/internal/utils/getResourceId.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getValidDocumentsCount.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getValidResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/service/network/index.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/index.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/useValidResourcesCountQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/relationships/internal/queries/useRelatedResourceExternalIds.ts
Due: apps, libs, e2e

fix(data-explorer): fix applied filters chips grouping [UX-1049] (#2467)
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFilterChip.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFilters.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFiltersByDataType.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/AppliedFiltersByField.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/constants.ts
Due: apps, e2e

feat(plotting-components): add external id support for timeseries chart [UX-1103] (#2476)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/TimeseriesWidget.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/TimeSeriesNode.tsx
  libs/data-exploration/containers/src/DetailsTable/TimesereisSmallPreviewTable.tsx
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTable/TimeseriesTable.tsx
  libs/shared/plotting-components/package.json
  libs/shared/plotting-components/src/TimeseriesChart/TimeseriesChart.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/OpenInChartsButton/OpenInChartsButton.tsx
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/useTimeseriesChartData.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/useTimeseriesChartMetadata.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/mapToChartData.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/mapToTimeseriesDatapointsQuery.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/network/getTimeseriesDatapoints.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getDataRevision.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getIdEither.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/openInCharts.ts
Due: apps, libs, e2e

Update react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
Due: none

Update react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
Due: none
