Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

Update communications (#2202)
  apps/copilot/src/app/hooks/useAssets.ts
  apps/copilot/src/app/hooks/useFusionQuery.ts
  apps/copilot/src/app/hooks/useSubappType.ts
  apps/copilot/src/app/pages/CopilotPage.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeActionProvider.ts
  libs/copilot-core/README.md
  libs/copilot-core/package.json
  libs/copilot-core/project.json
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ActionRenderer/index.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/SmallChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/CodeMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/HumanApprovalMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/hooks/useDataModels.tsx
  libs/copilot-core/src/app/utils/getContainer.tsx
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/prompts.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/src/lib/utils.ts
  libs/data-modeling/platypus-core/package.json
  libs/data-modeling/platypus-core/project.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: apps, libs, e2e

chore: bump to tween 21
  viewer/package.json
  viewer/yarn.lock
Due: none

fix: rename @cognite/plotting-components to @plotting-components
  apps/3d-management/jest.config.ts
  apps/access-management/jest.config.ts
  apps/data-exploration/jest.config.ts
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  apps/extractor-downloads/jest.config.ts
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/TimeseriesWidget.tsx
  apps/interactive-diagrams/src/setupTests.js
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/TimeSeriesNode.tsx
  apps/raw-explorer/jest.config.ts
  apps/vision/jest.config.ts
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTable/TimeseriesTable.tsx
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: apps, libs, e2e

fix(fdx): change order of properties widgets on timeseries and filter + update filter header (#2261)
  apps/flexible-data-explorer/src/app/containers/search/Filter/components/MenuHeader/MenuHeader.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
Due: apps, e2e

fix(plotting-components): plot range handling in line chart [DEGR-2627] (#2259)
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/hooks/useHandlePlotRange.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotData.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotDataRange.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotDataRangeInitial.ts
  libs/shared/plotting-components/src/LineChart/utils/convertToPlotRange.ts
  libs/shared/plotting-components/src/LineChart/utils/getUnifiedAxisRange.ts
  libs/shared/plotting-components/src/LineChart/utils/getUnifiedPlotRange.ts
  libs/shared/plotting-components/src/LineChart/utils/isValidPlotRange.ts
  libs/shared/plotting-components/src/TimeseriesChart/TimeseriesChart.tsx
  libs/shared/plotting-components/src/TimeseriesChart/constants.ts
Due: libs

fix(data-explorer): Detail panel filter issue (#2217)
  libs/data-exploration/components/src/CheckboxSelect/components/Option.tsx
  libs/data-exploration/components/src/CheckboxSelect/elements.ts
  libs/data-exploration/components/src/ResizableOverlay/ResizableOverlay.tsx
Due: libs

chore: remove duplicate entry in package.json
  package.json
Due: none

chore: update lockfile
  yarn.lock
Due: none

chore(charts): update env vars for mixpanel token fix
  apps/charts/src/app/config/config.ts
Due: apps, e2e

chore: fix lib-check errors in examples
  examples/package.json
  examples/yarn.lock
Due: none

chore(extraction-pipelines): migrate new file imports
  apps/extraction-pipelines/src/components/message-history-chart/DataHistoryChart.tsx
  apps/extraction-pipelines/src/components/message-history-chart/DataHistoryChartItem.tsx
  apps/extraction-pipelines/src/components/message-history-chart/MessageHistoryChartSection.tsx
Due: apps, e2e

chore: add back three-stdlib
  examples/package.json
Due: none

chore: bump three and ts-loader
  examples/package.json
Due: none

chore: set tsconfig target to esnext
  examples/tsconfig.json
Due: none

fix: revert package name change
  apps/3d-management/jest.config.ts
  apps/access-management/jest.config.ts
  apps/data-exploration/jest.config.ts
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  apps/extractor-downloads/jest.config.ts
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/TimeseriesWidget.tsx
  apps/interactive-diagrams/src/setupTests.js
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/TimeSeriesNode.tsx
  apps/raw-explorer/jest.config.ts
  apps/vision/jest.config.ts
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTable/TimeseriesTable.tsx
  tsconfig.base.json
  yarn.lock
Due: apps, libs, e2e

chore: calm down to es6
  examples/tsconfig.json
Due: none

fix(react-components): div wrapper not expanding to fit parent
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

fix(react-components): div wrapper not expanding to fit parent (#3436)
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

chore(react-components): bump to version 0.2.1
  react-components/package.json
Due: none

chore(react-components): bump to version 0.2.1 (#3437)
  react-components/package.json
Due: none

feat(flexible-data-explorer): add initial scaffolding for 3D page (#2274)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageBody.tsx
  apps/flexible-data-explorer/src/app/pages/ThreeDPage.tsx
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/types.ts
  package.json
  yarn.lock
Due: apps, e2e

access management: expose project update error (#2262)
  apps/access-management/src/pages/OIDC/index.tsx
Due: apps, e2e

fix: backport three due to commonjs import error
  viewer/package.json
  viewer/yarn.lock
Due: none

fix(data-explorer): don't flip out camera when clicking secondary image annotation (#2254)
  apps/data-exploration/src/app/containers/ThreeD/NodePreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/StylingState.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/components/OverlayTool.tsx
  apps/data-exploration/src/app/containers/ThreeD/contexts/ThreeDContext.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/load-secondary-models/LoadImages360.tsx
  apps/data-exploration/src/app/containers/ThreeD/slicer/Slicer.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Due: apps, e2e

fix: backport three due to commonjs import error (#3440)
  viewer/package.json
  viewer/yarn.lock
Due: none

fix: update concurrency group to include workflow (#2272)
  .github/workflows/nx_ci.yml
  .github/workflows/platypus-e2e-tests.yml
Due: none

chore(industrial-canvas): bump UFV (#2281)
  package.json
  yarn.lock
Due: none

fix white background bug on contents of .step-content (#3857)
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
Due: apps, e2e

fix: don't expose Line2 in VariableWidthLine types
  viewer/packages/utilities/src/three/VariableWidthLine.ts
Due: none

fix(access-management): add basic compatibility for project hierarchy
  apps/access-management/src/hooks.ts
  apps/access-management/src/pages/Groups/index.tsx
Due: apps, e2e

chore: Remove unnecessary dependency updates
  examples/package.json
  examples/yarn.lock
Due: none

chore(access-management): update comment
  apps/access-management/src/hooks.ts
Due: apps, e2e

chore(access-management): replace ignore with type casting
  apps/access-management/src/hooks.ts
Due: apps, e2e

fix: core package build
  libs/data-exploration/core/package.json
  libs/data-exploration/core/project.json
Due: libs

feat: add container for CAD model
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
Due: none

fix(data-explorer): 3d translation default cases (#2277)
  apps/data-exploration/src/app/containers/ThreeD/RevealErrorFeedback.tsx
  apps/data-exploration/src/app/containers/ThreeD/RevealErrorToast.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/MenuItems/Images360MenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/MenuItems/MainThreeDModelMenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/MenuItems/PointsOfInterestMenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/MenuItems/SecondaryThreeDModelMenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTopbar.tsx
  libs/data-exploration/containers/src/ThreeD/Image360Display.tsx
  libs/data-exploration/containers/src/ThreeD/ThreeDModelDisplay.tsx
Due: apps, libs, e2e

Minor refactor and cleanup
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Due: none

chore: use correct stats.js types
  examples/package.json
  examples/yarn.lock
Due: none
