Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

Trigger _image360ApiHelper.ResetRedraw (#3463)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

fix: set active revision and reset opacity
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Due: none

fix(industrial-canvas): fix project name (#2323)
  libs/industry-canvas/src/lib/common/i18n/index.tsx
Due: libs

chore: rename components
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/RevealToolbarButton.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

chore: restructure component, expose fit models button as child component
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/RevealToolbarButton.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

feat: split up default chain to fusion vs convo (#2306)
  apps/platypus/.storybook/main.js
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/prompts.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/router/router.ts
  libs/copilot-core/src/lib/toolchains/router/templates.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix: let reveal toolbar consume props as cogs toolbar
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

feat: add fusion q/a chain
  libs/copilot-core/src/lib/toolchains/fusionQA/fusionQA.ts
  libs/copilot-core/src/lib/toolchains/index.ts
Due: libs

fix: user viewer.models directly
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
Due: none

feat: React Toolbar scaffolding (#3446)
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

fix(data-explorer): UX-653 - fix error message not disappearing until being clicked upon (#2325)
  apps/data-exploration/src/app/containers/ThreeD/hooks/useRevealError.tsx
Due: apps, e2e

feat(Copilot) - add support for infield, document queries (#2110)
  libs/copilot-core/src/lib/cogpilotGreeting.json
  libs/copilot-core/src/lib/getActions.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/prompts.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/summaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/src/lib/utils/types.ts
  libs/copilot-core/src/lib/utils/utils.ts
Due: libs

feat: expose viewer options in RevealContainer
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

chore: bump package version
  react-components/package.json
Due: none

feat(react-components): expose viewer options (#3468)
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

Enabled additional U1 Check and reverted rescan (#3862)
  apps/scarlet/src/pages/Equipment/components/DocumentScanTrigger/DocumentScanTrigger.tsx
  apps/scarlet/src/utils/documentUtils.ts
Due: apps, e2e

feat(FDX): add toolbar component from reveal-react-components (#2334)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/ToolBar/StyledRevealToolBar.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore: bump auth-react to 0.0.26-beta (#2327)
  package.json
  yarn.lock
Due: none

fix: lint
  examples/src/pages/Viewer.tsx
Due: none

fix(data-explorer): [UX-970] fix sorting in 3d tab (#2330)
  libs/data-exploration/containers/src/ThreeD/Image360Display.tsx
  libs/data-exploration/containers/src/ThreeD/ThreeDTable.tsx
  libs/data-exploration/domain-layer/src/threeD/internal/queries/use3DResults.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useApiBuffer.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useImage360SiteNameQuery.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useInfinite360ImagesSiteIdAggregateQuery.ts
  libs/data-exploration/domain-layer/src/threeD/internal/queries/useInfinite3DModelsQuery.ts
  libs/data-exploration/domain-layer/src/threeD/internal/types.ts
Due: libs

fix: merge master
  examples/yarn.lock
Due: none

fix: remove project
  libs/data-exploration/containers/project.json
  libs/data-exploration/containers/tsconfig.lib.json
  libs/data-exploration/core/project.json
Due: libs

Working styling for CAD
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/stories/CadModelContainer.stories.tsx
Due: none

feat(fdx): AI search (#2224)
  apps/business-shell/vite.config.ts
  apps/flexible-data-explorer/src/GlobalStyles.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/hooks/useDataModelParams.ts
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/providers/FDMProvider.tsx
  apps/flexible-data-explorer/src/app/utils/zIndex.ts
  apps/flexible-data-explorer/vite.config.ts
Due: apps, e2e

style: Allow resource selector to be wider (#2314)
  libs/industry-canvas/src/lib/constants.ts
Due: libs

feat(industrial-canvas): Add asset connection lines (#2245)
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
Due: libs

bug: Missing redraw on Image Icon Visibility change
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
Due: none

fix: copilot-core build
  libs/copilot-core/project.json
  libs/copilot-core/src/lib/cogpilotGreeting.json
  libs/copilot-core/src/lib/cogpilotGreeting.ts
  libs/copilot-core/src/lib/processMessage.ts
Due: libs

add common filters testcases
  apps/data-exploration-e2e/src/e2e/common-filters.cy.ts
  apps/data-exploration-e2e/src/support/constant.ts
  libs/data-exploration/components/src/DatePicker/Common.tsx
  libs/data-exploration/components/src/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Table/Table.tsx
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
  libs/data-exploration/containers/src/Filters/MultiSelectFilter/MultiSelectFilter.tsx
Due: apps, libs, e2e

fix: disabled codecov temporarily
  scripts/run-many.js
Due: none

bug: Missing redraw on Image Icon Visibility change (#3469)
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
Due: none

feat(fdx): re-add the categories list on the homepage (#2328)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/cards/CategoryCard.tsx
  apps/flexible-data-explorer/src/app/components/chips/CategoryChip.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsHeader.tsx
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/category/components/CategoryCard.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/utils/getIcon.ts
Due: apps, e2e

Annotation testing capability
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
Due: none

Working point cloud styling
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
Due: none

fix: test script
  scripts/test.sh
Due: none

Working default style for 3d resources
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

feat(industrial-canvas): use SPACE to temporarily switch to the pan tool (#2310)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
Due: libs

test
  .github/workflows/nx_ci.yml
Due: none
