Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

test workflow changes
  .github/workflows/locize-sync.yml
Due: none

reverted after successful test of workflow
  .github/workflows/locize-sync.yml
Due: none

New hook added
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

Missing hook file
  react-components/src/hooks/use3dNodeByExternalId.tsx
Due: none

Fixed types in styling cache
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useClickedNode.tsx
Due: none

chore(fusion-shell): change next-release to use preview json (#3007)
  .baker/manifests/fusion-app/next-release/cognitedata-production.yaml
  apps/fusion-shell/manifests/fusion.next-release.jsonnet
  package.json
Due: apps, e2e

feat(react-component): localization support (#3604)
  .github/workflows/locize-sync.yml
  react-components/package.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

remove internal packages from package.json deps (#3018)
  package.json
  yarn.lock
Due: none

docs: add image360-annotations documentation page (#3668)
  documentation/versioned_sidebars/version-4.x-sidebars.json
Due: none

fix(advanced-join) Fix initial contextualization score (#2990)
  apps/contextualization-ui/src/app/components/FormattedContainer.tsx
  apps/contextualization-ui/src/app/components/InitialContextualizationScore.tsx
  apps/contextualization-ui/src/app/pages/AdvancedJoinsPage.tsx
  libs/contextualization/src/lib/hooks/estimate-quality/useCreateEstimateQuality.ts
Due: apps, libs, e2e

sector buffering + indexset opt
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
Due: none

add progress reporting
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
Due: none

update IndexSet tests
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
  viewer/reveal.api.md
Due: none

fix: add firebase site info for flows (#3015)
  apps/flows/project.json
Due: apps, e2e

PR comments fixes
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
Due: none

feat(react-components): add fetching of the view for mapped equipment hook (#3654)
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(industrial-canvas): add alpha color to make interactible (#3005)
  apps/charts/src/app/components/FileViewer/utils/getAnnotationsFromSVGAnnotations.ts
  apps/charts/src/app/components/FileViewer/utils/getExtendedAnnotationsFromAnnotationsApi.ts
  apps/charts/src/app/components/FileViewer/utils/getExtendedAnnotationsFromSVGAnnotations.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/utils.ts
Due: apps, libs, e2e

feat: add storing / restoring camera state from URL
  react-components/src/higher-order-components/withCameraStateUrlParam.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/hooks/useIsRevealInitialized.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

New version
  react-components/package.json
Due: none

chore(functions-ui): Remove py37 (#3019)
  apps/flows/src/types/index.ts
  apps/functions-ui/src/components/FunctionModals/UploadFunctionModal.tsx
  apps/functions-ui/src/types/Types.tsx
Due: apps, e2e

New version (#3673)
  react-components/package.json
Due: none

fix(advanced-join) Fix Contextualization Score Tab (#2992)
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScore.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreInfoPanel.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ContextualizationScoreTab.tsx
  libs/contextualization/src/lib/containers/ContextualizationScore/ContextualizationScoreHeader.tsx
Due: libs

fix(industrial-canvas): fix vertical alignment (#3021)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ConditionalLiveSensorValue.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/Rule.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs

fix: various infield bugs (#2979)
  libs/copilot-core/package.json
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
Due: libs

fix(advanced-join) Fix Contextualization Score drop-down click action for Firefox (#3000)
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScore.tsx
Due: libs

fix(industrial-canvas): add PropertySelector component (#2985)
  libs/industry-canvas/.storybook/main.ts
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/PropertySelector/PropertyRow.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/PropertySelector.stories.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/PropertySelector.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/ReorderablePropertyList.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/hooks/usePropertiesState.ts
  libs/industry-canvas/src/lib/components/PropertySelector/types.ts
  libs/industry-canvas/src/lib/components/PropertySelector/utils.spec.ts
  libs/industry-canvas/src/lib/components/PropertySelector/utils.ts
  package.json
  yarn.lock
Due: libs

fix(advanced-join) Handle AJ no marchers (#3012)
  apps/contextualization-ui/src/app/pages/AdvancedJoinsPage.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScore.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreInfoPanel.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ContextualizationScoreTab.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/PercentageChip.tsx
  libs/contextualization/src/lib/hooks/advanced-joins/useAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/estimate-quality/useEstimateQuality.ts
  libs/contextualization/src/lib/utils/getScoreColor.ts
Due: apps, libs, e2e

chore(data-explorer): pull from locize (#3024)
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
Due: apps, e2e

fix(Onboarding): Fixing the onboarding tooltip scrolling and mixpanel metrics (#3025)
  apps/business-shell/src/app/components/Onboarding.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.tsx
  libs/shared/user-onboarding-components/src/components/orientation/OrientationTooltip.tsx
Due: apps, libs, e2e

fix: add initial refactor
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

i18n(navigation): pull locize keys (#3023)
  apps/fusion-shell/src/i18n/index.ts
  apps/fusion-shell/src/i18n/translations/de/navigation.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/i18n/translations/es/navigation.json
  apps/fusion-shell/src/i18n/translations/fr/navigation.json
  apps/fusion-shell/src/i18n/translations/it/navigation.json
  apps/fusion-shell/src/i18n/translations/ja/navigation.json
  apps/fusion-shell/src/i18n/translations/ko/navigation.json
  apps/fusion-shell/src/i18n/translations/nl/navigation.json
  apps/fusion-shell/src/i18n/translations/pt/navigation.json
  apps/fusion-shell/src/i18n/translations/sv/navigation.json
  apps/fusion-shell/src/i18n/translations/zh/navigation.json
Due: apps, e2e

resturctured Help, Setting & Slicer button outside clicked by using Dropdown onOutsideClick prop & fixed 3D resource click issue in the submenu
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

removed unused variable
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
Due: none

align setting menu to right-start
  react-components/src/components/RevealToolbar/SettingsButton.tsx
Due: none

updated translation according to FDX config so as to overcome I18nWrapper issue
  react-components/src/common/i18n/index.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

fix: deploy of fdx and apps.cognite.com (#3028)
  apps/business-shell/vite.config.ts
  apps/flexible-data-explorer/vite.config.ts
Due: apps, e2e

Hook extended to include model id and revision
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/index.ts
Due: none

Export fix
  react-components/src/index.ts
Due: none

Return all mapped nodes
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/index.ts
Due: none
