Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix(advanced-join) cleanup use advanced join hook (#2973)
  libs/contextualization/src/lib/hooks/advanced-joins/index.ts
  libs/contextualization/src/lib/hooks/advanced-joins/useAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/advanced-joins/useCreateAdvancedJoin.ts
  libs/contextualization/src/lib/hooks/advanced-joins/useFindAdvancedJoins.ts
  libs/contextualization/src/lib/hooks/index.ts
  libs/contextualization/src/lib/hooks/useAdvancedJoin.ts
Due: libs

fix(industrial-canvas): fix only updating when the stroke width has actually changed (#2974)
  libs/industry-canvas/src/lib/components/tooltips/LineAnnotationTooltip.tsx
Due: libs

fix: (industry-canvas) fixes multiple issues with commenting feature (#2919)
  libs/industry-canvas/src/lib/components/comment/CommentDisplay.tsx
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
  libs/industry-canvas/src/lib/components/comment/MentionsPlugin.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
  libs/industry-canvas/src/lib/hooks/use-query/useUsers.ts
  libs/industry-canvas/src/lib/hooks/useCommentsPaneSearch.ts
  libs/industry-canvas/src/lib/utils/zIndex.ts
Due: libs

feat: add HOC for adding camerastate url param
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

feat: add HOC for adding camerastate url param
  react-components/src/higher-order-components/withCameraStateUrlParam.tsx
Due: none

performance: Create an eventCodeSet
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

fix(data-explorer): column selector width [UX-1386] (#2971)
  libs/data-exploration/components/src/Table/components/ColumnToggle.tsx
Due: libs

fix(data-explorer): fix translations (#2977)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
Due: apps, libs, e2e

fix(industrial-canvas): fix inverted colors (#2956)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/TimeseriesList.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
  package.json
  yarn.lock
Due: libs

fixed model name query triggering API request without caching
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/hooks/use3DModelName.tsx
Due: none

fixed model name query triggering API request without caching (#3659)
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/hooks/use3DModelName.tsx
Due: none

fix(data-explorer): asset detail view height (#2981)
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
Due: apps, e2e

fix(charts): add spinners when threshold values are loading (#2923)
  apps/charts/src/app/components/Thresholds/ThresholdItem.stories.tsx
  apps/charts/src/app/components/Thresholds/ThresholdItem.tsx
  apps/charts/src/app/components/Thresholds/ThresholdSidebar.stories.tsx
  apps/charts/src/app/components/Thresholds/Thresholds.stories.tsx
  apps/charts/src/app/hooks/__tests__/thresholds-calculations.spec.ts
  apps/charts/src/app/hooks/threshold-calculations.tsx
Due: apps, e2e

chore(industrial-canvas): bump UFV (#2982)
  package.json
  yarn.lock
Due: none

updating PreviewPageHeaderSpec to have correct required properities
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
Due: apps, e2e

testing updates to platypus PreviewPageHeader test
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
Due: apps, e2e

revert test
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
Due: apps, e2e

testing
  package.json
  yarn.lock
Due: none

chore: upgrade storybook and add interactions addon (#2945)
  apps/charts/src/app/components/Thresholds/Thresholds.stories.tsx
  package.json
  yarn.lock
Due: apps, e2e

clean up yarn.lock and remove unused deps (#2993)
  package.json
  yarn.lock
Due: none

feat(data-explorer): events e2e tests (#2987)
  apps/data-exploration-e2e/src/e2e/events.cy.ts
  apps/data-exploration-e2e/src/support/commands/button.commands.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  apps/data-exploration-e2e/src/support/utils/sort.ts
  libs/data-exploration/components/src/Table/Table.tsx
Due: apps, libs, e2e

fix: scope styles for fusion-shell (#2983)
  apps/fusion-shell/src/app/styles/AntStyles.tsx
  apps/fusion-shell/src/app/styles/styleScope.js
  apps/fusion-shell/src/app/utils/constants.ts
  apps/fusion-shell/src/main.tsx
  apps/fusion-shell/vite.config.ts
  libs/redirect-page/src/Components/Button/index.tsx
  libs/redirect-page/src/containers/HelpModal.tsx
Due: apps, libs, e2e

feat(data-explorer): search result tables e2e tests (#2986)
  apps/data-exploration-e2e/cypress/.gitignore
  apps/data-exploration-e2e/src/e2e/search-tables.cy.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

Update ModelList.tsx
  apps/simint/src/components/models/ModelList/ModelList.tsx
Due: apps, e2e

fix: persist column width adjustments (#2996)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-model/components/TypeDefFields/cellEditors/FieldNameCellEditor.tsx
Due: apps, e2e

Minor PR fixes
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

Fixed nodeId type issue
  react-components/src/hooks/useCameraNavigation.tsx
Due: none

feat(3d-management): Create manual point cloud annotations (#2607)
  apps/3d-management/src/App.tsx
  apps/3d-management/src/ModelRoutes.tsx
  apps/3d-management/src/ShellApp.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewerToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/index.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCognitePointCloudModel.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/hideBoundingVolumes.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/isPointCloudIntersection.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/showBoundingVolumes.ts
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  apps/3d-management/src/pages/ContextualizeEditor/index.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewer/ThreeDViewer.tsx
Due: apps, e2e

feat(industrial-canvas): add support for deleting comments (#2994)
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useCommentTooltips.tsx
  libs/industry-canvas/src/lib/services/comments/utils.ts
Due: libs

fix: Use event.code instead of deprecated event.keyCode (#3620)
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

work around add as suggested by Christopher for issue in FDX on import @cognite/cdf-utilities through i18nWrapper
  react-components/package.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

fix(industry-canvas): adjust z-index values for tooltips (#3001)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ConditionalLiveSensorValue.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
Due: libs

fix(Orientation): update orientation flow to include site selection ai search (#2976)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/components/Onboarding.tsx
  apps/business-shell/src/app/components/topbar/SiteSelection.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISwitch.tsx
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

docs: add image360-annotations documentation page
  documentation/versioned_sidebars/version-4.x-sidebars.json
Due: none

feat(flows): remove sub-app deps and trigger deployment (#3006)
  apps/flows/package.json
Due: apps, e2e

chore: update typedoc
  documentation/package.json
  documentation/yarn.lock
Due: none

feat(fdx): use custom toolbar with focus-asset button (#2957)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ToolBarContainer.tsx
Due: apps, e2e

addressed review comments
  .github/workflows/locize-sync.yml
  react-components/package.json
  react-components/src/common/i18n/index.tsx
Due: none
