Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

feat(extraction-pipelines): update empty state text (#2611)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/topic-filters/TopicFilters.tsx
Due: apps, e2e

chore: cargo update
  viewer/Cargo.lock
Due: none

feat: useClickedNode hook
  react-components/src/higher-order-components/ClickedNode.tsx
Due: none

chore: bump threejs types in examples
  examples/package.json
  examples/yarn.lock
Due: none

chore: bump threejs examples
  examples/package.json
  examples/yarn.lock
Due: none

chore: add constants for system space identifiers
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/utilities/constants.ts
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/tsconfig.json
Due: none

feat: return data promise to `onNodeClick` (#3549)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

feat(WIP): ClickedNode context
  react-components/src/higher-order-components/ClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/ClickedNode.stories.tsx
Due: none

chore(react-components): add typechecking for react components stories
  .github/workflows/react-components-ci.yml
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/tsconfig.json
Due: none

chore: lint fix
  react-components/src/higher-order-components/ClickedNode.tsx
  react-components/stories/ClickedNode.stories.tsx
Due: none

Mouse help navigation added
  react-components/src/components/Graphics/Keyboard.tsx
  react-components/src/components/Graphics/Mouse.tsx
  react-components/src/components/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/MenuSection.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
  react-components/src/components/RevealToolbar/Help/types.ts
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

feat(FDX): Working switcher between `list` and `3d` views. (#2640)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/Button/ThreeDButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/AppliedThree3DData.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBarSwitch.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

updating config files
  apps/flows/.babelrc
  apps/flows/.eslintrc.js
  apps/flows/.eslintrc.json
  apps/flows/.eslintrc.production.js
  apps/flows/jest.config.ts
  apps/flows/package.json
  apps/flows/project.json
  apps/flows/tsconfig.app.json
  apps/flows/tsconfig.eslint.json
  apps/flows/tsconfig.json
  apps/flows/tsconfig.spec.json
  apps/flows/webpack-config.js
Due: apps, e2e

feat: create project.json and setup config files
  apps/flows/src/index.html
  apps/flows/yarn.lock
Due: apps, e2e

fix: absolute paths
  tsconfig.base.json
Due: none

fix(data-explorer): correct pointcloud highlight (#2639)
  apps/data-exploration/src/app/containers/ThreeD/StylingState.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
Due: apps, e2e

chore(sdk-singleton): porting changes from cdf-ui-hub (#2636)
  libs/shared/cdf-sdk-singleton/src/cogIdp.ts
  libs/shared/cdf-sdk-singleton/src/fusionTokenProvider.ts
Due: libs

added keyboard & touch navigation help graphics
  react-components/src/components/Graphics/Keyboard.tsx
  react-components/src/components/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
Due: none

chore(react-components): add typechecking for react components stories (#3558)
  .github/workflows/react-components-ci.yml
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/tsconfig.json
Due: none

fix(FDX): removed view change switch from the home page. (#2644)
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
Due: apps, e2e

refactor: make data query function into a hook
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/useNodeMappedData.tsx
  react-components/src/higher-order-components/ClickedNode.tsx
Due: none

fix(playtpus): [UX-1195] ingestion to use view version and fix copilot search results (#2646)
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/hooks/useSelectedDataModelVersion.ts
  apps/platypus/src/app/hooks/useViewForDataModelType.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.tsx
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/useSuggestions.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useTransformations.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/query-explorer/pages/SearchPage.tsx
  apps/platypus/src/app/redux/reducers/global/dataModelReducer.ts
  apps/platypus/src/app/utils/gpt-query/fdmGptAutoQuery.ts
  apps/platypus/src/i18n/en/platypus.json
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-managment-handler.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-model-versions-handler-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/data-mappers/data-model-data-mapper.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/data-mappers/data-model-version-data-mapper.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/dto/mixer-api-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/data-model-type-defs-builder.service.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/data-model-type-defs-builder.service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/types/data-model-type-defs-types.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/types/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/utils.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/utils.ts
Due: apps, libs, e2e

feat: introduce `useClickedNode` hook instead of higher-order component
  react-components/src/higher-order-components/ClickedNode.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/ClickedNode.stories.tsx
Due: none

fix(simconfig): Fix preview for SimInt app (#2645)
  Jenkinsfile
  apps/simint/package.json
  apps/simint/project.json
Due: apps, e2e

fix: correct query hash keys
  react-components/src/components/Reveal3DResources/useNodeMappedData.tsx
Due: none

feat(fdx): add expanded option to timeseries widget (#2593)
  apps/flexible-data-explorer/src/app/containers/widgets/Timeseries/TimeseriesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Timeseries/TimeseriesExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Timeseries/TimeseriesWidget.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
Due: apps, e2e

chore: make sure story hook doesn't do unnecessary updates
  react-components/stories/ClickedNode.stories.tsx
Due: none

chore: bump package @cognite/cdf-cli to 2.3.2 (#2652)
  apps/platypus-cdf-cli/package.json
  yarn.lock
Due: apps, e2e

feat(react-components): add RevealKeepAlive component to cache the viewer when unmounting the RevealContainer (#3552)
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/index.ts
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/yarn.lock
Due: none

fix(business-shell): Onboarding styling changes and Cogs Upgrade changes (#2590)
  apps/business-shell/src/app/components/Onboarding.tsx
  apps/cdf-document-search/src/pages/Label/components/table/filters/actions/ShowLabeledFiles.tsx
  apps/charts/src/app/components/AlertingSidebar/MonitoringJobWithAlerts.tsx
  apps/charts/src/app/components/DataProfilingSidebar/Calculations.tsx
  apps/charts/src/app/components/EventSidebar/EventSidebar.tsx
  apps/charts/src/app/components/NodeEditor/V2/Nodes/FunctionNode/FunctionParameterForm/FunctionParameterCheckbox.tsx
  apps/charts/src/app/components/SharingDropdown/SharingDropdown.tsx
  apps/charts/src/app/components/Thresholds/ThresholdItem.tsx
  apps/data-catalog/src/app/components/data-sets-list/row-actions/index.tsx
  apps/data-catalog/src/app/pages/DataSetsList/DataSetsList.tsx
  apps/extraction-pipelines/src/components/extpipe/ContactsDialog.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Menu/Menu.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/AppliedFilters/constants.ts
  apps/interactive-diagrams/src/pages/PageOptions/AdvancedOptions/OptionPartialMatch.tsx
  apps/interactive-diagrams/src/pages/PageOptions/SkipSettingsPanel.tsx
  apps/simint/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simint/src/pages/CalculationDetails/CalculationDetails.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
  libs/data-exploration/components/src/Buttons/SearchConfigButton/SearchConfigButton.tsx
  libs/data-exploration/components/src/Table/components/DirectAssets.tsx
  libs/data-exploration/components/src/Table/components/FileTypeToggle.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/FuzzySearchToggle.tsx
  libs/industry-canvas/src/lib/components/CanvasSubmenu.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.stories.tsx
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.tsx
  libs/shared/user-onboarding-components/src/utils/zIndex.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

chore: lint fix
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/stories/ClickedNode.stories.tsx
Due: none

fix: used named imports for lodash
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

fix: used named imports for lodash (#3562)
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

chore(react-components): bump reveal react components to version 0.7.0
  react-components/package.json
Due: none

chore(react-components): bump reveal react components to version 0.7.0 (#3563)
  react-components/package.json
Due: none

fix: return promise as promised
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

feat: add a viewer keep alive cache which preserves 3D when unmounting
  apps/flexible-data-explorer/src/app/App.tsx
  package.json
  yarn.lock
Due: apps, e2e

feat(fdx): show suggestions for filter input (#2643)
  apps/flexible-data-explorer/src/app/containers/Filter/components/DateTimeInput/DateTimeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/DateTimeRangeInput/DateTimeRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Input/Input.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Input/SuggestionsMenu.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Input/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/NumberInput/NumberInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/NumericRangeInput/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/TextInput/TextInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilterInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/types.ts
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/services/types.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix(business-shell): Integrate topbar business shell with cogs new TopbarExp (#2588)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/HelpCenter.tsx
  apps/business-shell/src/app/components/topbar/SiteSelection.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/app/components/topbar/helpResources.ts
  package.json
  yarn.lock
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
