Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fixed lint errors
  apps/entity-matching/src/app/components/create-pipeline-modal/index.tsx
  apps/entity-matching/src/app/components/em-result/QuickMatchResultsTable.tsx
  apps/entity-matching/src/app/components/em-result/index.tsx
  apps/entity-matching/src/app/components/error-pages/NoAccess.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/index.tsx
  apps/entity-matching/src/app/components/root-asset-select/index.tsx
  apps/entity-matching/src/app/components/source-selector-table/Three3Table.tsx
  apps/entity-matching/src/app/components/source-selector-table/index.tsx
  apps/entity-matching/src/app/components/target-selector-table/index.tsx
  apps/entity-matching/src/app/hooks/assets.ts
  apps/entity-matching/src/app/pages/pipeline/details/index.tsx
  apps/entity-matching/src/app/pages/pipeline/results/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/create-model/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/index.tsx
Due: apps, e2e

fix: each icon set shows hover icon simultaneously
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Due: none

Update styling
  apps/functions-ui/src/GlobalStyles.tsx
  apps/functions-ui/src/app/containers/Functions.tsx
Due: apps, e2e

chore(data-explorer): clean up webpack config (#2198)
  apps/data-exploration/package.json
  apps/data-exploration/project.json
  apps/data-exploration/webpack-config.js
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/tsconfig.json
  apps/flexible-data-explorer/webpack-config.js
Due: apps, e2e

fix(fdx): minor tweaks to search bar (#2215)
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchFilters.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
Due: apps, e2e

feat(fdx): relationship edges widget (#2101)
  apps/flexible-data-explorer/src/app/components/details/DetailsItem.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsBody.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/components/widget/Widget.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetBody.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/Filters.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/RelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/RelationshipEdgesExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/RelationshipEdgesWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/extractors.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceByIdQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/build.ts
Due: apps, e2e

feat: direct relationship widget (#2225)
  apps/flexible-data-explorer/src/app/components/buttons/Button.tsx
  apps/flexible-data-explorer/src/app/components/buttons/ButtonInternalRedirect.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipDirect/RelationshipDirect.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceDirectRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
Due: apps, e2e

feat: Add ResourceSelector as splitter in IC (#2164)
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationPreviewSidebar.tsx
  libs/data-exploration/components/src/BulkActionBar/BulkActionBar.stories.tsx
  libs/data-exploration/components/src/BulkActionBar/BulkActionBar.test.tsx
  libs/data-exploration/components/src/BulkActionBar/BulkActionBar.tsx
  libs/data-exploration/components/src/BulkActionBar/elements.ts
  libs/data-exploration/components/src/BulkActionBar/index.ts
  libs/data-exploration/components/src/BulkActionbar/index.ts
  libs/data-exploration/components/src/index.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDrawer.tsx
  libs/data-exploration/containers/src/ResourceSelector/index.ts
  libs/data-exploration/containers/src/ResourceSelector/useFilterState.tsx
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CloseResourceSelectorButton.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useLocalStorage.ts
Due: libs

chore(industrial-canvas): more descriptive tooltip for canvas locked chip (#2227)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
Due: libs

Remove destination type (#968)
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
Due: apps, e2e

update extraction-pipelines firebase.json (#2230)
  apps/extraction-pipelines/firebase.json
Due: apps, e2e

fix: update transformation when updating prop
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/stories/RevealContainer.stories.tsx
Due: none

refactor(industrial-canvas): only update isArchived when archiving a canvas (#2223)
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/components/CanvasDeletionModal.tsx
  libs/industry-canvas/src/lib/hooks/use-mutation/useCanvasArchiveMutation.ts
  libs/industry-canvas/src/lib/hooks/useCanvasDeletion.tsx
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/utils/convertCanvasWithUserProfileToSerializedCanvasDocument.ts
  package.json
  yarn.lock
Due: libs

fix: viewer.dispose() not removing all models
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

chore: update package & yarn lock
  package.json
  yarn.lock
Due: none

fix: disabling code-coverage
  scripts/run-many.js
Due: none

fix: jenkins
  Jenkinsfile
Due: none

fix: disabling code-coverage
  libs/industry-canvas/src/lib/hooks/useTranslation.tsx
  libs/shared/cdf-ui-i18n-utils/src/hooks/i18n.ts
  package.json
  yarn.lock
Due: libs

fix: viewer.dispose() not removing all models (#3411)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

fix: remove stdlib due to botched ESM transitive dependency
  viewer/package.json
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Due: none

chore: update package.json & yarn lock
  package.json
  yarn.lock
Due: none

chore(business-shell): add translation strings for user profile (#2232)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
Due: apps, e2e

fix: update lock, and add threestdlib examples dep
  examples/package.json
  examples/yarn.lock
  viewer/packages/rendering/visual-tests/__image_snapshots__/Rendering.VisualTest.png
Due: none

fix: migrate AxisViewTool to use pointer events
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Due: none

fix: lint
  examples/package.json
Due: none

fix: remove stdlib due to botched ESM transitive dependency (#3412)
  examples/package.json
  examples/yarn.lock
  viewer/package.json
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Rendering.VisualTest.png
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Due: none

chore: seed SSAO kernel generation to avoid flaky SSAO visual test
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
Due: none

fix: migrate AxisViewTool to use pointer events (#3413)
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Due: none

fix: conflicts
  react-components/package.json
  react-components/yarn.lock
Due: none

fix: each icon set shows hover icon simultaneously (#3410)
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Due: none

fix: update storybook setup
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
  react-components/src/stories/RevealContainer.stories.tsx
  react-components/yarn.lock
Due: none

fix: build
  apps/data-catalog/tsconfig.json
  apps/entity-matching/tsconfig.json
  libs/shared/cdf-utilities/project.json
  libs/shared/cdf-utilities/src/components/CodeEditor/extensions.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix: tezt
  libs/data-exploration-components/jest.config.ts
Due: libs

add initial files and search tests
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
  apps/data-exploration-e2e/src/support/interceptions.ts
  apps/data-exploration-e2e/src/support/login.commands.ts
  apps/data-exploration-e2e/src/support/search.commands.ts
  apps/data-exploration-e2e/tsconfig.json
  apps/data-exploration/src/app/containers/Exploration/ExplorationSearchBar.tsx
  yarn.lock
Due: apps, e2e

create new testcases for search parameters & clean the code
  apps/data-exploration-e2e/.eslintrc.json
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands.ts
  apps/data-exploration-e2e/src/support/commands/button.commands.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/login.commands.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
  apps/data-exploration-e2e/src/support/e2e.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  apps/data-exploration-e2e/src/support/search.commands.ts
  libs/data-exploration/containers/src/Search/SearchConfig/CommonColumn.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/ResourceColumns.tsx
Due: apps, libs, e2e

add test cases for files & events
  apps/data-exploration-e2e/cypress.config.ts
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/constant.ts
  apps/data-exploration-e2e/src/support/search.commands.ts
  libs/data-exploration/containers/src/Search/SearchConfig/FuzzySearchToggle.tsx
Due: apps, libs, e2e

fix typo
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands/login.commands.ts
Due: apps, e2e

add new test case for fuzzy search
  apps/data-exploration-e2e/cypress.config.ts
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
