Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: hooks
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAssetIdsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelationshipsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getAssetIds.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getDocumentAssetIds.ts
  libs/data-exploration/domain-layer/src/counts/service/network/index.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/useAssetIdsQuery.ts
Due: libs

fix: hooks
  libs/data-exploration/domain-layer/src/counts/service/network/getAssetIdsCount.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: libs

--fixup-- colors
  apps/simconfig/src/components/charts/LogicalCheckChart.tsx
  apps/simconfig/src/components/molecules/Alert.tsx
  apps/simconfig/src/components/shared/HighlightMatch.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
Due: apps, e2e

migrate Cogs v7 Icon to v9
  apps/simconfig/src/components/forms/controls/FileInput.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationRunTypeIndicator.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationScheduleIndicator.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationTimeLabel.tsx
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/molecules/Alert.tsx
  apps/simconfig/src/components/shared/Wizard/WizardStepIcon.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationConfiguration/elements.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/CollapseOptions.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/Group.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
Due: apps, e2e

update Cogs v9 to latest and include styles
  apps/simconfig/src/styles/GlobalStyles.tsx
  package.json
  patches/@cognite+cogs.js-v9+9.1.0.patch
  yarn.lock
Due: apps, e2e

migrate Cogs v7 Tooltip to v9
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelectorOption.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationRunTypeIndicator.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationStatusIndicator.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationTimeLabel.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/BoundaryConditionTable.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/molecules/CopyValue.tsx
  apps/simconfig/src/components/shared/PropertyGrid.tsx
  apps/simconfig/src/components/simulator/SimulatorStatus.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

migrate Cogs v7 Label to v9 Chip
  apps/simconfig/src/components/calculation/CalculationSummary.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationStatusIndicator.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/BoundaryConditionTable.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/simulator/SimulatorStatusLabel.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/pages/CalculationRuns/styles.ts
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Collapse/Step.tsx
Due: apps, e2e

migrate cogs Loader
  apps/simconfig/src/cdfApp.tsx
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

migrate Cogs v7 Modal to v9
  apps/simconfig/src/components/LabelsModal.tsx
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/components/models/CalculationList/DeleteConfirmModal.tsx
  apps/simconfig/src/components/models/ModelDetails/DeleteConfirmModal.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

migrate Cogs v7 toast to v9
  apps/simconfig/src/components/charts/LogicalCheckChart.tsx
  apps/simconfig/src/components/charts/SteadyStateDetectionChart.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/molecules/CopyValue.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
  apps/simconfig/src/store/middleware/errorNotificationMiddleware.ts
  apps/simconfig/src/utils/fileDownload.ts
Due: apps, e2e

migrate Cogs v7 Skeleton to v9
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/simulator/SimulatorInformation.tsx
  apps/simconfig/src/components/simulator/SimulatorStatus.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationDetails/CalculationDetails.tsx
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationConfiguration.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

migrate Cogs v7 Button to v9
  apps/simconfig/src/components/LabelsModal.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/forms/controls/SegmentedControl.tsx
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelector.tsx
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/components/models/CalculationList/DeleteConfirmModal.tsx
  apps/simconfig/src/components/models/ModelDetails/DeleteConfirmModal.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  apps/simconfig/src/components/molecules/CopyValue.tsx
  apps/simconfig/src/components/shared/InfoDrawer/InfoDrawer.tsx
  apps/simconfig/src/components/shared/Wizard/Wizard.tsx
  apps/simconfig/src/components/simulator/SimulatorStatus.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
  apps/simconfig/src/pages/CalculationDetails/CalculationDetails.tsx
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

delete unused files
  apps/simconfig/src/components/app/Sidebar/Footer.tsx
  apps/simconfig/src/components/app/Sidebar/elements.ts
  apps/simconfig/src/styles/layout.ts
Due: apps, e2e

migrate Cogs v7 Select and OptionType to v9
  apps/simconfig/src/components/forms/ModelForm/types.ts
  apps/simconfig/src/components/forms/controls/LabelsInput.tsx
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelectorOptionContainer.tsx
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/types.ts
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/utils.ts
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/OutputStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/types.ts
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simconfig/src/pages/CalculationRuns/options.ts
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/InputType.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/StepType.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/UnitType.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/utils.ts
Due: apps, e2e

migrate Cogs v7 Colors to v9
  apps/simconfig/src/components/charts/BaseChart/plot/useAreaPlot.tsx
  apps/simconfig/src/components/charts/BaseChart/plot/useChangePointPlot.tsx
  apps/simconfig/src/components/charts/BaseChart/plot/useLinePlot.tsx
  apps/simconfig/src/components/charts/BaseChart/useBaseChart.tsx
  apps/simconfig/src/components/charts/BaseChart/usePortalTooltip.tsx
  apps/simconfig/src/components/charts/CalculationResultChart.tsx
  apps/simconfig/src/components/charts/LogicalCheckChart.tsx
  apps/simconfig/src/components/charts/TimeseriesChart.tsx
  apps/simconfig/src/components/molecules/CopyValue.tsx
  apps/simconfig/src/pages/CalculationConfiguration/elements.tsx
Due: apps, e2e

migrate Cogs v7 Switch to v9
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
  apps/simconfig/src/pages/CalculationDetails/CalculationDetails.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
Due: apps, e2e

migrate Cogs v7 Infobox to v9
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/CustomCalculationBuilder.tsx
Due: apps, e2e

migrate Cogs v7 Input to v9
  apps/simconfig/src/components/LabelsModal.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/models/CalculationList/ConfigureCustomCalculation.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/OpenServerAddress.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Value.tsx
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

migrate Cogs v7 A to v9 Link
  apps/simconfig/src/pages/CalculationConfiguration/steps/infoDrawers/DataSamplingInfoDrawer.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/infoDrawers/InputInfoDrawer.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/infoDrawers/LogicalCheckInfoDrawer.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/infoDrawers/SteadyStateDetectionInfoDrawer.tsx
Due: apps, e2e

migrate Cogs v7 Collapse to v9
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/simulator/SimulatorInformation.tsx
  apps/simconfig/src/components/simulator/SimulatorList.tsx
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
Due: apps, e2e

--fixup-- Colors
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
Due: apps, e2e

migrate a bunch more
  apps/simconfig/src/components/Menubar.tsx
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/forms/controls/FileInput.tsx
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelector.tsx
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelectorOptionContainer.tsx
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/shared/InfoDrawer/InfoDrawer.tsx
  apps/simconfig/src/components/shared/Wizard/WizardStep.tsx
  apps/simconfig/src/components/shared/Wizard/WizardStepIcon.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
  apps/simconfig/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simconfig/src/pages/ModelLibrary/LabelsFilter.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

fix rc-tabs styles in Wizrd
  apps/simconfig/src/components/shared/Wizard/Wizard.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

fix
  .github/workflows/nx_ci.yml
Due: none

fix(data-explorer): data explorer related resources tab count (#2339)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabsV2.tsx
  apps/data-exploration/src/app/hooks/flags/index.ts
  apps/data-exploration/src/app/hooks/flags/useFlagNewCounts.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAssetIdsCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesIds.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useTotalRelatedResourcesCounts.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getAssetIds.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getDocumentAssetIds.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getLinkedDocumentsCount.ts
  libs/data-exploration/domain-layer/src/counts/service/network/getLinkedResourcesCount.ts
  libs/data-exploration/domain-layer/src/counts/service/queries/useLinkedResourcesCountQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: apps, libs, e2e

fix Autocomplete and Select menu positioning
  apps/simconfig/src/components/forms/controls/TimeSeriesSelector/TimeSeriesSelector.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simconfig/src/pages/ModelLibrary/LabelsFilter.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Due: apps, e2e

feat: storybook
  libs/copilot-core/.storybook/main.ts
  libs/copilot-core/.storybook/preview.tsx
  libs/copilot-core/.storybook/tsconfig.json
  libs/copilot-core/project.json
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatHeader.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.stories.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/HistoryList.tsx
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/CodeMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.stories.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/MessageBase.stories.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/tsconfig.json
  libs/copilot-core/tsconfig.lib.json
Due: libs

fix: lint
  libs/copilot-core/src/app/hooks/useChatHistory.tsx
Due: libs

publish as well
  libs/copilot-core/package.json
Due: libs

fix: deployment
  .github/workflows/deploy_cdf-copilot-core.yml
  libs/copilot-core/.storybook/tsconfig.json
  libs/copilot-core/README.md
  libs/copilot-core/src/app/components/MessageRenderer/TextMessage.tsx
  libs/copilot-core/src/lib/chatModels/README.md
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
Due: libs

fix
  Jenkinsfile
Due: none

fix: use revised 360 image collection data model schema
  examples/src/pages/Viewer.tsx
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360CombinedDescriptorProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360FdmProvider.ts
Due: none

fix: full screen mode
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
Due: libs

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
