Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

changed the annotation mapping condition
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Due: none

feat(3d-management): Always show search input in annotations card (#3669)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
Due: apps, e2e

feat(simint): add button to add new connector to simint header (#3689)
  apps/simint/.storybook/main.ts
  apps/simint/.storybook/preview.js
  apps/simint/.storybook/preview.ts
  apps/simint/public/mockServiceWorker.js
  apps/simint/src/components/simulator/SimulatorList.tsx
  apps/simint/src/components/simulator/SimulatorStatus.stories.tsx
  apps/simint/src/components/simulator/SimulatorStatus.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.stories.tsx
Due: apps, e2e

fix(industrial-canvas): increase number of columns (#3715)
  libs/data-exploration/containers/src/DetailsTable/AssetDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/EventDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/FileDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/SequenceDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/TimeseriesDetailsTable.tsx
Due: libs

fix(diagram-parsing): trigger deployment for diagram parsing (#3722)
  apps/diagram-parsing/src/app/pages/HomePage.tsx
Due: apps, e2e

fix(charts): Filter only by scoped ids in DatasetSelector (#3711)
  apps/charts/src/app/components/Dataset/DatasetSelector.tsx
Due: apps, e2e

update TRACKED_EVENTS 'jupyterLiteEvent' -> 'NotebookEvent'
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

chore: fix critical vulnerability in `@babel/traverse` (#3719)
  yarn.lock
Due: none

fix: add dynamic test for CAD models
  react-components/playwright.config.ts
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/utilities/RevealStoryContainer.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/stories/utilities/getAddModelOptionsFromUrl.ts
  react-components/tests/visual-tests/example.spec.ts
  react-components/tests/visual-tests/example.spec.ts-snapshots/cad-model-container-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/image360-details-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/toolbar-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/utils/loadStory.ts
Due: none

fix: Cache Size not resized if budget was set before model loaded
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
Due: none

notebook: use `trackEvent` from '@cognite/cdf-route-tracker', not custom useMetrics hook
  apps/notebook/src/hooks/useMetrics.ts
  apps/notebook/src/pages/Home/Home.tsx
  apps/notebook/src/utils/types.ts
Due: apps, e2e

fix event name
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

feat: add support for setting auth0 token retreival options (#3550)
  libs/shared/cdf-sdk-singleton/src/auth0.ts
  libs/shared/cdf-sdk-singleton/src/fusionTokenProvider.ts
  libs/shared/cdf-sdk-singleton/src/index.ts
Due: libs

Adjust based on feedback
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
Due: none

bumped LLMhub for codegen (#3727)
  libs/copilot-core/package.json
  libs/copilot-core/src/lib/flows/python/CodeGenerateFlow.ts
  package.json
  yarn.lock
Due: libs

chore(industrial-canvas): bump UFV (#3733)
  package.json
  yarn.lock
Due: none

chore: use the right hash for all cargo registry references (#3841)
  .github/workflows/ci.yml
Due: none

chore(data-explorer): fix fit-view translation (#3731)
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
Due: apps, e2e

fix(fdx): Reset filter chip with new data model (#3721)
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
Due: apps, e2e

fix: Cache Size not resized if budget was set before model loaded (#3842)
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
Due: none

fix(fdx): missing translation (#3729)
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISearchCategoryDropdown.tsx
  apps/flexible-data-explorer/src/app/containers/selectors/DataModelSelector.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

refac: Update to latest rust version (#3823)
  viewer/Cargo.toml
  viewer/rust-toolchain
  viewer/rust-toolchain.toml
Due: none

feat(fdx): e2e tests for navigate to search results (#3737)
  apps/flexible-data-explorer/cypress/e2e/search-categories.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/index.ts
  apps/flexible-data-explorer/cypress/support/commands/search.commands.ts
  apps/flexible-data-explorer/src/app/components/search/SearchResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
Due: apps, e2e

chore: add sentry monitoring for CogIdP (#3735)
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/main.tsx
  apps/fusion-shell/src/sentry.ts
  package.json
  yarn.lock
Due: apps, e2e

feat(fdx): e2e tests setup file (#3743)
  apps/flexible-data-explorer/cypress/e2e/app.cy.ts
  apps/flexible-data-explorer/cypress/e2e/data-model-selection.cy.ts
  apps/flexible-data-explorer/cypress/e2e/search-categories.cy.ts
  apps/flexible-data-explorer/cypress/support/e2e.ts
  apps/flexible-data-explorer/cypress/support/setupTestsE2E.ts
Due: apps, e2e

chore(fusion-shell): update menu item for fdx (#3725)
  apps/fusion-shell/src/app/sections/sections.ts
  package.json
  yarn.lock
Due: apps, e2e

fix: await running visual test until loading has settled
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/utilities/signalStoryReadyForScreenshot.ts
  react-components/tests/visual-tests/example.spec.ts
  react-components/tests/visual-tests/utils/loadStory.ts
Due: none

fix(3d-management): add revision dropdown menu (#3595)
  apps/3d-management/src/ModelRoutes.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader/ContextualizeEditorHeader.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader/RevisionDropdownMenu.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix: add unit tests and visual tests to CI
  .github/workflows/react-components-ci.yml
Due: none

fix: add installation of playwright browsers
  .github/workflows/react-components-ci.yml
Due: none

fix(industrial-canvas): fix clearing command in comments (#3744)
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
  libs/industry-canvas/src/lib/components/comment/MentionsPlugin.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
Due: libs

style(3d-management): Fix toolbar styling (#3747)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/AddAnnotationToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/AddAnnotationToolBar.tsx
Due: apps, e2e

reverted codegen to gpt 3.5 (#3745)
  libs/copilot-core/package.json
  libs/copilot-core/src/lib/flows/python/CodeExplainFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeGenerateFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeRepairFlow.ts
Due: libs

fix(fdx): improve search categories e2e tests (#3752)
  apps/flexible-data-explorer/cypress/e2e/search-categories.cy.ts
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsHeader.tsx
Due: apps, e2e

feat(fdx): style CAD search results (#3738)
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
Due: apps, e2e

chore: update cargo lock
  viewer/Cargo.lock
Due: none

Rename browser title for Notebooks (#3742)
  apps/notebook/src/App.tsx
Due: apps, e2e

fix(industrial-canvas): persist `unscaledWidth` and `unscaledHeight` for asset and event containers (#3751)
  libs/industry-canvas/src/lib/containerConfigToContainerReference.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveAssetContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveEventContainerConfig.ts
  libs/industry-canvas/src/lib/services/dtoAssetCentricContainerReferenceToContainerReference.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/types.ts
Due: libs

feat(fdx): filter commands for e2e (#3754)
  apps/flexible-data-explorer/cypress/support/app.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/data-model-selector.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/filter.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/index.ts
  apps/flexible-data-explorer/cypress/support/constants/appConfig.ts
  apps/flexible-data-explorer/cypress/support/utils/date.ts
  apps/flexible-data-explorer/cypress/support/utils/i18n.ts
  apps/flexible-data-explorer/cypress/support/utils/index.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/components/InputSingle.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Menu/Menu.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuList/MenuList.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/SearchInput/SearchInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/Select/Select.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/CommonFilter.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/DateInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/DateRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumberInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/StringInput.tsx
Due: apps, e2e
