Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat: update automatic data alignment component [AH-797] (#2642)
  apps/charts/src/app/components/NodeEditor/V2/EditorControls/WorkflowSettings.tsx
Due: apps, e2e

ci: set NODE_ENV to production for ci workflow (#2675)
  .github/workflows/nx_ci.yml
Due: none

feat(fdx): sentry + error page (#2596)
  apps/business-shell/public/firebase.json
  apps/business-shell/src/AppWrapper.tsx
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/components/ErrorFallback.tsx
  apps/business-shell/src/main.tsx
  apps/business-shell/src/utils/globalStyles.ts
  apps/flexible-data-explorer/src/AppWrapper.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  package.json
  yarn.lock
Due: apps, e2e

hotfix: fixed dev scripts (#2685)
  apps/fusion-shell/project.json
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/dev-scripts.js
  apps/fusion-shell/src/environments/unified-signin/production/index.html
  apps/fusion-shell/src/index.html
  apps/fusion-shell/tools/scripts/fusion-post-build.sh
Due: apps, e2e

Fix bug
  apps/functions-ui/src/components/FunctionModals/UploadFunctionModal.tsx
  apps/functions-ui/src/components/buttons/UploadFunctionButton.tsx
Due: apps, e2e

hotfix: sync changes from cdf-hub (#2680)
  apps/fusion-shell/src/app/components/Navigation/OverflowMenu/index.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/TopBarSections/index.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/UserMenu/index.tsx
  apps/fusion-shell/src/app/components/UserProfilePage/UserProfilePage.tsx
  apps/fusion-shell/src/app/sections/sections.ts
  apps/fusion-shell/src/app/utils/hooks.ts
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/environments/unified-signin/production/index.html
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/index.html
  apps/fusion-shell/tools/scripts/fusion-post-build.sh
  apps/fusion-shell/tools/scripts/import-map-generator.js
Due: apps, e2e

Fix bug
  apps/functions-ui/src/components/FunctionModals/CreateScheduleModal.tsx
  apps/functions-ui/src/components/FunctionSchedules.tsx
Due: apps, e2e

Fix test2
  apps/functions-ui/src/components/FunctionModals/CreateScheduleModal.test.tsx
Due: apps, e2e

feat: add system data model support
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/constants.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix: rename function
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fixed Submenu disappear issue occuring in FDX when mouse cursor is hovered on the menu items
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

Added powerBI connector configuration button. (#2676)
  README.md
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/hooks/useMixpanel.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.stories.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/elements.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/index.ts
Due: apps, e2e

removed unused state in layerscontainer
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
Due: none

Update react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
Due: none

replace numbers with constants & added measurement cleanup when component unmounts
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/utilities/constants.ts
Due: none

fix(data-explorer): Metadata N/A filter option not working (#2600)
  libs/data-exploration/containers/src/Filters/MetadataFilter/utils.ts
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/utils.ts
Due: libs

added contextualization UI (#2688)
  apps/fusion-shell/README.md
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
Due: apps, e2e

chore: refactor useCalculateModelsStyling
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

feat(react-components): Measurement button component in toolbar (#3567)
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/utilities/constants.ts
Due: none

Contextualization UI (#2684)
  apps/contextualization-ui/.babelrc
  apps/contextualization-ui/.eslintrc.json
  apps/contextualization-ui/README.md
  apps/contextualization-ui/firebase.json
  apps/contextualization-ui/jest.config.ts
  apps/contextualization-ui/package.json
  apps/contextualization-ui/project.json
  apps/contextualization-ui/proxy.conf.json
  apps/contextualization-ui/src/AppWrapper.tsx
  apps/contextualization-ui/src/GlobalStyles.tsx
  apps/contextualization-ui/src/app/App.tsx
  apps/contextualization-ui/src/app/common/i18n/en/contextualization-ui.json
  apps/contextualization-ui/src/app/common/i18n/index.tsx
  apps/contextualization-ui/src/app/common/index.ts
  apps/contextualization-ui/src/app/hooks/useFusionQuery.ts
  apps/contextualization-ui/src/app/hooks/useTranslation.tsx
  apps/contextualization-ui/src/app/pages/HomePage.tsx
  apps/contextualization-ui/src/app/queryClient.ts
  apps/contextualization-ui/src/assets/.gitkeep
  apps/contextualization-ui/src/cognite-cdf-sdk-singleton.d.ts
  apps/contextualization-ui/src/cogniteSdk.ts
  apps/contextualization-ui/src/custom.d.ts
  apps/contextualization-ui/src/environments/environment.prod.ts
  apps/contextualization-ui/src/environments/environment.ts
  apps/contextualization-ui/src/environments/mock/AppWrapper.tsx
  apps/contextualization-ui/src/environments/mock/AuthContainerMock.tsx
  apps/contextualization-ui/src/environments/mock/cogniteSdk.ts
  apps/contextualization-ui/src/environments/mock/environment.mock.ts
  apps/contextualization-ui/src/favicon.ico
  apps/contextualization-ui/src/index.html
  apps/contextualization-ui/src/main.tsx
  apps/contextualization-ui/src/react-app-env.d.ts
  apps/contextualization-ui/src/set-public-path.ts
  apps/contextualization-ui/src/styleScope.js
  apps/contextualization-ui/tsconfig.app.json
  apps/contextualization-ui/tsconfig.json
  apps/contextualization-ui/tsconfig.spec.json
  apps/contextualization-ui/webpack-config.js
  apps/contextualization-ui/webpack.config.js
  tsconfig.base.json
Due: apps, e2e

refactor: rename to useClickedNodeData
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/ClickedNode.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: minor refactors from QA
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

Fix notification item count label shape
  apps/simint/src/components/shared/Wizard/WizardStepIcon.tsx
Due: apps, e2e

feat(react-components): add support for system data models to react components (#3569)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/constants.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/stories/utilities/fdmConfig.ts
Due: none

fix: avoid stringification of circular JSON struct
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(react-components): mimic react.memo type signature with withSuppressRevealEvents HOC
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Due: none

Setting button component which contains High Fidelity setting as default option and supports addingcustom setting elements
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/OriginalCadColorContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
  react-components/stories/CustomSettingButton.stories.tsx
Due: none

fix(react-components): mimic react.memo type signature with withSuppressRevealEvents HOC (#3577)
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Due: none

fix: platypus ci tests (#2690)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/platypus-e2e/src/utils/url.ts
Due: apps, e2e

refactor: combine all react queries into one
  react-components/src/hooks/useNodeMappedData.tsx
Due: none

chore: Remove new story
  react-components/stories/ClickedNode.stories.tsx
Due: none

fix(data-exploration): get asset ids from the source file (#2692)
  libs/data-exploration/domain-layer/src/counts/service/network/getDocumentAssetIds.ts
Due: libs

Add count to selects
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
Due: apps, e2e

Fix pagination centering2
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
Due: apps, e2e

chore(react-components): bump react components to version 0.8.0
  react-components/package.json
Due: none

chore(react-components): bump react components to version 0.8.0 (#3579)
  react-components/package.json
Due: none

Add hosted extractors ACL (#2649)
  apps/access-management/src/common/i18n/translations/en/access-management.json
  apps/access-management/src/pages/Groups/utils.tsx
  package.json
  yarn.lock
Due: apps, e2e

Remove console.log
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
Due: apps, e2e

updated appending of 3D resource components to use context of Div element Ref
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContainerElementContext.ts
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

fix: correct use of space names and properties
  react-components/src/hooks/useNodeMappedData.tsx
Due: none
