Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

nit: renames
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Due: none

chore: bump package version
  react-components/package.json
Due: none

feat: overwrite nodes/treeIndices if styling is equal (#3641)
  react-components/package.json
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

added tooltip for working toolbar buttons (#3642)
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

feat(FDX): add "restore original CAD colors" button to toolbar setting in 3D view (#2916)
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/ToolBarContainer.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  package.json
  yarn.lock
Due: apps, e2e

[UX-1229] - Allow cursorable on IndexDefinition (#2896)
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
Due: libs

cleaning up yarn file
  yarn.lock
Due: none

chore: remove debugging prop
  apps/raw-explorer/src/components/SidePanelDatabaseList/SidePanelDatabaseListItemTooltip.tsx
Due: apps, e2e

fix: bump e2e-auth to 1.0.3 (#2925)
  package.json
  yarn.lock
Due: none

using addNamespace in i18n wrapper to access translation
  react-components/package.json
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/yarn.lock
Due: none

Fix reported bugs with Fusion-shell (#2926)
  Jenkinsfile
  apps/fusion-shell/scripts/http-headers-utils.spec.ts
  apps/fusion-shell/scripts/http-headers-utils.ts
Due: apps, e2e

chore: remove focus button
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

chore: lint fix
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

chore: remove focus button (#3649)
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

fix: 2 small bugs with ai search (#2917)
  apps/business-shell/src/app/components/AI.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix problems with spinnaker deployment due to docker image rename (#2928)
  Jenkinsfile
Due: none

chore: add `assert` as dependency
  react-components/package.json
  react-components/yarn.lock
Due: none

chore: add `assert` as dependency (#3652)
  react-components/package.json
  react-components/yarn.lock
Due: none

temporary disable spinnaker deployments due to bug (#2930)
  Jenkinsfile
Due: none

fix dev-tools for single-spa not present (#2934)
  Jenkinsfile
  apps/fusion-shell/index.html
  apps/fusion-shell/vite.config.ts
  spinnaker-config/fusion-app/prod.yaml
Due: apps, e2e

style: Make sphere smaller
  viewer/packages/camera-manager/src/ComboControls.ts
Due: none

chore: Create isEventCode and use it
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

fix: styling of fusion (#2933)
  apps/fusion-shell/src/app/app.tsx
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
Due: apps, libs, e2e

Created hook for outside click to support toggle button. Corrected Toolbar styling based on Figma
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useOutsideClick.tsx
Due: none

removed unused import
  react-components/src/components/RevealToolbar/HelpButton.tsx
Due: none

resrtuctured useOutsideClick hook
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useOutsideClick.tsx
Due: none

feat(simint): Routine builder read unit options from simulator storage instead of hardcoded options (#2877)
  apps/simint/src/components/calculation/CalculationSummary.tsx
  apps/simint/src/components/forms/ModelForm/ModelForm.tsx
  apps/simint/src/components/forms/ModelForm/constants.ts
  apps/simint/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simint/src/pages/CalculationConfiguration/steps/OutputStep.tsx
  apps/simint/src/pages/CalculationRunDetails/CalculationRunDetails.tsx
  apps/simint/src/pages/CalculationRunDetails/constants.ts
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Unit.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/UnitType.tsx
  package.json
  yarn.lock
Due: apps, e2e

recreating yarn file
  yarn.lock
Due: none

removed comment
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

Lint fixes
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/useCameraNavigation.tsx
Due: none

feat(industrial-canvas): allow copy-pasting images from the clipboard (#2927)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/IndustryCanvasFileUploadModal/IndustryCanvasFileUploadModal.tsx
  libs/industry-canvas/src/lib/hooks/useDragAndDrop.tsx
  libs/industry-canvas/src/lib/hooks/useRefocusCanvasWhenPanesClose.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/utils/convertFileToArrayBuffer.ts
  libs/industry-canvas/src/lib/utils/dataUrlUtils.ts
Due: libs

fix issue with persisting lsv (#2937)
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs

adding in storybook/client-api package to try fix fail of charts build
  package.json
Due: none

adding in storybook/client-api package to try fix fail of charts build
  yarn.lock
Due: none

adding graphql-ws package to fix for contextualization-ui build fail
  package.json
  yarn.lock
Due: none

fix(data-explorer): details overlay initial width [UX-1380] (#2939)
  apps/data-exploration/src/app/containers/Exploration/DetailsOverlay.tsx
Due: apps, e2e

Change interactive-diagrams subapp to single-branch
  Jenkinsfile
Due: none

feat(fdx): highlight node specified in URL params (#2914)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useNavigateOnClick.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useResetNodeDataOnNavigate.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
