Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix(react-components): 3D resources Submenu disappear in FDX when hovered (#3570)
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContainerElementContext.ts
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat(react-components): add default resource styling prop to 3DResources
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/index.ts
  react-components/stories/ModelsStyling.stories.tsx
Due: none

fix: type import
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(Onboarding-Modal): Adding the mixpanel metrics (#2683)
  apps/business-shell/src/app/components/Onboarding.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.tsx
  libs/shared/user-onboarding-components/src/index.ts
  libs/shared/user-onboarding-components/src/metrics/index.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

feat(data-quality): New access control mechanism
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useAccessControl.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/consts.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/helpers.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/types.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useStartValidation.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/DownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleFooter.tsx
Due: apps, e2e

moved custom settings button story example into Toolbar story
  react-components/stories/CustomSettingButton.stories.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

Remove dot additional css
  apps/simint/src/components/shared/Wizard/WizardStepIcon.tsx
Due: apps, e2e

chore: bump react components version
  react-components/package.json
Due: none

feat(react-components): add default resource styling prop to 3DResources (#3580)
  react-components/package.json
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/index.ts
  react-components/stories/ModelsStyling.stories.tsx
Due: none

feat(user-profile-components): added back button in profile page header & beta label in language tab button & static avatar in profile header (#2678)
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
Due: apps, libs, e2e

Fixed lint issues
  apps/platypus/src/app/modules/solution/data-quality/hooks/useAccessControl.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/index.ts
Due: apps, e2e

fix(industrial-canvas): remove viewVersion (#2694)
  libs/industry-canvas/src/lib/utils/FDMClient.ts
Due: libs

feat(FDX): add default CAD model styling (#2700)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/config/Cognite.ts
  package.json
  yarn.lock
Due: apps, e2e

feat: add cameraNavigation hook
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/Reveal3DResources/ModelsLoadingContext.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix(data-exploration): asset id count mismatch (#2702)
  libs/data-exploration/domain-layer/src/counts/service/queries/useAssetIdsQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: libs

feat(charts): add tsExternalIds fliter in monitoring jobs list [AH-1491]
  apps/charts/src/app/components/AlertingSidebar/AlertingSidebar.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobs.tsx
  apps/charts/src/app/components/MonitoringSidebar/hooks.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/domain/chart/internal/queries/useGetTSIds.ts
  apps/charts/src/app/domain/chart/internal/transformers/getTsIds.ts
  apps/charts/src/app/effects/scheduled-calculations.tsx
  apps/charts/src/app/models/chart/atom.ts
Due: apps, e2e

Update to newer devcontainer setup based on templates
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Use node version 18 image
  .devcontainer/devcontainer.json
Due: none

Add resourcemonitor extension to see cpu&mem load for Codespaces sessions
  .devcontainer/devcontainer.json
Due: none

Add hostRequirements, to set minimum cpu,mem,storage
  .devcontainer/devcontainer.json
Due: none

fix(simint) : Small refactor (#2704)
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
Due: apps, e2e

WIP: fetch all mappings through cache
  react-components/src/components/NodeCacheProvider/NodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/NodeCacheProvider/SomeCache.ts
  react-components/src/components/NodeCacheProvider/SpaceRevisionCache.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
Due: none

fix(industrial-canvas): fix fetching logic and more for comments (#2701)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.stories.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useCommentTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useListCommentsQuery.ts
Due: libs

fix: restore stories and fix styling cleanup issue
  react-components/.eslintrc.cjs
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Due: none

chore: bump react components version to 0.10.0
  react-components/package.json
Due: none

chore: import string
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
Due: none

fix(charts): remove pdfjs workerSrc override, popover style [AH-1617] (#2715)
  apps/charts/src/app/components/FileViewer/FileViewer.tsx
  apps/charts/src/app/components/FileViewer/components/AnnotationPopover.tsx
  apps/charts/src/app/pages/FileViewPage/FileViewPage.tsx
Due: apps, e2e

Add devcontainer README
  .devcontainer/README.md
  .devcontainer/devcontainers-clone-repo-image.png
Due: none

feat(advanced-join) Contextualization Score custom header (#2598)
  apps/platypus-e2e/src/integration/data-model/local-drafts.cy.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
  libs/contextualization/src/index.ts
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScore.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreInfoPanel.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/index.ts
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/AdvancedJoinsDocumentationTab.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ContextualizationScoreTab.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ImproveYourScore.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/PercentageChip.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/ScoreComponent.tsx
  libs/contextualization/src/lib/components/ContextualizationScore/tabs/index.ts
  libs/contextualization/src/lib/components/DataModelComponents/Notification.tsx
  libs/contextualization/src/lib/components/DataModelComponents/index.ts
  libs/contextualization/src/lib/components/constants.ts
  libs/contextualization/src/lib/components/index.ts
  libs/contextualization/src/lib/components/types.ts
  libs/contextualization/src/lib/constants.ts
  libs/contextualization/src/lib/containers/ContextualizationScore/ContextualizationScoreHeader.tsx
  libs/contextualization/src/lib/containers/ContextualizationScore/index.ts
  libs/contextualization/src/lib/containers/index.ts
  libs/contextualization/src/lib/hooks/data-model-version/useContextualizationContext.tsx
  libs/contextualization/src/lib/hooks/data-model-version/useSelectedDataModelVersion.ts
  libs/contextualization/src/lib/hooks/flags/index.ts
  libs/contextualization/src/lib/hooks/flags/useFlagContextualizationScoreHeader.ts
  libs/contextualization/src/lib/hooks/index.ts
  libs/contextualization/src/lib/hooks/useMeasureMappedPercentages.tsx
  libs/contextualization/src/lib/types.ts
  libs/contextualization/src/lib/utils/extractPropertiesFromURL.ts
  libs/contextualization/src/lib/utils/getScoreColor.ts
  libs/data-modeling/cog-data-grid/.eslintrc.json
  libs/data-modeling/cog-data-grid/src/lib/components/custom-header-component.tsx
Due: apps, libs, e2e

feat(react-components): add useCameraNavigation hook (#3581)
  react-components/.eslintrc.cjs
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/ModelsLoadingContext.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Due: none

fix(data-exploration): use the Files API instead of Documents API (#2716)
  libs/data-exploration/domain-layer/src/counts/service/queries/useAssetIdsQuery.ts
Due: libs

Further refinements of dcontainer documentation
  .devcontainer/README.md
Due: none

Removed some unnecessary content
  apps/platypus/src/app/modules/solution/data-quality/hooks/useAccessControl.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/consts.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/helpers.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useCapabilities/types.ts
Due: apps, e2e

feat(AI): [AI-145] Filter different ways for best possible results (#2698)
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/chatModels/cogniteChatGPT.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentSummaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/workorderChain.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/index.ts
Due: libs

Simplified node highlight story
  react-components/stories/HighlightNode.stories.tsx
Due: none

Added custom High fidelity config option
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
  react-components/src/utilities/DeepPartial.ts
  react-components/src/utilities/constants.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

feat: theoretically working cache
  react-components/src/components/NodeCacheProvider/NodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

fix: add zoom-to-clicked in HighlightNode
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none
