Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

chore: dont minimize on development environment (#2761)
  apps/raw-explorer/webpack-config.js
  apps/transformations/webpack-config.js
Due: apps, e2e

fusion-shell e2e tests (#2602)
  .github/workflows/fusion-shell-e2e-tests.yml
  apps/data-exploration-e2e/fusion.code-workspace
  apps/fusion-shell/.eslintrc.json
  apps/fusion-shell/README.md
  apps/fusion-shell/cypress.config.ts
  apps/fusion-shell/cypress/e2e/access-page.cy.ts
  apps/fusion-shell/cypress/e2e/charts.cy.ts
  apps/fusion-shell/cypress/e2e/contextualize-image.cy.ts
  apps/fusion-shell/cypress/e2e/data-catalog.cy.ts
  apps/fusion-shell/cypress/e2e/data-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/data-models.cy.ts
  apps/fusion-shell/cypress/e2e/document-classifier.cy.ts
  apps/fusion-shell/cypress/e2e/entity-matching.cy.ts
  apps/fusion-shell/cypress/e2e/explore-image.cy.ts
  apps/fusion-shell/cypress/e2e/extract-data.cy.ts
  apps/fusion-shell/cypress/e2e/extraction-pipelines.cy.ts
  apps/fusion-shell/cypress/e2e/functions-page.cy.ts
  apps/fusion-shell/cypress/e2e/ineteractive-diagram.cy.ts
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/cypress/e2e/raw-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/transform-data.cy.ts
  apps/fusion-shell/cypress/e2e/upload-3d-models.cy.ts
  apps/fusion-shell/cypress/support/commands.ts
  apps/fusion-shell/cypress/support/e2e.ts
  apps/fusion-shell/cypress/support/injectToken.ts
  apps/fusion-shell/cypress/support/loginWithClientCredentials.ts
  apps/fusion-shell/cypress/tsconfig.json
  apps/fusion-shell/project.json
  apps/fusion-shell/src/assets/dependencies/@cognite/cdf-sdk-singleton/index.js
  apps/fusion-shell/src/environments/mock/AuthContainer.tsx
  apps/fusion-shell/tools/scripts/webpack-dev-server.js
  apps/fusion-shell/tsconfig.json
  apps/fusion-shell/webpack-config.js
  tsconfig.base.json
Due: apps, e2e

chore: Refactor getCogniteClient
  examples/src/utils/example-helpers.ts
Due: none

fix: styling nits
  react-components/src/components/Image360Details/Image360Details.tsx
Due: none

feat: add Image360Details component (#3589)
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/index.ts
  react-components/stories/Image360Details.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
Due: none

Fix bugs in Variable input in routine builder (#2747)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
Due: apps, e2e

Make sub-apps owned by ux++ single-branch
  Jenkinsfile
Due: none

Remove keyboard events. (#3593)
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Due: none

chore: bump react components version
  react-components/package.json
Due: none

chore: bump react components version (#3595)
  react-components/package.json
Due: none

chore: Fix miscellaneous typos (#3594)
  README.md
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Due: none

feat(AI): resummarize when editing filter (#2755)
  apps/flexible-data-explorer/src/GlobalStyles.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/elements.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAICachedResults.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/ai/results.ts
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/types.ts
Due: apps, libs, e2e

adding preview package name
  apps/flows/project.json
Due: apps, e2e

feat: add historic 360 image UI when entering 360 image (#2771)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix(data-explorer): show label name instead of external ID [UX-1144] (#2758)
  libs/data-exploration/components/src/Details/DetailsItem.tsx
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/containers/src/Filters/LabelFilter/LabelFilter.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/SidebarFilters.tsx
  libs/data-exploration/domain-layer/src/index.ts
  libs/data-exploration/domain-layer/src/labels/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useGetLabelName.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useLabelsNameMap.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useOptionsWithLabelName.ts
  libs/data-exploration/domain-layer/src/labels/service/index.ts
  libs/data-exploration/domain-layer/src/labels/service/network/fetchAllLabels.ts
  libs/data-exploration/domain-layer/src/labels/service/network/index.ts
  libs/data-exploration/domain-layer/src/labels/service/queries/index.ts
  libs/data-exploration/domain-layer/src/labels/service/queries/useAllLabelsQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: libs

fix: add hosted extractors to list that shows for all
  apps/extractor-downloads/src/Home/Extractors/Extractors.tsx
Due: apps, e2e

[AI-224] fix: increase timeout to 30 sec (#2772)
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
Due: libs

feat: override font-family for cjk languages (#2752)
  libs/shared/cdf-ui-i18n-utils/package.json
  libs/shared/cdf-ui-i18n-utils/src/components/I18nWrapper/I18nWrapper.tsx
  libs/shared/cdf-ui-i18n-utils/src/utils/overrideFontFamily.ts
Due: libs

[AI-218] Show long loading message if request takes more than 10 seconds (#2773)
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Due: apps, e2e

fix: [AI-182] timeseries query generation and display in platypus (#2766)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/codegen-static/js/FDMQueryClient.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/FileNode.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/RelationNode.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/RelationViewer.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/utils.tsx
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/SearchPage.tsx
  apps/platypus/src/react-app-env.d.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.ts
Due: apps, libs, e2e

bump llm-hub (#2776)
  package.json
  yarn.lock
Due: none

[AI-213] Show type in edit filter modal (#2774)
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
Due: apps, e2e

fix: 2 small bugs for AI (#2777)
  apps/flexible-data-explorer/src/app/containers/search/AISearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
Due: apps, libs, e2e

fix: bug in filter construction (#2779)
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
Due: libs

fix: increase timeout for filter chain (#2778)
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
Due: libs

fix(industrial-canvas): open only preview pane when finding related data (#2714)
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsHeader/ResourceDetailsHeader.tsx
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsTemplate/ResourceDetailsTemplate.tsx
  libs/data-exploration/containers/src/ResourceDetails/AssetDetails/AssetDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/DocumentDetails/DocumentDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/EventDetails/EventDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/SequenceDetails/SequenceDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/useFilterState.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useResourceSelectorActions.ts
Due: libs

fix: Update code owners of Contextualization (#2757)
  CODEOWNERS
Due: none

chore: Fix various typos
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Due: none

chore: Remove unused function
  viewer/packages/camera-manager/src/Keyboard.ts
Due: none

chore: release UX++ apps (#2786)
  apps/access-management/package.json
  apps/interactive-diagrams/package.json
  apps/raw-explorer/package.json
  apps/transformations/package.json
Due: apps, e2e

feat(fdx): add `min` and `max` aggregate values for number inputs [UX-1131] (#2781)
  apps/flexible-data-explorer/src/app/containers/Filter/components/BaseFilterInput/BaseFilterInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumberInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/containers/FilterInput/inputs/NumericRangeInput.tsx
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useSearchAggregatesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/services/types.ts
Due: apps, e2e

fix:nav scroll
  apps/fusion-shell/src/app/components/Navigation/OverflowMenu/index.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/TopBarSections/index.tsx
Due: apps, e2e

chore: freeze commits for release (#2787)
  Jenkinsfile
Due: none

chore: change the branching strategy of data catalog to multi branch
  Jenkinsfile
Due: none

fix(data-explorer): Resource selector bulk action view (#2782)
  libs/data-exploration/components/src/ActionBar/elements.ts
Due: libs

Working style caching
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/stories/CadModelContainer.stories.tsx
Due: none

feat: cache FDM-to-CDF-mapping for individual styling purposes
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

Chart: Allow schedule calculation in monitoring job [AH-1478] (#2732)
  .vscode/settings.json
  apps/charts/src/app/components/Common/SidebarElements.tsx
  apps/charts/src/app/components/Common/SourceSelector.tsx
  apps/charts/src/app/components/DataProfilingSidebar/DataProfilingSidebar.tsx
  apps/charts/src/app/components/Form/FormInputWithController.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  apps/charts/src/app/components/MonitoringSidebar/elements.ts
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/components/NodeEditor/V2/types.ts
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  apps/charts/src/app/utils/constants.ts
Due: apps, e2e

chore: lint fix, cleanup
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none
