Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

chore(react-component): bump 0.19.0 (#3834)
  react-components/package.json
  react-components/yarn.lock
Due: none

fix(data-explorer): use files list endpoint in resource details [UX-1360] (#3704)
  libs/data-exploration/domain-layer/src/files/service/network/index.ts
  libs/data-exploration/domain-layer/src/files/service/network/listFiles.ts
  libs/data-exploration/domain-layer/src/files/service/network/searchFiles.ts
  libs/data-exploration/domain-layer/src/files/service/queries/useFileSearchQuery.ts
Due: libs

fix(data-explorer): validate annotations count (#3707)
  libs/data-exploration/domain-layer/src/counts/internal/queries/useAnnotationsCount.ts
Due: libs

feat(fdx): interceptions and commands for e2e (#3709)
  apps/flexible-data-explorer/cypress/support/commands/index.ts
  apps/flexible-data-explorer/cypress/support/commands/interception.commands.ts
  apps/flexible-data-explorer/cypress/support/interceptions/index.ts
  apps/flexible-data-explorer/cypress/support/interceptions/interceptions.ts
  apps/flexible-data-explorer/cypress/support/interceptions/requestAlias.ts
  apps/flexible-data-explorer/src/app/services/FDMClientV2.ts
Due: apps, e2e

Updated Jupyter Codegen LLM to GPT4 (#3710)
  libs/copilot-core/src/lib/flows/python/CodeExplainFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeGenerateFlow.ts
  libs/copilot-core/src/lib/flows/python/CodeRepairFlow.ts
Due: libs

chore(react-components): refactor fallback language and add to Help
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/i18n/I18n.tsx
Due: none

chore: lint fix
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/i18n/I18n.tsx
Due: none

Added search hook for reveal 360 image annotatios assets
  react-components/src/hooks/types.ts
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
  react-components/src/index.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

fix(data-explorer): unknown file category name [UX-1668] (#3708)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/docTypes.ts
Due: libs

notebook > useMetrics: use sdk singledon, not `useSdk` hook
  apps/notebook/src/hooks/useMetrics.ts
Due: apps, e2e

notebook > useMetrics: warn instead of throw on unknown event name
  apps/notebook/src/hooks/useMetrics.ts
Due: apps, e2e

notebook: fix disabled flag in query param for dshublite IFrame
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

chore(extraction-pipelines): Frontend changes for Pluto beta release (#3702)
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
Due: apps, e2e

chore: don't throw on language not specified, but use `getLanguage`
  react-components/src/components/i18n/I18n.tsx
Due: none

refactor: rename variables
  react-components/src/components/i18n/I18n.tsx
Due: none

chore(react-components): refactor fallback language and add to Help (#3837)
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/i18n/I18n.tsx
Due: none

chore: expand Cargo cache check (#3826)
  .github/workflows/ci.yml
Due: none

feat(data-explorer): 'add to canvas' button in 3D explorer (#3706)
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTopbar.tsx
  libs/data-exploration/core/src/types/resource.ts
  libs/industry-canvas/src/lib/components/CanvasButton.tsx
  libs/industry-canvas/src/lib/utils/isSupportedResourceType.ts
  libs/industry-canvas/src/lib/utils/resourceItemToContainerReference.ts
Due: apps, libs, e2e

fix(industrial-canvas): fix vertical expansion (#3720)
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsTemplate/ResourceDetailsTemplate.tsx
  libs/data-exploration/containers/src/DetailsTable/elements.ts
  libs/data-exploration/containers/src/ResourceDetails/elements.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
Due: libs

chore(react-components): bump 0.19.1
  react-components/package.json
Due: none

fix(fdx): timeseries link [UX-1643] (#3714)
  apps/flexible-data-explorer/src/app/components/Link.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
Due: apps, e2e

fix: create types for loading stories in playwright test
  react-components/.storybook/preview-head.html
  react-components/.storybook/preview.ts
  react-components/playwright.config.ts
  react-components/tests/visual-tests/example.spec.ts
  react-components/tests/visual-tests/example.spec.ts-snapshots/cad-model-container-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/image360-details-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/toolbar-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/utils/loadStory.ts
Due: none

fix: add stories.json
  react-components/storybook-static/stories.json
Due: none

feat(3d-management): Default to add tool (#3668)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

E2e setup extractor downloads (#3688)
  apps/extractor-downloads/.eslintrc.json
  apps/extractor-downloads/cypress.config.ts
  apps/extractor-downloads/cypress/config.ts
  apps/extractor-downloads/cypress/e2e/homePage.cy.ts
  apps/extractor-downloads/cypress/support/commands.ts
  apps/extractor-downloads/cypress/support/e2e.ts
  apps/extractor-downloads/cypress/tsconfig.json
  apps/extractor-downloads/cypress/utils/getUrl.ts
  apps/extractor-downloads/project.json
  apps/extractor-downloads/src/components/ListHeader/ListHeader.tsx
  apps/extractor-downloads/tsconfig.json
  tsconfig.base.json
Due: apps, e2e

feat(fdx): intercept request with cy (#3723)
  apps/flexible-data-explorer/cypress/support/commands/interception.commands.ts
  apps/flexible-data-explorer/cypress/support/interceptions/index.ts
  apps/flexible-data-explorer/cypress/support/interceptions/interceptions.ts
  apps/flexible-data-explorer/cypress/support/interceptions/types.ts
Due: apps, e2e

added search annotation assets in reveal hook storybook example
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
  react-components/stories/RevealSearchHook.stories.tsx
Due: none

fix(fdx): Filter sub menu (#3717)
  apps/flexible-data-explorer/src/GlobalStyles.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimePeriodSelect/TimePeriodSelect.tsx
Due: apps, libs, e2e

fix: support local cad models
  react-components/.storybook/main.ts
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/public/primitives/0.glb
  react-components/stories/public/primitives/scene.json
Due: none

fix(industrial-canvas): show only supported file types (#3716)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  package.json
  yarn.lock
Due: libs

Updated example storybook to enter into 360 image & navigate the camera to show selected asset
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
  react-components/stories/RevealSearchHook.stories.tsx
Due: none

renamed story file
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Due: none

chore(react-components): bump 0.19.1 (#3839)
  react-components/package.json
Due: none

revert the search hook changes
  react-components/stories/SearchHooks.stories.tsx
Due: none

added new line in the example
  react-components/stories/SearchHooks.stories.tsx
Due: none

chore: use the right hash for all cargo registry references
  .github/workflows/ci.yml
Due: none

fixed type error
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Due: none

lint error
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Due: none

style(3d-management): Improve "Add annotation" toolbar (#3667)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/AddAnnotationToolBar.tsx
Due: apps, e2e
