Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

Added FDM config
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

Fixed yarn.lock
  react-components/yarn.lock
Due: none

Examples lint
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
Due: none

fix(data-explorer): related resources table content (#2369)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipAssetTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipEventTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipFileTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipFilters.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipSequenceTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTimeseriesTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration/core/src/types/files.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapFiltersToAssetsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/builders.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useNonLinkedRelatedResourcesIds.ts
  libs/data-exploration/domain-layer/src/counts/internal/queries/useRelationshipsCount.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/relationships/internal/index.ts
  libs/data-exploration/domain-layer/src/relationships/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/relationships/internal/queries/useRelatedResourceDataForDetailView.ts
  libs/data-exploration/domain-layer/src/relationships/internal/queries/useRelationshipLabels.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/extractRelationshipLabels.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/index.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/transformToDetailViewData.ts
  libs/data-exploration/domain-layer/src/relationships/internal/transformers/transformToRelatedResourceExternalIds.ts
  libs/data-exploration/domain-layer/src/relationships/internal/types.ts
  libs/data-exploration/domain-layer/src/relationships/internal/utils/addDetailViewData.ts
  libs/data-exploration/domain-layer/src/relationships/internal/utils/buildAdvancedFilterFromDetailViewData.ts
  libs/data-exploration/domain-layer/src/relationships/internal/utils/index.ts
  libs/data-exploration/domain-layer/src/relationships/service/index.ts
  libs/data-exploration/domain-layer/src/relationships/service/network/getRelationships.ts
  libs/data-exploration/domain-layer/src/relationships/service/network/getSourceRelationships.ts
  libs/data-exploration/domain-layer/src/relationships/service/network/getTargetRelationships.ts
  libs/data-exploration/domain-layer/src/relationships/service/queries/useRelationshipsQuery.ts
  libs/data-exploration/domain-layer/src/relationships/service/types.ts
  libs/data-exploration/domain-layer/src/relationships/service/utils/createLabelFilter.ts
  libs/data-exploration/domain-layer/src/relationships/service/utils/index.ts
Due: apps, libs, e2e

feat: mixpanel, result computing, error handling and more for Copilot (#2376)
  apps/copilot/src/app/pages/CopilotPage.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/providers/FDMProvider.tsx
  apps/flexible-data-explorer/src/app/services/FDMClient.ts
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/functions-ui/src/app/hooks/useSubappType.ts
  libs/copilot-core/package.json
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatHeader.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/HistoryList.tsx
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/LoadingMessage.tsx
  libs/copilot-core/src/app/components/ChatUI/SmallChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/hooks/useChatHistory.tsx
  libs/copilot-core/src/app/hooks/useCopilotContext.tsx
  libs/copilot-core/src/app/hooks/useMetrics.tsx
  libs/copilot-core/src/app/utils/CopilotContext.tsx
  libs/copilot-core/src/lib/getActions.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/conversation/base.ts
  libs/copilot-core/src/lib/toolchains/fusionQA/fusionQA.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/summaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/types.ts
Due: apps, libs, e2e

feat(user-profile-components): User profile components updates (#2318)
  Jenkinsfile
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  libs/shared/user-profile-components/.storybook/main.js
  libs/shared/user-profile-components/.storybook/preview.js
  libs/shared/user-profile-components/.storybook/tsconfig.json
  libs/shared/user-profile-components/README.md
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/project.json
  libs/shared/user-profile-components/src/common/constants/index.ts
  libs/shared/user-profile-components/src/common/types/Language.ts
  libs/shared/user-profile-components/src/common/types/UserInfo.ts
  libs/shared/user-profile-components/src/common/types/VerticalTab.ts
  libs/shared/user-profile-components/src/common/types/index.ts
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.stories.tsx
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/demo/flow-demo/FlowDemo.stories.tsx
  libs/shared/user-profile-components/src/demo/flow-demo/FlowDemo.tsx
  libs/shared/user-profile-components/src/hooks/useActiveTabKey.ts
  libs/shared/user-profile-components/src/index.ts
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.stories.tsx
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
  libs/shared/user-profile-components/tsconfig.json
  libs/shared/user-profile-components/tsconfig.lib.json
  libs/shared/user-profile-components/vite.config.ts
Due: apps, libs, e2e

Refactored annotation creation
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
Due: none

Added types for hooks
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
Due: none

Added staleTime constant
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/utilities/constants.ts
Due: none

Styling extracted as a hook
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/constants.ts
Due: none

feat: nx-cloud (#2384)
  nx.json
  package.json
  yarn.lock
Due: none

feat: integrate unified signin into extraction pipelines (#2372)
  apps/extraction-pipelines/src/App.tsx
  apps/extraction-pipelines/src/AuthContainer.tsx
  apps/extraction-pipelines/src/cdf-hub-sdk-singleton.d.ts
  apps/extraction-pipelines/src/utils/ExtpipesAPI.ts
  apps/extraction-pipelines/src/utils/baseURL.tsx
Due: apps, e2e

refactor(industrial-canvas): use the new react container api (#2364)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/containerConfigToContainerReference.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/utils/getAssetTableContainerConfig.tsx
  libs/industry-canvas/src/lib/hooks/utils/getEventTableContainerConfig.tsx
  libs/industry-canvas/src/lib/hooks/utils/resolveAssetContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveEventContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveTimeseriesContainerConfig.ts
  libs/industry-canvas/src/lib/utils/getDefaultContainerLabel.ts
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
  package.json
  yarn.lock
Due: libs

chore(data-explorer): Improve filter area content (#2363)
  libs/data-exploration/containers/src/Search/SearchResultFilters/AssetFilters/AssetFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/EventFilters/EventFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/FileFilters/FileFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/TimeseriesFilters/TimeseriesFilters.tsx
Due: libs

feat(data-quality): Download validity report (#2371)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidity.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useStartValidation.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/DataQualityOverview.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/DownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/useDownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/useReportAvailability.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useLoadRuleset.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useUpsertRule.tsx
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

refactor(industrial-canvas): clean-up comment hooks and types (#2385)
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/use-query/useUserProfilesByIds.ts
  libs/industry-canvas/src/lib/services/comments/CommentService.ts
  libs/industry-canvas/src/lib/services/comments/hooks/index.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-mutation/useCommentsDeleteMutation.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-mutation/useCommentsUpsertMutation.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useFetchCommentsByIdsQuery.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useListCommentsQuery.ts
  libs/industry-canvas/src/lib/services/comments/hooks/useCommentsWithUserProfiles.ts
  libs/industry-canvas/src/lib/services/comments/types.ts
  libs/industry-canvas/src/lib/services/comments/utils.ts
  libs/industry-canvas/src/lib/utils/FDMClient.ts
Due: libs

fix: nx cloud workspace (#2388)
  nx.json
  package.json
  yarn.lock
Due: none

feat: setup user onboarding component and onboarding modal (#2358)
  .github/labeler.yml
  CODEOWNERS
  Jenkinsfile
  libs/shared/user-onboarding-components/.babelrc
  libs/shared/user-onboarding-components/.eslintrc.json
  libs/shared/user-onboarding-components/.storybook/main.ts
  libs/shared/user-onboarding-components/.storybook/preview.ts
  libs/shared/user-onboarding-components/.storybook/tsconfig.json
  libs/shared/user-onboarding-components/README.md
  libs/shared/user-onboarding-components/jest.config.ts
  libs/shared/user-onboarding-components/package.json
  libs/shared/user-onboarding-components/project.json
  libs/shared/user-onboarding-components/src/components/index.ts
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.stories.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/OnboardingModal.tsx
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_1.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_2.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/carousel-image_3.png
  libs/shared/user-onboarding-components/src/components/onboarding-modal/index.ts
  libs/shared/user-onboarding-components/src/index.ts
  libs/shared/user-onboarding-components/src/types/images.d.ts
  libs/shared/user-onboarding-components/src/utils/index.ts
  libs/shared/user-onboarding-components/tsconfig.json
  libs/shared/user-onboarding-components/tsconfig.lib.json
  libs/shared/user-onboarding-components/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: libs

fix: remove nx-cloud key locally (#2390)
  .github/workflows/nx_ci.yml
  nx.json
Due: none

Initial layering component for Cad model
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

[UX-1013] integrate unified sign in changes in data exploration (#2357)
  apps/data-exploration/src/app/App.tsx
  apps/data-exploration/src/app/AuthContainer.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/hooks/hooks.ts
  apps/data-exploration/src/app/utils/URLUtils.ts
  apps/data-exploration/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

fix: Jenkinsfile typo (#2397)
  Jenkinsfile
  apps/coding-conventions/src/app/containers/convention/ConventionList.tsx
Due: apps, e2e

feat: copilot works for aggregate queries
  apps/copilot/src/app/pages/CopilotPage.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/platypus/src/app/App.tsx
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/components/Navigations/elements.ts
  apps/platypus/src/i18n/en/platypus.json
  libs/copilot-core/package.json
  libs/copilot-core/src/app/Copilot.tsx
  libs/copilot-core/src/app/components/ChatUI/LargeChatUI.tsx
  libs/copilot-core/src/app/components/ChatUI/SmallChatUI.tsx
  libs/copilot-core/src/app/hooks/useMetrics.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(data-explorer): make resource selector resizable (#2321)
  libs/data-exploration/components/src/Drawer/Drawer.tsx
  libs/data-exploration/components/src/Splitter/Splitter.tsx
  libs/data-exploration/components/src/Splitter/handle.tsx
  libs/data-exploration/components/src/Splitter/index.ts
  libs/data-exploration/components/src/index.ts
Due: libs

fix: update maintains url in sp (#3867)
  apps/digital-cockpit/src/components/navigation/LeftSidebar.tsx
  apps/digital-cockpit/src/constants/applications.ts
  apps/digital-cockpit/src/pages/Home/Home.tsx
Due: apps, e2e

fix(data-exploration): assets relationship table (#2389)
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useRelatedAssetsQuery.ts
Due: libs

fix: events relationship table
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/index.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useRelatedEventsQuery.ts
Due: libs

fix: timeseries relationship table
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useRelatedTimeseriesQuery.ts
Due: libs

fix: metadata columns
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesRelatedSearchResults.tsx
Due: libs

fix: sequence relationship table
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/index.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useRelatedSequenceQuery.ts
Due: libs

fix: files relationship table
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileTableFilters.tsx
  libs/data-exploration/domain-layer/src/documents/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useRelatedDocumentsQuery.ts
  libs/data-exploration/domain-layer/src/files/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/files/internal/queries/useRelatedFilesQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Due: libs

feat: new relationships table
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTableV2.tsx
  libs/data-exploration-components/src/containers/Relationships/index.ts
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/index.ts
Due: apps, libs, e2e

fix: column visibility
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/SequenceSearchResults/SequenceRelatedSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesRelatedSearchResults.tsx
Due: libs

[UX-1007] integrate unified sign in changes in access management (#2375)
  apps/access-management/src/App.tsx
  apps/access-management/src/AuthContainer.tsx
  apps/access-management/src/cognite-cdf-sdk-singleton.d.ts
  apps/access-management/src/hooks.ts
  apps/access-management/src/pages/Groups/ActionsSelector.tsx
  apps/access-management/src/pages/Groups/GroupDrawer.tsx
  apps/access-management/src/pages/Groups/SingleCapabilityEditor.tsx
  apps/access-management/src/pages/Groups/SpaceIdsSelector.tsx
  apps/access-management/src/pages/Groups/index.tsx
  apps/access-management/src/pages/Home/Home.tsx
  apps/access-management/src/pages/IDP/LegacyLoginFlowWarning.tsx
  apps/access-management/src/pages/IDP/index.tsx
  apps/access-management/src/pages/OIDC/index.tsx
  apps/access-management/src/pages/UserProfiles/index.tsx
Due: apps, e2e

feat(functions-ui): support auth-react
  apps/functions-ui/src/AppWrapper.tsx
  apps/functions-ui/src/AuthContainer.tsx
  apps/functions-ui/src/app/App.tsx
  apps/functions-ui/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

feat(functions-ui): support cdf routes
  apps/functions-ui/src/app/App.tsx
Due: apps, e2e

fix: hooks
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileRelatedSearchResults.tsx
  libs/data-exploration/domain-layer/src/assets/internal/queries/useRelatedAssetsQuery.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useRelatedDocumentsQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useRelatedEventsQuery.ts
  libs/data-exploration/domain-layer/src/files/internal/queries/useRelatedFilesQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useRelatedSequenceQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useRelatedTimeseriesQuery.ts
Due: libs

feat: shared `node_modules` cache (#2402)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
Due: none

chore: update cargo lock
  viewer/Cargo.lock
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
