Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: bump reveal-react-components and replace CameraController (#2725)
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore: lint fix
  react-components/stories/HighlightNode.stories.tsx
Due: none

removed unnecessary state and renamed prop names for better readability
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
Due: none

feat: replace unified signon with e2e auth (#2717)
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  package.json
  yarn.lock
Due: apps, e2e

chore: simplify quality component
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/SettingsContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
  react-components/src/index.ts
  react-components/src/utilities/DeepPartial.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

[copilot-core > ResponsiveActions]: fix showing dropdown on "more" click (#2727)
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
Due: libs

fixed storybook error
  react-components/stories/Toolbar.stories.tsx
Due: none

chore: rename internal type
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
Due: none

chore: simplify quality component (#3583)
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
  react-components/src/index.ts
  react-components/src/utilities/constants.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

Add the `contextualization-ui` to the Jenkinsfile
  Jenkinsfile
  apps/contextualization-ui/firebase.json
Due: apps, e2e

chore: remove old `queryMappedData` file
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

feat(react-components): clicked node hook (#3557)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

clean up of unused & unnecessary code
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/utilities/constants.ts
Due: none

fix: working cache
  react-components/src/components/NodeCacheProvider/NodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(charts): fix asset infinite loader, FileList [AH-1617] (#2729)
  apps/charts/src/app/components/FileList/FileList.tsx
  apps/charts/src/app/components/FileList/utils.ts
  apps/charts/src/app/components/FileViewer/FileViewer.tsx
  apps/charts/src/app/components/FileViewer/components/AnnotationPopover.tsx
  apps/charts/src/app/components/FileViewer/hooks/useUnifiedFileViewerState.tsx
  apps/charts/src/app/hooks/cdf-assets.ts
Due: apps, e2e

Fixed calendar version format to YYYYMMDD Change split of OData version, environment and path between project and environment fields.
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
Due: apps, e2e

feat: bump to apm-auth-container
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  package.json
  yarn.lock
Due: apps, e2e

Ux fusion shell build process changes (#2691)
  .github/workflows/nx_ci.yml
  apps/fusion-shell/README.md
  apps/fusion-shell/firebase.json
  apps/fusion-shell/project.json
  apps/fusion-shell/src/apps-manifest.json
  apps/fusion-shell/src/assets/dependencies/@cognite/cdf-sdk-singleton/index.js
  apps/fusion-shell/src/environments/preview/DynamicRoutes.tsx
  apps/fusion-shell/src/environments/preview/environment.preview.ts
  apps/fusion-shell/src/environments/production/environment.prod.ts
  apps/fusion-shell/src/environments/staging/environment.staging.ts
  apps/fusion-shell/src/environments/unified-signin/preview/sub-apps-modules-config.json
  apps/fusion-shell/src/import-map.json
  apps/fusion-shell/src/index.html
  apps/fusion-shell/src/single-spa/root-config/sub-apps-config.ts
  apps/fusion-shell/tools/scripts/fusion-post-build.sh
  apps/fusion-shell/tools/scripts/import-map-generator.js
  apps/fusion-shell/tools/scripts/lib/import-map-utils.js
  apps/fusion-shell/tools/scripts/lib/import-map-utils.spec.js
  apps/fusion-shell/tools/scripts/webpack-dev-server.js
  apps/fusion-shell/tools/static-file-server.js
  apps/fusion-shell/webpack-config.js
  scripts/github-actions/get-pr-comment/index.js
Due: apps, e2e

refactor: factor down a function somewhat
  react-components/src/components/NodeCacheProvider/NodeCache.ts
Due: none

Lint changes.
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
Due: apps, e2e

Fusion shell/fix profile link (#2721)
  apps/fusion-shell/src/app/components/Navigation/TopBar/UserMenu/index.tsx
Due: apps, e2e

refactor: split into more functions
  react-components/src/components/NodeCacheProvider/NodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
Due: none

feat: add Image360Details wrapper component
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/index.ts
  react-components/stories/Image360Details.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
Due: none

feat: bump to apm-auth-container (#2734)
  apps/business-shell/src/app/common/auth/AuthProvider.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix: initialize 360 images without pre-multiplied rotations
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
Due: none

chore: lint fix
  react-components/src/components/NodeCacheProvider/NodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/NodeCacheProvider/SomeCache.ts
  react-components/src/components/NodeCacheProvider/SpaceRevisionCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/hooks/useNodeMappedData.tsx
Due: none

refactor: more factoring, move requests to own file
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
Due: none

fix: don't throw on finding mappings for non-mapped node
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
Due: none

feat: add onBackBtnClick prop
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
Due: libs

feat: replace url while switching between tabs
  libs/shared/user-profile-components/src/hooks/useActiveTabKey.ts
Due: libs

chore: lint fix and console log removal
  react-components/src/components/NodeCacheProvider/RevisionNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/hooks/useClickedNode.tsx
Due: none

chore: remove unused file
  react-components/src/hooks/useNodeMappedData.tsx
Due: none

feat: add exit button when entered 360 image
  react-components/src/components/Image360Details/Image360Details.tsx
Due: none

chore: remove more console logs
  react-components/src/components/NodeCacheProvider/NodeCache.ts
Due: none

fix: wrong file name, refactoring
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
Due: none

clean up of unused & unnecessary code (#3587)
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/utilities/constants.ts
Due: none

chore: add story for onBackBtnClick prop
  libs/shared/user-profile-components/.storybook/main.js
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.stories.tsx
Due: libs

release: 0.11.0
  libs/shared/user-profile-components/package.json
Due: libs

chore: rename files
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

chore: rename function
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
