Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: build production build to use fusion env (#2581)
  apps/platypus/project.json
Due: apps, e2e

Remove config files from apps monorepo
  BUILD.bazel
  WORKSPACE
  apps/BUILD.bazel
  apps/Caddyfile
  apps/apps.bzl
  apps/babelTransform.js
  apps/entrypoint.sh
  apps/jest.config.js
  apps/jest.react.config.js
  apps/simconfig/BUILD.bazel
  apps/vite.config.js
  apps/vite.storybook.config.js
  workspace_status.sh
Due: apps, e2e

fix: bump transitive dependency to fix a -high- CVE (#3539)
  documentation/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Due: none

feat: return all node data from query
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

fix: correct click-highlighting
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

Remove config files from applications monorepo
  .bulldozer.yaml
  .ci.bazelrc
  .husky/.gitignore
  .husky/pre-commit
  .nvmrc
Due: none

feat: add support for node data fetching in React Components (#3518)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

fix(industrial-canvas): constant polling of /me (#2584)
  libs/industry-canvas/src/lib/UserProfileProvider.tsx
Due: libs

Update dependencies for simint app
  package.json
  yarn.lock
Due: none

fix: show definition when there is no state
  src/common/i18n/translations/en/flows.json
  src/components/basic-placeholder/BasicPlaceholder.tsx
  src/components/basic-placeholder/elements.ts
  src/components/canvas-topbar/CanvasTopBar.tsx
  src/components/floating-components-panel/FloatingComponentsPanel.tsx
  src/components/run-node/RunNodeRenderer.tsx
  src/components/view-only-canvas/ViewOnlyCanvas.tsx
  src/pages/flow/Flow.tsx
  src/types/index.ts
  src/types/workflows.ts
  src/utils/workflows.ts
Due: none

chore(data-exploration): add support for placement menu prop in metadata filter (#2586)
  apps/charts/src/app/components/EventSidebar/EventFilterForm.tsx
  libs/data-exploration/components/src/CheckboxSelect/CheckboxSelect.tsx
  libs/data-exploration/components/src/CheckboxSelect/components/OptionsMenu.tsx
  libs/data-exploration/containers/src/Filters/MetadataFilter/MetadataFilter.tsx
  libs/data-exploration/containers/src/Filters/types.ts
Due: apps, libs, e2e

Fix usage of renderHook in tests
  apps/simint/src/hooks/__tests/useCheckAcl.mock.test.tsx
Due: apps, e2e

Fix(login-utils): Add missing dependencies (#2585)
  libs/shared/cdf-login-utils/package.json
  libs/shared/cdf-login-utils/project.json
  package.json
  yarn.lock
Due: libs

fix: use camera move event instead of scene rendered, also unmount component when behind camera
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

fix: remove unused code
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix(react-components): simplify viewer anchor and cleanup some stories (#3538)
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/ViewerAnchor/AuxillaryDivProvider.tsx
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/yarn.lock
Due: none

Fix linter
  .eslintrc.json
  apps/simint/.eslintrc.json
  apps/simint/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

Bug fixes listed in UX-1126 & some more edge cases
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
Due: none

[ux-1143] Update project selector to include projects with separate logic for fetching them (#2569)
  apps/fusion-shell/src/app/components/Navigation/ProjectDropdown/index.tsx
  apps/fusion-shell/src/app/components/Navigation/ProjectListByCluster/ButtonGoToIDPProject.tsx
  apps/fusion-shell/src/app/components/Navigation/ProjectListByCluster/IDPProjectList.tsx
  apps/fusion-shell/src/app/components/Navigation/ProjectListByCluster/ProjectListByCluster.tsx
  apps/fusion-shell/src/app/hooks/useProjects.ts
  libs/shared/cdf-login-utils/src/utils/shared.ts
Due: apps, libs, e2e

chore(fdx): design feedback on instance page (#2591)
  apps/flexible-data-explorer/src/app/components/widget/Widget.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageDashboard.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageHeader.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
Due: apps, e2e

feat(industry-canvas): Use lexical js for comments (#2431)
  apps/fusion-shell/project.json
  apps/industry-canvas-ui/README.md
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/buttons/ToggleButton.tsx
  libs/industry-canvas/src/lib/components/buttons/index.ts
  libs/industry-canvas/src/lib/components/comment/CommentDisplay.tsx
  libs/industry-canvas/src/lib/components/comment/CommentEditor.tsx
  libs/industry-canvas/src/lib/components/comment/MentionNode.tsx
  libs/industry-canvas/src/lib/components/comment/MentionsPlugin.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.stories.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.stories.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/index.ts
  libs/industry-canvas/src/lib/containers/index.ts
  libs/industry-canvas/src/lib/hooks/use-query/useUserProfilesByIds.ts
  libs/industry-canvas/src/lib/hooks/useCommentsPaneSearch.ts
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useManagedTool.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-mutation/useCommentsUpsertMutation.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useListCommentsQuery.ts
  libs/industry-canvas/src/lib/services/comments/types.ts
  libs/industry-canvas/src/lib/services/comments/utils.ts
  libs/industry-canvas/src/lib/utils/caseInsensitiveStartsWith.ts
  nx.json
  package.json
  yarn.lock
Due: apps, libs, e2e

chore(copilot-core): fixing issues and updating package version (#2517)
  libs/copilot-core/package.json
  libs/copilot-core/src/lib/getActions.ts
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentSummaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/prompts.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/utils.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/workorderChain.ts
  libs/copilot-core/src/lib/unsupportedMsg.ts
  libs/copilot-core/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: libs

Working pagination for styling hook
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/fdmConfig.ts
  react-components/stories/utilities/utils.ts
Due: none

styles fixes and refactoring UI_SUPPORTED_PROCESS_TYPES
  src/components/basic-placeholder/BasicPlaceholder.tsx
  src/components/basic-placeholder/elements.ts
  src/components/floating-components-panel/FloatingComponentsPanel.tsx
Due: none

fix: remove uniqueKey from ViewerAnchor API
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: propagate undefined results to click handler
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

fix: expose intersection in click handler parameter
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/types.ts
Due: none

chore: lint fix
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

feat: updated firebase headers for all sites and added optimization flag (#2595)
  .github/workflows/deploy_cdf_ui_host_staging.yml
  apps/3d-management/firebase.json
  apps/access-management/dist/libs/data-exploration/domain-layer/libs/data-exploration/domain-layer/README.md
  apps/access-management/firebase.json
  apps/access-management/scripts/cypress-dev.sh
  apps/access-management/yarn.lock
  apps/cdf-document-search/firebase.json
  apps/charts/firebase.json
  apps/charts/yarn.lock
  apps/coding-conventions/firebase.json
  apps/copilot/firebase.json
  apps/data-catalog/firebase.json
  apps/data-exploration/firebase.json
  apps/entity-matching/firebase.json
  apps/extraction-pipelines/firebase.json
  apps/extractor-downloads/firebase.json
  apps/functions-ui/firebase.json
  apps/fusion-shell/firebase.json
  apps/industry-canvas-ui/firebase.json
  apps/industry-canvas-ui/yarn.lock
  apps/interactive-diagrams/firebase.json
  apps/iot-hub/firebase.json
  apps/notebook/firebase.json
  apps/platypus/firebase.json
  apps/raw-explorer/dist/libs/data-exploration/domain-layer/libs/data-exploration/domain-layer/README.md
  apps/raw-explorer/firebase.json
  apps/transformations/firebase.json
  apps/vision/firebase.json
  tools/webpack/single-spa-webpack-config.js
Due: apps, e2e

fix: lint
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/utilities/fdmConfig.ts
  react-components/stories/utilities/utils.ts
Due: none

feat: bump package with correct package (#2597)
  apps/copilot/package.json
  libs/copilot-core/package.json
Due: apps, libs, e2e

[ux-1121] Load dev scripts in appropriate environments (#2587)
  apps/fusion-shell/project.json
  apps/fusion-shell/src/assets/dependencies/dev-setup.js
  apps/fusion-shell/src/dev-scripts.js
  apps/fusion-shell/src/index.html
Due: apps, e2e

fix: correct HighlightNode story
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix: remove uniqueKey from ViewerAnchor API (#3541)
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: FDM query refinements (#3542)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none
