Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

updated get assets in chunks of 1000
  react-components/src/hooks/getAssets.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/use360Annotations.tsx
Due: none

removed unused type
  react-components/src/hooks/types.ts
Due: none

combined the statement
  react-components/src/hooks/getAssets.tsx
Due: none

feat(react-components): instance styling through asset mappings (#3781)
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat(charts): log recent user activity in charts (#3471)
  apps/charts/src/App.tsx
  apps/charts/src/app/hooks/charts-storage.ts
  apps/charts/src/app/hooks/charts/mutations/useCreateChart.ts
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

chore: bump 0.17.0
  react-components/package.json
Due: none

fix: delete instance command (#3548)
  apps/platypus/src/app/di.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DeleteRowsModal/DeleteRowsModal.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useNodesDeleteMutation.ts
  apps/platypus/src/i18n/en/platypus.json
  libs/data-modeling/platypus-core/src/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/delete-instances-command.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/delete-instances-command.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/dto.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-managment-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Due: apps, libs, e2e

feat(industry-canvas): log recent user activity in industry-canvas (#3477)
  apps/fusion-shell/src/app/components/LandingPage/UserHistory.tsx
  apps/industry-canvas-ui/src/app/App.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/use-mutation/useCanvasCreateMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useCanvasSaveMutation.ts
Due: apps, libs, e2e

Changing text (#3536)
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/fusion-shell/src/i18n/translations/de/navigation.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/i18n/translations/es/navigation.json
  apps/fusion-shell/src/i18n/translations/fr/navigation.json
  apps/fusion-shell/src/i18n/translations/it/navigation.json
  apps/fusion-shell/src/i18n/translations/ja/navigation.json
  apps/fusion-shell/src/i18n/translations/ko/navigation.json
  apps/fusion-shell/src/i18n/translations/nl/navigation.json
  apps/fusion-shell/src/i18n/translations/pt/navigation.json
  apps/fusion-shell/src/i18n/translations/sv/navigation.json
  apps/fusion-shell/src/i18n/translations/zh/navigation.json
Due: apps, e2e

added transaltion for tooltips
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

feat(3d-management): add slicer tool for cads (#3556)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
Due: apps, e2e

lint correction
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
Due: none

feat(3d-management): Move contextualize button to 3d-models (#3569)
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ModelsTable.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeDContextualizeButton.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader.tsx
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
Due: apps, e2e

fix(industrial-canvas): fix wrong url for 3d models (#3557)
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
Due: libs

fix: disable the add button when there is no 3d node selected by using the selectedNodeIds state (#3577)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
Due: apps, e2e

fix(fdx): filter menu UI [UX-1502 | UX-1565] (#3439)
  apps/flexible-data-explorer/src/app/containers/Filter/components/Menu/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/components/Select/elements.ts
Due: apps, e2e

fix(data-explorer): Label filter info bar (#3532)
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration/components/src/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
  libs/data-exploration/containers/src/Filters/LabelFilter/LabelFilter.tsx
Due: apps, libs, e2e

feat(chart):add data profiling e2e (#3541)
  apps/charts/cypress/e2e/dataProfiling.cy.ts
  apps/charts/src/app/components/DataProfilingSidebar/DataProfilingSidebar.tsx
  apps/charts/src/app/components/DateTime/DateTimePicker.tsx
Due: apps, e2e

feat(charts-lib): adding preview column to resource selector charts table (#3445)
  libs/charts-lib/.eslintrc.json
  libs/charts-lib/project.json
  libs/charts-lib/src/lib/ChartsSdkInitialisationGuard.tsx
  libs/charts-lib/src/lib/components/LoadingIcon/LoadingIcon.tsx
  libs/charts-lib/src/lib/components/LoadingIcon/index.ts
  libs/charts-lib/src/lib/components/PlotlyChart/PlotlyChart.tsx
  libs/charts-lib/src/lib/components/PlotlyChart/PreviewPlotContainer.tsx
  libs/charts-lib/src/lib/components/PlotlyChart/context.ts
  libs/charts-lib/src/lib/components/PlotlyChart/elements.ts
  libs/charts-lib/src/lib/components/PlotlyChart/index.ts
  libs/charts-lib/src/lib/components/PlotlyChart/navigation-safe-plot-component.tsx
  libs/charts-lib/src/lib/components/PlotlyChart/navigation-safe-plot-hooks.ts
  libs/charts-lib/src/lib/components/PlotlyChart/preview-hooks.ts
  libs/charts-lib/src/lib/components/PlotlyChart/types.ts
  libs/charts-lib/src/lib/components/PlotlyChart/utils.ts
  libs/charts-lib/src/lib/components/index.ts
  libs/charts-lib/src/lib/index.ts
  libs/charts-lib/src/lib/services/calculation-backend.ts
  libs/charts-lib/src/lib/utils/colors.ts
  libs/charts-lib/src/lib/utils/compare.ts
  libs/charts-lib/src/lib/utils/constants.ts
  libs/charts-lib/src/lib/utils/environment.ts
  libs/charts-lib/src/lib/utils/numbers.ts
  libs/charts-lib/src/lib/utils/threshold.ts
  libs/charts-lib/src/lib/utils/timeseries.ts
  libs/charts-lib/src/lib/utils/units.ts
  libs/charts-lib/tsconfig.json
  libs/data-exploration/containers/src/ResourceSelector/Charts/ChartsTable.tsx
Due: libs

feat(data-explorer): show only specific file types in resource selector [UX-699] (#3468)
  libs/data-exploration-components/src/components/SearchNew/Filters/ResetFiltersButton.tsx
  libs/data-exploration/containers/src/Filters/TypeFilter/TypeFilter.tsx
  libs/data-exploration/containers/src/Filters/types.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorTable.tsx
  libs/data-exploration/containers/src/ResourceTabs/EventsTab.tsx
  libs/data-exploration/containers/src/ResourceTabs/FilesTab.tsx
  libs/data-exploration/containers/src/ResourceTabs/SequenceTab.tsx
  libs/data-exploration/containers/src/ResourceTabs/ThreeDTab.tsx
  libs/data-exploration/containers/src/ResourceTabs/TimeseriesTab.tsx
  libs/data-exploration/containers/src/ResourceTabs/types.ts
  libs/data-exploration/containers/src/Search/SearchResultFilters/FileFilters/FileFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/SidebarFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/AppliedFiltersTags.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentSearchResults.tsx
  libs/data-exploration/core/src/types/filters.ts
  libs/data-exploration/core/src/utils/filters/__tests__/mergeInternalFilters.test.ts
  libs/data-exploration/core/src/utils/filters/index.ts
  libs/data-exploration/core/src/utils/filters/mergeInternalFilters.ts
  libs/data-exploration/core/src/utils/index.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useDocumentsFilterOptions.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapFiltersToDocumentSearchFilters.ts
  libs/data-exploration/domain-layer/src/index.ts
  libs/data-exploration/domain-layer/src/utils/__tests__/pickFilterDataByDefaultFilter.test.ts
  libs/data-exploration/domain-layer/src/utils/index.ts
  libs/data-exploration/domain-layer/src/utils/pickFilterDataByDefaultFilter.ts
Due: libs

Working asset and FDM search hooks together with update of FDMSdk
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useSearchMappedEquipment.tsx
  react-components/src/hooks/useSearchMappedEquipmentAssetMappings.tsx
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

Added export
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/index.ts
Due: none

fix(interactive diagrams): Stuck at 'Assets Downloading 0%' During Resource Download (#3580)
  apps/interactive-diagrams/src/modules/workflows/__tests__/selectors/aggregateResourceStatus.spec.ts
  apps/interactive-diagrams/src/modules/workflows/selectors.ts
  apps/interactive-diagrams/src/modules/workflows/types.ts
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/index.tsx
Due: apps, e2e

fix(data-explorer): single selection mode in ResourceSelector [UX-1336] (#3463)
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsHeader/ResourceDetailsHeader.test.tsx
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsHeader/ResourceDetailsHeader.tsx
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsTemplate/ResourceDetailsTemplate.tsx
  libs/data-exploration/containers/jest.config.ts
  libs/data-exploration/containers/src/ResourceDetails/AssetDetails/AssetDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/DocumentDetails/DocumentDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/EventDetails/EventDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/SequenceDetails/SequenceDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/types.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/extractResourcesFromSelection.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/__tests__/getResourceSelection.test.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/extractResourcesFromSelection.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/getResourceSelection.ts
  libs/data-exploration/containers/src/ResourceSelector/utils/index.ts
Due: libs

refactor(data-explorer): cleanup e2e stuff (#3582)
  apps/data-exploration-e2e/src/e2e/assets-search.cy.ts
  apps/data-exploration-e2e/src/e2e/common-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/files-search.cy.ts
  apps/data-exploration-e2e/src/e2e/files.cy.ts
  apps/data-exploration-e2e/src/e2e/search.cy.ts
  apps/data-exploration-e2e/src/support/commands/app.commands.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/login.commands.ts
  apps/data-exploration-e2e/src/support/commands/search-config.commands.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

feat(charts): add threshold lines to charts for alert and monitoring [AH-1579] (#3434)
  apps/charts/jest.config.ts
  apps/charts/src/app/components/AlertingSidebar/DisplayAlerts.tsx
  apps/charts/src/app/components/Common/SidebarElements.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  apps/charts/src/app/components/PlotlyChart/utils.spec.ts
  apps/charts/src/app/components/PlotlyChart/utils.ts
  apps/charts/src/app/models/chart/specs/updates-threshold.spec.ts
  apps/charts/src/app/models/chart/types.ts
  apps/charts/src/app/models/chart/updates-threshold.ts
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  apps/charts/src/setupTests.js
  libs/charts-lib/src/lib/index.ts
  libs/charts-lib/src/lib/types.ts
  libs/charts-lib/src/lib/utils.spec.ts
  libs/charts-lib/src/lib/utils.ts
Due: apps, libs, e2e

feat(data-explroer): added "All" and "Direct" options to assets filter [UX-807] (#3450)
  .vscode/settings.json
  apps/charts/src/app/components/EventSidebar/EventFilterForm.tsx
  apps/data-exploration/src/app/store/filter/selectors/assetSelectors.ts
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration/components/src/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/AssetSelectFilter.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/AssetSelectFilterOld.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/AssetTypeSelector.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/index.ts
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/utils.ts
  libs/data-exploration/containers/src/Filters/types.ts
  libs/data-exploration/containers/src/Search/SearchResultFilters/CommonFilters/CommonFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/constants.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapAssetsToAssetFilterOptions.ts
Due: apps, libs, e2e

feat(charts): add events e2e (#3447)
  apps/charts/cypress/e2e/events.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/src/app/components/EventSidebar/EventSidebar.tsx
Due: apps, e2e

Make a better architecure of annotations in 3D (#3516)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/Annotations.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useAnnotationsMutation.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/AnnotationsView.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/annotationUtils.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

Added TOOLTIP suffix for all tooltip key
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

Migrate fdx into fusion (#3296)
  .github/workflows/CD.yml
  .github/workflows/nx_ci.yml
  Jenkinsfile
  apps/flexible-data-explorer/src/FusionStyles.tsx
  apps/flexible-data-explorer/src/app/ShellApp.tsx
  apps/flexible-data-explorer/src/app/components/Link.tsx
  apps/flexible-data-explorer/src/app/components/Typography.tsx
  apps/flexible-data-explorer/src/app/components/widget/Widget.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetBody.tsx
  apps/flexible-data-explorer/src/app/components/widget/components/WidgetHeader.tsx
  apps/flexible-data-explorer/src/app/constants/common.ts
  apps/flexible-data-explorer/src/app/containers/page/Page.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageBody.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageHeader.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageWidgets.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/PropertiesView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/hooks/useLinks.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/utils/router.ts
  apps/fusion-shell/project.json
  apps/fusion-shell/scripts/http-headers-utils.ts
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/app/components/LandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/CDFHelpCenter/index.tsx
  apps/fusion-shell/src/app/sections/sections.ts
  apps/fusion-shell/src/app/utils/hooks.ts
  apps/fusion-shell/src/appManifestData.json
  apps/fusion-shell/src/appManifests.ts
  apps/fusion-shell/src/assets/images/FDX.svg
  apps/fusion-shell/src/assets/images/index.ts
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/single-spa/index.ts
  apps/fusion-shell/vite.config.ts
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/CopilotButton.tsx
Due: apps, libs, e2e

feat: added translation for tooltips (#3794)
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Due: none

feat(3d-management): Add annotations card for CAD contextualization (#3543)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useCadAnnotationModelsWithAsset.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
Due: apps, e2e

Throwing error when data model does not exist (#3583)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
Due: apps, e2e

add test cases for thresholds
  apps/charts/cypress/e2e/thresholds.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/src/app/components/Thresholds/ThresholdSidebar.tsx
Due: apps, e2e

resolve conflicts
  apps/charts/cypress/e2e/thresholds.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/cypress/support/constant.ts
Due: apps, e2e

fix(industry-canvas): fix duplicate button type (#3578)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
Due: libs

feat(3d-management): Zoom and highlight - the Annotation card for cads (#3551)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useCadAnnotationModelsWithAsset.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/assignStylesToCadModel.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/refreshCadContextualizedStyledIndices.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

add new command 'addThreshold'
  apps/charts/cypress/e2e/thresholds.cy.ts
  apps/charts/cypress/support/charts-commands.ts
Due: apps, e2e
