Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix: disabling add topic filter button if the topic filter already exists
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
Due: apps, e2e

ignore typescript errors with Autocomplete
  apps/vision/src/modules/Common/Components/SelectOption/VisionSelectOption.tsx
  apps/vision/src/modules/Common/Components/VisionAutoComplete/VisionAutoComplete.tsx
Due: apps, e2e

feat(industrial-canvas): revamped line style tooltip and dashed lines (#2142)
  libs/industry-canvas/src/lib/components/icons/LineThicknessIcon.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineAnnotationTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineDashTooltip.tsx
  libs/industry-canvas/src/lib/components/tooltips/LineThicknessButton.tsx
  libs/industry-canvas/src/lib/components/tooltips/SizeEditor.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useManagedTools.ts
Due: libs

feat(data-quality): Total validity card for a data source (#2172)
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/DataQualityOverview.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/LastValidationTime/LastValidationTime.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/useDataSourceValidity.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/components/RulesTable/LastValidationTime.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/index.ts
  apps/platypus/src/app/modules/solution/data-quality/utils/validationTimeseries.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

fix: resolve json modules
  apps/business-shell/src/app/common/i18n/index.tsx
  apps/business-shell/tsconfig.json
Due: apps, e2e

asd
  react-components/package.json
  react-components/src/components/index.ts
  react-components/tsconfig.json
  react-components/yarn.lock
Due: none

asd
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/stories/RevealContainer.stories.ts
Due: none

update remaining menus to use icons correctly
  apps/vision/src/modules/AutoML/Components/AutoMLPage/AutoMLModelPage.tsx
  apps/vision/src/modules/Common/Components/ActionMenu/MenuContent.tsx
  apps/vision/src/modules/Common/Components/AnnotationActionMenu/AnnotationActionMenuExtended.tsx
Due: apps, e2e

fix tooltip icon alignment
  apps/vision/src/modules/Process/Containers/ModelDetails/customModelDetails.tsx
Due: apps, e2e

fix z-index problem
  apps/vision/src/modules/Common/Components/SorterPaginationWrapper/PaginationWrapper.tsx
  apps/vision/src/modules/Process/Containers/FileToolbar.tsx
  apps/vision/src/modules/Process/Containers/ProcessFooter.tsx
  apps/vision/src/modules/Process/Containers/ProcessStep.tsx
  apps/vision/src/modules/Process/Containers/ProcessToolBar/ProcessToolBar.tsx
  apps/vision/src/modules/Process/Containers/ProcesseFileDetailsContainer/ProcesseFileDetailsContainer.tsx
  apps/vision/src/utils/zIndex.ts
Due: apps, e2e

chore: bump package version for react auth (#2200)
  package.json
  yarn.lock
Due: none

feat: expose usetranslation params
  src/hooks/i18n.ts
Due: none

bump: 0.7.3
  package.json
Due: none

update labeler and yarn lock
  .github/labeler.yml
  yarn.lock
Due: none

update package.json
  package.json
  yarn.lock
Due: none

fix mapbox gl access token
  apps/vision/src/modules/Common/Components/MapView/MapView.tsx
Due: apps, e2e

fix(fdx): search filter + empty url params (#2205)
  apps/flexible-data-explorer/src/app/containers/search/Filter/components/MenuHeader/MenuHeader.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/components/MenuHeader/elements.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/AppliedFilters/AppliedFilters.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/CommonFilter/CommonFilter.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/containers/FilterBuilderByField/FilterBuilderByField.tsx
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/index.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/utils/isNoInputOperator.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/utils/router.ts
Due: apps, e2e

Allow @functions-ui imports in local lint config
  apps/functions-ui/.eslintrc.json
Due: apps, e2e

fix(data-explorer): unsupported 3d data loading error message in popup (#2203)
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/RevealErrorToast.tsx
Due: apps, e2e

feat(business-shell): added user profile (#2192)
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/Routes.tsx
  apps/business-shell/src/app/components/topbar/TopBar.tsx
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/hooks/useUserInfo.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
Due: apps, e2e

fix(fdx): update urls for open in canvas/charts (#2204)
  apps/flexible-data-explorer/src/app/components/menu/MenuItemOpenInCanvas.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useUrl.ts
Due: apps, e2e

try again
  package.json
  yarn.lock
Due: none

fix(industrial-canvas): Add explicit IC space set up page (#2193)
  apps/industry-canvas-ui/src/app/RootApp.tsx
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib/SpaceProvider.tsx
  libs/industry-canvas/src/lib/UserProfileProvider.tsx
  libs/industry-canvas/src/lib/components/NoAccessPage.tsx
  libs/industry-canvas/src/lib/components/SetupIndustrialCanvasPage.tsx
  libs/industry-canvas/src/lib/components/SpaceDoesNotExistPage.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useCreateSpace.ts
  libs/industry-canvas/src/lib/hooks/use-query/useListSpaces.ts
  libs/industry-canvas/src/lib/utils/delayMs.ts
Due: apps, libs, e2e

fix: SourceSelector type
  apps/charts/src/app/components/Common/SourceSelector.tsx
Due: apps, e2e

added entity matching app in jenkins
  Jenkinsfile
  codecov.yml
Due: none

add cdf-i18n-utils library
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/.babelrc
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/.eslintrc.json
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/README.md
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/jest.config.ts
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/package.json
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/project.json
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/src/index.ts
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/src/lib/shared-cdf-ui-i18n-utils-cdf-ui-i18n-utils.module.css
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/src/lib/shared-cdf-ui-i18n-utils-cdf-ui-i18n-utils.spec.tsx
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/src/lib/shared-cdf-ui-i18n-utils-cdf-ui-i18n-utils.tsx
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/tsconfig.json
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/tsconfig.lib.json
  libs/shared/cdf-ui-i18n-utils/cdf-ui-i18n-utils/tsconfig.spec.json
  tsconfig.base.json
Due: libs

chore(fdx): design review (#2168)
  apps/business-shell/src/favicon.ico
  apps/business-shell/src/index.html
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/common/i18n/en/flexible-data-explorer.json
  apps/flexible-data-explorer/src/app/components/EmptyState.tsx
  apps/flexible-data-explorer/src/app/components/buttons/ButtonFullscreen.tsx
  apps/flexible-data-explorer/src/app/components/cards/RecentlyViewedItem.tsx
  apps/flexible-data-explorer/src/app/components/details/Details.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsBody.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsHeader.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/components/selectors/DataModelSelector.tsx
  apps/flexible-data-explorer/src/app/components/widget/Widget.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/lists/recentlyViewed/RecentlyViewedList.tsx
  apps/flexible-data-explorer/src/app/containers/page/components/PageHeader.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchCategories.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesExpanded.tsx
  apps/flexible-data-explorer/src/app/fixtures/recentlyViewed.ts
  apps/flexible-data-explorer/src/app/hooks/useLocalStorage.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/usePathParams.ts
  apps/flexible-data-explorer/src/app/hooks/useProjectConfig.ts
  apps/flexible-data-explorer/src/app/hooks/useRecentlyVisited.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/index.ts
  apps/flexible-data-explorer/src/config/types.ts
  apps/flexible-data-explorer/webpack-config.js
Due: apps, e2e

feat(simconfig): Changed variable from dropdown to text field [DEGR-2209] (#3852)
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
Due: apps, e2e

style(industrial-canvas): make Add Data button a primary button (#2208)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
Due: libs

replace spider svg with illustration
  apps/vision/src/modules/Common/Components/FileUploader/FilePicker/FileList.tsx
  apps/vision/src/modules/Common/Components/FileUploader/FilePicker/img/Spider.svg
  apps/vision/src/modules/Common/Components/FileUploaderModal/ModalFilePicker/ModalFileList.tsx
Due: apps, e2e

fix: Update firebase site for functions-ui (#2210)
  Jenkinsfile
Due: none

Fix so that button only displays in one line [DEGR-533] (#3853)
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
Due: apps, e2e

fix(fdx): search result item style (#2211)
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
Due: apps, e2e

feat: add RevealContainer
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/index.ts
  react-components/src/stories/RevealContainer.stories.ts
  react-components/src/stories/RevealContainer.stories.tsx
Due: none

fix(data-explorer): opening resource details from navbar search (#2213)
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
Due: apps, e2e

fix: small ui changes
  apps/charts/src/app/components/ChartList/ChartListTable/ChartListTable.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartActionButton.tsx
  apps/charts/src/app/pages/ChartViewPage/elements.ts
Due: apps, e2e

fix(data-explorer): add navigation redirect for previous full-page detail views (#2216)
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
