Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: make sure undefined node data is actually handled properly in story
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore lint fix
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
Due: none

fix: reset Measurement tool on unmount (#3608)
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
Due: none

updated workflow trigger to on-demand
  .github/workflows/locize-sync.yml
Due: none

feat(industrial-canvas): update readme with how to test against your own data model (#2800)
  apps/industry-canvas-ui/README.md
  libs/industry-canvas/src/lib/services/RunningAgainstDevDatamodel.md
Due: apps, libs, e2e

feat: Showing formatted date etc in search results [AI-212] (#2793)
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/PropertiesView.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAICachedResults.ts
  apps/flexible-data-explorer/src/app/containers/search/utils.ts
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesExpanded.tsx
  apps/flexible-data-explorer/src/app/utils/ai/results.ts
Due: apps, e2e

feat(industrial-canvas): add list of users to canvas page (#2802)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/CanvasVisibilityModal.tsx
  libs/industry-canvas/src/lib/components/SharedUsersAvatars/SharedUsersAvatars.stories.tsx
  libs/industry-canvas/src/lib/components/SharedUsersAvatars/SharedUsersAvatars.tsx
  libs/industry-canvas/src/lib/components/SharedUsersAvatars/index.ts
Due: libs

reversing renames in other apps that shouldn't have been changed
  apps/extractor-downloads/src/Home/Extractors/Extractors.stories.js
  apps/fusion-shell/src/app/components/Navigation/Menu/Menu.test.tsx
Due: apps, e2e

fixing linting
  apps/flows/src/App.tsx
  apps/flows/src/common/test/render.tsx
  apps/flows/src/components/canvas-topbar/CanvasTopBar.tsx
  apps/flows/src/components/context-menu/ContextMenu.tsx
  apps/flows/src/components/edge-hover-buttons/AddNodeButton.tsx
  apps/flows/src/components/form-field-input/index.tsx
  apps/flows/src/components/node-configuration-panel/NodeConfigurationPanel.tsx
  apps/flows/src/components/process-node/ProcessNodeRenderer.tsx
  apps/flows/src/components/run-canvas/RunCanvas.tsx
  apps/flows/src/components/run-history-item/RunHistoryItem.tsx
  apps/flows/src/components/run-history-section/RunHistorySectionItem.tsx
  apps/flows/src/components/select-with-create/index.tsx
  apps/flows/src/components/workflow-modal/CreateWorkflowModal.tsx
  apps/flows/src/contexts/WorkflowContext.tsx
  apps/flows/src/hooks/files.ts
  apps/flows/src/hooks/functions.ts
  apps/flows/src/hooks/raw.ts
  apps/flows/src/hooks/transformation.ts
  apps/flows/src/hooks/workflows.ts
  apps/flows/src/pages/flow/Flow.tsx
  apps/flows/src/pages/flow/FlowSaveIndicator.tsx
  apps/flows/src/styles/GlobalStyles.tsx
  apps/flows/src/utils/layout.ts
  apps/flows/src/utils/shared.ts
  apps/flows/webpack-config.js
Due: apps, e2e

fix(data-explorer): assets tree view [UX-1298] (#2785)
  libs/data-exploration-components/src/containers/Assets/AssetDetailsTreeTable/AssetDetailsTreeTable.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetSearchResults.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration/domain-layer/src/assets/service/queries/useRootAssetsQuery.ts
Due: libs

StreamLit file modals: make ENTER key submit; fix filename validation (#2821)
  apps/notebook/src/pages/StreamLit/Editor/Editor.tsx
  apps/notebook/src/pages/StreamLit/common.ts
  apps/notebook/src/pages/StreamLit/components/AddFileModal.tsx
  apps/notebook/src/pages/StreamLit/components/DeleteFileModal.tsx
  apps/notebook/src/pages/StreamLit/components/EditFilenameModal.tsx
Due: apps, e2e

fix(data-explorer): translation bugs [UX-1299] (#2816)
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
  libs/data-exploration/components/src/Select/components/SearchInput/SearchInput.tsx
Due: apps, libs, e2e

remove react app rewired
  package.json
  yarn.lock
Due: none

feat(data-explorer): enable linked files table sorting [UX-1327] (#2806)
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
Due: libs

refreshing yarn lock
  yarn.lock
Due: none

testing where lint breaks
  Jenkinsfile
Due: none

testing where lint breaks
  .github/labeler.yml
  CODEOWNERS
  codecov.yml
  tsconfig.base.json
Due: none

testing where lint breaks
  .github/labeler.yml
Due: none

fix(data-explorer): metadata table key column sorting [UX-1329] (#2808)
  libs/data-exploration/components/src/Details/Metadata.tsx
Due: libs

testing where lint breaks
  CODEOWNERS
Due: none

testing where lint breaks
  codecov.yml
Due: none

testing where lint breaks
  tsconfig.base.json
Due: none

testing where lint breaks
  Jenkinsfile
  tsconfig.base.json
Due: none

trying to fix linting error
  tsconfig.base.json
Due: none

fix: config tab translation (#2817)
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration/containers/src/Search/SearchConfig/FuzzySearchToggle.tsx
Due: apps, libs, e2e

fix(data-explorer): translation bugs [UX-1299] (#2823)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
Due: apps, e2e

feat: remove router chain and replace with user selection (#2822)
  apps/copilot/src/app/pages/CopilotPage.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/platypus/src/app/utils/gpt-query/fdmGptAutoQuery.ts
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreChip.tsx
  libs/copilot-core/src/app/components/ActionRenderer/ChainSelectionAction.tsx
  libs/copilot-core/src/app/components/ActionRenderer/TextAction.tsx
  libs/copilot-core/src/app/components/ActionRenderer/index.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatHeader.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/ChainMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/hooks/useChatHistory.tsx
  libs/copilot-core/src/app/hooks/useCopilotContext.tsx
  libs/copilot-core/src/app/utils/CopilotContext.tsx
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/processMessage.ts
  libs/copilot-core/src/lib/toolchains/fusionQA/fusionQA.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentQueryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/documentSummaryChain.ts
  libs/copilot-core/src/lib/toolchains/infield-chains/workorderChain.ts
  libs/copilot-core/src/lib/toolchains/python/appBuilder.ts
  libs/copilot-core/src/lib/toolchains/router/router.ts
  libs/copilot-core/src/lib/types.ts
Due: apps, libs, e2e

feat(data-quality): Better data source error handling (#2796)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useAccessControl.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataModel.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadDataSource.tsx
  apps/platypus/src/i18n/en/platypus.json
  libs/contextualization/src/lib/components/ContextualizationScore/ContextualizationScoreChip.tsx
Due: apps, libs, e2e

fix: changing default style does not update styling
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/stories/CadStylingCache.stories.tsx
Due: none

updated the translation component linking
  react-components/src/common/i18n/index.tsx
Due: none

test: try downgrading sentry for charts (#2825)
  apps/charts/src/App.tsx
  package.json
  yarn.lock
Due: apps, e2e

fix: return node intersection even if no FDM data was found
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

break: remove `onNodeClick`
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
Due: none

break: remove `onNodeClick` (#3614)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
Due: none

fix(fdx): make models in Reveal preview non-interactible (#2824)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
Due: apps, e2e

Bug fix default cluster (#2830)
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
Due: apps, e2e

fix: avoid infinite call loop
  react-components/src/hooks/useClickedNode.tsx
Due: none
