Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

updated translation string with new languages & also fixed styling issues in Help screen for Japanese, korean & chinese langauge
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/es/reveal-react-components.json
  react-components/src/common/i18n/fr/reveal-react-components.json
  react-components/src/common/i18n/it/reveal-react-components.json
  react-components/src/common/i18n/ja/reveal-react-components.json
  react-components/src/common/i18n/ko/reveal-react-components.json
  react-components/src/common/i18n/nl/reveal-react-components.json
  react-components/src/common/i18n/pt/reveal-react-components.json
  react-components/src/common/i18n/sv/reveal-react-components.json
  react-components/src/common/i18n/zh/reveal-react-components.json
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
Due: none

chore(chameleon): add chameleon deployment and convert type to interface (#3788)
  Jenkinsfile
  libs/shared/chameleon/src/chamaeleonidae-chmln.d.ts
Due: libs

fix:keep navigation translation same as before
  apps/fusion-shell/src/i18n/translations/de/navigation.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/i18n/translations/es/navigation.json
  apps/fusion-shell/src/i18n/translations/fr/navigation.json
  apps/fusion-shell/src/i18n/translations/it/navigation.json
  apps/fusion-shell/src/i18n/translations/ja/navigation.json
  apps/fusion-shell/src/i18n/translations/ko/navigation.json
  apps/fusion-shell/src/i18n/translations/nl/navigation.json
  apps/fusion-shell/src/i18n/translations/pt/navigation.json
  apps/fusion-shell/src/i18n/translations/sv/navigation.json
  apps/fusion-shell/src/i18n/translations/zh/navigation.json
Due: apps, e2e

fix:keep FDX en file in same format
  libs/flexible-data-explorer/shared/src/common/i18n/en/flexible-data-explorer.json
Due: libs

chore(industrial-canvas): bump translations (#3740)
  libs/industry-canvas/src/lib/common/i18n/de/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/es/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/fr/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/it/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/ja/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/ko/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/nl/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/pt/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/sv/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/zh/industrial-canvas.json
Due: libs

updated translation string with new languages & also fixed styling issues in Help screen for Japanese, korean & chinese langauge (#3851)
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/es/reveal-react-components.json
  react-components/src/common/i18n/fr/reveal-react-components.json
  react-components/src/common/i18n/it/reveal-react-components.json
  react-components/src/common/i18n/ja/reveal-react-components.json
  react-components/src/common/i18n/ko/reveal-react-components.json
  react-components/src/common/i18n/nl/reveal-react-components.json
  react-components/src/common/i18n/pt/reveal-react-components.json
  react-components/src/common/i18n/sv/reveal-react-components.json
  react-components/src/common/i18n/zh/reveal-react-components.json
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
Due: none

chore(industrial-canvas): disable mouse/pointer events for avatars (#3787)
  libs/industry-canvas/src/lib/components/SharedUsersAvatars/SharedUsersAvatars.tsx
Due: libs

bumped react-components to v0.20.0
  react-components/package.json
Due: none

bumped react-components to v0.20.0 (#3852)
  react-components/package.json
Due: none

chore: remove legacy auth from access mng (#3774)
  apps/access-management/src/common/i18n/translations/en/access-management.json
  apps/access-management/src/hooks.ts
  apps/access-management/src/pages/APIKeys/Actions.tsx
  apps/access-management/src/pages/APIKeys/columns.tsx
  apps/access-management/src/pages/APIKeys/index.tsx
  apps/access-management/src/pages/Groups/index.tsx
  apps/access-management/src/pages/Groups/utils.tsx
  apps/access-management/src/pages/Home/Home.tsx
  apps/access-management/src/pages/IDP/AzureADForm.tsx
  apps/access-management/src/pages/IDP/LegacyLoginFlowWarning.tsx
  apps/access-management/src/pages/IDP/OAuthForm.tsx
  apps/access-management/src/pages/IDP/applications.ts
  apps/access-management/src/pages/IDP/common.ts
  apps/access-management/src/pages/IDP/index.tsx
  apps/access-management/src/pages/OIDC/LegacyServiceAccountsWarning.tsx
  apps/access-management/src/pages/ServiceAccounts/Actions.tsx
  apps/access-management/src/pages/ServiceAccounts/EditGroups.tsx
  apps/access-management/src/pages/ServiceAccounts/columns.tsx
  apps/access-management/src/pages/ServiceAccounts/index.tsx
  apps/access-management/src/utils/constants.ts
Due: apps, e2e

fix(react-components): don't try to be smart regarding model initialization
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Due: none

chore(charts-lib): publish to npm (#3777)
  Jenkinsfile
  libs/charts-lib/project.json
Due: libs

chore: add chameleon img-src csp (#3796)
  .baker/manifests/fusion-app/dev-manual-deployment/cognitedata-development.yaml
  .baker/manifests/fusion-app/dev/cognitedata-production.yaml
  .baker/manifests/fusion-app/dev/openfield.yaml
  .baker/manifests/fusion-app/next-release/cognitedata-production.yaml
  .baker/manifests/fusion-app/pr-preview/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod-verification/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod/cognitedata-production.yaml
  .baker/manifests/fusion-app/sapc-prod/sapc-01.yaml
  apps/fusion-shell/manifests/overlays.jsonnet
  apps/fusion-shell/scripts/http-headers-utils.spec.ts
  apps/fusion-shell/scripts/http-headers-utils.ts
Due: apps, e2e

feat: new topbar for notebook (#3793)
  apps/notebook/src/components/SecondaryTopBar.tsx
  apps/notebook/src/pages/Home/Home.spec.tsx
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

chore: [AI-431] add fdx ai e2e test (#3785)
  apps/flexible-data-explorer/cypress/e2e/ai.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/cypress/support/setupTestsE2E.ts
  libs/copilot-core/src/app/context/CopilotContext.tsx
  libs/flexible-data-explorer/components/src/links/AIDisclaimer.tsx
  libs/flexible-data-explorer/components/src/search/components/SearchResultsItem.tsx
  libs/flexible-data-explorer/modules/src/search/components/AIResultAggregateChart/AIResultAggregateChart.tsx
  libs/flexible-data-explorer/modules/src/search/modules/AIFilterBuilder/AIFilterBuilder.tsx
  libs/flexible-data-explorer/modules/src/search/modules/AIFilterBuilder/elements.tsx
  libs/flexible-data-explorer/modules/src/search/modules/AIResultSummary.tsx
  libs/flexible-data-explorer/shared/src/common/i18n/en/flexible-data-explorer.json
Due: apps, libs, e2e

Added detection of firefox and chrome incognito (#3799)
  apps/notebook/src/pages/Home/Home.tsx
  apps/notebook/src/utils/types.ts
Due: apps, e2e

feat(3d-management): change the colors of contextualized and highlighted nodes in CADs (#3798)
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/assignStylesToCadModel.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

feat(fdx): use ```cog-demo``` as project for testing in e2e (#3790)
  .github/workflows/nx_ci.yml
  apps/flexible-data-explorer/cypress.config.ts
  apps/flexible-data-explorer/cypress/e2e/ai.cy.ts
  apps/flexible-data-explorer/cypress/e2e/data-model-selection.cy.ts
  apps/flexible-data-explorer/cypress/e2e/filter-generic.cy.ts
  apps/flexible-data-explorer/cypress/e2e/search-categories.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/search.commands.ts
  apps/flexible-data-explorer/cypress/support/constants/appConfig.ts
  apps/flexible-data-explorer/cypress/support/constants/dataModels.ts
  apps/flexible-data-explorer/cypress/support/loginWithClientCredentials.ts
  apps/flexible-data-explorer/cypress/support/setupTestsE2E.ts
  apps/flexible-data-explorer/cypress/support/utils/string.ts
  apps/flexible-data-explorer/project.json
  apps/flexible-data-explorer/scripts/cypress-dev.sh
Due: apps, e2e

fix(react-components): don't try to be smart regarding model initialization (#3853)
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Due: none

chore(react-components): bump 0.20.1
  react-components/package.json
Due: none

fix(fdx): don't try to use previewCard-features inside 3d preview car… (#3797)
  libs/flexible-data-explorer/modules/src/preview/modules/Viewers/ThreeDViewer.tsx
Due: libs

chore(react-components): bump 0.20.1 (#3854)
  react-components/package.json
Due: none

feat(fdx): filter builders (#3771)
  index.d.ts
  libs/flexible-data-explorer/modules/src/filters/builders/ACDMFilterBuilder.ts
  libs/flexible-data-explorer/modules/src/filters/builders/FDMFilterBuilder.ts
  libs/flexible-data-explorer/modules/src/filters/builders/build/buildGenericFilter.ts
  libs/flexible-data-explorer/modules/src/filters/builders/build/buildTimeseriesFilter.ts
  libs/flexible-data-explorer/modules/src/filters/builders/build/index.ts
  libs/flexible-data-explorer/modules/src/filters/builders/index.ts
  libs/flexible-data-explorer/modules/src/filters/filters/SearchBarFilter/customFilters/files.ts
  libs/flexible-data-explorer/modules/src/filters/filters/SearchBarFilter/customFilters/timeseries.ts
  libs/flexible-data-explorer/modules/src/filters/filters/SearchBarFilter/utils/transformDefFieldsToFilterFields.ts
  libs/flexible-data-explorer/modules/src/filters/index.ts
  libs/flexible-data-explorer/modules/src/filters/modules/CommonFilter/CommonFilter.stories.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/CommonFilter/CommonFilter.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/FieldSelector/FieldSelector.stories.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/FieldSelector/FieldSelector.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/FieldSelector/utils/getFilteredFields.ts
  libs/flexible-data-explorer/modules/src/filters/modules/FilterBuilderByField/FilterBuilderByField.tsx
  libs/flexible-data-explorer/shared/src/types/filters.ts
  libs/flexible-data-explorer/shared/src/utils/__tests__/object.spec.ts
  libs/flexible-data-explorer/shared/src/utils/object.ts
Due: libs

feat(fdx): e2e tests for verify the resources preview (#3805)
  apps/flexible-data-explorer/cypress/e2e/files.cy.ts
  apps/flexible-data-explorer/cypress/e2e/three-d.cy.ts
  apps/flexible-data-explorer/cypress/e2e/timeseries.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/common.commands.ts
  libs/flexible-data-explorer/modules/src/ThreeD/modules/ThreeDSplitView.tsx
  libs/flexible-data-explorer/modules/src/page/components/PageHeader.tsx
Due: apps, libs, e2e

fix(3d-management): move selected annotation toolbar to the left (#3803)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
Due: apps, e2e

fix(industrial-canvas): more style fixes based on feedback by designer (#3800)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/TimeseriesList.tsx
  libs/industry-canvas/src/lib/components/comment/CommentDisplay.tsx
  libs/industry-canvas/src/lib/components/tooltips/CommentTooltip.tsx
Due: libs

fix: CVE in postcss
  react-components/yarn.lock
Due: none

fix: update api extractor to fix CVE
  viewer/package.json
  viewer/yarn.lock
Due: none

fix(fdx): layout of 3d search results + update codeowners (#3801)
  .github/labeler.yml
  CODEOWNERS
  libs/flexible-data-explorer/components/src/Link.tsx
  libs/flexible-data-explorer/modules/src/ThreeD/ThreeDSearchResults.tsx
  libs/flexible-data-explorer/modules/src/ThreeD/components/SearchPanelToggleVisibilityButton.tsx
  libs/flexible-data-explorer/modules/src/ThreeD/modules/ThreeDSplitView.tsx
  libs/flexible-data-explorer/modules/src/search/results/GenericResults.tsx
  libs/flexible-data-explorer/modules/src/search/results/ThreeDResults.tsx
  libs/flexible-data-explorer/shared/src/common/i18n/en/flexible-data-explorer.json
Due: libs

fix: fdx AI e2e test (#3812)
  apps/flexible-data-explorer/cypress/e2e/ai.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
Due: apps, e2e

Fix: FDM UI deletes instance on field change (#3791)
  apps/platypus/cypress/e2e/data-preview/manual-data-ingestion.cy.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
Due: apps, e2e

fix: update deps to fix CVEs in viewer and react-components (#3855)
  react-components/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Due: none

chore(3d-management): Remove threeDViewer from the store (#3748)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/Annotations.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useUpdateCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/AnnotationsView.tsx
Due: apps, e2e

fix: all resources filter (#3670)
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
Due: apps, e2e

chore(industrial-canvas): add enabled property for e2e sentry (#3815)
  apps/industry-canvas-ui/src/index.tsx
Due: apps, e2e

fix(industrial-canvas): fix data set selector being hidden by modal (#3818)
  libs/industry-canvas/src/lib/components/AddResourceToCanvasModal.tsx
  libs/industry-canvas/src/lib/components/IndustryCanvasFileUploadModal/IndustryCanvasFileUploadModal.tsx
Due: libs

fix(3d-management): Update naming to be more in sync with IC, add tooltooltip and hotkeys for tools (#3808)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/buttons/AddContextualizationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/AddAnnotationToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/AddAnnotationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SelectToolButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
Due: apps, e2e

Removed border on iframe for notebooks (#3809)
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

chore: bump @cognite/reveal-react-components to v0.2.0.1 (#3814)
  package.json
  yarn.lock
Due: none
