Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

feat: synced missing graphql in mock server (#3455)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/applicationAPI/schema-builder.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/metaApi/graphql-resolvers.ts
  apps/mock-server/src/app/utils/graphql/custom-scalars.ts
  apps/mock-server/src/tests/mocks.ts
Due: apps, e2e

chore(extraction-pipelines): add topic filter guide translations (#3425)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/pages/AddTopicFilter/TopicFilterGuide.tsx
Due: apps, e2e

chore: lint fix and update API
  viewer/packages/pointclouds/src/types.ts
  viewer/reveal.api.md
Due: none

fix: FDM UI bugfixes (#3458)
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/environments/mock/useFlag.ts
Due: apps, e2e

feat: E2E tests for data-catalog (#3248)
  apps/data-catalog/.eslintrc.json
  apps/data-catalog/cypress.config.ts
  apps/data-catalog/cypress/config.ts
  apps/data-catalog/cypress/e2e/createDataSet.cy.ts
  apps/data-catalog/cypress/e2e/dataSetDetailsPage.cy.ts
  apps/data-catalog/cypress/e2e/homePage.cy.ts
  apps/data-catalog/cypress/support/commands.ts
  apps/data-catalog/cypress/support/e2e.ts
  apps/data-catalog/cypress/tsconfig.json
  apps/data-catalog/cypress/utils/getUrl.ts
  apps/data-catalog/project.json
  apps/data-catalog/src/app/components/BasicInfoCard/BasicInfoCard.tsx
  apps/data-catalog/src/app/components/DataSetCreation/DataSetCreation.tsx
  apps/data-catalog/src/app/components/DataSetInfoForm/DataSetInfoForm.tsx
  apps/data-catalog/src/app/components/data-sets-list/row-actions/index.tsx
  apps/data-catalog/src/app/components/page/index.tsx
  apps/data-catalog/src/app/components/table-filters/index.tsx
  apps/data-catalog/src/app/pages/DataSetDetails/DataSetDetails.tsx
  apps/data-catalog/src/app/pages/DataSetsList/DataSetsList.tsx
  apps/data-catalog/tsconfig.json
  apps/data-catalog/webpack-config.js
Due: apps, e2e

fix(simconfig): InputStep units display fixed (#3469)
  apps/simint/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simint/src/pages/CalculationConfiguration/steps/OutputStep.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/DynamicFields.tsx
Due: apps, e2e

fix(data-explorer):timeseries e2e tests (#3465)
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/e2e/events.cy.ts
  apps/data-exploration-e2e/src/e2e/sequence.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries.cy.ts
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
Due: apps, e2e

feat: Added codelens support in monaco editor for FDM (#3453)
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/graphqlSetup.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeLensProvider.ts
Due: apps, e2e

renamed useI18n hook to useTranslation, sorted translation keys and removed cdf-i18n-utils references in webconfig
  react-components/package.json
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

feat(extraction-pipelines): custom format support when adding new topic filters (#3411)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/CodeEditorWithStatus/CodeEditorWithStatus.tsx
  apps/extraction-pipelines/src/components/CodeEditorWithStatus/index.ts
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/components/form-field-radio-group/FormFieldRadioGroup.tsx
  apps/extraction-pipelines/src/components/topic-filters/TopicFilters.tsx
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/TopicFilterCodeEditor.test.tsx
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/TopicFilterCodeEditor.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/hooks/index.ts
  apps/extraction-pipelines/src/hooks/types.ts
  apps/extraction-pipelines/src/hooks/useCreateExtractorMapping.ts
  apps/extraction-pipelines/src/hooks/useFetchExtractorMappings.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/Section.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StatusBar.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/types.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/utils.ts
  apps/extraction-pipelines/src/utils/codeFormatUtils.ts
  apps/extraction-pipelines/src/utils/constants.tsx
  apps/extraction-pipelines/src/utils/queryKeys.ts
  apps/extraction-pipelines/src/utils/shared.ts
  apps/extraction-pipelines/webpack-config.js
  libs/shared/cdf-utilities/src/components/CodeEditor/CodeEditor.stories.mdx
  package.json
  yarn.lock
Due: apps, libs, e2e

feat(3d-management): add annotation toolbar on select mode (#3444)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

feat(data-exploration): user history implementation (#3457)
  apps/data-exploration/src/app/containers/App/App.tsx
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentUploader/DocumentUploaderModal.tsx
  libs/shared/user-history/project.json
  libs/shared/user-history/tsconfig.lib.json
  libs/shared/user-history/vite.config.ts
  tsconfig.base.json
Due: apps, libs, e2e

loading respective translation json file on language change
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/types.ts
Due: none

chore(3d-management): migrate to 3d-management-e2e project for e2e testing (#3427)
  apps/3d-management/cypress.config.ts
  apps/3d-management/cypress/e2e/app.cy.ts
  apps/3d-management/project.json
Due: apps, e2e

feat(entity-matching): calculate patterns locally (#3419)
  apps/entity-matching/src/app/components/em-result/index.tsx
  apps/entity-matching/src/app/context/QuickMatchContext.tsx
  apps/entity-matching/src/app/hooks/entity-matching-rules.ts
  apps/entity-matching/src/app/pages/quick-match/create/configure-model/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/create-model/index.tsx
  apps/entity-matching/src/app/pages/quick-match/results/index.tsx
  apps/entity-matching/src/app/utils/rules.spec.ts
  apps/entity-matching/src/app/utils/rules.tsx
Due: apps, e2e

feat(data-explorer): search config commands for e2e (#3480)
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/search-config.commands.ts
  libs/data-exploration/containers/src/Search/SearchConfig/CommonColumn.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/ResourceColumns.tsx
  libs/data-exploration/containers/src/Search/SearchConfig/SearchConfig.tsx
Due: apps, libs, e2e

feat: use firebase json in CD (#3456)
  .github/workflows/CD.yml
  apps/platypus/firebase.json
  scripts/github-actions/get-firebase-json-content/action.yml
  scripts/github-actions/get-firebase-json-content/firebase.json
  scripts/github-actions/get-firebase-json-content/index.js
Due: apps, e2e

moved cdf-i18n-utils & cdf-utilities from dependecy to devDependency
  react-components/package.json
Due: none

fix(fusion-shell): Organization name can be submitted by Enter even if the button is disabled (#3487)
  libs/redirect-page/src/containers/Login.tsx
Due: libs

fix(react-components): add localization fallback (#3768)
  react-components/package.json
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/types.ts
  react-components/src/components/i18n/utils.ts
  react-components/webpack.config.js
  react-components/yarn.lock
Due: none

feat(data-explorer): Resources multiple search e2e (#3466)
  apps/data-exploration-e2e/src/e2e/assets-search.cy.ts
  apps/data-exploration-e2e/src/e2e/events-search.cy.ts
  apps/data-exploration-e2e/src/e2e/files-search.cy.ts
  apps/data-exploration-e2e/src/e2e/sequence-search.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-search.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
Due: apps, e2e

fix(entity-matching): using other fields than `name` (#3448)
  apps/entity-matching/src/app/components/em-result/index.tsx
  apps/entity-matching/src/app/hooks/entity-matching-predictions.ts
  apps/entity-matching/src/app/utils/rules.spec.ts
  apps/entity-matching/src/app/utils/rules.tsx
  apps/entity-matching/src/app/utils/shared.ts
Due: apps, e2e

feat(data-explorer): e2e tests for openning timeseries on external links (#3486)
  apps/data-exploration-e2e/src/e2e/timeseries.cy.ts
  apps/data-exploration-e2e/src/support/commands/common.commands.ts
  libs/shared/plotting-components/src/TimeseriesChart/components/OpenInChartsButton/OpenInChartsButton.tsx
  libs/shared/plotting-components/src/TimeseriesChart/utils/openInCharts.ts
Due: apps, libs, e2e

fix: FDM UI editor Interfaces support and bugfixes (#3397)
  apps/platypus/cypress/e2e/data-model/ui-editor.cy.ts
  apps/platypus/cypress/support/code-editor.ts
  apps/platypus/cypress/support/ui-editor.ts
  apps/platypus/project.json
  apps/platypus/src/app/flags/useUIEditor.ts
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/UIEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/SchemaTypeAndField/SchemaTypeList.tsx
  apps/platypus/src/app/modules/solution/data-model/components/SchemaTypeAndField/SchemaTypeView.tsx
  apps/platypus/src/app/modules/solution/data-model/components/SchemaTypeAndField/TypeFormModal.tsx
  apps/platypus/src/app/modules/solution/data-model/hooks/useTypeDefActions.ts
  apps/platypus/src/app/redux/reducers/global/dataModelReducer.spec.ts
  apps/platypus/src/app/redux/reducers/global/dataModelReducer.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.spec.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/data-model-type-defs-builder.service.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/data-model-type-defs-builder.service.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/types/data-model-type-defs-types.ts
Due: apps, libs, e2e

fix(data-explorer): document table columns [UX-1515] (#3491)
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentsTable/DocumentsTable.tsx
Due: libs

fix: filter away invalid AssetMappings, change type, and store Promise
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
Due: none

fix(data-explorer): select menu scrolling (#3490)
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
  libs/data-exploration/components/src/Select/components/MenuList/elements.ts
  libs/data-exploration/components/src/Select/components/SearchInput/elements.ts
Due: libs

improvement: simplify mapping filtering
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
Due: none

feat: return all FDM nodes in useClick call
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

checkpoint: WIP Asset Mapping instance styling
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(data-explorer): improve search e2e tests (#3493)
  apps/data-exploration-e2e/src/e2e/assets-search.cy.ts
  apps/data-exploration-e2e/src/e2e/events-search.cy.ts
  apps/data-exploration-e2e/src/e2e/files-search.cy.ts
  apps/data-exploration-e2e/src/e2e/sequence-search.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-search.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
Due: apps, e2e

feat: instance highlighting with asset mappings
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: fix typo
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix imports
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadAnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useAnnotationModelsWithAsset.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
Due: apps, e2e

feat(3d-management): Add pending annotation toolbar (#3454)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/AddAnnotationToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/ToolTooltip.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createTransformControls.ts
Due: apps, e2e

fix imports
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCdfCadContextualization.ts
Due: apps, e2e

chore: simplify cache-setting in FDM cache a bit
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

add a Toast to throw a error message when the model type returns a not recognized type enum
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewerModelType.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/ErrorToast.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/types.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getThreeDModelType.ts
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
