Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

docs: copy to 4.x
  documentation/versioned_docs/version-4.x/examples/image360-annotations.mdx
Due: none

fix(react-components): "mapped"-styling not always set on right model (#3812)
  react-components/src/hooks/useCalculateModelsStyling.tsx
Due: none

fix(entity-matching): Use v1 APIs for Entity matching pipelines (#3604)
  apps/entity-matching/src/app/components/latest-run-cell/index.tsx
  apps/entity-matching/src/app/components/pipeline-actions-menu/PipelineActionsMenu.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineTable.tsx
  apps/entity-matching/src/app/components/pipeline-list/index.tsx
  apps/entity-matching/src/app/hooks/entity-matching-pipelines.ts
Due: apps, e2e

chore(react-components): setup vitest + simple test for RevealContainer (#3809)
  .gitignore
  examples/yarn.lock
  react-components/package.json
  react-components/tests/components/RevealContainer.test.tsx
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
  viewer/.eslintrc.js
  viewer/package.json
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/packages/utilities/src/three/lines/LICENSE.txt
  viewer/packages/utilities/src/three/lines/Line2.ts
  viewer/packages/utilities/src/three/lines/LineGeometry.ts
  viewer/packages/utilities/src/three/lines/LineMaterial.ts
  viewer/packages/utilities/src/three/lines/LineSegments2.ts
  viewer/packages/utilities/src/three/lines/LineSegmentsGeometry.ts
  viewer/webpack.config.js
Due: none

fix: fixed issue with local drafts, re-enabled tests for manual population (#3677)
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus/cypress.config.ts
  apps/platypus/cypress/e2e/data-preview/manual-data-ingestion.cy.ts
  apps/platypus/cypress/support/data-model-page.ts
  apps/platypus/project.json
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/elements.ts
  apps/platypus/src/app/modules/solution/data-management/pages/Preview.tsx
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/delete-instances-command.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/commands/delete-instances/delete-instances-command.ts
Due: apps, libs, e2e

no need of dependencies in sub-app; firebase.json not generated anymore
  apps/diagram-parsing/firebase.json
  apps/diagram-parsing/package.json
  libs/cdf-nx-plugin/src/generators/fusion-subapp/files/firebase.json__template__
Due: apps, libs, e2e

chore(industrial-canvas): bump UFV (#3680)
  package.json
  yarn.lock
Due: none

docs: fix and document annotation style update best practices (#3818)
  documentation/docs/examples/image360-annotations.mdx
  documentation/versioned_docs/version-4.x/examples/image360-annotations.mdx
  examples/src/utils/Image360UI.ts
Due: none

fix: remove unreserved enum value in WellKnownAsprsPointClassCodes (#3773)
  viewer/packages/pointclouds/src/types.ts
  viewer/reveal.api.md
Due: none

fix(industrial-canvas): fix summarize tooltip and return GPT summary in the current locale (#3661)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/utils/getSummarizationSticky.ts
  libs/industry-canvas/src/lib/utils/summarizeText.ts
Due: libs

chore: update cargo lock again
  viewer/Cargo.lock
Due: none

Bug: Picking part in multiple overlapping CADModels does not always return closest part (#3789)
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Due: none

chore: bump to @cognite/reveal@4.5.0
  viewer/package.json
Due: none

feat(simint): handle empty state for model library (#3660)
  apps/simint/cypress.config.ts
  apps/simint/src/components/models/ModelList/ModelList.stories.tsx
  apps/simint/src/components/models/ModelList/ModelList.tsx
  apps/simint/src/components/shared/NoResults.stories.tsx
  apps/simint/src/components/shared/NoResults.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.stories.tsx
  apps/simint/src/pages/ModelLibrary/ModelLibrary.tsx
Due: apps, e2e

chore: bump to @cognite/reveal@4.5.0 (#3821)
  viewer/package.json
Due: none

refac: Update to latest rust version
  viewer/Cargo.toml
  viewer/rust-toolchain
  viewer/rust-toolchain.toml
Due: none

fix: point cloud layer toggle error
  react-components/package.json
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/yarn.lock
Due: none

fix(data-explorer): remove auto-contextualized data from "Direct asset" (#3686)
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentsTable/DocumentsTable.tsx
Due: libs

chore: lint fix
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

chore(react-components): bump 0.18.0
  react-components/package.json
Due: none

chore: expand Cargo cache check
  .github/workflows/ci.yml
Due: none

fix(react-components): point cloud layer toggle error (#3824)
  react-components/package.json
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/yarn.lock
Due: none

chore(react-components): bump 0.18.0 (#3825)
  react-components/package.json
Due: none

fix: only include unit tests when running vitest
  react-components/tests/unit-tests/components/RevealContainer.test.tsx
  react-components/vite.config.ts
Due: none

fix(industrial-canvas): fix title resizing while editing (#3576)
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/components/AutoSizingInput/AutoSizingInput.stories.tsx
  libs/industry-canvas/src/lib/components/AutoSizingInput/AutoSizingInput.tsx
  libs/industry-canvas/src/lib/components/CanvasTitle.tsx
Due: libs

chore(industrial-canvas): Change Sentry DSN (#3691)
  apps/industry-canvas-ui/src/index.tsx
Due: apps, e2e

notebook: forward tracking events to Mixpanel
  apps/notebook/src/hooks/useMetrics.ts
  apps/notebook/src/pages/Home/Home.tsx
Due: apps, e2e

feat(extraction-pipelines): setup e2e extraction pipelines (#3512)
  apps/data-catalog/tsconfig.app.json
  apps/extraction-pipelines/.eslintrc.json
  apps/extraction-pipelines/cypress.config.ts
  apps/extraction-pipelines/cypress/config.ts
  apps/extraction-pipelines/cypress/e2e/homePage.cy.ts
  apps/extraction-pipelines/cypress/fixtures/example.json
  apps/extraction-pipelines/cypress/support/app.po.ts
  apps/extraction-pipelines/cypress/support/commands.ts
  apps/extraction-pipelines/cypress/support/e2e.ts
  apps/extraction-pipelines/cypress/tsconfig.json
  apps/extraction-pipelines/cypress/utils/getUrl.ts
  apps/extraction-pipelines/project.json
  apps/extraction-pipelines/src/containers/TopicFilterCodeEditor/TopicFilterCodeEditor.test.tsx
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
  apps/extraction-pipelines/src/setupTests.ts
  apps/extraction-pipelines/tsconfig.json
  apps/extraction-pipelines/webpack-config.js
  yarn.lock
Due: apps, e2e

feat: add search hooks for 360 annotation asset (#3788)
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
  react-components/src/index.ts
  react-components/stories/SearchHooks.stories.tsx
Due: none

chore: bump reveal 4.5.0 and components 0.18.0 (#3698)
  package.json
  yarn.lock
Due: none

Changing color for contextualized annotations (#3642)
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix: add some more test examples
  react-components/tests/visual-tests/example.spec.ts
  react-components/tests/visual-tests/example.spec.ts-snapshots/cad-model-container-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/image360-details-storybook-1-chromium-win32.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/toolbar-storybook-1-chromium-win32.png
Due: none

fix(fdx): Timeseries chart preview dropdown (#3699)
  apps/flexible-data-explorer/src/GlobalStyles.tsx
Due: apps, e2e

fix: add sparse-octree as dependency to preserve types
  viewer/package.json
Due: none

fix: bump package version
  viewer/package.json
Due: none

feat(fdx): e2e tests for data model selection (#3703)
  apps/flexible-data-explorer/cypress/e2e/data-model-selection.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/data-model-selector.commands.ts
  apps/flexible-data-explorer/src/app/containers/site/SiteSelection.tsx
Due: apps, e2e

fix: add sparse-octree as dependency to preserve types (#3831)
  viewer/package.json
Due: none

refactor(data-exploration): move CanvasButton into industry-canvas lib (#3695)
  apps/data-exploration/src/app/components/TitleRowActions/CanvasButton.tsx
  apps/data-exploration/src/app/components/TitleRowActions/TitleRowActions.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/industry-canvas/src/index.ts
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasButton.tsx
Due: apps, libs, e2e

chore(react-components): bump 0.18.1
  react-components/package.json
  react-components/yarn.lock
Due: none

chore: bump minor
  react-components/package.json
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
