Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

chore: rename, change types, add story
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/ViewerAnchor/AuxillaryDivProvider.tsx
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

feat: add story
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix: correct property name
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

chore(charts): merge chart standalone -- [AH-1416] + [DEGR-1061] Event plotting refactored (#2561)
  apps/charts/src/app/components/PlotlyChart/PlotlyChart.mocks.tsx
  apps/charts/src/app/components/PlotlyChart/PlotlyChart.stories.tsx
  apps/charts/src/app/components/PlotlyChart/utils.mocks.ts
  apps/charts/src/app/components/PlotlyChart/utils.spec.ts
  apps/charts/src/app/components/PlotlyChart/utils.ts
  apps/charts/src/app/effects/events.tsx
  apps/charts/src/app/models/chart/specs/update-duplicate-ids.spec.ts
  apps/charts/src/app/pages/ChartViewPage/hooks.ts
Due: apps, e2e

chore: lint fix story
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat(user-profile-components): include dependencies as peer (#2514)
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/project.json
  libs/shared/user-profile-components/src/common/constants/index.ts
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/hooks/useIsScreenWideEnough.ts
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
Due: libs

chore: lint fix
  react-components/src/components/ViewerAnchor/AuxillaryDivProvider.tsx
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: unnormalized world-to-screen only returns null
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

feat: Info card overlay (#3521)
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/ViewerAnchor/AuxillaryDivProvider.tsx
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: unnormalized world-to-screen only returns null (#3533)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

feat(FDX): instance preview "open in" for files and time series (#2540)
  apps/flexible-data-explorer/src/app/components/dropdown/Dropdown.tsx
  apps/flexible-data-explorer/src/app/components/dropdown/OpenInDropdown.tsx
  apps/flexible-data-explorer/src/app/components/menu/Menu.tsx
  apps/flexible-data-explorer/src/app/components/menu/MenuItemOpenInCanvas.tsx
  apps/flexible-data-explorer/src/app/components/menu/MenuItemOpenInCharts.tsx
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/elements.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useOpenIn.ts
  apps/flexible-data-explorer/src/app/hooks/useUrl.ts
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  apps/flexible-data-explorer/src/app/types.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  libs/shared/plotting-components/CHANGELOG.md
  libs/shared/plotting-components/package.json
  libs/shared/plotting-components/src/TimeseriesChart/index.tsx
Due: apps, libs, e2e

feat: fix fdm capability check for platypus? (#2571)
  .github/workflows/nx_ci.yml
  apps/platypus/src/app/hooks/useCapabilities.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
Due: apps, e2e

feat: capability check (#2576)
  apps/platypus/webpack-single-spa-config.js
Due: apps, e2e

fix: detail page navigation (#2463)
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/app/hooks/detailsNavigation/usePopJourney.ts
  libs/data-exploration/core/src/types/journey.ts
  libs/data-exploration/core/src/utils/journey.ts
Due: apps, libs, e2e

fix: make sure global data space is defined for Resources story
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

feat: implement `byExternalIds` API
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/utilities/FdmSDK.ts
Due: none

chore: add TODO
  react-components/src/hooks/types.ts
Due: none

feat(user-profile-components): make components responsive (#2548)
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/components/profile-page-header/ProfilePageHeader.tsx
  libs/shared/user-profile-components/src/components/vertical-tabs/VerticalTabs.tsx
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
  libs/shared/user-profile-components/yarn.lock
Due: libs

fix(Orientation): orientation tooltip beak changes after design review (#2565)
  libs/shared/user-onboarding-components/src/components/orientation/Orientation.tsx
Due: libs

fix: infinite query loop
  react-components/stories/HighlightNode.stories.tsx
Due: none

refactor(react-components): simplify viewer anchor
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/ViewerAnchor/AuxillaryDivProvider.tsx
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/yarn.lock
Due: none

chore: bump reveal to 4.4.0
  viewer/package.json
Due: none

chore: bump reveal to 4.4.0 (#3536)
  viewer/package.json
Due: none

feat(fdx): map properties name to the schema handle (@name) (#2577)
  apps/flexible-data-explorer/src/app/components/details/DetailsItem.tsx
  apps/flexible-data-explorer/src/app/components/search/components/SearchResultsItem.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/getFieldType.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/transformDefFieldsToFilterFields.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/utils/transformDefTypesToFilterOptions.ts
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Overview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/PropertiesView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipDirectView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdgeView.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/GenericResults.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/Properties/PropertiesCollapsed.tsx
  apps/flexible-data-explorer/src/app/hooks/useLocalStorage.ts
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/flexible-data-explorer/src/app/services/extractors.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceByIdQuery.ts
  apps/flexible-data-explorer/src/app/services/types.ts
  apps/flexible-data-explorer/src/app/utils/getIcon.ts
Due: apps, e2e

Remove base bazel files
  .bazelignore
  .bazelrc
  .bazelversion
Due: none

Remove tenant-selector
  apps/tenant-selector/.env.development
  apps/tenant-selector/.env.production
  apps/tenant-selector/.eslintrc.js
  apps/tenant-selector/.eslintrc.production.js
  apps/tenant-selector/.gitignore
  apps/tenant-selector/.storybook-dev/main.js
  apps/tenant-selector/.storybook-dev/preview.jsx
  apps/tenant-selector/.storybook/main.js
  apps/tenant-selector/.storybook/preview.jsx
  apps/tenant-selector/.vscode/settings.json
  apps/tenant-selector/README.md
  apps/tenant-selector/disabled.BUILD.bazel
  apps/tenant-selector/index.html
  apps/tenant-selector/jest.config.js
  apps/tenant-selector/package.json
  apps/tenant-selector/public/favicon.ico
  apps/tenant-selector/public/logo192.png
  apps/tenant-selector/public/logo512.png
  apps/tenant-selector/public/manifest.json
  apps/tenant-selector/public/robots.txt
  apps/tenant-selector/public/sidecar.js
  apps/tenant-selector/scripts/build.sh
  apps/tenant-selector/scripts/start.sh
  apps/tenant-selector/scripts/test.sh
  apps/tenant-selector/src/App.spec.tsx
  apps/tenant-selector/src/App.tsx
  apps/tenant-selector/src/index.tsx
  apps/tenant-selector/src/react-app-env.d.ts
  apps/tenant-selector/src/setupTests.ts
  apps/tenant-selector/src/sidecar.ts
  apps/tenant-selector/src/typings/mocks.d.ts
  apps/tenant-selector/tsconfig.json
  apps/tenant-selector/vite.config.ts
  apps/tenant-selector/yarn.lock
Due: apps, e2e

Remove generators
  generators/actions/addLibrary.ts
  generators/actions/copyMany.ts
  generators/actions/disableExperimental.ts
  generators/actions/disableIntercom.ts
  generators/actions/index.ts
  generators/actions/utils.ts
  generators/generator/app-templates.ts
  generators/generator/app.ts
  generators/generator/constants.ts
  generators/generator/index.ts
  generators/generator/modifications/kubecfg/production/apps/{{name}}.libsonnet.hbs
  generators/generator/modifications/kubecfg/staging/apps/{{name}}.libsonnet.hbs
  generators/generator/package.ts
  generators/index.ts
  generators/types.ts
Due: none

fix: cleanup stories
  react-components/package.json
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/yarn.lock
Due: none

chore: add more to output type, refactor
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: refactor
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: lint fix
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix(charts): grid layout & tooltip in sidebar (#2574)
  apps/charts/src/app/components/ChartList/ChartListGrid/ChartListGridItem.tsx
  apps/charts/src/app/components/Common/SidebarElements.tsx
  apps/charts/src/app/components/CopyButton/CopyButton.tsx
  apps/charts/src/app/components/DataProfilingSidebar/hooks.ts
  apps/charts/src/app/components/DetailsSidebar/MetadataItem.tsx
  apps/charts/src/app/components/SharingDropdown/SharingDropdown.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

fix: bump transitive dependency to fix a -high- CVE
  documentation/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
