Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

[AUT-268] fix: don't cache project fetching across clusters for CogIdp (#2608)
  libs/shared/cdf-login-utils/package.json
  libs/shared/cdf-login-utils/src/hooks/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/hooks/loginInfo.ts
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
Due: libs

fix(industry-canvas): mixed issues related to comments (#2616)
  libs/industry-canvas/src/lib/components/CanvasDropdown.tsx
  libs/industry-canvas/src/lib/components/comment/CommentDisplay.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.stories.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
Due: libs

chore: deploy cdf-login-utils to npm (#2620)
  Jenkinsfile
Due: none

fix(fdx): search filter issues (#2605)
  apps/flexible-data-explorer/src/app/containers/Filter/components/DateTimeInput/DateTimeInput.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuItem/MenuItem.tsx
  apps/flexible-data-explorer/src/app/containers/Filter/components/MenuItem/elements.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/constants.ts
  apps/flexible-data-explorer/src/app/containers/Filter/containers/CommonFilter/utils/isApplyButtonDisabled.ts
  apps/flexible-data-explorer/src/app/containers/Filter/filters/SearchBarFilter/customFilters/files.ts
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchFilters.tsx
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/utils/date.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/build.ts
Due: apps, e2e

feat(industrial-canvas): add live sensor data (#2505)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.stories.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ConditionalFormattingTooltip.stories.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ConditionalFormattingTooltip.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ConditionalLiveSensorValue.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/Rule.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/Rules.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/TimeseriesList.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/applyRules.spec.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/applyRules.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/constants.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/getConditionAsText.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/isNumberString.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/mock/data.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/types.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
  libs/industry-canvas/src/lib/hooks/useConditionalFormattingTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useLiveSensorValues.tsx
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/hooks/useTimeseries.ts
  libs/industry-canvas/src/lib/hooks/useTimeseriesLatestValue.ts
  libs/industry-canvas/src/lib/hooks/useTimeseriesPlural.ts
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/elements.ts
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/TimeseriesChart.tsx
  libs/shared/plotting-components/src/TimeseriesChart/types.ts
Due: libs

Fix formatting
  .eslintrc.json
Due: none

Fix versioning strategy
  Jenkinsfile
Due: none

feat(data-quality): Access control in Data Quality (#2624)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useAccessControl.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useStartValidation.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/DownloadReport.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleFooter.tsx
Due: apps, e2e

fix: don't stop up-pointer events
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Due: none

fix: viewer anchor adjustments (#3546)
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

feat(FDX): open FDM instances in Industrial Canvas (#2614)
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useOpenIn.ts
  apps/flexible-data-explorer/src/app/hooks/useUrl.ts
  apps/flexible-data-explorer/src/app/pages/Instances/FilePage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/pages/Instances/TimeseriesPage.tsx
  libs/industry-canvas/src/index.ts
Due: apps, libs, e2e

feat(react-components): add pagination support for styling hook allowing styling more than 1000 nodes (#3544)
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/fdmConfig.ts
  react-components/stories/utilities/is3DModelOptions.ts
Due: none

bumped react components version to 0.6.1
  react-components/package.json
Due: none

feat(data-quality): Delete rule (#2613)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/LastValidationTime/LastValidationTime.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RuleOptionsMenu.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTableCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/useUpsertRule.tsx
  apps/platypus/src/app/modules/solution/data-quality/utils/namingPatterns.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

bumped react components version to 0.6.1 (#3548)
  react-components/package.json
Due: none

fix: fix infinite call in access management page (#2617)
  apps/access-management/src/pages/Home/Home.tsx
Due: apps, e2e

fix(interactive-diagrams) contextualization wizard search box (#2296)
  apps/interactive-diagrams/src/components/Common/molecules/Select/index.tsx
Due: apps, e2e

chore: change to trigger release of login-utils (#2625)
  libs/shared/cdf-login-utils/README.md
Due: libs

chore: cut charts preview (#2615) (#2627)
  apps/charts/package.json
Due: apps, e2e

feat(industrial-canvas): adaptive document rendering (#2628)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/utils/dimensions/getInitialContainerReferenceSize.ts
  libs/industry-canvas/src/lib/utils/getSummarizationSticky.ts
  package.json
  yarn.lock
Due: libs

fix(raw-explorer) no results error message
  apps/raw-explorer/src/components/SidePanelDatabaseList/SidePanelDatabaseListContent.tsx
  apps/raw-explorer/src/components/SidePanelTableList/SidePanelTableListContent.tsx
Due: apps, e2e

fix(raw-explorer) no results error message
  libs/data-exploration-components/src/hooks/RelationshipHooks.tsx
Due: libs

fix lint error
  apps/raw-explorer/src/components/SidePanelDatabaseList/SidePanelDatabaseListContent.tsx
  apps/raw-explorer/src/components/SidePanelTableList/SidePanelTableListContent.tsx
Due: apps, e2e

feat: return data promise to `onNodeClick`
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

feat: add RevealKeepAlive component to cache the viewer when unmounting the RevealContainer
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/yarn.lock
Due: none

fix: make FDM config non-required in 3DResources
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

feat: only make 4 requests instead of 5, return node ex-ID only
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
Due: none

chore: remove dep on cdf-utilities from login-utils (#2632)
  libs/shared/cdf-login-utils/package.json
  libs/shared/cdf-login-utils/src/hooks/loginInfo.ts
  libs/shared/cdf-login-utils/src/utils/isUsingUnifiedSignin.ts
  libs/shared/cdf-login-utils/src/utils/shared.ts
Due: libs

fix: correct argument order
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

fix: restore models based on transform as well to distinguish copies of the same model
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
Due: none

chore: remove unused function
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none

chore: remove unused type parameter
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
Due: none

fix: adhere to new API in story
  react-components/stories/HighlightNode.stories.tsx
Due: none

chore: correct argument order
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
Due: none

chore: remove commented code
  react-components/src/components/RevealContainer/RevealContainer.tsx
Due: none

fix: only 4 requests (#3551)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix: broken stories
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

fix: make FDM config non-required in 3DResources (#3550)
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Due: none
