Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

some small refactoring to update colors for changed nodes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadContextualizedFloatingToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

decoupling, refactoring and fixing some node style issues while adding and deleting mappings - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadContextualizedFloatingToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/deleteCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditor.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

[AUT-374] use PromoChip for CogIdP sign-in button (#3357)
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
Due: libs

fix refreshing decontextualized nodes in 3d viewer
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/deleteCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
Due: apps, e2e

chore: lint fix + Missing TSDoc + API update
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Due: none

chore: update API
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/reveal.api.md
Due: none

test: add test
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Due: none

Cypress Tests for Create Interactive Diagrams Flow (#3346)
  apps/interactive-diagrams/cypress/e2e/createInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/cypress/e2e/pendingInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/cypress/support/commands.ts
  apps/interactive-diagrams/src/components/Breadcrumbs/index.tsx
  apps/interactive-diagrams/src/components/Common/atoms/PageTitle.tsx
  apps/interactive-diagrams/src/components/Common/molecules/StepsList/Step.tsx
  apps/interactive-diagrams/src/components/Common/molecules/StepsList/StepCombo.tsx
  apps/interactive-diagrams/src/components/NavigationStickyBottomRow/index.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/FilesListEmpty.tsx
  apps/interactive-diagrams/src/pages/LandingPage/index.tsx
  apps/interactive-diagrams/src/pages/PageOptions/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionProgress/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionResults/index.tsx
  apps/interactive-diagrams/src/pages/PageResultsOverview/SectionSetup/index.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionBar.tsx
  apps/interactive-diagrams/src/pages/PageSelection/components/SelectionTable.tsx
Due: apps, e2e

chore: small cleanup
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Due: none

fix: remove added lines in examples
  examples/src/utils/Image360UI.ts
Due: none

chore: remove additional lines from examples
  examples/src/utils/Image360UI.ts
Due: none

chore(charts): add monitoring e2e (#3356)
  apps/charts/cypress/e2e/addTimeseries.cy.ts
  apps/charts/cypress/e2e/createCharts.cy.ts
  apps/charts/cypress/e2e/monitoring.cy.ts
  apps/charts/cypress/support/charts-commands.ts
  apps/charts/src/app/components/ChartList/ChartListTable/ChartListTable.tsx
  apps/charts/src/app/components/MonitoringSidebar/MonitoringSidebar.tsx
Due: apps, e2e

chore: future proof the API a little
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/reveal.api.md
Due: none

fix: various platypus bugs (#3354)
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.spec.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.stories.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/hooks/useDataSets.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  apps/platypus/src/app/modules/solution/data-management/components/CreateTransformationForm/CreateTransformationForm.tsx
  apps/platypus/src/app/modules/solution/data-management/components/CreateTransformationModal/CreateTransformationModal.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/CreateTransformationModal/CreateTransformationModal.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/suggestionsWorkerLoader.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/usePreviewTableData.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useTransformationCreateMutation.ts
  apps/platypus/src/i18n/en/platypus.json
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
Due: apps, libs, e2e

feat: Add slider to contextualize editor (#3101)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
Due: apps, e2e

chore: change some names, api update
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Due: none

fix(fdx): timeseries filers and search results [UX-1568 | UX-1569] (#3364)
  apps/flexible-data-explorer/src/app/containers/Filter/utils/__tests__/isFieldValue.spec.ts
  apps/flexible-data-explorer/src/app/containers/Filter/utils/isFieldValue.ts
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
Due: apps, e2e

fix(FDX): incorrect behaviour of useLocation hook in production (#3366)
  apps/flexible-data-explorer/src/app/containers/ThreeD/components/SearchPanelToggleVisibilityButton.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/hooks/useInitialCameraNavigation.tsx
  apps/flexible-data-explorer/src/app/hooks/useLocation.ts
Due: apps, e2e

chore: lint fix
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Due: none

feat(extraction-pipelines) Add sparkplug format for hosted extractors (#3326)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
Due: apps, e2e

feat(user-history): create user-history shared library (#3373)
  libs/shared/user-history/.babelrc
  libs/shared/user-history/.eslintrc.json
  libs/shared/user-history/README.md
  libs/shared/user-history/jest.config.ts
  libs/shared/user-history/project.json
  libs/shared/user-history/src/index.ts
  libs/shared/user-history/src/lib/CdfApplicationUsage.ts
  libs/shared/user-history/src/lib/CdfHistoryUser.ts
  libs/shared/user-history/src/lib/CdfResourceUsage.ts
  libs/shared/user-history/src/lib/CdfUserHistoryService.ts
  libs/shared/user-history/src/lib/CdfUserHistoryStorage.ts
  libs/shared/user-history/src/lib/LocalStorageHistoryProvider.ts
  libs/shared/user-history/src/lib/UserHistoryContext.tsx
  libs/shared/user-history/src/lib/UserHistoryProvider.tsx
  libs/shared/user-history/src/lib/getUserHistoryLocalStorageKey.test.ts
  libs/shared/user-history/src/lib/getUserHistoryLocalStorageKey.ts
  libs/shared/user-history/src/lib/useCdfUserHistoryService.tsx
  libs/shared/user-history/tsconfig.json
  libs/shared/user-history/tsconfig.lib.json
  libs/shared/user-history/tsconfig.spec.json
  tsconfig.base.json
Due: libs

fix(entity-matching): Set default sort orders (#3309)
  apps/entity-matching/src/app/components/em-result/QuickMatchResultsTable.tsx
  apps/entity-matching/src/app/components/em-result/applied-rules-table/index.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/BasicResultsTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/GroupedResultsTable.tsx
Due: apps, e2e

chore: use 'default' instead of undefined for assigned icon colors
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
  viewer/reveal.api.md
Due: none

test: fix test
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Due: none

chore: fix test a little more
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Due: none

refactor(industrial-canvas): bump ufv (#3376)
  apps/charts/src/app/components/FileViewer/hooks/useUnifiedFileViewerState.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useFileLinkTooltips.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useHoverTooltips.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useOverlappingAnnotationsTooltips.tsx
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/useCanvasAnnotationTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useCommentTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useConditionalFormattingTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/useIndustryCanvasContainerTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasFileLinkTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useLiveSensorValues.tsx
  libs/industry-canvas/src/lib/hooks/useOnAddContainerReferences.tsx
  libs/industry-canvas/src/lib/hooks/useSelectedAnnotationOrContainer.ts
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
  package.json
  yarn.lock
Due: apps, libs, e2e

fix(industrial-canvas): fix reresolving pasted containers to fix cache issues (#3342)
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
  package.json
  yarn.lock
Due: libs

switch to async for saving and creating cad mappings and some refactoring on toolbar and selecting nodes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDCadContextualization.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
Due: apps, e2e

restructured url state for layers
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

feat(3d-management): Add annotations card to Contextualize Editor (#3340)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useAnnotationModelsWithAsset.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useSyncStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAnnotation.ts
Due: apps, e2e

chore: try pipeline without nx-set-shas (#3337)
  .github/workflows/nx_ci.yml
Due: none

fix: update no data bar color and tooltip text (extraction-pipelines) (#3204)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/source-status/SourceStatusItem.tsx
  apps/extraction-pipelines/src/components/source-status/SourceStatusItemTooltip.tsx
Due: apps, e2e

improvement: make icon color easier to override
  viewer/packages/3d-overlays/src/overlay3DIcon.frag
Due: none

fix(3d-management): improper cleanup on unmounting the subapp (#3384)
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/ToolbarTreeView.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/hooks/useCheckedNodesVisibility.ts
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/hooks/useFilteredNodesHighlights.ts
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/hooks/useSelectedNodesHighlights.ts
Due: apps, e2e

fix progress reporting when sector batch is discarded
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
Due: none

fix(data-catalog): user-history implementation (#3378)
  apps/data-catalog/src/AppWrapper.tsx
  apps/data-catalog/src/app/App.tsx
  apps/data-catalog/src/app/actions/index.test.tsx
  apps/data-catalog/src/app/actions/index.tsx
Due: apps, e2e

chore: add icon color to visual test
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
Due: none

fix(industrial-canvas): allow moving markups using the select tool when holding CMD (#3334)
  libs/industry-canvas/src/lib/hooks/useManagedTool.ts
Due: libs

fix(data-explorer): file filters e2e tests (#3387)
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/interception.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

sector buffer time variable
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
Due: none
