Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

added HOC for storing slicer state in Url
  react-components/src/components/RevealToolbar/Slicer/SlicerEvent.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/higher-order-components/withCombinedUrlParam.tsx
  react-components/src/higher-order-components/withSlicerStateUrlParam.tsx
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/utilities/EventTrigger.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/with3dResourcesSlicerOnLoad.tsx
Due: none

revert: revert change to HighlightNodestory
  react-components/stories/HighlightNode.stories.tsx
Due: none

export new HOC and hooks
  react-components/src/higher-order-components/withCombinedUrlParams.tsx
  react-components/src/index.ts
Due: none

Accommodate cad models on the main contextualize threed viewer in order to show the 3d nodes tree next to the resource selector and connect each other - WIP
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createCdfThreeDAssetMapping.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/getCogniteCadModel.ts
Due: apps, e2e

feat(3d-management): Add point size selection for the point cloud [BND3D-2225] (#3178)
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/PointSizeSlider.tsx
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtySearchResults.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyTable.tsx
  apps/3d-management/src/pages/AllModels/types.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  libs/data-exploration/containers/src/ThreeD/index.ts
Due: apps, libs, e2e

fix(data-explorer): remove mfv / side-by-side explorer (#3201)
  apps/data-exploration/src/app/containers/App/routes.ts
  apps/data-exploration/src/app/containers/Canvas/CanvasPage.tsx
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/CanvasSearch.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/getCanvasConnectionAnnotations.ts
  libs/data-exploration-components/src/containers/Files/Canvas/getClickedContainerOutlineAnnotation.ts
  libs/data-exploration-components/src/containers/Files/Canvas/hooks.ts
  libs/data-exploration-components/src/containers/Files/Canvas/isNotUndefinedTuple.ts
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasAssetTooltips.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasFileContainerTooltips.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasFileLinkTooltips.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasFilesFromUrl.ts
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasTooltips.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/useFileInfos.ts
  libs/data-exploration-components/src/containers/Files/Canvas/utils.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/TooltipContainerColumn.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useFileLinkTooltips.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useOverlappingAnnotationsTooltips.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/useTooltips.tsx
Due: apps, libs, e2e

chore: more cleanup (#3200)
  libs/industry-canvas/src/lib/components/ContextualTooltips/FileTooltip/FileTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
  package.json
  yarn.lock
Due: libs

feat(data-explorer): e2e tests for files sidebar filters (partial) (#3222)
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
Due: apps, e2e

chore(react-query-hooks): add projectScope support (#3210)
  libs/shared/cdf-sdk-react-query-hooks/src/__tests__/usePermissions.test.tsx
  libs/shared/cdf-sdk-react-query-hooks/src/helpers/capabilities.ts
  libs/shared/cdf-sdk-react-query-hooks/src/helpers/index.ts
  libs/shared/cdf-sdk-react-query-hooks/src/hooks/hooks.ts
  libs/shared/cdf-sdk-react-query-hooks/src/index.ts
  libs/shared/cdf-sdk-react-query-hooks/src/types/capabilities.ts
  libs/shared/cdf-sdk-react-query-hooks/src/types/index.ts
Due: libs

feat(industrial-canvas): enable industrial canvas e2e in ci (#3209)
  .github/workflows/nx_ci.yml
  apps/industry-canvas-ui-e2e/project.json
Due: apps, e2e

chore(industry-canvas): Make default fill transparent for shapes (#3226)
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Due: libs

feat(fdx): sticky preview card (#3208)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/PreviewCard.tsx
  package.json
  yarn.lock
Due: apps, e2e

feat(data-quality): List Data scopes (#3207)
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityResponses.ts
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualitySchemas.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadDataScopes.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/DataQualityOverview.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DataScopesTable/DataScopesCells.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DataScopesTable/DataScopesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/RulesTable/RulesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/index.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

switch different toolbar layouts for CADs and PCs
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

Move topic filter to config object (#3229)
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/components/edit-job-modal/EditJobModal.tsx
  apps/extraction-pipelines/src/components/extpipe/ContactsDialog.tsx
  apps/extraction-pipelines/src/components/source-status/SourceStatusItemTooltip.tsx
  apps/extraction-pipelines/src/components/topic-filters/TopicFilter.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
Due: apps, e2e

revert(3D-mangement): 360 tab in 3D management (#3233)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/ContextualizeThreeDViewerToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtySearchResults.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ThreeSixtyTable.tsx
  apps/3d-management/src/pages/AllModels/types.ts
Due: apps, e2e

fix: port tests from enzyme to react-testing-library (#3235)
  apps/3d-management/src/components/Breadcrumbs/Breadcrumbs.spec.tsx
  apps/3d-management/src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  apps/3d-management/src/components/PageHeader/PageHeader.spec.js
  apps/3d-management/src/components/PageHeader/PageHeader.spec.tsx
  apps/3d-management/src/components/Spinner/Spinner.spec.js
  apps/3d-management/src/components/Spinner/Spinner.spec.tsx
  apps/3d-management/src/setupTests.js
Due: apps, e2e

some refactoring: move the viewer to the reveal content component from toolbar and other changes related to it
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewerToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

fix: updating text that shows when no topic filters are added for job modal (extraction-pipelines) (#3219)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/create-jobs-modal/CreateJobsModal.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
Due: apps, e2e

refactoring to support the restructuring of components
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

feat(charts): add dataset selector support in scheduled calculation [AH-1856] (#3217)
  apps/charts/src/app/components/Dataset/DatasetSelector.tsx
  apps/charts/src/app/components/Form/FormInputWithController.tsx
  apps/charts/src/app/components/ScheduledCalculation/Steps/Step2.tsx
  apps/charts/src/app/domain/scheduled-calculation/internal/types.ts
  apps/charts/src/app/domain/scheduled-calculation/service/queries/useScheduledCalculationCreateMutate.ts
Due: apps, e2e

fix: calculating throughput as an average over the last 6 hours (DOG-2135, extraction-pipelines) (#3139)
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
Due: apps, e2e

fix: removing tooltip from chip (#3218)
  apps/extractor-downloads/src/components/category-sidebar/CategorySidebarItem.tsx
Due: apps, e2e

use the model with a state and refactoring the state retrievers to use the same model state across components and implement the click geometries and showing up on the 3d node tree
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

add viewer for safeguard ui component and remove duplicated fitCameraToModel call
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
Due: apps, e2e

feat: list and replace event listeners
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/tools/index.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/events/EventTrigger.ts
  viewer/packages/utilities/src/events/index.ts
Due: none

fix: unregister all other click event handlers when using measurements
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

chore: small elaboration in TSDoc
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

fix: don't expose MeasurementEvents unnecessarily
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

chore: update API ++
  viewer/api-entry-points/core.ts
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
  viewer/reveal.api.md
Due: none

chore: simplify implementation drastically
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Due: none

chore: rename/refactor functions
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

Revert "fix(viewer): only do measurement on canvas (#3636)"
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

Revert "fix(viewer): block events to viewer when measurement tool is active (#3616)"
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Due: none

chore: bump cdf-utilities to 3.5.0 (#3247)
  libs/shared/cdf-utilities/package.json
Due: libs

chore: migrate from webpack to vite
  react-components/.storybook/main.ts
  react-components/package.json
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
Due: none

restructured Slicer url param and created Reveal resoruces context
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealResourcesContext.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/Slicer/SlicerEvent.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/higher-order-components/withCombinedUrlParams.tsx
  react-components/src/higher-order-components/withSlicerStateUrlParam.tsx
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/with3dResourcesSlicerOnLoad.tsx
Due: none
