Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

Update react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
Due: none

Update react-components/src/hooks/use3DModelName.tsx
  react-components/src/hooks/use3DModelName.tsx
Due: none

feat: change user object for sdk singleton (#2491)
  libs/shared/cdf-sdk-singleton/src/unifiedSigninTokenProvider.ts
Due: libs

addresed review comments
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/hooks/use3DModelName.tsx
Due: none

feat(plotting-components): add multiple timeseries rendering capability for timeseries chart [UX-1103] (#2490)
  libs/shared/plotting-components/CHANGELOG.md
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/adaptToPlotlyPlotData.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotlyHoverMode.ts
  libs/shared/plotting-components/src/LineChart/utils/shouldShowMarkers.ts
  libs/shared/plotting-components/src/TimeseriesChart/TimeseriesChart.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/OpenInChartsButton/OpenInChartsButton.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartLarge/TimeseriesChartLarge.tsx
  libs/shared/plotting-components/src/TimeseriesChart/components/TimeseriesChartSmall/TimeseriesChartSmall.tsx
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/index.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/useTimeseriesChartData.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/useTimeseriesChartMetadata.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/hooks/useTimeseriesColor.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/index.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/mapToChartData.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/mapToTimeseriesDatapointsQueries.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/transformers/mapToTimeseriesDatapointsQuery.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/internal/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/queryKeys.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/network/getTimeseriesDatapoints.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/network/getTimeseriesDatapointsMulti.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/network/getTimeseriesSingleAggregateMulti.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/network/index.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/queries/useTimeseriesDatapointsQuery.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/queries/useTimeseriesSingleAggregateQuery.ts
  libs/shared/plotting-components/src/TimeseriesChart/domain/service/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/types.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getChartAxisDisplayUnit.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/getDataRevision.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/openInCharts.ts
Due: libs

fix: open in charts link (#2492)
  libs/shared/plotting-components/src/TimeseriesChart/utils/openInCharts.ts
  libs/shared/plotting-components/src/TimeseriesChart/utils/utils.ts
Due: libs

fix(plotting-component): fix margins for axis ticks (#2493)
  libs/shared/plotting-components/CHANGELOG.md
  libs/shared/plotting-components/package.json
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/constants.ts
Due: libs

fix: deploy app
  .github/workflows/CD.yml
  apps/data-exploration/project.json
  scripts/github-actions/get-deploy-target/README.md
  scripts/github-actions/get-deploy-target/action.yml
  scripts/github-actions/get-deploy-target/index.js
Due: apps, e2e

fix: deploy app
  .github/workflows/CD.yml
Due: none

fix: deploy app
  .github/workflows/CD.yml
  apps/data-exploration/project.json
  scripts/github-actions/get-deploy-target/index.js
Due: apps, e2e

Fix Browse button Styling on Model upload page
  apps/simconfig/src/components/forms/controls/FileInput.tsx
Due: apps, e2e

Updated pointCloud & 360 image count number styling
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Due: none

feat: 3D Resources layering react component (#3495)
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/hooks/use3DModelName.tsx
  react-components/src/index.ts
  react-components/stories/LayersContainer.stories.tsx
Due: none

fix: deploy app
  .github/workflows/CD.yml
  scripts/github-actions/get-deploy-target/index.js
Due: none

fix: deploy app
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix: deploy app
  apps/data-exploration/firebase.json
Due: apps, e2e

bump react components to v0.5.0
  react-components/package.json
Due: none

bump react components to v0.5.0 (#3508)
  react-components/package.json
Due: none

fix: add conditionals to setPublicPath (#2497)
  apps/3d-management/src/set-public-path.ts
  apps/access-management/src/set-public-path.ts
  apps/cdf-document-search/src/set-public-path.ts
  apps/charts/src/set-public-path.ts
  apps/coding-conventions/src/set-public-path.ts
  apps/copilot/src/set-public-path.ts
  apps/data-catalog/src/set-public-path.ts
  apps/data-exploration/src/set-public-path.tsx
  apps/entity-matching/src/set-public-path.ts
  apps/extraction-pipelines/src/set-public-path.ts
  apps/extractor-downloads/src/set-public-path.ts
  apps/functions-ui/set-public-path.tsx
  apps/functions-ui/src/set-public-path.ts
  apps/fusion-shell/src/index.html
  apps/industry-canvas-ui/src/set-public-path.tsx
  apps/interactive-diagrams/src/set-public-path.tsx
  apps/iot-hub/src/set-public-path.ts
  apps/platypus/src/set-public-path.ts
  apps/transformations/src/set-public-path.ts
  apps/vision/src/set-public-path.ts
  libs/cdf-nx-plugin/src/generators/fusion-subapp/files/src/set-public-path.ts__template__
  libs/shared/cdf-route-tracker/src/set-public-path.ts
  libs/shared/cdf-sdk-singleton/src/environments/single-spa/set-public-path.ts
  libs/shared/cdf-sdk-singleton/src/set-public-path.ts
Due: apps, libs, e2e

fix: deploy app
  .github/workflows/CD.yml
  scripts/github-actions/nx-get-affected/action.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix: deploy app
  .github/workflows/CD.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

chore: fix cargo lock
  viewer/Cargo.lock
Due: none

chore: remove a commented line out and trigger jenkins cicd (#2501)
  apps/flexible-data-explorer/src/main.tsx
Due: apps, e2e

fix: deploy app
  .github/workflows/CD.yml
  scripts/github-actions/nx-get-affected/README.md
  scripts/github-actions/nx-get-affected/action.yml
Due: none

fix(industrial-canvas): fix auto-saving issue (#2494)
  libs/industry-canvas/src/lib/hooks/useManagedState.ts
  libs/industry-canvas/src/lib/utils/deepEqualWithMissingProperties.spec.ts
  libs/industry-canvas/src/lib/utils/deepEqualWithMissingProperties.ts
Due: libs

fix: routes for interactive diagrams (#2495)
  apps/interactive-diagrams/src/App.tsx
  apps/interactive-diagrams/src/components/MissingPermissionFeedback.tsx
Due: apps, e2e

fix: re-enable shell buils
  .github/workflows/CD.yml
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
