Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

fix: only check for settled after story done is triggered
  react-components/playwright.config.ts
  react-components/tests/visual-tests/utils/loadStory.ts
Due: none

fix: update image
  react-components/playwright.config.ts
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook-1.png
  react-components/tests/visual-tests/example.spec.ts-snapshots/cad-model-container-storybook-1-chromium-win32.png
Due: none

replaced type conversion & fixed typo
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
Due: none

test: run 13 visual tests
  .github/workflows/react-components-ci.yml
  react-components/playwright.config.ts
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---1-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---10-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---11-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---12-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---2-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---3-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---4-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---5-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---6-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---7-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---8-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---9-1.png
  react-components/tests/visual-tests/example.spec.ts
Due: none

chore(user-profile-components): design changes (#3728)
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  apps/fusion-shell/src/app/components/UserProfilePage/UserProfilePage.tsx
  libs/shared/user-profile-components/package.json
  libs/shared/user-profile-components/src/components/language-tab/LanguageTab.tsx
  libs/shared/user-profile-components/src/components/personal-info-tab/PersonalInfoTab.tsx
  libs/shared/user-profile-components/src/demo/flow-demo/FlowDemo.tsx
  libs/shared/user-profile-components/src/pages/user-profile-page/UserProfilePage.tsx
Due: apps, libs, e2e

feat(react-components): add search hook for annotation assets in reveal (#3840)
  react-components/src/hooks/types.ts
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
  react-components/src/index.ts
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Due: none

fix: install chromium
  .github/workflows/react-components-ci.yml
  react-components/playwright.config.ts
Due: none

chore: test single worker in CI
  react-components/playwright.config.ts
Due: none

fix(simint): elapsed time bugfix in the simulator header (#3692)
  apps/simint/src/components/simulator/SimulatorInformation.tsx
Due: apps, e2e

feat(entity matching) Pipeline List Story (#3730)
  apps/entity-matching/.storybook/main.ts
  apps/entity-matching/.storybook/preview.ts
  apps/entity-matching/project.json
  apps/entity-matching/src/app/common/i18n/en/entity-matching.json
  apps/entity-matching/src/app/components/pipeline-actions-menu/PipelineActionsMenu.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineList.stories.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineList.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineTable.tsx
  apps/entity-matching/src/app/components/pipeline-list/index.tsx
  apps/entity-matching/src/app/components/pipeline-list/pipelineList.ts
  apps/entity-matching/src/app/hooks/entity-matching-pipelines.ts
  apps/entity-matching/src/app/pages/Home/index.tsx
  apps/entity-matching/src/app/utils/collectPages.ts
  apps/entity-matching/tsconfig.app.json
  apps/entity-matching/tsconfig.json
  apps/entity-matching/tsconfig.storybook.json
  apps/simint/cypress/e2e/modelDetails.cy.ts
  apps/simint/cypress/e2e/runBrowser.cy.ts
  package.json
  yarn.lock
Due: apps, e2e

fix(fdx): imports for e2e (#3761)
  apps/flexible-data-explorer/cypress/support/app.ts
Due: apps, e2e

fixed learn more in search with AI (#3760)
  libs/flexible-data-explorer/components/src/links/AIDisclaimer.tsx
  libs/flexible-data-explorer/shared/src/hooks/useLinks.ts
Due: libs

fix(fushion-shell): Global search copy button (#3753)
  apps/fusion-shell/src/app/components/GlobalSearch/CopyButton.tsx
Due: apps, e2e

fix(fdx): 3d-mapped instance's page crashes (#3764)
  libs/flexible-data-explorer/modules/src/ThreeD/modules/RevealContent.tsx
Due: libs

feat: create github label for FDX (#3767)
  .github/labeler.yml
Due: none

fix: only use all available logical cores in CI
  react-components/playwright.config.ts
Due: none

fix: add playwright report to CI
  .github/workflows/react-components-ci.yml
Due: none

style(3d-management): Tweak magenta annotation link color (#3749)
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix: set correct report path
  .github/workflows/react-components-ci.yml
Due: none

fix: mock failing tests
  react-components/stories/CadModelContainer.stories.tsx
Due: none

fix: undo failing test mock
  react-components/stories/CadModelContainer.stories.tsx
Due: none

feat(fdx): e2e tests for verify the global search (#3762)
  apps/flexible-data-explorer/cypress/e2e/search-categories.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/common.commands.ts
  apps/flexible-data-explorer/cypress/support/commands/search.commands.ts
  libs/flexible-data-explorer/modules/src/category/components/CategoryCard.tsx
Due: apps, libs, e2e

fix: rename test, and remove mocks
  react-components/tests/visual-tests/CadModelContainer.stories.spec.ts
  react-components/tests/visual-tests/__screenshots__/CadModelContainer.stories.spec.ts/cad-model-container-storybook-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---1-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---10-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---11-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---12-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---2-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---3-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---4-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---5-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---6-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---7-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---8-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook---9-1.png
  react-components/tests/visual-tests/__screenshots__/example.spec.ts/cad-model-container-storybook-1.png
  react-components/tests/visual-tests/example.spec.ts
Due: none

feat(3D-management): Select annotation on annotations card click (#3700)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationsCard.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
Due: apps, e2e

chore: add visual test for toolbar
  react-components/stories/Toolbar.stories.tsx
  react-components/tests/visual-tests/Toolbar.stories.spec.ts
  react-components/tests/visual-tests/__screenshots__/Toolbar.stories.spec.ts/cad-model-container-storybook-1.png
Due: none

fix(3d-management): cleanup revision menu (#3757)
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader/ContextualizeEditorHeader.tsx
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader/RevisionDropdownMenu.tsx
Due: apps, e2e

fix(3d-management): set select tool as default in pointcloud (#3766)
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
Due: apps, e2e

Update copilot core and llm hub for fdx fix (#3759)
  libs/copilot-core/package.json
  package.json
  yarn.lock
Due: libs

fix(industrial-canvas): fix styling regressions for tooltip and shape toolbar (#3750)
  libs/industry-canvas/src/lib/components/CanvasDropdown.tsx
  libs/industry-canvas/src/lib/components/CanvasTitle.tsx
  libs/industry-canvas/src/lib/components/ToolbarComponent/ToolbarComponent.tsx
  libs/industry-canvas/src/lib/hooks/useContainerAnnotations.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  package.json
  yarn.lock
Due: libs

chore(industrial-canvas): track screenshot and file drop events (#3770)
  libs/industry-canvas/src/lib/components/CanvasSubmenu.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useDragAndDrop.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useOnUpdateRequest.ts
Due: libs

fix(simint): fix e2e test flakiness (#3776)
  apps/simint/cypress/e2e/modelDetails.cy.ts
  apps/simint/cypress/e2e/runBrowser.cy.ts
  apps/simint/cypress/utils/getUrl.ts
Due: apps, e2e

feat(3d-management): Fix toolbar styling and refactor tool bar (#3755)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/buttons/AddContextualizationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/buttons/SlicerButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/buttons/index.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/Annotations.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/AddAnnotationToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/AddAnnotationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SelectToolButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SettingsButton/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SettingsButton/PointSizeSlider.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SettingsButton/SettingsButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SlicerButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/ToggleWireframeVisibilityButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/index.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/hideBoundingVolumes.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/showBoundingVolumes.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix(industrial-canvas): fix CMD+A for label tooltip (#3773)
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/LabelToolbar.tsx
Due: libs

feat(fusion-shell): add Content-Security-Policy-Report-Only for testing upcoming CSP changes (#3653)
  .baker/manifests/fusion-app/dev-manual-deployment/cognitedata-development.yaml
  .baker/manifests/fusion-app/dev/cognitedata-production.yaml
  .baker/manifests/fusion-app/dev/openfield.yaml
  .baker/manifests/fusion-app/next-release/cognitedata-production.yaml
  .baker/manifests/fusion-app/pr-preview/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod-verification/cognitedata-production.yaml
  .baker/manifests/fusion-app/prod/cognitedata-production.yaml
  .baker/manifests/fusion-app/sapc-prod/sapc-01.yaml
  apps/fusion-shell/manifests/overlays.jsonnet
Due: apps, e2e

feat(fdx): e2e tests for Filters (Generic) (#3781)
  apps/flexible-data-explorer/cypress/e2e/filter-generic.cy.ts
  apps/flexible-data-explorer/cypress/support/app.ts
  apps/flexible-data-explorer/cypress/support/commands/interception.commands.ts
  apps/flexible-data-explorer/cypress/support/utils/index.ts
  apps/flexible-data-explorer/cypress/support/utils/interception.ts
  apps/flexible-data-explorer/cypress/support/utils/string.ts
  libs/flexible-data-explorer/modules/src/filters/modules/AppliedFilters/AppliedFiltersByField.tsx
Due: apps, libs, e2e

add:pull strings from Locize previe
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
  libs/flexible-data-explorer/shared/src/common/i18n/de/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/en/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/es/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/fr/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/it/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/ja/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/ko/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/nl/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/pt/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/sv/flexible-data-explorer.json
  libs/flexible-data-explorer/shared/src/common/i18n/zh/flexible-data-explorer.json
  libs/shared/plotting-components/src/i18n/de/plotting-components.json
  libs/shared/plotting-components/src/i18n/es/plotting-components.json
  libs/shared/plotting-components/src/i18n/fr/plotting-components.json
  libs/shared/plotting-components/src/i18n/it/plotting-components.json
  libs/shared/plotting-components/src/i18n/ja/plotting-components.json
  libs/shared/plotting-components/src/i18n/ko/plotting-components.json
  libs/shared/plotting-components/src/i18n/nl/plotting-components.json
  libs/shared/plotting-components/src/i18n/pt/plotting-components.json
  libs/shared/plotting-components/src/i18n/sv/plotting-components.json
  libs/shared/plotting-components/src/i18n/zh/plotting-components.json
Due: apps, libs, e2e

feat:pull strings from Locize
  apps/data-exploration/src/i18n/de/data-exploration.json
  apps/data-exploration/src/i18n/en/data-exploration.json
  apps/data-exploration/src/i18n/es/data-exploration.json
  apps/data-exploration/src/i18n/fr/data-exploration.json
  apps/data-exploration/src/i18n/it/data-exploration.json
  apps/data-exploration/src/i18n/ja/data-exploration.json
  apps/data-exploration/src/i18n/ko/data-exploration.json
  apps/data-exploration/src/i18n/nl/data-exploration.json
  apps/data-exploration/src/i18n/pt/data-exploration.json
  apps/data-exploration/src/i18n/sv/data-exploration.json
  apps/data-exploration/src/i18n/zh/data-exploration.json
  apps/fusion-shell/src/i18n/translations/de/navigation.json
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/i18n/translations/es/navigation.json
  apps/fusion-shell/src/i18n/translations/fr/navigation.json
  apps/fusion-shell/src/i18n/translations/it/navigation.json
  apps/fusion-shell/src/i18n/translations/ja/navigation.json
  apps/fusion-shell/src/i18n/translations/ko/navigation.json
  apps/fusion-shell/src/i18n/translations/nl/navigation.json
  apps/fusion-shell/src/i18n/translations/pt/navigation.json
  apps/fusion-shell/src/i18n/translations/sv/navigation.json
  apps/fusion-shell/src/i18n/translations/zh/navigation.json
  libs/flexible-data-explorer/shared/src/common/i18n/en/flexible-data-explorer.json
  scripts/i18n.sh
Due: apps, libs, e2e

fix:update 3D app title strings
  apps/fusion-shell/src/i18n/translations/en/navigation.json
Due: apps, e2e

feat: integrate chameleon (#3659)
  apps/access-management/cypress/support/e2e.ts
  apps/fusion-shell/scripts/http-headers-utils.spec.ts
  apps/fusion-shell/scripts/http-headers-utils.ts
  apps/fusion-shell/src/AppWrapper.tsx
  apps/fusion-shell/src/ChameleonWrapper.tsx
  apps/simint/cypress/support/e2e.ts
  libs/industry-canvas/setupTests.js
  libs/shared/chameleon/.babelrc
  libs/shared/chameleon/.eslintrc.json
  libs/shared/chameleon/README.md
  libs/shared/chameleon/example.png
  libs/shared/chameleon/jest.config.ts
  libs/shared/chameleon/package.json
  libs/shared/chameleon/project.json
  libs/shared/chameleon/src/chamaeleonidae-chmln.d.ts
  libs/shared/chameleon/src/index.ts
  libs/shared/chameleon/src/lib/ChameleonProvider.tsx
  libs/shared/chameleon/src/lib/chameleon.ts
  libs/shared/chameleon/tsconfig.json
  libs/shared/chameleon/tsconfig.lib.json
  libs/shared/chameleon/tsconfig.spec.json
  libs/shared/cypress/src/lib/commands/index.ts
  libs/shared/cypress/src/lib/commands/loginWithAADClientCredentials.ts
  libs/shared/cypress/src/lib/commands/loginWithAADUserCredentials.ts
  libs/shared/cypress/src/lib/commands/resetE2eTestSession.ts
  libs/shared/cypress/src/lib/commands/setE2eTestSession.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: apps, libs, e2e
