Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

Forgotten file
  react-components/src/hooks/useNode3dDataByExternalId.tsx
Due: none

Enforce fusion-shell e2e tests in CI (#2998)
  .github/workflows/fusion-shell-e2e-tests.yml
  .github/workflows/nx_ci.yml
  apps/data-exploration-e2e/src/support/injectToken.ts
  apps/fusion-shell-e2e/cypress.config.ts
  apps/fusion-shell-e2e/project.json
  apps/fusion-shell-e2e/src/support/commands.ts
  apps/fusion-shell-e2e/src/support/e2e.ts
  apps/fusion-shell-e2e/src/support/index.ts
  apps/fusion-shell-e2e/src/support/injectToken.ts
  apps/fusion-shell-e2e/src/support/interceptProfileMe.ts
  apps/fusion-shell-e2e/src/support/loginWithClientCredentials.ts
  apps/fusion-shell-e2e/src/utils/config.ts
  apps/fusion-shell-e2e/src/utils/getSubappsInfo.ts
  apps/fusion-shell/README.md
  apps/fusion-shell/src/app/types.ts
  apps/fusion-shell/src/app/utils/login-utils.ts
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  libs/shared/cdf-sdk-singleton/src/index.ts
  libs/shared/cdf-sdk-singleton/src/types.d.ts
  libs/shared/cdf-utilities/rollup-config.js
Due: apps, libs, e2e

feat(workflows): breaking changes [CDF-19349] (#2884)
  apps/flows/src/common/i18n/translations/en/flows.json
  apps/flows/src/components/canvas-topbar/CanvasTopBar.tsx
  apps/flows/src/hooks/workflows.ts
  apps/flows/src/types/index.ts
  apps/flows/src/types/workflows.ts
Due: apps, e2e

bulk github comments from CI (#3030)
  .github/workflows/nx_ci.yml
  scripts/github-actions/get-pr-comment/action.yml
  scripts/github-actions/get-pr-comment/index.js
Due: none

[UX-1391] chore: optimize @cognite/plotting-components to increase the ci speed (#3022)
  libs/shared/plotting-components/package.json
Due: libs

fix(extractor-downloads): optional fields in MQTT create connection and protocol type selector (#3027)
  apps/extractor-downloads/src/components/CreateConnection/CreateConnection.tsx
Due: apps, e2e

fix(flows): change flows firebase project (#3037)
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

fix(advanced-join) Incense delay for Labeling side effects (#3033)
  apps/contextualization-ui/src/app/containers/Labeling.tsx
  apps/contextualization-ui/src/app/hooks/useCreateAdvancedJoinMatchesWrapper.ts
Due: apps, e2e

fix(advanced-join) Incense delay for Write matches to Data Model Button (#3034)
  apps/contextualization-ui/src/app/containers/RunAdvancedJoin.tsx
Due: apps, e2e

feature: Stop old batch loading
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
Due: none

fix: decrease the quality of UFV (#3029)
  apps/flexible-data-explorer/src/app/containers/widgets/File/FilePreview/FilePreview.tsx
Due: apps, e2e

chore(data-explorer): clean up localization strings [UX-1394] (#3038)
  apps/data-exploration-e2e/src/support/commands/login.commands.ts
  apps/data-exploration/package.json
  apps/data-exploration/scripts/i18n-compare.sh
  apps/data-exploration/src/app/components/TitleRowActions/FullscreenButton.tsx
  apps/data-exploration/src/app/containers/Event/EventFilters.tsx
  apps/data-exploration/src/i18n/en/data-exploration.json
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/components/src/Table/components/ColumnToggle.tsx
  libs/data-exploration/containers/src/Filters/AssetSelectFilter/AssetSelectFilter.tsx
  libs/data-exploration/containers/src/Filters/AuthorFilter/AuthorFilter.tsx
  libs/data-exploration/containers/src/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration/containers/src/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration/containers/src/Filters/SubtypeFilter/SubTypeFilter.spec.tsx
  libs/data-exploration/containers/src/Filters/SubtypeFilter/SubTypeFilter.tsx
  libs/data-exploration/containers/src/Filters/TypeFilter/TypeFilter.tsx
  libs/data-exploration/containers/src/Filters/UnitFilter/UnitFilter.tsx
  libs/data-exploration/containers/src/Info/EventInfo/EventInfo.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTableHeader.tsx
Due: apps, libs, e2e

feat(fusion-shell): add fonts to fusion-shell (#3039)
  apps/fusion-shell/src/assets/fonts/Inter-Medium.woff2
  apps/fusion-shell/src/assets/fonts/Inter-Regular.woff2
  apps/fusion-shell/src/assets/fonts/Inter-SemiBold.woff2
  apps/fusion-shell/src/assets/fonts/fonts.css
  apps/fusion-shell/src/styles.css
Due: apps, e2e

[INCIDENT] filter env vars down to a known list (#3041)
  apps/3d-management/webpack-config.js
  apps/access-management/webpack-config.js
  apps/cdf-document-search/webpack.config.js
  apps/charts/webpack-config.js
  apps/coding-conventions/webpack-config.js
  apps/contextualization-ui/webpack-config.js
  apps/copilot/webpack-config.js
  apps/data-catalog/webpack-config.js
  apps/data-exploration/webpack-config.js
  apps/entity-matching/webpack-config.js
  apps/extraction-pipelines/webpack-config.js
  apps/extractor-downloads/webpack-config.js
  apps/flows/webpack-config.js
  apps/functions-ui/webpack-config.js
  apps/industry-canvas-ui/webpack-config.js
  apps/interactive-diagrams/webpack-config.js
  apps/iot-hub/webpack-config.js
  apps/notebook/webpack-config.js
  apps/platypus-cdf-cli/webpack-config.js
  apps/platypus/webpack-module-federation-config.js
  apps/platypus/webpack-single-spa-config.js
  apps/raw-explorer/webpack-config.js
  apps/simint/webpack-config.js
  apps/transformations/webpack-config.js
  apps/vision/webpack-config.js
  tools/webpack/filter-env-vars.js
Due: apps, e2e

feat(simconfig): Enable reparsing action for GAP latest version model [POFSP-69]
  apps/simint/src/components/models/ModelVersionDetails/ModelVersionDetails.tsx
  package.json
  yarn.lock
Due: apps, e2e

feat: allow vieweranchor to have stickiness
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

updated translation according to FDX config so as to overcome I18nWrapper issue (#3675)
  react-components/src/common/i18n/index.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

chore: lint fix
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
Due: none

fix: upgrade llm-hub to version without i18n and excessive console.log (#3040)
  .github/workflows/deploy_cdf-copilot-core.yml
  .github/workflows/nx_ci.yml
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
  libs/copilot-core/package.json
  package.json
  yarn.lock
Due: apps, libs, e2e

build production the same was as we build in CI and run e2e tests for (#3052)
  .github/workflows/CD.yml
Due: none

changes to CD pipeline should affect apps (#3053)
  nx.json
Due: none

fix(charts): user profiles incident (#3051)
  apps/charts/src/App.tsx
  apps/charts/src/app/common/providers/useUserProfileQuery.ts
  apps/charts/src/app/components/AccessDeniedModal/AccessDeniedModal.tsx
  apps/charts/src/app/components/MonitoringSidebar/CreateMonitoringJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  apps/charts/src/app/components/MonitoringSidebar/SubscribeJob.tsx
  apps/charts/src/app/components/MonitoringSidebar/hooks.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
Due: apps, e2e

setup deployment to production for new fusion-shell (#2961)
  Jenkinsfile
  spinnaker-config/fusion-app/prod.yaml
Due: none

fix incorrect docker image reference (#3055)
  .baker/manifests/fusion-app/prod/cognitedata-production.yaml
  apps/fusion-shell/manifests/fusion.prod.jsonnet
Due: apps, e2e

Don't download discarded sectors
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Due: none

fix: only update url if camera state has changed
  react-components/src/higher-order-components/withCameraStateUrlParam.tsx
Due: none

fix: linting
  react-components/src/higher-order-components/withCameraStateUrlParam.tsx
Due: none

update README's with latest Fusion deployment changes (#3056)
  README.md
  apps/platypus/README.md
Due: apps, e2e

feat: allow vieweranchor to have stickiness (#3681)
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Due: none

point sub-app prod urls to cogniteapp.com (#3064)
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

fix preview url by transferring override to subdomain (#3057)
  apps/fusion-shell/public/dev-setup.js
Due: apps, e2e

chore: bump to typedoc plugin 0.20.1
  documentation/package.json
  documentation/yarn.lock
Due: none

feat(data-explorer): asset search results sorting e2e tests (#3067)
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
Due: apps, e2e

fix issue where preview comments job are skipped (#3072)
  .github/workflows/nx_ci.yml
Due: none

add monitoring tasks and scheduled calculation ACLs (#3042)
  apps/access-management/src/common/i18n/translations/en/access-management.json
  apps/access-management/src/pages/Groups/utils.tsx
Due: apps, e2e

feat(simint): add storybook stories and tests (#2952)
  .github/workflows/nx_ci.yml
  README.md
  apps/simint/.storybook/main.ts
  apps/simint/.storybook/preview.js
  apps/simint/project.json
  apps/simint/src/components/molecules/Alert.stories.tsx
  apps/simint/src/components/molecules/CopyValue.stories.tsx
  apps/simint/src/components/simulator/SimulatorStatusLabel.stories.tsx
  apps/simint/tsconfig.app.json
  apps/simint/tsconfig.json
  apps/simint/tsconfig.storybook.json
  libs/data-exploration-components/package.json
  nx.json
  package.json
  yarn.lock
Due: apps, libs, e2e

fix: errors due to improperly passing custom props to native elements
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

fix(functions-ui) : change default python runtime (#3070)
  apps/functions-ui/src/components/FunctionModals/UploadFunctionModal.tsx
Due: apps, e2e

disable sso for azure ad due to increasing amount of problems (#3073)
  libs/login-page/src/components/select-sign-in-method/SignInWithAAD.tsx
  libs/login-page/src/modules/select-sign-in-method/SelectSignInMethod.tsx
  libs/login-page/src/utils/constants.ts
Due: libs

fix(simconfig): Show missing ACLs (#3076)
  apps/simint/src/pages/emptystates/permissions-required.tsx
Due: apps, e2e

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
