Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

wip adding landing page e2e
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/cypress/tsconfig.json
  apps/fusion-shell/src/app/components/LandingPage/LearningResources.tsx
  apps/fusion-shell/src/app/components/LandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/components/LandingPage/UserHistory.tsx
  apps/fusion-shell/src/app/components/Navigation/Menu/Item/Item.tsx
  apps/fusion-shell/src/app/components/Navigation/Menu/Section/Section.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/TopBarSections/index.tsx
Due: apps, e2e

Misc sector loading optimizations (#3674)
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
  viewer/reveal.api.md
Due: none

feat(data-quality): Delete data scopes (#3343)
  apps/platypus/src/app/modules/solution/data-quality/api/codegen/dataQualityComponents.ts
  apps/platypus/src/app/modules/solution/data-quality/api/dataquality.yml
  apps/platypus/src/app/modules/solution/data-quality/components/DeleteModal/DeleteModal.tsx
  apps/platypus/src/app/modules/solution/data-quality/components/index.ts
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DataScopesTable/DataScopeOptionsMenu.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DataScopesTable/DataScopesTable.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/UpsertRuleDrawer.tsx
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

chore: type guard IdEither results
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
Due: none

chore: reduceIt™
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
Due: none

chore: typeGuardIt©
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Due: none

fix(data-explorer):timeseries filters e2e tests (#3391)
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

some cleanup
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/CadToolBarTools.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateStyleForContextualizedCadNodes.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/updateThreeDViewerCadNodes.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

feat: styling for 360 icons (#3757)
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
  viewer/packages/3d-overlays/src/overlay3DIcon.frag
  viewer/reveal.api.md
Due: none

chore: lint fix
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Due: none

CogIdP: single redirect URI with deep-link (#3388)
  apps/fusion-shell/src/app/utils/login-utils.ts
  libs/login-page/src/components/select-sign-in-method/SignInWithCogIdP.tsx
  libs/shared/cdf-login-utils/src/utils/aad.ts
  libs/shared/cdf-login-utils/src/utils/cogniteIdP.ts
  libs/shared/cdf-login-utils/src/utils/loginInfo.ts
  libs/shared/cdf-sdk-singleton/src/cogIdp.ts
  libs/shared/cdf-sdk-singleton/src/fusionTokenProvider.ts
Due: apps, libs, e2e

feat: add getter for 360 annotations with entity revision information (#3758)
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Due: none

using findByTestId instead of get and refactor testing
  apps/fusion-shell/.eslintrc.json
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/cypress/support/commands.ts
  apps/fusion-shell/src/app/components/LandingPage/QuickLinks.tsx
Due: apps, e2e

restructured all layer container on url change
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
Due: none

renamed variables to match convention
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

fix(simint): Fix re-indexing of groups and steps when dragging to new position (#3377)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Collapse/Group.tsx
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.tsx
Due: apps, e2e

some merge conflict changes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDPointCloudContextualization.ts
Due: apps, e2e

fixed url not updating when fetched
  react-components/src/hooks/useUrlStateParam.tsx
Due: none

adapt changes from merge related to adding annotations for PCs and other changes - wip
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
Due: apps, e2e

remove old components and some other fixes
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudColorPicker.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/saveCdfThreeDPointCloudContextualization.ts
Due: apps, e2e

default values update
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
Due: apps, e2e

cleanup
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
Due: apps, e2e

test: use actual login flow for fusion-shell e2e tests (#3332)
  .github/workflows/nx_ci.yml
  apps/fusion-shell/cypress.config.ts
  apps/fusion-shell/cypress/e2e/access-page.cy.ts
  apps/fusion-shell/cypress/e2e/charts.cy.ts
  apps/fusion-shell/cypress/e2e/contextualize-image.cy.ts
  apps/fusion-shell/cypress/e2e/data-catalog.cy.ts
  apps/fusion-shell/cypress/e2e/data-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/data-models.cy.ts
  apps/fusion-shell/cypress/e2e/document-classifier.cy.ts
  apps/fusion-shell/cypress/e2e/entity-matching.cy.ts
  apps/fusion-shell/cypress/e2e/explore-image.cy.ts
  apps/fusion-shell/cypress/e2e/extract-data.cy.ts
  apps/fusion-shell/cypress/e2e/extraction-pipelines.cy.ts
  apps/fusion-shell/cypress/e2e/functions-page.cy.ts
  apps/fusion-shell/cypress/e2e/ineteractive-diagram.cy.ts
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/cypress/e2e/raw-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/transform-data.cy.ts
  apps/fusion-shell/cypress/e2e/upload-3d-models.cy.ts
  apps/fusion-shell/cypress/support/commands.ts
  apps/fusion-shell/cypress/support/e2e.ts
  apps/fusion-shell/cypress/support/index.ts
  apps/fusion-shell/cypress/utils/config.ts
  apps/fusion-shell/project.json
  apps/fusion-shell/src/app/components/LandingPage/LandingPage.tsx
Due: apps, e2e

fix(simint): fixing issue + simplifying the permissions page (#3396)
  apps/simint/src/components/accesscontrolwrapper/AccessControlWrapper.tsx
  apps/simint/src/components/app/constants.ts
  apps/simint/src/hooks/useCheckAcl.ts
  apps/simint/src/routes.tsx
Due: apps, e2e

adding global search input smoke tests
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/src/app/components/GlobalSearch/GlobalSearch.tsx
  apps/fusion-shell/src/app/components/GlobalSearch/GlobalSearchMenu.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/UserMenu/index.tsx
  libs/shared/user-profile-components/src/components/user-menu/UserMenu.tsx
Due: apps, libs, e2e

feat(data-explorer): event-filters e2e (#3399)
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
  apps/data-exploration-e2e/src/support/commands/table.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
Due: apps, libs, e2e

fix(data-explorer): remove seconds and milliseconds from date filter value (#3400)
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
Due: libs

fix(platypus): [UX-1556] enable graph viewer (#3402)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useGetFilteredRowsCount.ts
Due: apps, e2e

some refactoring based on the PR comment
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
Due: apps, e2e

setting testing-library/no-node-access to warn only
  apps/fusion-shell/.eslintrc.json
Due: apps, e2e

updated the tranlsation hook to support fallback even without I18nWrapper is initialized
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
Due: none

feat(3d-management): Sort annotations by name (#3395)
  apps/3d-management/src/components/ContextualizeThreeDViewer/hooks/useAnnotationModelsWithAsset.ts
Due: apps, e2e

feat(data-explorer): date picker commands for e2e tests (#3404)
  apps/data-exploration-e2e/src/e2e/asset-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/commands.ts
  apps/data-exploration-e2e/src/support/commands/date-picker.commands.ts
  apps/data-exploration-e2e/src/support/commands/filter.commands.ts
  libs/data-exploration/components/src/DatePicker/DatePicker.tsx
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
  libs/data-exploration/containers/src/Filters/MultiSelectFilter/MultiSelectFilter.tsx
Due: apps, libs, e2e

feat(data-explorer): search-table e2e (adding 3D tab) (#3408)
  apps/data-exploration-e2e/src/e2e/search-tables.cy.ts
  apps/data-exploration-e2e/src/support/commands/button.commands.ts
  apps/data-exploration-e2e/src/support/commands/search.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
Due: apps, e2e

feat(extraction-pipelines): add force option for deleting sources with running jobs (#3306)
  apps/extraction-pipelines/.eslintrc.json
  apps/extraction-pipelines/src/common/i18n/index.tsx
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/delete-source-modal/DeleteSourceModal.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
Due: apps, e2e

feat(data-explorer): events-filters e2e (add End time) (#3410)
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
Due: apps, e2e

updated useEffect of setting layer url state
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
Due: none
