Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat: project config for celanese (#2351)
  apps/flexible-data-explorer/src/app/containers/search/Filter/filters/SearchBarFilter/customFilters/files.ts
  apps/flexible-data-explorer/src/app/containers/search/Filter/filters/SearchBarFilter/customFilters/timeseries.ts
  apps/flexible-data-explorer/src/app/containers/search/results/FileResults.tsx
  apps/flexible-data-explorer/src/app/containers/search/results/TimeseriesResults.tsx
  apps/flexible-data-explorer/src/app/hooks/useProjectConfig.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/file/queries/useFilesSearchQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchAggregateCountQuery.ts
  apps/flexible-data-explorer/src/app/services/instances/timeseries/queries/useTimeseriesSearchQuery.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/customBuilders/filesFilterBuilder.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/customBuilders/timeseriesFilterBuilder.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
  apps/flexible-data-explorer/src/config/types.ts
Due: apps, e2e

fix: fetch file internal ID on load
  examples/src/pages/Viewer.tsx
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360FdmProvider.ts
  viewer/packages/data-providers/src/types.ts
Due: none

fix
  .github/workflows/nx_ci.yml
  scripts/github-actions/nx-get-affected/README.md
  scripts/github-actions/nx-get-affected/action.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix
  .github/workflows/nx_ci.yml
Due: none

fix
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix
  .github/workflows/nx_ci.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix
  libs/data-exploration/core/src/constants/journey.ts
Due: libs

Updated facility list to pull from asset tree (#3865)
  apps/scarlet/package.json
  apps/scarlet/src/api/getFacilityAssets.ts
  apps/scarlet/src/api/getUnitListByFacility.ts
  apps/scarlet/src/config/facility.ts
  apps/scarlet/src/contexts/AppContext/AppContext.tsx
  apps/scarlet/src/contexts/AppContext/types.ts
  apps/scarlet/src/contexts/HomePageContext/HomePageContext.tsx
  apps/scarlet/src/contexts/HomePageContext/types.ts
  apps/scarlet/src/hooks/index.ts
  apps/scarlet/src/hooks/useFacility.ts
  apps/scarlet/src/hooks/useFacilityList.ts
  apps/scarlet/src/pages/Home/components/Navigation/FacilityNavigation.tsx
  apps/scarlet/src/pages/Home/components/PageBody/PageBody.tsx
Due: apps, e2e

fix: updated nx-get-affected action
  scripts/github-actions/nx-get-affected/README.md
  scripts/github-actions/nx-get-affected/action.yml
  scripts/github-actions/nx-get-affected/index.js
Due: none

fix: deploy copilot-core
  libs/copilot-core/project.json
Due: libs

fix: updated nx-get-affected action
  .github/workflows/nx_ci.yml
Due: none

feat: proper publishing
  libs/copilot-core/package.json
Due: libs
