Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

feat: add a higher order component for storing camera state to URL (#3682)
  react-components/src/higher-order-components/withCameraStateUrlParam.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/hooks/useIsRevealInitialized.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Due: none

chore: rename argument
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

feat(industrial-canvas): add changing of the metadata for events and assets (#3017)
  libs/industry-canvas/jest.config.ts
  libs/industry-canvas/setupTests.js
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/PropertySelector/PropertyRow.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/PropertySelectorToolbarWrapper.tsx
  libs/industry-canvas/src/lib/components/PropertySelector/hooks/useResolveContainerConfigProperties.ts
  libs/industry-canvas/src/lib/hooks/useContainer.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/utils/findApplicableContainerConfigFilter.spec.ts
  libs/industry-canvas/src/lib/hooks/utils/findApplicableContainerConfigFilter.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveEventContainerConfig.ts
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
  libs/industry-canvas/src/lib/state/utils/__mock__/data.ts
  libs/industry-canvas/src/lib/state/utils/applyAssetFilters.spec.ts
  libs/industry-canvas/src/lib/state/utils/applyAssetFilters.ts
  libs/industry-canvas/src/lib/state/utils/applyEventFilters.spec.ts
  libs/industry-canvas/src/lib/state/utils/applyEventFilters.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/utils.ts
  package.json
  yarn.lock
Due: libs

fix: errors due to improperly passing custom props to native elements (#3684)
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/stories/Toolbar.stories.tsx
Due: none

feat(data-exploration): enable all Journey features in 3D sidebar (#3077)
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetPreviewSidebar.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/contexts/ThreeDContext.tsx
Due: apps, e2e

fix(simconfig): Disable capability checks (#3078)
  apps/simint/src/hooks/__tests/useCheckAcl.mock.test.tsx
  apps/simint/src/hooks/useCheckAcl.ts
Due: apps, e2e

NIT: Typo in string (#3035)
  apps/fusion-shell/src/i18n/translations/en/navigation.json
  apps/fusion-shell/src/i18n/translations/es/navigation.json
  apps/fusion-shell/src/i18n/translations/fr/navigation.json
  apps/fusion-shell/src/i18n/translations/it/navigation.json
  apps/fusion-shell/src/i18n/translations/ja/navigation.json
  apps/fusion-shell/src/i18n/translations/ko/navigation.json
  apps/fusion-shell/src/i18n/translations/nl/navigation.json
  apps/fusion-shell/src/i18n/translations/sv/navigation.json
  apps/fusion-shell/src/i18n/translations/zh/navigation.json
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.spec.ts
  apps/platypus/src/app/modules/solution/data-model/components/PowerBIModal/PowerBIModal.tsx
Due: apps, e2e

fix: Point production to prod firebase for flows (#3032)
  apps/flows/.bulldozer.yaml
  apps/flows/firebase.json
  apps/flows/package.json
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

enforce usage of the cogniteapp.com domain in production (#3075)
  apps/fusion-shell/scripts/generate-import-maps.js
Due: apps, e2e

use single-branch release strat. for Flows and update prod URL (#3083)
  apps/flows/project.json
  apps/fusion-shell/src/appManifestData.json
Due: apps, e2e

remove rule exception for Flows (#3084)
  apps/fusion-shell/scripts/generate-import-maps.js
Due: apps, e2e

feat(data-quality): Pooling for validation results (#3044)
  apps/platypus/src/app/modules/solution/data-quality/DataQualityPage.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/index.ts
  apps/platypus/src/app/modules/solution/data-quality/hooks/useDataSourceValidity.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadDatapoints.tsx
  apps/platypus/src/app/modules/solution/data-quality/hooks/useLoadRules.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/DownloadReport/useReportAvailability.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/TotalValidityCard.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/DataQualityOverview/components/TotalValidityCard/ValidationStatistics.tsx
  apps/platypus/src/app/modules/solution/data-quality/pages/UpsertRuleDrawer/helpers.tsx
  apps/platypus/src/app/modules/solution/data-quality/utils/namingPatterns.ts
  apps/platypus/src/i18n/en/platypus.json
Due: apps, e2e

add allow policy Streamlit (#2553)
  apps/notebook/src/pages/StreamLit/StreamLitApp.tsx
  apps/notebook/src/pages/StreamLit/policy.ts
Due: apps, e2e

update sdk version to 6.21.1 (#2829)
  apps/notebook/src/pages/StreamLit/AppsList.tsx
Due: apps, e2e

feat(extraction-pipelines): [DOG-2127] show use TLS in MQTT connection details overview (#3063)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/edit-source-details-modal/EditSourceDetailsModal.tsx
  apps/extraction-pipelines/src/components/source-details/SourceDetails.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
Due: apps, e2e

feat(extractor-downloads): [DOG-2090] [DOG-2127] disable create connections Event hub & add useTls option (#3062)
  apps/extractor-downloads/src/App.tsx
  apps/extractor-downloads/src/common/constants.ts
  apps/extractor-downloads/src/common/i18n/translations/en/extractor-downloads.json
  apps/extractor-downloads/src/components/CreateConnection/index.ts
  apps/extractor-downloads/src/components/ToolBars/TopBar.tsx
  apps/extractor-downloads/src/components/create-connection/CreateConnection.tsx
  apps/extractor-downloads/src/components/create-connection/CreateConnectionButton.tsx
  apps/extractor-downloads/src/components/create-connection/index.ts
  apps/extractor-downloads/src/components/hosted-extractor-details/HostedExtractorDetails.tsx
  apps/extractor-downloads/src/hooks/hostedExtractors.ts
Due: apps, e2e

moved outside click into LayerButton
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/hooks/useOutsideClick.tsx
Due: none

fix(fusion-shell): add user.id for SubAppProvider (#3071)
  apps/fusion-shell/src/app/app.tsx
  libs/shared/cdf-utilities/package.json
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
  libs/shared/cdf-utilities/src/utils/hooks.ts
Due: apps, libs, e2e

fix(data-explorer): fit camera to asset not working when an 3D Asset is selected from Asset page (#3074)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Due: apps, e2e

Revert "fix(fusion-shell): add user.id for SubAppProvider (#3071)" (#3091)
  apps/fusion-shell/src/app/app.tsx
  libs/shared/cdf-utilities/package.json
  libs/shared/cdf-utilities/src/components/SubAppWrapper/SubAppWrapper.tsx
  libs/shared/cdf-utilities/src/utils/hooks.ts
Due: apps, libs, e2e

Current state of things
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

fixed reveal toolbar to merge the custom styling
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

Removed fetching of views
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

Added pagination for inspection back
  react-components/src/components/NodeCacheProvider/requests.ts
Due: none

chore(industry-canvas): Clean up old comments modules (#3094)
  libs/industry-canvas/src/lib/IndustryCanvasContext/IndustryCanvasContext.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/ToolbarComponent/ToolbarComponent.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useCommentDeleteMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useCommentSaveMutation.ts
  libs/industry-canvas/src/lib/hooks/use-query/useGetCommentByIdQuery.ts
  libs/industry-canvas/src/lib/hooks/use-query/useListComments.ts
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
  libs/industry-canvas/src/lib/types.ts
Due: libs

fix: codeowner and tanstack-react-query for notebook (#3095)
  .github/labeler.yml
  CODEOWNERS
  apps/notebook/src/App.tsx
  apps/notebook/src/common/test/render.tsx
  apps/notebook/src/hooks/useApps.ts
  apps/notebook/src/hooks/useDataSets.ts
  apps/notebook/src/hooks/useUserInformation.ts
  apps/simint/src/cdfApp.tsx
  apps/simint/src/hooks/useCapabilities.ts
  apps/simint/src/hooks/useUserInfo.ts
Due: apps, e2e

Made view fetching optional
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

Lint fixes
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/stories/HighlightNode.stories.tsx
Due: none

Small refactor
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

fix(transformations): check if array element exists (#2663)
  apps/transformations/src/components/source-mapping/SuggestionModal.tsx
Due: apps, e2e

fix(platypus): DM description is not updating (#3097)
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
Due: apps, e2e

add notification acls (#3092)
  apps/access-management/src/common/i18n/translations/en/access-management.json
  apps/access-management/src/pages/Groups/utils.tsx
Due: apps, e2e

feat(3d-management): Fit camera to view on load (#3066)
  apps/3d-management/src/components/ContextualizeThreeDViewer/ContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/containers/RevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

Removed default value and small optimisation
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
Due: none

add two rockwell domains (#3100)
  apps/fusion-shell/src/app/components/LandingPage/LandingPage.tsx
  apps/fusion-shell/src/app/components/Navigation/TopBar/index.tsx
Due: apps, e2e

fix(data-exploration): ensure clicking an asset focuses on that asset (#3088)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Due: apps, e2e

fix(data-explorer): correct split-slider behavior in 3D (#3093)
  apps/data-exploration/src/app/containers/ThreeD/AssetSearchSidebar.tsx
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/contexts/ThreeDContext.tsx
Due: apps, e2e

fix: [UX-1264] the instance count in fdm doesnt consider the entire table only the visible rows (#3086)
  apps/platypus/src/app/modules/data-models/components/DataModelsTable/DataModelsTable.tsx
  apps/platypus/src/app/modules/data-models/pages/DataModelsList.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TypeList/TypeDescription.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useFetchFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useGetFilteredRowsCount.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useListDataSource.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useNestedListDataSource.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/usePublishRowMutation.ts
  apps/platypus/src/app/utils/queryKeys.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-managment-handler.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-managment-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.ts
Due: apps, libs, e2e

fixed type error and removed warning on Function components for ref
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Due: none

chore: bump acl-protos to version 0.20.4 (#3106)
  package.json
  yarn.lock
Due: none
