Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

codecov.yml:

coverage:
  status:
    project:
      default: off
      apps:
        flags:
          - 3d-management
          - data-exploration
          - data-catalog
          - flexible-data-explorer
          - mock-server
          - platypus
          - platypus-cdf-cli
          - functions-ui
          - extraction-pipelines
          - entity-matching
          - access-management
      libs:
        flags:
          - cog-data-grid
          - data-exploration-core
          - data-exploration-domain-layer
          - data-exploration-components
          - platypus-common-utils
          - platypus-core
      e2e:
        flags:
          - platypus-e2e
    patch: off
    changes: off

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

flags:
  apps:
    paths: #note, accepts globs, not regexes
      - apps/
    carryforward: false
  libs:
    paths: #note, accepts globs, not regexes
      - libs/
    carryforward: false
  e2e:
    paths:
      - apps/
    carryforward: false

chore: add fit-to-node for asset-mapped nodes as well
  react-components/stories/HighlightNode.stories.tsx
Due: none

fix: nodeMap field name
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
Due: none

chore: lint fix
  react-components/stories/HighlightNode.stories.tsx
Due: none

feat(data-explorer): e2e tests for assets metadata filter (#3529)
  apps/data-exploration-e2e/src/e2e/assets-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/common.commands.ts
  apps/data-exploration-e2e/src/support/commands/filter.commands.ts
  libs/data-exploration/components/src/CheckboxSelect/CheckboxSelect.tsx
  libs/data-exploration/components/src/CheckboxSelect/components/ChildOptionsMenu.tsx
  libs/data-exploration/components/src/CheckboxSelect/components/OptionsMenu.tsx
  libs/data-exploration/components/src/Select/components/MenuList/MenuList.tsx
Due: apps, libs, e2e

Throwing error on validation fail (#3517)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/validate.ts
  apps/platypus-cdf-cli/src/main.ts
Due: apps, e2e

fix(data-explorer): metadata filter submenu visibility [UX-1548] (#3531)
  libs/data-exploration/components/src/CheckboxSelect/components/OptionsMenu.tsx
Due: libs

feat(data-explorer): e2e tests for metadata filters (#3533)
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/sequence-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries-filters.cy.ts
Due: apps, e2e

fix(fusion-shell): user history fusion shell (#3475)
  apps/data-catalog/src/app/App.tsx
  apps/data-exploration/src/app/containers/App/App.tsx
  apps/fusion-shell/cypress/support/e2e.ts
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/app/components/LandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/components/LandingPage/UserHistory.tsx
  apps/fusion-shell/src/app/components/Navigation/index.tsx
  apps/transformations/src/App.tsx
Due: apps, e2e

feat(data-explorer): File upload and open with industry canvas e2e (#3534)
  apps/data-exploration-e2e/src/e2e/files-filters.cy.ts
  apps/data-exploration-e2e/src/e2e/files.cy.ts
  apps/data-exploration-e2e/src/support/constant.ts
  libs/data-exploration/containers/src/Search/SearchResults/DocumentSearchResults/DocumentUploader/DocumentUploaderModal.tsx
Due: apps, libs, e2e

feat: feature flag for notebook + ai copilot (#3530)
  apps/notebook/src/pages/Home/Home.spec.tsx
  apps/notebook/src/pages/Home/Home.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/utils.ts
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/useSuggestions.ts
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
  apps/platypus/src/app/modules/solution/data-management/utils/constants.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Due: apps, libs, e2e

feat(3d-management): Edit annotation in select tool (#3473)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/AnnotationToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useUpdateCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/updateCdfThreeDAnnotation.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/createTransformControls.ts
Due: apps, e2e

refactor(industrial-canvas): use the document content endpoint to get OCR data (#3526)
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/getContainerText.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/useContainerOcrText.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/useIndustryCanvasContainerTooltips.tsx
Due: libs

Charts: Remove ACLs for Persistence, Alerting and Monitoring [AH-2024] (#3518)
  apps/charts/src/app/components/MonitoringSidebar/hooks.tsx
  apps/charts/src/app/components/MonitoringSidebar/types.ts
  apps/charts/src/app/components/ScheduledCalculation/ScheduledCalculationButton.tsx
  apps/charts/src/app/components/SourceTable/WorkflowRow.tsx
  apps/charts/src/app/pages/ChartViewPage/ChartViewPage.tsx
  libs/charts-lib/src/lib/constants.ts
Due: apps, libs, e2e

fix(3d-management): Add keyboard controls for select tool (#3540)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
Due: apps, e2e

added hook support to get 360 annotation asset based on site-ids
  react-components/src/hooks/get360Annotations.tsx
  react-components/src/hooks/getAssets.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/use360Annotations.tsx
  react-components/src/hooks/use360ImagesFileIds.tsx
  react-components/src/hooks/useReveal360Annotations.tsx
  react-components/src/index.ts
Due: none

feat(industrial-canvas): bump UFV and enable new features (#3537)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/hooks/utils/resolveAssetContainerConfig.ts
  libs/industry-canvas/src/lib/hooks/utils/resolveEventContainerConfig.ts
  package.json
  yarn.lock
Due: libs

fix: Calculate depth for each cadNode
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Due: none

feat: (data-explorer): e2e tests for 3D (#3544)
  apps/data-exploration-e2e/src/e2e/three-d.cy.ts
  apps/data-exploration-e2e/src/support/constant.ts
Due: apps, e2e

added storybook example for 360 annotaion asset
  react-components/stories/AnnotationAsset.stories.tsx
Due: none

Updated LLMhub version for new codegen features (#3545)
  libs/copilot-core/package.json
  package.json
  yarn.lock
Due: libs

first lint issues for the branch, shame :(
  react-components/stories/AnnotationAsset.stories.tsx
Due: none

Add comment
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Due: none

feat(simint): handle empty states for run browser (#3522)
  apps/simint/.eslintrc.json
  apps/simint/cypress/e2e/runBrowser.cy.ts
  apps/simint/cypress/fixtures/models.json
  apps/simint/cypress/fixtures/simulators.json
  apps/simint/cypress/support/commands.ts
  apps/simint/cypress/support/e2e.ts
  apps/simint/cypress/tsconfig.json
  apps/simint/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.stories.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRunsContainer.tsx
  apps/simint/src/routes.tsx
  apps/simint/tsconfig.json
  package.json
  yarn.lock
Due: apps, e2e

Fix sector intersection
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Due: none

feat(entity-matching): Smoke tests (#3535)
  apps/entity-matching/cypress/e2e/app.cy.ts
  apps/entity-matching/cypress/e2e/createPipeline.cy.ts
  apps/entity-matching/cypress/e2e/homePage.cy.ts
  apps/entity-matching/cypress/e2e/quickMatch.cy.ts
  apps/entity-matching/cypress/support/commands/commands.ts
  apps/entity-matching/cypress/support/commands/common.commands.ts
  apps/entity-matching/cypress/support/commands/homePage.commands.ts
  apps/entity-matching/cypress/support/commands/quickMatch.commands.ts
  apps/entity-matching/src/app/components/create-pipeline-button/CreatePipelineButton.tsx
  apps/entity-matching/src/app/components/create-pipeline-modal/index.tsx
  apps/entity-matching/src/app/components/data-set-select/index.tsx
  apps/entity-matching/src/app/components/em-result/QuickMatchResultsTable.tsx
  apps/entity-matching/src/app/components/em-result/applied-rules-table/index.tsx
  apps/entity-matching/src/app/components/em-result/index.tsx
  apps/entity-matching/src/app/components/pipeline-actions-menu/PipelineActionsMenu.tsx
  apps/entity-matching/src/app/components/pipeline-details-form/index.tsx
  apps/entity-matching/src/app/components/pipeline-list/PipelineTable.tsx
  apps/entity-matching/src/app/components/pipeline-list/index.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/BasicResultsTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/GroupedResultsTable.tsx
  apps/entity-matching/src/app/components/pipeline-run-results-table/index.tsx
  apps/entity-matching/src/app/components/source-selector-table/index.tsx
  apps/entity-matching/src/app/components/step/index.tsx
  apps/entity-matching/src/app/components/target-selector-table/index.tsx
  apps/entity-matching/src/app/components/title/index.tsx
  apps/entity-matching/src/app/pages/Home/index.tsx
  apps/entity-matching/src/app/pages/pipeline/details/configure-pipeline/index.tsx
  apps/entity-matching/src/app/pages/pipeline/details/index.tsx
  apps/entity-matching/src/app/pages/pipeline/details/run/index.tsx
  apps/entity-matching/src/app/pages/pipeline/details/sources/index.tsx
  apps/entity-matching/src/app/pages/pipeline/details/targets/index.tsx
  apps/entity-matching/src/app/pages/pipeline/results/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/configure-model/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/create-model/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/select-sources/index.tsx
  apps/entity-matching/src/app/pages/quick-match/create/select-targets/index.tsx
  libs/shared/cdf-utilities/src/components/Table/Table.tsx
Due: apps, libs, e2e

feat(Data-explorer): timeseries chart preview e2e (#3554)
  apps/data-exploration-e2e/src/e2e/events-filter.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries.cy.ts
  apps/data-exploration-e2e/src/support/commands/date-picker.commands.ts
  apps/data-exploration-e2e/src/support/interceptions/interceptions.ts
  apps/data-exploration-e2e/src/support/utils/date.ts
  libs/data-exploration/components/src/DatePicker/Common.tsx
  libs/data-exploration/components/src/DatePicker/DatePicker.tsx
  libs/data-exploration/components/src/DatePicker/PivotRangePicker.tsx
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
Due: apps, libs, e2e

fix(data-explorer): Before date filter chip (#3513)
  libs/data-exploration/containers/src/Search/SearchResults/AppliedFiltersTags/utils.ts
Due: libs

feat(data-explorer): re-write e2e tests for common filters (#3553)
  apps/data-exploration-e2e/src/e2e/common-filters.cy.ts
  apps/data-exploration-e2e/src/support/commands/filter.commands.ts
  apps/data-exploration-e2e/src/support/constant.ts
  libs/data-exploration/components/src/Inputs/NumberInput/NumberInput.tsx
  libs/data-exploration/components/src/Inputs/StringInput/StringInput.tsx
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
Due: apps, libs, e2e

fix(data-explorer): move load more e2e tests (#3555)
  apps/data-exploration-e2e/src/e2e/assets.cy.ts
  apps/data-exploration-e2e/src/e2e/events.cy.ts
  apps/data-exploration-e2e/src/e2e/files.cy.ts
  apps/data-exploration-e2e/src/e2e/search-tables.cy.ts
  apps/data-exploration-e2e/src/e2e/sequence.cy.ts
  apps/data-exploration-e2e/src/e2e/timeseries.cy.ts
Due: apps, e2e

chore: update cargo lock
  viewer/Cargo.lock
Due: none

removed reveal object depended hook
  react-components/src/hooks/useReveal360Annotations.tsx
  react-components/src/index.ts
Due: none

feat(simint): Update empty state for routines list (#3549)
  apps/simint/cypress/e2e/modelDetails.cy.ts
  apps/simint/src/components/models/CalculationList/CalculationList.tsx
  apps/simint/src/components/shared/NoResults.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
Due: apps, e2e

fix(3d-management): rename contextualization editor (#3559)
  apps/3d-management/src/pages/ContextualizeEditor/ContextualizeEditorHeader.tsx
Due: apps, e2e

feat: refactor platypus common utils into several services (#3510)
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/utils.ts
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/di.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.ts
  libs/data-modeling/platypus-common-utils/package.json
  libs/data-modeling/platypus-common-utils/project.json
  libs/data-modeling/platypus-common-utils/src/index.ts
  libs/data-modeling/platypus-common-utils/src/lib/__mock__/mockData.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/data-mappers/data-model-type-defs-mapper.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-schema-validator.spec.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-schema-validator.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.spec.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/type-defs-builder-service.spec.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/type-defs-builder-service.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/type-defs-parser-service.spec.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/type-defs-parser-service.ts
  libs/data-modeling/platypus-common-utils/tsconfig.lib.json
  libs/data-modeling/platypus-common-utils/tsconfig.spec.json
  libs/data-modeling/platypus-core/src/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/boundaries/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-model-type-defs-handler.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-model-type-defs-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/data-model-version-handler.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/index.ts
Due: apps, libs, e2e

feat(3d-management): factor camera distance when creating new annotation (#3563)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBarTools.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
Due: apps, e2e

fix(3d-management): update annotation link in select tool (#3542)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
Due: apps, e2e

temp: WIP camera speed regulation experiments
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/createCadManager.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Due: none

fix: streamlit apps loading perpetually (#3565)
  apps/notebook/src/pages/StreamLit/components/AppsTable.tsx
Due: apps, e2e
