Repository cognitedata/reveal: changes, and which Codecov flags are due for each by the changed paths.
All: apps, libs, e2e

fix
  .github/workflows/nx_ci.yml
Due: none

Updated entity-matching to work with unified signin (#2350)
  apps/entity-matching/src/AppWrapper.tsx
  apps/entity-matching/src/AuthContainer.tsx
  apps/entity-matching/src/app/App.tsx
  apps/entity-matching/src/app/utils/shared.ts
  apps/entity-matching/src/cognite-cdf-sdk-singleton.d.ts
  libs/shared/cdf-utilities/src/utils/utils.spec.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
Due: apps, libs, e2e

Working styling based on externalIds
  examples/src/pages/Viewer.tsx
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

storybook
  .github/workflows/nx_ci.yml
Due: none

fix names
  .github/workflows/nx_ci.yml
Due: none

trigger build
  apps/data-exploration/src/app/App.tsx
Due: apps, e2e

chore: add asset health to auto label gh action (#2271)
  .github/labeler.yml
Due: none

feat(industrial-canvas): add hooks and service for comments (#2360)
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/services/comments/CommentService.ts
  libs/industry-canvas/src/lib/services/comments/hooks/index.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-mutation/useCommentsDeleteMutation.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-mutation/useCommentsUpsertMutation.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useFetchCommentsByIdsQuery.ts
  libs/industry-canvas/src/lib/services/comments/hooks/use-query/useListCommentsQuery.ts
  libs/industry-canvas/src/lib/services/comments/hooks/useCommentsWithUserProfiles.ts
  libs/industry-canvas/src/lib/services/comments/types.ts
  libs/industry-canvas/src/lib/services/comments/utils.ts
Due: libs

add lint and test jobs
  .github/workflows/nx_ci.yml
Due: none

feat(industrial-canvas): Connection lines UX improvements (#2250)
  libs/industry-canvas/src/lib/IndustryCanvas.tsx
  libs/industry-canvas/src/lib/utils/getIndustryCanvasConnectionAnnotations.ts
Due: libs

Update data catalog to use unified signin (#2342)
  apps/data-catalog/src/AppWrapper.tsx
  apps/data-catalog/src/app/AccessCheck.tsx
  apps/data-catalog/src/app/App.tsx
  apps/data-catalog/src/app/AuthContainer.tsx
  apps/data-catalog/src/app/utils/shared.ts
  apps/data-catalog/src/cdf-hub-sdk-singleton.d.ts
  libs/shared/cdf-utilities/src/utils/utils.spec.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
Due: apps, libs, e2e

feat: error handling for messages and new working fdm query flow (#2362)
  libs/copilot-core/README.md
  libs/copilot-core/package.json
  libs/copilot-core/project.json
  libs/copilot-core/rollup.config.js
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/CodeMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/DataModelMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/TextMessage.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/ResponsiveActions.tsx
  libs/copilot-core/src/app/components/MessageRenderer/index.tsx
  libs/copilot-core/src/app/hooks/useChatHistory.tsx
  libs/copilot-core/src/app/hooks/useTranslation.tsx
  libs/copilot-core/src/lib/chatModels/README.md
  libs/copilot-core/src/lib/chatModels/cogniteChatGPT.ts
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/types.ts
  libs/copilot-core/tsconfig.lib.json
  package.json
  yarn.lock
Due: libs

Working styling component
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/yarn.lock
Due: none

feat(industry-canvas): show all timeseries from the asset annotation tooltip in the ResourceSelector (#2322)
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/TimeseriesList.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useResourceSelectorActions.ts
Due: libs

trigger build
  .github/workflows/nx_ci.yml
Due: none

final setup
  .github/workflows/nx_ci.yml
Due: none

fix: charts lint
  apps/charts/src/app/utils/calculations.spec.ts
Due: apps, e2e

fix(industrial-canvas): fix home page and canvas dropdown UX (#2370)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasDropdown.tsx
  libs/industry-canvas/src/lib/hooks/useCanvasSearch.tsx
  libs/industry-canvas/src/lib/services/IndustryCanvasService.ts
Due: libs

Removed annotation styling scaffolding
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
Due: none

fix: cleanup
  Jenkinsfile
  apps/data-exploration/src/app/App.tsx
  scripts/github-actions/nx-get-affected/index.js
Due: apps, e2e

fix(fdx): filter builder [UX-1050] (#2377)
  apps/flexible-data-explorer/src/app/utils/filterBuilder/build.ts
  apps/flexible-data-explorer/src/app/utils/filterBuilder/builders.ts
Due: apps, e2e

fix: ci-passed step
  .github/workflows/nx_ci.yml
Due: none

feat: updated transformations to work with unified signin (#2352)
  apps/transformations/src/App.tsx
  apps/transformations/src/AuthContainer.tsx
  apps/transformations/src/cdf-hub-sdk-singleton.d.ts
  apps/transformations/src/components/auth-container/AuthContainer.tsx
  apps/transformations/src/hooks/fdm.ts
  apps/transformations/src/utils/shared.ts
  libs/shared/cdf-utilities/src/utils/utils.ts
  yarn.lock
Due: apps, libs, e2e

Fixing lint issues
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

feat: integrate extract downloads with unified signin (#2361)
  apps/extractor-downloads/src/App.tsx
  apps/extractor-downloads/src/AuthContainer.tsx
  apps/extractor-downloads/src/cdf-hub-sdk-singleton.d.ts
Due: apps, e2e

feat: integrate unified signin with raw explorer (#2359)
  apps/raw-explorer/src/App.tsx
  apps/raw-explorer/src/AuthContainer.tsx
  apps/raw-explorer/src/cognite-cdf-sdk-singleton.d.ts
Due: apps, e2e

Added dev tools
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Due: none

Path conditions:
  apps: any of: apps/
  libs: any of: libs/
  e2e: any of: apps/
